ion-grid { width: 95%; margin-top: 10px; background: #FFF; box-shadow: 0 0 10px rgb(232 234 237 / 50%); }

@media screen and ( min-width:768px) {
    ion-grid { width: 60%; }
}

ion-label { color: #228bd2 !important; --font-weight: 400 !important; }

ion-select { color: #4e4e4e !important; --font-weight: 400 !important; --placeholder-color: #939090; --placeholder-opacity: 1 }

ion-input { --color: #4e4e4e !important; --padding-top: 4px;  --padding-bottom: 4px;}

ion-item { --background: #fafafa; border: solid 1px #cccccc; }

ion-radio-group ion-item { --background: none !important; border: none !important; }

h2 { color: #435fbe; padding-left: 10px; font-weight: 500; padding-top: 10px; }


.pl-10 { padding-left: 10px; }

ion-grid form { padding: 5px; }

ion-label span {  color: #F00 !important; font-weight: 500;}

@media screen and (max-width:576px){
    .form-header {  display: none;}
     ion-text {font-size: 16px; }
}