

<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title> Letter Tracking </ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="search()">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    
    <div class="web">
      <ion-grid class="header">
        <ion-row>
          <ion-col size-xs="12" size-sm="6">
            <ion-card-header>
              <ion-card-title>Letter Tracking <span></span></ion-card-title>
              <div class="headerLine"></div>
            </ion-card-header>
          </ion-col>
          <!-- <ion-col size-xs="12" size-sm="6" class="ion-text-right">
            <ion-button class="button-download" color="primary" routerLink="/appointment/add-appointment"><ion-icon name="add-circle-sharp"></ion-icon>Add Appointment</ion-button>
            <ion-button class="button-download" fill="outline" routerLink="/appointment/today-appointment" color="primary" ><ion-icon name="refresh-circle-sharp"></ion-icon>Today's Appointments</ion-button>
          </ion-col> -->
        </ion-row>
      </ion-grid>
    </div>

    <ion-grid *ngFor="let item of allCount">
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="12">
          
            <ion-row >
              <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="6" >
                <ion-list class="survey-list" routerLink="/letter-tracking/all-letters">
                    <ion-item lines="none">
                      <ion-label class="contact">
                          <i class="icofont icofont-search-document"></i>
                          <div>
                            <h3> All Letters </h3>
                            <h4> {{item.totalCount}} </h4>
                          </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="6" >
                <ion-list class="survey-list" routerLink="/letter-tracking/add-letter">
                    <ion-item lines="none">
                      <ion-label>
                        <div class="contact">
                          <i class="icofont icofont-ui-clock"></i>
                          <div>
                            <h3>  Add Letter </h3>
                            <h4> - </h4>
                          </div>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="6" >
                <ion-list class="survey-list" routerLink="/appointment/today-appointment">
                    <ion-item lines="none">
                      <ion-label>
                        <!-- <img src="assets/img/contact-book.png" alt="" class="brightness"> -->
                        <div class="contact">
                          <i class="icofont icofont-contact-add"></i>
                          <div>
                            <h3> Today's Letters </h3>
                            <h4> {{item.todayCount}} </h4>
                          </div>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>
      
              <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="6" >
                <ion-list class="survey-list" routerLink="/letter-tracking/completed">
                  <ion-item lines="none">
                      <ion-label>
                        <div class="contact">
                          <!-- <img src="assets/img/cake.png" alt=""> -->
                          <i class="icofont icofont-ui-check"></i>
                          <div>
                            <h3>  Completed </h3>
                            <h4> {{item.completed}} </h4>
                          </div>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>
              <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="6" > 
                <ion-list class="survey-list" routerLink="/letter-tracking/pending">
                  <ion-item lines="none" >
                      <ion-label>
                        <!-- <img src="assets/img/anniversary.png" alt=""> -->
                        <div class="contact">
                          <i class="icofont icofont-ui-close"></i>
                          <div>
                            <h3> Pending </h3>
                            <h4> {{item.pending}} </h4>
                          </div>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="6">
                <ion-list class="survey-list" routerLink="/letter-tracking/by-date">
                  <ion-item lines="none">
                      <ion-label>
                        <!-- <img src="assets/img/anniversary.png" alt=""> -->
                        <div class="contact">
                          <i class="icofont icofont-calendar"></i>
                          <div>
                            <h3>  Letter By Date </h3>
                            <h4> - </h4>
                          </div>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <ion-grid class="android">
      <ion-searchbar *ngIf="isShow" [(ngModel)]="searchMob" animated="true"></ion-searchbar>
      <ion-list>
        <ion-item-sliding>
          <ion-item lines="none">
            <ion-label>
              <div class="firstLine">
                <h3 class="text-capitalize">
                  Sagar Manaji Salunkhe
                </h3>
              </div>
              <div class="details">
                <p> 9158490455 </p>
                <p> 2023-04-24 10AM</p>
              </div>
              <div class="Select">
                <select placeholder="Select" class="form-control-sm">
                  <option value="" selected>Select</option>
                  <option value="Approved">Approve</option>
                  <option value="Rejected">Reject</option>
                  <option value="Reschedule">Reschedule</option>
                </select>
              </div>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-grid> -->
  </div>
</ion-content>
						
