

<ion-content>
    <ion-header class="android">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button color="primary" defaultHref="/home/mobile-dashboard"></ion-back-button>
        </ion-buttons>
        <ion-title> Ward </ion-title>
        <ion-buttons slot="primary">
          <ion-button (click)="search()">
            <ion-icon name="search-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
      <div class="main-content">
        <ion-grid class="web">
          <ion-row>
            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
              <ion-card>
                <ion-grid class="header">
                  <ion-row>
                    <ion-col size-xs="12" size-sm="6">
                      <ion-card-header>
                        <ion-card-title> Ward <span>  </span></ion-card-title>
                      </ion-card-header>
                    </ion-col>
                    <ion-col size-xs="12" size-sm="6" class="ion-text-right">
                      <ion-button class="button-download" routerLink="/ward/add-ward" color="primary"><ion-icon name="add-circle-sharp"></ion-icon>Ward</ion-button>
                      <ion-button class="button-download" routerLink="/ward/import-ward" fill="outline" color="medium"><ion-icon name="add-circle-sharp"></ion-icon>Import</ion-button>
  
                      <!-- <ion-button class="button-download" fill="outline" color="success" (click)="exportexcel()">
                        <ion-icon name="document-sharp"></ion-icon>Excel
                      </ion-button>
                      <ion-button class="button-download" fill="outline" color="danger" (click)="downloadPDF()">
                        <ion-icon name="cloud-download-sharp"></ion-icon>PDF
                      </ion-button> -->
                      
    
                    </ion-col>
                  </ion-row>
                </ion-grid>
    
                <ion-card-content>
                  <div class="horizontal-scroll">
                    <table id="userAdminTable" #epltable class="table">
                      <thead>
                        <tr>
                          
                          <th>
                            Sr.No.
                          </th>
                          <th>
                             Booth No.
                          </th>
                          
                          <th>
                            Booth Name
                          </th>
                          <th>
                              Ward Number
                          </th>

                          <th>
                              Ward Name
                          </th>
                          
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of getWardData">
                          <td>{{item.id}}</td>
                          <td>{{item.boothNo}}</td>
                          <td>{{item.boothName}}</td>
                          <td>{{item.wardNo}}</td>
                          <td>{{item.wardName}}</td>
                          <td>
                            <ion-icon routerLink="/ward/edit-ward" name="pencil-sharp"></ion-icon>
                            <ion-icon (click)="deleteWard()" name="trash-sharp"></ion-icon>
                          </td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
    
          </ion-row>
        </ion-grid>
    
    
    
    
        <ion-grid class="android">
          <ion-searchbar *ngIf="isShow"></ion-searchbar>
          <ion-list>
            <ion-item-sliding>
              <ion-item-options side="end">
                <a routerLink="/useradmin/edit-useradmin"> <ion-icon class="edit" name="pencil-sharp"></ion-icon> </a> 
                <a> <ion-icon (click)="deleteWard()" class="delete" name="trash-sharp"></ion-icon> </a> 
              </ion-item-options>
            <ion-item routerLink="/useradmin/account-details">
              <ion-avatar slot="start">
                <img src="assets/img/profile.png" />
              </ion-avatar>
              <ion-label>
                <h3>सागर मानाजी साळुंखे</h3>
                <div class="details">
                  <h4>9158490455</h4>
                  <h4>User</h4>
                </div>
              </ion-label>
            </ion-item>
            </ion-item-sliding>
  
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/profile.png" />
              </ion-avatar>
              <ion-label>
                <h3>निकिता सुरेश पवार</h3>
                <div class="details">
                  <h4>9158490455</h4>
                  <h4>User</h4>
                </div>
              </ion-label>
            </ion-item>
  
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/profile.png" />
              </ion-avatar>
              <ion-label>
                <h3>मयुरी सुरेश पवार</h3>
                <div class="details">
                  <h4>9158490455</h4>
                  <h4>User</h4>
                </div>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/profile.png" />
              </ion-avatar>
              <ion-label>
                <h3>मयुरी सुरेश पवार</h3>
                <div class="details">
                  <h4>9158490455</h4>
                  <h4>User</h4>
                </div>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/profile.png" />
              </ion-avatar>
              <ion-label>
                <h3>मयुरी सुरेश पवार</h3>
                <div class="details">
                  <h4>9158490455</h4>
                  <h4>User</h4>
                </div>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/profile.png" />
              </ion-avatar>
              <ion-label>
                <h3>मयुरी सुरेश पवार</h3>
                <div class="details">
                  <h4>9158490455</h4>
                  <h4>User</h4>
                </div>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/profile.png" />
              </ion-avatar>
              <ion-label>
                <h3>मयुरी सुरेश पवार</h3>
                <div class="details">
                  <h4>9158490455</h4>
                  <h4>User</h4>
                </div>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/profile.png" />
              </ion-avatar>
              <ion-label>
                <h3>मयुरी सुरेश पवार</h3>
                <div class="details">
                  <h4>9158490455</h4>
                  <h4>User</h4>
                </div>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/profile.png" />
              </ion-avatar>
              <ion-label>
                <h3>मयुरी सुरेश पवार</h3>
                <div class="details">
                  <h4>9158490455</h4>
                  <h4>User</h4>
                </div>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/profile.png" />
              </ion-avatar>
              <ion-label>
                <h3>मयुरी सुरेश पवार</h3>
                <div class="details">
                  <h4>9158490455</h4>
                  <h4>User</h4>
                </div>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/profile.png" />
              </ion-avatar>
              <ion-label>
                <h3>मयुरी सुरेश पवार</h3>
                <div class="details">
                  <h4>9158490455</h4>
                  <h4>User</h4>
                </div>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/profile.png" />
              </ion-avatar>
              <ion-label>
                <h3>मयुरी सुरेश पवार</h3>
                <div class="details">
                  <h4>9158490455</h4>
                  <h4>User</h4>
                </div>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/profile.png" />
              </ion-avatar>
              <ion-label>
                <h3>मयुरी सुरेश पवार</h3>
                <div class="details">
                  <h4>9158490455</h4>
                  <h4>User</h4>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-grid>
      </div>
    </ion-content>
  
    <ion-fab horizontal="end" vertical="bottom" slot="fixed" routerLink="/user/addUser">
      <ion-fab-button color="primary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    
    
    <!-- <table datatable class="row-border hover">
      <thead>
        <tr>
          <th>Sr.No.</th>
          <th>Name</th>
          <th>Country</th>
          <th>IPL Team</th>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Virat Kohli</td>
          <td>India</td>
          <td>Banglore</td>
        </tr>
        <tr>
          <td>2</td>
          <td>MS Dhoni</td>
          <td>India</td>
          <td>Chennai</td>
        </tr>
        </tbody>
        </table> -->