
<ion-content>
  <div class="main-content">
    <ion-card>
      <ion-grid class="header">
        <ion-row>
          <ion-col size-xs="12" size-sm="6">
            <ion-card-header>
              <ion-card-title>दैनंदिन कामे <span> ( {{currentDate | date:'dd/MM/yyyy'}} ) </span></ion-card-title>
            </ion-card-header>
          </ion-col>
          <ion-col size-xs="12" size-sm="6" class="ion-text-right">
            <ion-button class="button-download" fill="outline" color="success" (click)="downloadExcel()"><ion-icon name="document-sharp"></ion-icon>Excel</ion-button>
            <ion-button class="button-download" fill="outline" color="danger" (click)="downloadPDF()"><ion-icon name="cloud-download-sharp"></ion-icon>PDF</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-card-content>
        
       
        <table id="table2" #epltable class="table">
          <thead>
            <tr>
              
              <th style="width: 20px !important;">
                अ.क्र.		
              </th>
              <th>
                Responsibilty	
              </th>
              <th>
                झाले ?
              </th>
              
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>test</td>
              <td>झाले</td> 
            </tr>
            <tr>
              <td>2</td>
              <td>test</td>
              <td>झाले</td> 
            </tr>
            <tr>
              <td>3</td>
              <td>test</td>
              <td>झाले</td> 
            </tr>
            <tr>
              <td>4</td>
              <td>test</td>
              <td>झाले</td> 
            </tr>
            
          </tbody>
        </table>

        
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
						
