
<ion-content>
  <div class="main-content">
    <ion-grid class="header">
      <ion-row>
        <ion-col>
          <ion-card-header>
            <ion-card-title>View Mobile Data</ion-card-title>
          </ion-card-header>
        </ion-col>
        <ion-col class="ion-text-right">
          <ion-button class="button-download" fill="outline" color="success" (click)="downloadExcel()"><ion-icon name="document-sharp"></ion-icon>Excel</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="topForm">
      <form #myForm1="ngForm">
        <ion-row>
          
          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>     First Name <span>*</span> </ion-label>
              <ion-input name="Fname" [(ngModel)]="Fname" (keypress)="onKeyPress($event)" class="text-capitalize form-control"></ion-input>
          </ion-col>
          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>     Middle Name  </ion-label>
              <ion-input name="Mname" [(ngModel)]="Mname" (keypress)="onKeyPress($event)" class="text-capitalize form-control"></ion-input>
          </ion-col>
          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>     Last Name <span>*</span> </ion-label>
              <ion-input name="Lname" [(ngModel)]="Lname" (keypress)="onKeyPress($event)" class="text-capitalize form-control"></ion-input>
          </ion-col>
          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>    Address </ion-label>
              <ion-input name="Address" [(ngModel)]="Address" class="form-control"></ion-input>
          </ion-col>
          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>  Different Name in Mobiledata </ion-label>
              <ion-input name="Dname" [(ngModel)]="Dname" class="form-control"></ion-input>
          </ion-col>
          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label> Voter Id </ion-label>
              <ion-input name="Vid" [(ngModel)]="Vid" maxlength="10" class="form-control"></ion-input>
          </ion-col>
          <ion-col size-xl="3" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <div class="checkbox">
              <ion-checkbox></ion-checkbox>
              <ion-label> Include Already Match Mobile No </ion-label>
            </div>
          </ion-col>

          <ion-col size-xl="3" size-lg="2" size-md="4" size-sm="6" size-xs="12">
              <ion-button class="mt-3" type="submit" (click)="presentLoading()">Search</ion-button>
              <!-- <ion-button shape="round" type="reset" (click)="resetForm()" class="mt-5" color="danger">Clear</ion-button> -->
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
    <ion-grid class="topForm">
      <form #myForm1="ngForm">
        <ion-row>
          <ion-col size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-checkbox></ion-checkbox>
            <ion-label> Update Address </ion-label>
          </ion-col>
          <ion-col size-lg="4" size-md="3" size-sm="6" size-xs="12">
            <ion-radio-group allow-empty-selection value="anchovies" name="radio" [(ngModel)]="radio">
                <ion-radio class="mr-1" slot="start" value="हो"></ion-radio>
                  <ion-label>Add MobileNo.</ion-label>
                  <ion-radio class="mr-1" slot="start" value="नाही"></ion-radio>
                  <ion-label>Replace MobileNo. </ion-label>
              </ion-radio-group>
            </ion-col>              

          <ion-col size-lg="2" size-md="4" size-sm="6" size-xs="12">
              <ion-button class="mt-1" type="submit">Save</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
    <ion-card>
      
      <ion-card-content>
        
        <div class="horizontal-scroll">
          <table id="table51" #epltable>
            <thead>
              <tr>
                <th style="width: 40px;">
                  Name	
                </th>
                <th>
                  LastName	
                </th>
                <th>
                  House No		
                </th>
                <th>
                  Vibhag No		
                </th>
                <th>
                  Vibhag Name	
                </th>
                <th>
                  Mobile No	
                </th>
                
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>rahul</td>
                <td> gaikwad</td>
                <td>11</td>
                <td>12</td>
                <td>name</td>
                <td>9158490455</td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
						