
<ion-content>
  <div class="main-content">
    <ion-grid class="header">
      <ion-row>
        <ion-col>
          <ion-card-header>
            <ion-card-title>View Mobile Data</ion-card-title>
          </ion-card-header>
        </ion-col>
        <ion-col class="ion-text-right">
          <ion-button class="button-download" fill="outline" color="success" (click)="downloadExcel()"><ion-icon name="document-sharp"></ion-icon>Excel</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="topForm">
      <form #myForm1="ngForm">
        <ion-row>
          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>     First Name <span>*</span> </ion-label>
              <ion-input name="Fname" [(ngModel)]="Fname" (keypress)="onKeyPress($event)" class="text-capitalize form-control"></ion-input>
          </ion-col>
          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>     Middle Name  </ion-label>
              <ion-input name="Mname" [(ngModel)]="Mname" (keypress)="onKeyPress($event)" class="text-capitalize form-control"></ion-input>
          </ion-col>
          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>     Last Name <span>*</span> </ion-label>
              <ion-input name="Lname" [(ngModel)]="Lname" (keypress)="onKeyPress($event)" class="text-capitalize form-control"></ion-input>
          </ion-col>
          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>    Address </ion-label>
              <ion-input name="Address" [(ngModel)]="Address" class="form-control"></ion-input>
          </ion-col>
          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>  Different Name in Mobiledata </ion-label>
              <ion-input name="Dname" [(ngModel)]="Dname" class="form-control"></ion-input>
          </ion-col>
          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label> Voter Id </ion-label>
              <ion-input name="Vid" [(ngModel)]="Vid" maxlength="10" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="3" size-lg="2" size-md="4" size-sm="6" size-xs="12">
              <ion-button class="mt-3" type="submit" (click)="presentLoading()">Search</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
    <!-- <ion-grid class="topForm">
      <form #myForm1="ngForm">
        <ion-row>
          <ion-col size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-checkbox></ion-checkbox>
            <ion-label> Update Address </ion-label>
          </ion-col>
          <ion-col size-lg="4" size-md="3" size-sm="6" size-xs="12">
            <ion-radio-group allow-empty-selection value="anchovies" name="radio" [(ngModel)]="radio">
                <ion-radio class="mr-1" slot="start" value="हो"></ion-radio>
                  <ion-label>Add MobileNo.</ion-label>
                  <ion-radio class="mr-1" slot="start" value="नाही"></ion-radio>
                  <ion-label>Replace MobileNo. </ion-label>
              </ion-radio-group>
            </ion-col>              

          <ion-col size-lg="2" size-md="4" size-sm="6" size-xs="12">
              <ion-button class="mt-1" type="submit">Save</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid> -->

      <ion-row>
        <ion-col size-xl="6" size-lg="6">
            <ion-card>
              <table class="table">
                <tr>
                  <th>Name</th>
                  <td>Sagar</td>
                </tr>
                <tr>
                  <th>Age</th>
                  <td>28</td>
                </tr>
                <tr>
                  <th>House No.</th>
                  <td>B 301</td>
                </tr>
                <tr>
                  <th>Voting Card</th>
                  <td>111111111</td>
                </tr>
                <tr>
                  <th>Gender</th>
                  <td>M</td>
                </tr>
                <tr>
                  <th>Village</th>
                  <td>Pune</td>
                </tr>
                <tr>
                  <th>Address</th>
                  <td>Mu Po Baleeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</td>
                </tr>
              </table>
            </ion-card>
        </ion-col>
        <ion-col size-xl="6" size-lg="6">
            <ion-card>
              <table class="table">
                <tr>
                  <th>Name</th>
                  <td>Sagar</td>
                </tr>
                <tr>
                  <th>Age</th>
                  <td>28</td>
                </tr>
                <tr>
                  <th>House No.</th>
                  <td>B 301</td>
                </tr>
                <tr>
                  <th>Voting Card</th>
                  <td>111111111</td>
                </tr>
                <tr>
                  <th>Gender</th>
                  <td>M</td>
                </tr>
                <tr>
                  <th>Village</th>
                  <td>Pune</td>
                </tr>
                <tr>
                  <th>Address</th>
                  <td>Mu Po Baleeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</td>
                </tr>
              </table>
            </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <input type="checkbox">Match Mobile No.
          <ion-button>Submit</ion-button>
        </ion-col>
      </ion-row>
  </div>
</ion-content>
						