

<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="primary" defaultHref="/user"></ion-back-button>
      </ion-buttons>
      <ion-title> User Setting </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid class="grid-bg">
      <ion-row>
        <ion-text class="form-header pl-10">
          <ion-icon name="add-circle-outline" class="pr-1"></ion-icon> User Setting
        </ion-text>
      </ion-row>
      <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
        <ion-row>
            <table class="table">
              <thead>
                <tr>
                  <th>Tasks Allowed </th>
                  <th>Superadmin</th>
                  <th>Admin </th>
                  <th>User</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Create Superadmin</td>
                  <td>
                    <ion-checkbox></ion-checkbox>
                  </td>
                  <td>
                    <ion-checkbox></ion-checkbox>
                  </td>
                  <td>
                    <ion-checkbox disabled></ion-checkbox>
                  </td>
                </tr>
                <tr>
                  <td>Delete Superadmin</td>
                  <td>
                    <ion-checkbox></ion-checkbox>
                  </td>
                  <td>
                    <ion-checkbox></ion-checkbox>
                  </td>
                  <td>
                    <ion-checkbox disabled></ion-checkbox>
                  </td>
                </tr>
                
                <tr>
                  <td>Create Admin</td>
                  <td>
                    <ion-checkbox></ion-checkbox>
                  </td>
                  <td>
                    <ion-checkbox></ion-checkbox>
                  </td>
                  <td>
                    <ion-checkbox disabled></ion-checkbox>
                  </td>
                </tr>
                <tr>
                  <td>Delete Admin</td>
                  <td>
                    <ion-checkbox></ion-checkbox>
                  </td>
                  <td>
                    <ion-checkbox></ion-checkbox>
                  </td>
                  <td>
                    <ion-checkbox disabled></ion-checkbox>
                  </td>
                </tr>
                
                <tr>
                  <td>Create User</td>
                  <td>
                    <ion-checkbox></ion-checkbox>
                  </td>
                  <td>
                    <ion-checkbox></ion-checkbox>
                  </td>
                  <td>
                    <ion-checkbox disabled></ion-checkbox>
                  </td>
                </tr>
                <tr>
                  <td>Delete User</td>
                  <td>
                    <ion-checkbox></ion-checkbox>
                  </td>
                  <td>
                    <ion-checkbox></ion-checkbox>
                  </td>
                  <td>
                    <ion-checkbox disabled></ion-checkbox>
                  </td>
                </tr>
                <tr>
                  <td>Export Data</td>
                  <td>
                    <ion-checkbox></ion-checkbox>
                  </td>
                  <td>
                    <ion-checkbox></ion-checkbox>
                  </td>
                  <td>
                    <ion-checkbox disabled></ion-checkbox>
                  </td>
                </tr>
                <tr>
                  <td>Send SMS</td>
                  <td>
                    <ion-checkbox></ion-checkbox>
                  </td>
                  <td>
                    <ion-checkbox></ion-checkbox>
                  </td>
                  <td>
                    <ion-checkbox disabled></ion-checkbox>
                  </td>
                </tr>
              </tbody>
            </table>
         
        </ion-row>
        <ion-row>
          <div class="text-center">
            <ion-button type="reset" color="danger" size="medium">Clear</ion-button>
            <ion-button type="submit" size="medium">Save</ion-button>
            <ion-button routerLink="/user" color="success" type="button" size="medium">Back To List</ion-button>
          </div>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>