
<ion-content>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary" routerLink="/non-voter/add-voter">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <div class="main-content">
    <ion-card>
      <ion-grid class="header">
        <ion-row>
            <ion-col size-xs="12" size-sm="12">
              <ion-card-header>
                  <ion-card-title>Non-voters List <span> ( 3 ) </span> </ion-card-title>
                </ion-card-header>
            </ion-col>            
        </ion-row>
      </ion-grid>
      
      <ion-grid class="userList">
        <ion-list>
          
          <ion-item lines="full" routerLink="/voterdata-manवयment/voter-details">
            <!-- <ion-avatar slot="start">
              <ion-icon name="person-sharp"></ion-icon>
            </ion-avatar> -->
            <ion-label>
              <h3>सागर मानाजी साळुंखे</h3>
              <p>वय : 26 M</p>
              <p>काळेवाडी </p>
            </ion-label>
          </ion-item>

          <ion-item lines="full">
            <!-- <ion-avatar slot="start">
              <ion-icon name="person-sharp"></ion-icon>
            </ion-avatar> -->
            <ion-label>
              <h3>निकिता सुरेश पवार</h3>
              <p>वय : 27 F</p>
              <p>काळेवाडी </p>
            </ion-label>
          </ion-item>

          <ion-item lines="full">
            <!-- <ion-avatar slot="start">
              <ion-icon name="person-sharp"></ion-icon>
            </ion-avatar> -->
            <ion-label>
              <h3>मयुरी सुरेश पवार</h3>
              <p>वय : 25 F</p>
              <p>काळेवाडी </p>
            </ion-label>
          </ion-item>
          <ion-item lines="full">
            <!-- <ion-avatar slot="start">
              <ion-icon name="person-sharp"></ion-icon>
            </ion-avatar> -->
            <ion-label>
              <h3>मयुरी सुरेश पवार</h3>
              <p>वय : 25 F</p>
              <p>काळेवाडी </p>
            </ion-label>
          </ion-item>
          <ion-item lines="full">
            <!-- <ion-avatar slot="start">
              <ion-icon name="person-sharp"></ion-icon>
            </ion-avatar> -->
            <ion-label>
              <h3>मयुरी सुरेश पवार</h3>
              <p>वय : 25 F</p>
              <p>काळेवाडी </p>
            </ion-label>
          </ion-item>
          <ion-item lines="full">
            <!-- <ion-avatar slot="start">
              <ion-icon name="person-sharp"></ion-icon>
            </ion-avatar> -->
            <ion-label>
              <h3>मयुरी सुरेश पवार</h3>
              <p>वय : 25 F</p>
              <p>काळेवाडी </p>
            </ion-label>
          </ion-item>
          <ion-item lines="full">
            <!-- <ion-avatar slot="start">
              <ion-icon name="person-sharp"></ion-icon>
            </ion-avatar> -->
            <ion-label>
              <h3>मयुरी सुरेश पवार</h3>
              <p>वय : 25 F</p>
              <p>काळेवाडी </p>
            </ion-label>
          </ion-item>
          <ion-item lines="full">
            <!-- <ion-avatar slot="start">
              <ion-icon name="person-sharp"></ion-icon>
            </ion-avatar> -->
            <ion-label>
              <h3>मयुरी सुरेश पवार</h3>
              <p>वय : 25 F</p>
              <p>काळेवाडी </p>
            </ion-label>
          </ion-item>
          <ion-item lines="full">
            <!-- <ion-avatar slot="start">
              <ion-icon name="person-sharp"></ion-icon>
            </ion-avatar> -->
            <ion-label>
              <h3>मयुरी सुरेश पवार</h3>
              <p>वय : 25 F</p>
              <p>काळेवाडी </p>
            </ion-label>
          </ion-item>
          <ion-item lines="full">
            <!-- <ion-avatar slot="start">
              <ion-icon name="person-sharp"></ion-icon>
            </ion-avatar> -->
            <ion-label>
              <h3>मयुरी सुरेश पवार</h3>
              <p>वय : 25 F</p>
              <p>काळेवाडी </p>
            </ion-label>
          </ion-item>
          <ion-item lines="full">
            <!-- <ion-avatar slot="start">
              <ion-icon name="person-sharp"></ion-icon>
            </ion-avatar> -->
            <ion-label>
              <h3>मयुरी सुरेश पवार</h3>
              <p>वय : 25 F</p>
              <p>काळेवाडी </p>
            </ion-label>
          </ion-item>
          <ion-item lines="full">
            <!-- <ion-avatar slot="start">
              <ion-icon name="person-sharp"></ion-icon>
            </ion-avatar> -->
            <ion-label>
              <h3>मयुरी सुरेश पवार</h3>
              <p>वय : 25 F</p>
              <p>काळेवाडी </p>
            </ion-label>
          </ion-item>
          <ion-item lines="full">
            <!-- <ion-avatar slot="start">
              <ion-icon name="person-sharp"></ion-icon>
            </ion-avatar> -->
            <ion-label>
              <h3>मयुरी सुरेश पवार</h3>
              <p>वय : 25 F</p>
              <p>काळेवाडी </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-grid>
      
    </ion-card>
  </div>
</ion-content>


