
<ion-content>
  <ion-header color="primary" class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      
      <ion-buttons slot="primary">
        <ion-button (click)="notification($event)">
          <ion-icon slot="icon-only" ios="notifications-sharp" md="notifications-sharp"></ion-icon>
        </ion-button>
        <ion-button (click)="presentPopover($event)">
          <ion-icon slot="icon-only" ios="person-sharp" md="person-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title class="text-capitalize">  {{superAdminName}} </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <!-- <ion-grid *ngIf="isImage">
      <img src="/assets/img/img-1.jpg" alt="" height="100%" width="100%">
    </ion-grid> -->
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="4">
            <ion-row>
              <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="6" class="hideDiv">
                <ion-list class="survey-list" routerLink="/voterdata-management/voterby-user">
                    <ion-item lines="none">
                      <ion-label class="search">
                          <i class="icofont icofont-search-document"></i>
                          <img src="./assets/img/statistics.png" alt="">
                          <h3> {{'Search' | translate}} </h3>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="6" *ngIf="isList" class="hideDiv">
                <ion-list class="survey-list" routerLink="/list">
                    <ion-item lines="none">
                      <ion-label>
                        <div class="user">
                          <i class="icofont icofont-ui-user-group"></i>
                          <img src="./assets/img/lists.png" alt="">
                          <h3>  {{'Lists' | translate}} </h3>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <!-- <ion-col size-lg="6" size-md="6" size-sm="4" size-xs="4">
                <ion-list class="survey-list" routerLink="/user">
                    <ion-item lines="none">
                      <ion-label>
                        <div class="user">
                          <i class="icofont icofont-ui-user-group"></i>
                          <h3> युजर </h3>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col> -->

              <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="6" *ngIf="isVoterList">
                <ion-list class="survey-list" routerLink="/voter-summary">
                    <ion-item lines="none">
                      <ion-label>
                        <!-- <img src="assets/img/contact-book.png" alt="" class="brightness"> -->
                        <div class="contact">
                          <i class="icofont icofont-list"></i>
                          <img src="./assets/img/contact11.png" alt="">
                          <h3>  {{'Voter List' | translate}} </h3>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="6" *ngIf="isContact">
                <ion-list class="survey-list" routerLink="/contact">
                    <ion-item lines="none">
                      <ion-label>
                        <!-- <img src="assets/img/contact-book.png" alt="" class="brightness"> -->
                        <div class="contact">
                          <i class="icofont icofont-contact-add"></i>
                          <img src="./assets/img/contact11.png" alt="">
                          <h3>  {{'Contact' | translate}} </h3>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>
      
              <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="6" *ngIf="isBirthDay">
                <ion-list class="survey-list" routerLink="/home/birthday">
                  <ion-item lines="none">
                      <ion-label>
                        <div class="birthday">
                          <i class="icofont icofont-birthday-cake"></i>
                          <img src="./assets/img/statistics.png" alt="">
                          <h3>  {{'Birthday' | translate}} </h3>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="6" *ngIf="isAnniversary"> 
                <ion-list class="survey-list" routerLink="/home/anniversary">
                  <ion-item lines="none" >
                      <ion-label>
                        <!-- <img src="assets/img/anniversary.png" alt=""> -->
                        <div class="anniversary">
                          <i class="icofont icofont-calendar"></i>
                          <img src="./assets/img/statistics.png" alt="">
                          <h3> {{'Anniversary' | translate}} </h3>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="6" *ngIf="isLetter"> 
                <ion-list class="survey-list" routerLink="/letter-tracking">
                  <ion-item lines="none" >
                      <ion-label>
                        <!-- <img src="assets/img/anniversary.png" alt=""> -->
                        <div class="letter">
                          <i class="icofont icofont-letter"></i>
                          <img src="./assets/img/statistics.png" alt="">
                          <h3> {{'Letter Tracking' | translate}} </h3>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="6" *ngIf="isSurvey" class="hideDiv">
                <ion-list class="survey-list" routerLink="/survey">
                  <ion-item lines="none">
                      <ion-label>
                        <!-- <img src="assets/img/anniversary.png" alt=""> -->
                        <div class="event">
                          <i class="icofont icofont-calendar"></i>
                          <img src="./assets/img/completed-task.png" alt="">
                          <h3>  {{'Survey' | translate}} </h3>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="6">
                <ion-list class="survey-list" (click)="changeLanguage()">
                  <ion-item lines="none" >
                      <ion-label>
                        <div class="event">
                          <i class="icofont icofont-calendar"></i>
                          <img src="./assets/img/translate.png" alt="">
                          <h3>  {{'Language' | translate}} </h3>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="6" class="hideDiv">
                <ion-list class="survey-list" >
                  <ion-item lines="none" >
                      <ion-label>
                        <div class="event">
                          <i class="icofont icofont-calendar"></i>
                          <img src="./assets/img/settings.png" alt="">
                          <h3>  {{'Settings' | translate}} </h3>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

            </ion-row>
         
        </ion-col>


        <ion-col size-xs="12" size-sm="12" size-md="8" size-lg="8" *ngIf="isGraph">
            <ion-grid>
              <ion-row>
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                  <ion-list class="graphDiv">
                    <ejs-chart height='350' id="chart" [width]="width" [primaryXAxis]='primaryXAxisP' [primaryYAxis]='primaryYAxisP' [palettes]='paletteP' [title]='titleP'  [chartArea]='chartAreaP' >
                      <e-series-collection>
                          <e-series groupName="A" [dataSource]='birthData' type='Column' columnWidth='0.2' xName='date' yName='BirthdayCount' name='Birthday' > </e-series>
                          <!-- <e-series groupName="B" [dataSource]='anniData' type='Column' columnWidth='0.2' xName='x' yName='y' name='Anniversary'> </e-series> -->
                        </e-series-collection>
                    </ejs-chart>
                  </ion-list>
                </ion-col>

                <!-- <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" class="charts"> 
                  <ion-card>
                    <ejs-accumulationchart height="250px" id="chart-container2" [tooltip]='tooltipApm' [title]='titleApm' [legendSettings]='legendSettingsApm'>
                      <e-accumulation-series-collection>
                          <e-accumulation-series [dataSource]='apmCount' xName='x' yName='y' [dataLabel]='datalabelApm' [palettes]='palette1Apm' radius="80%" innerRadius='60%'></e-accumulation-series>
                      </e-accumulation-series-collection>
                    </ejs-accumulationchart>
                  </ion-card>
                </ion-col> -->

                <!-- <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" class="charts"> 
                  <ion-card>
                    <ejs-accumulationchart height="250px" id="chart-container" [tooltip]='tooltip' [title]='title' [legendSettings]='legendSettings'>
                      <e-accumulation-series-collection>
                          <e-accumulation-series [dataSource]='complaintCount' xName='x' yName='y' [dataLabel]='datalabel' [palettes]='palette1' radius="80%" innerRadius='60%'></e-accumulation-series>
                      </e-accumulation-series-collection>
                    </ejs-accumulationchart>
                  </ion-card>
                </ion-col> -->

                <!-- <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" class="charts"> 
                  <ion-card>
                    <ejs-accumulationchart height="250px" id="chart-container1" [tooltip]='tooltipL' [title]='titleL' [legendSettings]='legendSettingsL'>
                      <e-accumulation-series-collection>
                          <e-accumulation-series [dataSource]='allCount' xName='x' yName='y' [dataLabel]='datalabelL' [palettes]='palette1L' radius="80%" innerRadius='60%'></e-accumulation-series>
                      </e-accumulation-series-collection>
                    </ejs-accumulationchart>
                  </ion-card>
                </ion-col> -->

              </ion-row>
            </ion-grid>
        </ion-col>
        
      </ion-row>

      <ion-row *ngIf="isGraph">
        <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3">
          <ion-list *ngFor="let item of mainCounts">
            <ion-list-header> Total Data Count </ion-list-header>
            
            <ion-item class="totalData totalContacts" lines="none">
              <ion-avatar slot="start">
                <i class="icofont icofont-search-document"></i>
              </ion-avatar>
              <ion-label>
                <h3>Total Contacts</h3>
              </ion-label>
              
              <div slot="end">
                <h6>{{item.totalContact}}</h6>
              </div>
            </ion-item>

            <ion-item class="totalData totalAppom" lines="none">
              <ion-avatar slot="start">
                <i class="icofont icofont-search-document"></i>
              </ion-avatar>
              <ion-label>
                <h3>Total Appointments</h3>
              </ion-label>
              
              <div slot="end">
                <h6>{{item.totalAppointment}}</h6>
              </div>
            </ion-item>

           

            <ion-item class="totalData totalComp" lines="none">
              <ion-avatar slot="start">
                <i class="icofont icofont-search-document"></i>
              </ion-avatar>
              <ion-label>
                <h3>Total Complaints</h3>
              </ion-label>
              
              <div slot="end">
                <h6>{{item.totalComplaint}}</h6>
              </div>
            </ion-item>

            <ion-item class="totalData totalanni" lines="none">
              <ion-avatar slot="start">
                <i class="icofont icofont-search-document"></i>
              </ion-avatar>
              <ion-label>
                <h3>Total Letters</h3>
              </ion-label>
              
              <div slot="end">
                <h6>{{item.totalLetter}}</h6>
              </div>
            </ion-item>
  
          </ion-list>
        </ion-col>

        <ion-col size-xs="12" size-sm="12" size-md="8" size-lg="9">
          <ion-row>
            <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" class="charts"> 
              <ion-card>
                <ejs-accumulationchart height="270px" id="chart-container2" [tooltip]='tooltipApm' [title]='titleApm' [legendSettings]='legendSettingsApm'>
                  <e-accumulation-series-collection>
                      <e-accumulation-series [dataSource]='apmCount' xName='x' yName='y' [dataLabel]='datalabelApm' [palettes]='palette1Apm' radius="80%" innerRadius='60%'></e-accumulation-series>
                  </e-accumulation-series-collection>
                </ejs-accumulationchart>
              </ion-card>
            </ion-col>

            <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6"> 
              <ion-card>
                <ejs-accumulationchart height="270px" id="chart-container" [tooltip]='tooltip' [title]='title' [legendSettings]='legendSettings'>
                  <e-accumulation-series-collection>
                      <e-accumulation-series [dataSource]='complaintCount' xName='x' yName='y' [dataLabel]='datalabel' [palettes]='palette1' radius="80%" innerRadius='60%'></e-accumulation-series>
                  </e-accumulation-series-collection>
                </ejs-accumulationchart>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-col>

      </ion-row>

      <ion-row *ngIf="isGraph">
        <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="3">
          <ion-list *ngFor="let item of mainCounts">
            <ion-list-header> Today Data Count </ion-list-header>

            <ion-item class="totalData totalbday" lines="none">
              <ion-avatar slot="start">
                <i class="icofont icofont-search-document"></i>
              </ion-avatar>
              <ion-label>
                <h3>Today's Birthday</h3>
              </ion-label>
              
              <div slot="end">
                <h6>{{item.todayBirthDay}}</h6>
              </div>
            </ion-item>

            <ion-item class="totalData totalanni" lines="none">
              <ion-avatar slot="start">
                <i class="icofont icofont-search-document"></i>
              </ion-avatar>
              <ion-label>
                <h3>Today's Anniversary</h3>
              </ion-label>
              
              <div slot="end">
                <h6>{{item.todayAnniversary}}</h6>
              </div>
            </ion-item>

            

            <ion-item class="totalData todayappom" lines="none">
              <ion-avatar slot="start">
                <i class="icofont icofont-search-document"></i>
              </ion-avatar>
              <ion-label>
                <h3>Today Appointments</h3>
              </ion-label>
              
              <div slot="end">
                <h6>{{item.todayAppointment}}</h6>
              </div>
            </ion-item>

            <ion-item class="totalData totalbday" lines="none">
              <ion-avatar slot="start">
                <i class="icofont icofont-search-document"></i>
              </ion-avatar>
              <ion-label>
                <h3>Today Complaints</h3>
              </ion-label>
              
              <div slot="end">
                <h6>{{item.todayComplaint}}</h6>
              </div>
            </ion-item>

            <ion-item class="totalData totalAppom" lines="none">
              <ion-avatar slot="start">
                <i class="icofont icofont-search-document"></i>
              </ion-avatar>
              <ion-label>
                <h3>Today Letters</h3>
              </ion-label>
              
              <div slot="end">
                <h6>{{item.todayLetter}}</h6>
              </div>
            </ion-item>
  
          </ion-list>
        </ion-col>

        <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="9" *ngIf="isGraph"> 
          <ion-row>
            <ion-col>
              <ion-card>
                <ejs-accumulationchart height="325px" id="chart-container1" [tooltip]='tooltipL' [title]='titleL' [legendSettings]='legendSettingsL'>
                  <e-accumulation-series-collection>
                      <e-accumulation-series [dataSource]='allCount' xName='x' yName='y' [dataLabel]='datalabelL' [palettes]='palette1L' radius="80%" innerRadius='60%'></e-accumulation-series>
                  </e-accumulation-series-collection>
                </ejs-accumulationchart>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <!-- <ion-row>
        <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4"> 
          <ion-card>
            <ejs-accumulationchart height="250px" id="chart-container2" [tooltip]='tooltipApm' [title]='titleApm' [legendSettings]='legendSettingsApm'>
              <e-accumulation-series-collection>
                  <e-accumulation-series [dataSource]='apmCount' xName='x' yName='y' [dataLabel]='datalabelApm' [palettes]='palette1Apm' radius="80%" innerRadius='60%'></e-accumulation-series>
              </e-accumulation-series-collection>
            </ejs-accumulationchart>
          </ion-card>
        </ion-col>

        <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4"> 
          <ion-card>
            <ejs-accumulationchart height="250px" id="chart-container" [tooltip]='tooltip' [title]='title' [legendSettings]='legendSettings'>
              <e-accumulation-series-collection>
                  <e-accumulation-series [dataSource]='complaintCount' xName='x' yName='y' [dataLabel]='datalabel' [palettes]='palette1' radius="80%" innerRadius='60%'></e-accumulation-series>
              </e-accumulation-series-collection>
            </ejs-accumulationchart>
          </ion-card>
        </ion-col>

        <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4"> 
          <ion-card>
            <ejs-accumulationchart height="250px" id="chart-container1" [tooltip]='tooltipL' [title]='titleL' [legendSettings]='legendSettingsL'>
              <e-accumulation-series-collection>
                  <e-accumulation-series [dataSource]='allCount' xName='x' yName='y' [dataLabel]='datalabelL' [palettes]='palette1L' radius="80%" innerRadius='60%'></e-accumulation-series>
              </e-accumulation-series-collection>
            </ejs-accumulationchart>
          </ion-card>
        </ion-col>
      </ion-row> -->
    </ion-grid>

  
  </div>
</ion-content>
