<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="primary" auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title> Booth </ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="search()">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid class="web">
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
          <ion-grid class="header">
            <ion-row>
              <ion-col size-xs="12" size-sm="6">
                <ion-card-header>
                  <ion-card-title> Booths (<span> {{ allBooths.length }} </span>)</ion-card-title>
                  <div class="headerLine"></div>
                </ion-card-header>
              </ion-col>
              <ion-col size-xs="12" size-sm="6" class="ion-text-right">

              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-card>
            <ion-card-content>
              <div class="headSection">
                <div class="search">
                  <ion-searchbar [(ngModel)]="searchWeb" animated="true"></ion-searchbar>
                </div>
                <!-- <ion-button class="button-download" color="success" (click)="downloadExcel()" ><ion-icon name="document-sharp"></ion-icon>Excel</ion-button> -->
              </div>
              <div class="horizontal-scroll">
                <form (ngSubmit)="editPartyRolesSubmit()">
                  <table id="userTable" #epltable class="table">
                    <thead>
                      <tr>
                        <th>
                          Checkbox
                        </th>
                        <th>
                          Part No.
                        </th>
                        <th>
                          Booth Name
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of allBooths; index as i">
                        <td>
                          <input type="checkbox" name="booth"  value="{{item.partNo}}" (change)="getBoothPart($event)" [checked]="item.checked">
                          <!-- [(ngModel)]="item.checked" -->
                        </td>
                        <td>{{item.partNo}}</td>
                        <td>
                          {{item.booth}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div>
                    <ion-button type="submit" (click)="assign()">Assign</ion-button>
                    <ion-button routerLink="/user" color="success" type="button" size="medium">Back To List</ion-button>
                  </div>
                </form>
                <br>
                <pagination-controls (pageChange)="cp = $event"></pagination-controls>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>

    <!-- <ion-grid class="android">
      <ion-searchbar [(ngModel)]="searchMob" *ngIf="isShow"></ion-searchbar>
      <ion-list *ngFor="let item of getUserData | filter:searcMob" (click)="userDetails(item.id)">
        <ion-item-sliding>
          <ion-item-options side="end">
            <a>
              <ion-icon class="edit" name="pencil-sharp"></ion-icon>
            </a>
            <a>
              <ion-icon class="delete" name="trash-sharp"></ion-icon>
            </a>
          </ion-item-options>
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="assets/img/profile.png" />
            </ion-avatar>
            <ion-label>
              <h3 class="text-capitalize">{{item.name}}</h3>
              <div class="details">
                <h4>{{item.contact}}</h4>
                <h4>{{item.password}}</h4>
              </div>
            </ion-label>
          </ion-item>
        </ion-item-sliding>

      </ion-list>
    </ion-grid> -->
  </div>
</ion-content>
