

<ion-content [fullscreen]="true">
  
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="mobile-dashboard">
      <ion-label>Home</ion-label>
      <ion-icon name="home-sharp"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="birthday">
      <ion-label>Birthday</ion-label>
      <ion-icon name="gift-sharp"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="anniversary">
      <ion-label>Anniversary</ion-label>
      <ion-icon name="calendar-sharp"></ion-icon>
    </ion-tab-button>

    <!-- <ion-tab-button tab="daily-work">
      <ion-label>कामे </ion-label>
      <ion-icon name="build-sharp"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="daily-news">
      <ion-label>बातम्या </ion-label>
      <ion-icon name="newspaper-sharp"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="daily-routine">
      <ion-label>कार्यक्रम </ion-label>
      <ion-icon name="folder-open-sharp"></ion-icon>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
