<ion-content>
    <ion-header class="android">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button color="light" auto-hide="false"></ion-menu-button>
        </ion-buttons>
        <!-- <ion-title *ngIf="totalCount"> <strong>Total : {{totalCount.totalCount}}</strong> </ion-title> -->
        <ion-title *ngFor="let item of totalCountByUser">  {{'Total' | translate}} : {{totalCount}}</ion-title>
        
        <ion-buttons slot="primary">
          <ion-button (click)="search()">
            <ion-icon name="search-sharp"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <div class="main-content">
      <div class="webView">
        <ion-card>
          <ion-card-content>
            <ion-grid class="header">
              <ion-row>
                <ion-col>
                  <div class="search">
                    <ion-searchbar [(ngModel)]="searchWeb" animated="true"></ion-searchbar>
                  </div>
                </ion-col>
                <ion-col class="ion-text-right">
                  <ion-button class="button-download" color="success">
                    <ion-icon name="document-sharp"></ion-icon>Excel
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
            <div class="horizontal-scroll" id="table" #epltable>
              <table class="table">
                <thead>
                  <tr>
                    <th>Sr.No.</th>
                    <th>Name</th>
                    <th>Booth Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>House</th>
                    <th>Voting Card No.</th>
                    <th>Village</th>
                    <th>Address</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of voterListByUser| paginate: { itemsPerPage:25, currentPage: PageNo }">
                    <td>{{item.id}}</td>
                    <td class="text-capitalize">{{item.fullName}}</td>
                    <td>{{item.booth}}</td>
                    <td>{{item.age}}</td>
                    <td>{{item.gender}}</td>
                    <td>{{item.houseNo}}</td>
                    <td>{{item.votingCardNo}}</td>
                    <td>{{item.village}}</td>
                    <td>{{item.address}}</td>
                    <td>
                      <ion-icon name="create-sharp" (click)="EditVoter(item)"></ion-icon>
                      
                    </td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="!voterListByUser || voterListByUser.length === 0" class="ion-text-center">
                <p>
                  No data available
                </p>
              </div>
              <pagination-controls (pageChange)="event($event)"></pagination-controls>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
      
      <!-- routerLink="/voterdata-management/voter-details" -->
  
      <ion-grid class="android userList">
        <div class="mike">
          <ion-icon (click)="toggleMike()" [name]="isMike ?'mic-off-sharp' : 'mic-sharp' " name="mic-sharp"></ion-icon>
        </div>
        <ion-searchbar *ngIf="isShow" [(ngModel)]="filterModal.ColumnValue"></ion-searchbar>
        <ion-list *ngFor="let item of voterListByUser | paginate: { itemsPerPage:100, currentPage: PageNo, totalItems:totalCount } | filter:searchWeb" (click)="voterDetails(item)">
          <ion-item lines="none">
            <ion-label>
              <div class="firstLine">
                <h3 class="text-capitalize">
                  {{ (item.fullName) | translate}}
                </h3>
                <!-- <h3 class="text-capitalize" >
                  {{ (item.fullName_KR) | translate}}
                </h3> -->
              </div>
              <div class="details">
                <p> {{'Part No.' | translate}} :  {{item.partNo}}  </p>
                <p> {{'Age' | translate}} : {{item.age}} </p>
                <p> {{'Gender' | translate}} : {{item.gender}}  </p>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-list>
          <pagination-controls (pageChange)="event($event)"></pagination-controls>
        </ion-list>
        <div *ngIf="!voterListByUser || voterListByUser.length === 0" class="text-center noData">
          <img src="assets/img/question.png" />
          <p>No data available</p>
          <ion-button fill="outline" color="light" routerLink="/home/mobile-dashboard">Go Home</ion-button>
        </div>
      </ion-grid>
    </div>
  </ion-content>
  
