<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="primary" auto-hide="false"></ion-menu-button>
      </ion-buttons>

      <ion-title>आजचे वाढदिवस</ion-title>

      <ion-buttons slot="primary">
        <ion-button (click)="search()">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <!-- <ion-searchbar></ion-searchbar> -->
    <ion-grid class="web">
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
          <ion-grid class="header">
            <ion-row>
              <ion-col size-xs="12" size-sm="12">
                <ion-card-header>
                  <!-- आजचे वाढदिवस -->
                  <ion-card-title> आजचे वाढदिवस <span> ( {{currentDate | date:'dd MMMM yyyy'}} ) </span>
                  </ion-card-title>
                  <div class="headerLine"></div>
                </ion-card-header>
              </ion-col>

            </ion-row>
          </ion-grid>
          <ion-card>

            <ion-card-content>
              <div class="headSection">
                <div class="search">
                  <ion-searchbar [(ngModel)]="searchWeb" animated="true"></ion-searchbar>
                </div>
                <div class="btns">
                  <ion-button class="button-download" color="success" (click)="exportExcel()">
                    <ion-icon name="document-sharp"></ion-icon>Excel
                  </ion-button>
                  <ion-button class="button-download" color="success" (click)="exportToCSV()" id="export">
                    <ion-icon name="document-sharp"></ion-icon>CSV
                  </ion-button>
                </div>
              </div>
              <div class="horizontal-scroll">
                <table id="table1" #epltable class="table">
                  <thead>
                    <tr>
                      <th style="width: 20px !important;">
                        अ.क्र.
                      </th>
                      <th>
                        संपूर्ण नाव
                      </th>
                      <th>
                        गावाचे नाव
                      </th>
                      <th>
                        वाढदिवस
                      </th>
                      <th>
                        मोबाइल
                      </th>
                      <th>
                        पर्यायी मोबाइल
                      </th>
                      <th>
                        पत्ता
                      </th>

                    </tr>
                    <!-- <tr>
                      <th style="width: 20px !important;">
                        Sr.No.
                      </th>
                      <th>
                        Full Name
                      </th>
                      <th>
                        Village
                      </th>
                      <th>
                        BirthDate
                      </th>
                      <th>
                        Mobile
                      </th>
                      <th>
                        Alt. Mobile
                      </th>
                      <th>
                        Address
                      </th>

                    </tr> -->
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let item of getBirthdays | filter:searchWeb | paginate: { itemsPerPage: 10, currentPage: cp  }; let i=index">
                      <td> {{ (cp - 1) * 10 + i + 1 }} </td>
                      <td class="text-capitalize"> {{ item.fullName }} </td>
                      <td class="text-capitalize"> {{ item.vilageName }} </td>
                      <td> {{ item.birthDate }} </td>
                      <td> {{ item.mobileNo }} </td>
                      <td> {{ item.alternativeMobileNo }} </td>
                      <td> {{ item.address }} </td>
                    </tr>
                  </tbody>
                </table>
                <div *ngIf="!getBirthdays || getBirthdays.length === 0" class="text-center">
                  <p>No data available</p>
                </div>
                <pagination-controls (pageChange)="cp = $event"></pagination-controls>
              </div>

            </ion-card-content>

          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>


    <ion-grid class="android">
      <ion-searchbar *ngIf="isShow" [(ngModel)]="searchMob"></ion-searchbar>
      <ion-list>
        <!-- <ion-item  routerLink="/voterdata-management/voter-details"> -->
        <ion-item-sliding *ngFor="let item of getBirthdays | filter:searchMob">
          <ion-item-options side="end">
            <a href="tel:+91{{ item.mobileNo }}">
              <ion-icon class="call" name="call-sharp"></ion-icon>
            </a>
            <a href="sms://+91{{ item.mobileNo }}">
              <ion-icon class="message" name="mail-sharp"></ion-icon>
            </a>
            <a href="https://wa.me/+91{{ item.mobileNo }}" target="_blank">
              <ion-icon class="whatsapp" name="logo-whatsapp"></ion-icon>
            </a>
          </ion-item-options>

          <!-- routerLink="/voterdata-management/voter-details" -->
          <ion-item lines="full">
            <ion-avatar slot="start">
              <img src="assets/img/profile.png" />
            </ion-avatar>
            <ion-label>
              <div class="nameDate">
                <h3 class="text-capitalize">{{ item.fullName }}</h3>
                <h4 class="date">{{ item.birthDate }}</h4>
              </div>
              <h4> {{ item.address }} </h4>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
        <div *ngIf="!getBirthdays || getBirthdays.length === 0" class="text-center noData">
          <img src="assets/img/question.png" />
          <p>No data available</p>
          <ion-button fill="outline" routerLink="/home/mobile-dashboard">Go Home</ion-button>
        </div>
      </ion-list>
    </ion-grid>
  </div>


  <!-- <ion-grid>
    <div id="slide-nav" [@slide_in_out]="slider_state">
      <ion-grid class="send-sms">
        <ion-row class="form-header p-0">
          <ion-col>
            <ion-text class="pl-10">
              <ion-icon name="add-circle-outline" class="pr-1"></ion-icon>Send SMS
            </ion-text>
          </ion-col>
          <ion-col class="ion-text-right">
            <ion-button (click)="toggleSlider1()" size="small" color="danger"> Close</ion-button>
          </ion-col>
        </ion-row>
        <form #myForm="ngForm">
          <ion-row>
            <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
              <ion-label> Select SMS Template <span>*</span></ion-label>
              <ion-item>
                <ion-select name="Template" [(ngModel)]="Template" placeholder="Please Select"
                  [interfaceOptions]="TemplateHeader" interface="popover" name="type" required>
                  <ion-select-option value="Template 1">Template 1</ion-select-option>
                  <ion-select-option value="Template 2">Template 2 </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>


            <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
              <ion-label> SMS Content <span>*</span></ion-label>
              <ion-item>
                <ion-textarea name="Content" [(ngModel)]="Content" rows="3" required></ion-textarea>
              </ion-item>
            </ion-col>

            <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="6">
              <ion-checkbox name="NormalMsg"></ion-checkbox>
              <ion-label class="pl-1">Normal Message</ion-label>
            </ion-col>

            <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="6">
              <ion-checkbox name="whatsappMsg"></ion-checkbox>
              <ion-label class="pl-1">Whatsapp Message</ion-label>
            </ion-col>
            <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
              <div class="ion-text-center">
                <ion-button type="reset" color="danger" size="medium">Clear</ion-button>
                <ion-button [disabled]="!myForm.form.valid" type="submit" size="medium"
                  (click)="presentLoading();toggleSlider1()"> Send SMS</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </form>
      </ion-grid>
    </div>
  </ion-grid> -->

</ion-content>