

<ion-content>
  <div class="main-content">
    <ion-grid class="header">
      <ion-row>
        <ion-col>
          <ion-card-header>
            <ion-card-title>Voter Inclination Boothwise Summary</ion-card-title>
            <div class="headerLine"></div>
          </ion-card-header>
        </ion-col>
        <ion-col class="ion-text-right">
          <ion-button class="button-download"  color="success" (click)="downloadExcel()"><ion-icon name="document-sharp"></ion-icon>Excel</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card>
      <ion-card-content>
        <table id="table36" #epltable>
          <thead>
            <tr>
              <th style="width: 40px;">
                Booth No.
              </th>
              <th>
                Booth Name
              </th>
              <th>
                Unassigned
              </th>
              <th>
                Supporter
              </th>
              <th>
                Opponent
              </th>
              <th>
                Neutral
              </th>
              <th>
                Special
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>334	</td>
              <td>
                जिल्हा परिषद शाळा, खडकवासला, उत्तरमुखी पूर्वेकडून खोली क्र.1
              </td>
              <td>1405</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
						