<ion-content>
    <ion-header class="android">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/superadmin"></ion-back-button>
            </ion-buttons>
            <ion-title> App Version </ion-title>
        </ion-toolbar>
    </ion-header>
    <div class="main-content">
        <ion-grid>
            <ion-row>
                <ion-text class="form-header">
                    <ion-icon name="add-circle-outline" class="pr-1"></ion-icon>App Version
                </ion-text>
            </ion-row>
            <form (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
                <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
                        <img src="/assets/img/database.png" alt="">
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
                        <ion-row>
                            <!-- <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
                                <ion-label position="floating"> Installed Version <span>*</span> </ion-label>
                                <ion-input name="Installedversion" [(ngModel)]="versionModal.Installedversion"
                                    class="form-control" required></ion-input>
                            </ion-col> -->

                            <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
                                <ion-label position="floating"> New Version <span>*</span> </ion-label>
                                <ion-input name="NewVersion" [(ngModel)]="versionModal.NewVersion"
                                    class="form-control"></ion-input>
                            </ion-col>

                            <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
                                <ion-label position="floating"> New Version Date <span>*</span> </ion-label>
                                
                                <ion-input value="{{ NewVersionDate | date: 'yyyy-MM-dd' }}" id="NewVersionDate"
                                    class="form-control" name="NewVersionDate" [(ngModel)]="versionModal.NewVersionDate"
                                    ></ion-input>

                                <ion-modal trigger="NewVersionDate" size="cover" [canDismiss]="canDismiss"
                                    [backdropDismiss]="false">
                                    <ng-template>
                                        <ion-datetime max={{maxDate}} presentation="date" [(ngModel)]="NewVersionDate"
                                            name="NewVersionDate" show-default-buttons="true">
                                            <span slot="title"> {{ year }} </span>
                                        </ion-datetime>
                                    </ng-template>
                                </ion-modal>
                            </ion-col>



                            <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
                                <div class="ion-text-center">
                                    <ion-button type="reset" (click)="resetForm()" color="danger"
                                        size="medium">Clear</ion-button>
                                    <ion-button type="submit" size="medium" (click)="updateVersion()"
                                        [disabled]="!f.form.valid">Save</ion-button>
                                    <!-- <ion-button routerLink="/contact" color="success" type="button" size="medium">Back To List</ion-button> -->
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </form>
        </ion-grid>
    </div>
</ion-content>