<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Add User</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="main-content">
    <ion-grid>
      <ion-row>
        <ion-text class="form-header">
          <ion-icon name="add-circle-sharp" class="pr-1"></ion-icon>Letterhead
        </ion-text>
      </ion-row>
      <form name="KaryakartaForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <ion-row>

          <ion-col size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>    Mobile Number  </ion-label>
            <div>
              <ion-input color="danger" #autofocus name="Mobile" maxlength="10"  [(ngModel)]="letterModel.Mobile" #Mobile="ngModel" [ngClass]="{'is-invalid': f.submitted && Mobile.invalid}" required></ion-input>
              <div *ngIf="f.submitted && Mobile.invalid" class="invalid-feedback">
                <div *ngIf="Mobile.errors.required">
                  Mobile is required
                </div>
              </div>
            </div>
          </ion-col>

          <ion-col size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>  Email ID </ion-label>
            <div>
              <ion-input name="Email" maxlength="10"  [(ngModel)]="letterModel.Email" #Email="ngModel" [ngClass]="{'is-invalid': f.submitted && Email.invalid}" required></ion-input>
              <div *ngIf="f.submitted && Email.invalid" class="invalid-feedback">
                <div *ngIf="Email.errors.required">
                  Email is required
                </div>
              </div>
            </div>
          </ion-col>

          <ion-col size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>    Upload Logo  </ion-label>
            <div>
              <ngx-dropzone (change)="onSelect($event)" name="File" [(ngModel)]="letterModel.files" required>
                <ngx-dropzone-label>Drop your file here!</ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                  <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-preview>
              </ngx-dropzone>
            </div>
          </ion-col>

          <ion-col size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Address  </ion-label>
            <div>
              <ion-textarea rows="5" name="Address" [(ngModel)]="letterModel.Address" #Address="ngModel" [ngClass]="{'is-invalid': f.submitted && Address.invalid}" required></ion-textarea>
              <div *ngIf="f.submitted && Address.invalid" class="invalid-feedback">
                <div *ngIf="Address.errors.required">
                  Address is required
                </div>
              </div>
            </div>
          </ion-col>

          <ion-col size-lg="12" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Description  </ion-label>
            <div>
              <ion-textarea rows="6" name="Description" [(ngModel)]="letterModel.Description" #Description="ngModel" [ngClass]="{'is-invalid': f.submitted && Description.invalid}" required></ion-textarea>
              <div *ngIf="f.submitted && Description.invalid" class="invalid-feedback">
                <div *ngIf="Description.errors.required">
                  Description is required
                </div>
              </div>
            </div>
          </ion-col>

          
          
          <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12" class="ion-text-center">
              <ion-button shape="round" type="submit" >Submit</ion-button>
              <ion-button shape="round" type="reset" color="danger">Clear</ion-button>
              <ion-button shape="round" color="success" routerLink="/letterhead">Go Back</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>