<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Add User</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="main-content">
    <ion-grid>
      <ion-row>
        <ion-text class="form-header">
          <ion-icon name="add-circle-sharp" class="pr-1"></ion-icon>Upload Other Data
        </ion-text>
      </ion-row>
      <form #myForm="ngForm">
        <ion-row>
          <ion-col  size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <ion-label>
              <span>
                * To upload mobile data, please download template file and fill data in exact format to get correct data. 
              </span>
            </ion-label>
          </ion-col>
          <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <ion-label>Template  File  </ion-label><br>
              <a href="assets/excel/other-data.xlsx" download>
                <ion-button><i class="icofont icofont-download pr-2"></i>Download Template File</ion-button>
              </a>
          </ion-col>
          <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12" class="file">
            <ion-label>  File </ion-label>
            <input type="file" name="File" [(ngModel)]="File" class="form-control">
          </ion-col>
 
         
          <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <div class="ion-text-center">
              <ion-button type="reset" (click)="resetForm()" color="danger" size="medium">Clear</ion-button>
              <ion-button [disabled]="!myForm.form.valid"  type="submit" size="medium" (click)="presentLoading()">Upload</ion-button>
              <ion-button routerLink="/other-directory" color="success" type="button" size="medium">Back To List</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>