<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>  {{'By Lastname' | translate}} </ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="search()">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <!-- <ion-searchbar></ion-searchbar> -->
    <ion-grid class="web">
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
          <ion-grid class="header">
            <ion-row>
              <ion-col size-xs="12" size-sm="6">
                <ion-card-header>
                  <ion-card-title class="header1">By Lastname <span> </span> </ion-card-title>
                  <div class="headerLine"></div>
                </ion-card-header>

              </ion-col>
              <ion-col size-xs="12" size-sm="6" class="ion-text-right">
                <!-- <ion-button class="button-download" fill="outline" color="success" >
                  <ion-icon name="document-sharp"></ion-icon>Excel
                </ion-button>
                <ion-button class="button-download" fill="outline" color="danger" >
                  <ion-icon name="cloud-download-sharp"></ion-icon>PDF
                </ion-button>
                 -->
              </ion-col>
            </ion-row>

          </ion-grid>

          <ion-card>
            <ion-card-content>
              <div class="headSection">
                <div class="search">
                  <ion-searchbar animated="true"></ion-searchbar>
                </div>
                <ion-button class="button-download" color="success">
                  <ion-icon name="document-sharp"></ion-icon>Excel
                </ion-button>
              </div>
              <div class="horizontal-scroll">
                <table id="villageTable" #epltable class="table">
                  <thead>
                    <tr>
                      
                      <th>
                        Surname
                      </th>
                      <th>
                        Total
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>साळुंखे</td>
                      <td>1398</td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>

    <!-- routerLink="/list/surnamewise-list" -->

    <ion-grid class="android">
      <ion-searchbar [(ngModel)]="searchMob" animated="true" *ngIf="isShow"></ion-searchbar>
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
          <ion-list *ngFor="let item of allData | paginate: { itemsPerPage:itemsPerPage, currentPage: PageNo, totalItems:totalItems } | filter:searchMob" (click)="lastName(item.lastName)">
            <ion-item lines="none">
              <ion-label class="ion-text-center">
                <h3>{{item.lastName}}</h3>
                <h4>  {{'Total' | translate}}   : <span> {{item.counts}} </span> </h4>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list>
            <!-- <pagination-controls (pageChange)="event($event)"></pagination-controls> -->
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>


<!-- <table datatable class="row-border hover">
  <thead>
    <tr>
      <th>Sr.No.</th>
      <th>Name</th>
      <th>Country</th>
      <th>IPL Team</th>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Virat Kohli</td>
      <td>India</td>
      <td>Banglore</td>
    </tr>
    <tr>
      <td>2</td>
      <td>MS Dhoni</td>
      <td>India</td>
      <td>Chennai</td>
    </tr>
    </tbody>
    </table> -->