<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Add User</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="main-content">
    <ion-grid>
      <ion-row>
        <ion-text class="form-header">
          <ion-icon name="pencil-outline" class="pr-1"></ion-icon>इतर डिरेक्टरी
        </ion-text>
      </ion-row>
      <form #myForm="ngForm">
        <ion-row>
          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label>  पदनाम <span>*</span>  </ion-label>
              <ion-select placeholder="Please Select"  name="designation" [(ngModel)]="designation" interface="popover" required>
                <ion-select-option class="select_option" value="पदनाम 1">पदनाम 1 </ion-select-option>
                <ion-select-option class="select_option" value="पदनाम 2">पदनाम 2  </ion-select-option>
                
              </ion-select>
          </ion-col>
          
          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label>  पदभार   </ion-label>
            
              <ion-input [(ngModel)]="work" name="work"></ion-input>
          </ion-col>
          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label>  नाव    <span>*</span> </ion-label>

              <ion-input [(ngModel)]="name" name="name" (keypress)="onKeyPress($event)" class="text-capitalize" required></ion-input>
          </ion-col>
          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label >   गावाचे नाव <span>*</span>  </ion-label>
              <ion-select placeholder="Please Select"  name="village" [(ngModel)]="village" intreface="popover">
                <ion-select-option class="select_option" value=" गाव 1"> गाव  1 </ion-select-option>
                <ion-select-option class="select_option" value=" गाव 2"> गाव  2  </ion-select-option>
                
              </ion-select>
          </ion-col>
          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label>  मोबाइल क्रमांक <span>*</span> </ion-label>
              <ion-input name="mobile" [(ngModel)]="mobile" maxlength="10" (keypress)="keyPressNumbers($event)" required></ion-input>
          </ion-col>
          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label>  मोबाइल क्रमांक (व्हॉट्सअँप) <span>*</span> </ion-label>
              <ion-input name="Wmobile" [(ngModel)]="Wmobile" maxlength="10" (keypress)="keyPressNumbers($event)" required></ion-input>
          </ion-col>
          
          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label>   ईमेल   </ion-label>
              <ion-input type="email" name="email" [(ngModel)]="email"></ion-input>
          </ion-col>
          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label>जन्मदिनांक </ion-label>
            <ion-input
              value="{{ BirthDay | date: 'yyyy-MM-dd' }}"
              id="BirthDay"
              class="form-control"
            ></ion-input>
            <ion-modal trigger="BirthDay" size="cover">
              <ng-template>
                <ion-datetime
                  presentation="date"
                  [(ngModel)]="BirthDay"
                  name="BirthDay"
                >
                <span slot="title"> {{ year }} </span>
              </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>
         
          <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <div class="ion-text-center">
              <ion-button type="reset" (click)="resetForm()" color="danger" size="medium">Clear</ion-button>
              <ion-button [disabled]="!myForm.form.valid"  type="submit" size="medium">Save</ion-button>
              <ion-button routerLink="/other-directory" color="success" type="button" size="medium">Back To List</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>