
<ion-content>
  <div class="main-content">
    <ion-card>
      <ion-grid class="header">
        <ion-row>
          <ion-col>
            <ion-card-header>
              <ion-card-title>Mobile Data </ion-card-title>
            </ion-card-header>
          </ion-col>
          <ion-col class="ion-text-right">
            <ion-button class="button-download" fill="outline" color="primary" routerLink="/mobile-data/add-mobiledata"><ion-icon name="add-sharp"></ion-icon>Add</ion-button>
            <ion-button class="button-download" fill="outline" color="primary" routerLink="/mobile-data/upload-mobiledata"><ion-icon name="add-sharp"></ion-icon>Upload</ion-button>
            <ion-button class="button-download" fill="outline" color="success" (click)="downloadExcel()"><ion-icon name="document-sharp"></ion-icon>Excel</ion-button>
            <ion-button class="button-download" fill="outline" color="danger" (click)="downloadPDF()"><ion-icon name="cloud-download-sharp"></ion-icon>PDF</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="topForm">
        <form #myForm1="ngForm">
          <ion-row>        
            <ion-col size-lg="2" size-md="3" size-sm="6" size-xs="12">
              <ion-label>  Pin Code </ion-label>
              <ion-item lines="none">
                <ion-input name="PinCode" [(ngModel)]="PinCode"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size-lg="2" size-md="3" size-sm="6" size-xs="12">
              <ion-label>  Address </ion-label>
              <ion-item lines="none">
                <ion-input name="Address" [(ngModel)]="Address"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size-lg="2" size-md="3" size-sm="6" size-xs="12">
              <ion-label>  Name </ion-label>
              <ion-item lines="none">
                <ion-input name="Name" [(ngModel)]="Name"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size-lg="2" size-md="4" size-sm="6" size-xs="12">
                <ion-button shape="round" class="mt-5" type="submit" (click)="presentLoading()">Search</ion-button>
                <ion-button shape="round" type="reset" (click)="resetForm()" class="mt-5" color="danger">Clear</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-grid>
      <ion-card-content>
        <table id="table31" #epltable>
          <thead>
            <tr>
              <th style="width: 40px;">
                अ.क्र.		
              </th>
              <th>
                Voter Name
              </th>
              <th>
                Address	
              </th>
              <th>
                Email ID	
              </th>
              <th>
                Phone No.	
              </th>
              <th>
                Pincode	
              </th>
              <th>
                Booth	
              </th>
              <th>
                Gender	
              </th>
              <th>
                Voter ID No.
              </th>
              <th>
                Mobile Group
              </th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>rahul gaikwad</td>
              <td></td>
              <td>sagarsalunkhe200@gmail.com</td>
              <td>9158490455</td>
              <td>411048</td>
              <td></td>
              <td>Male</td>
              <td></td>
              <td></td>
              
            </tr>
            
          </tbody>
        </table>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
						