<ion-content>
  <div class="main-content">
    
    <div class="mainDiv">    
      <ion-grid>
        <ion-row>
          <!-- <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="3">
            <ion-accordion-group>
              <ion-accordion value="logo">
                <ion-item slot="header">
                  <ion-label>लोगो</ion-label>
                </ion-item>
                <ion-list slot="content">
                  <ion-input type="file" placeholder="File" class="form-control"></ion-input>
                </ion-list>
              </ion-accordion>
              <ion-accordion value="header">
                <ion-item slot="header">
                  <ion-label>शीर्षक</ion-label>
                </ion-item>
                <ion-list slot="content">
                  <ion-textarea rows="3" placeholder="शीर्षक"></ion-textarea>
                </ion-list>
              </ion-accordion>
              <ion-accordion value="officePhone">
                <ion-item slot="header">
                  <ion-label> कार्यालयाचे दूरध्वनी क्रमांक </ion-label>
                </ion-item>
                <ion-list slot="content">
                  <ion-input class="form-control" placeholder="दूरध्वनी क्रमांक"></ion-input>
                </ion-list>
              </ion-accordion>
              <ion-accordion value="note">
                <ion-item slot="header">
                  <ion-label> टीप </ion-label>
                </ion-item>
                <ion-list slot="content">
                  <ion-textarea rows="3" placeholder="टीप"></ion-textarea>
                </ion-list>
              </ion-accordion>
              
                <ion-accordion value="contact" class="contatacDetails">
                  <ion-item slot="header">
                    <ion-label> संपर्काची माहिती </ion-label>
                  </ion-item>
    
                  <ion-list slot="content">
                      <ion-input class="form-control" placeholder="नाव"></ion-input>
                      <div class="w-48">
                        <ion-input class="form-control" placeholder="मोबाईल नंबर"></ion-input>
                      </div>
                      <div class="w-48 ml-1">
                        <ion-input class="form-control" placeholder="पदनाम"></ion-input>
                      </div>
                  </ion-list>
                </ion-accordion>
                
              <ion-accordion value="subnote">
                <ion-item slot="header">
                  <ion-label>प्रति </ion-label>
                </ion-item>
                <ion-list slot="content">
                  <ion-textarea rows="3" placeholder="प्रति"></ion-textarea>
                </ion-list>
              </ion-accordion>
  
            </ion-accordion-group>
          </ion-col> -->
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="3" class="mobile">
            <div class="d-flex">
              <ion-button size="medium" routerLink="/event/add-pdf-setting"><ion-icon name="add-outline"></ion-icon> Setting</ion-button>
              <ion-button size="medium" routerLink="/event/edit-pdf-setting"><ion-icon name="pencil-outline"></ion-icon> Setting</ion-button>
            </div>
            <div class="form1">
              <form name="detailsForm" (ngSubmit)="detailsForm.form.valid && onSubmit(detailsForm)" #detailsForm="ngForm" novalidate>
                <ion-accordion-group>
                  
                  <ion-accordion value="program">
                    <ion-item slot="header">
                      <ion-label>दैनंदिन कार्यक्रम</ion-label>
                    </ion-item>
      
                    <ion-list slot="content">
                        <ion-input 
                          value="{{ date | date : 'hh:mm a' }}"
                          id="date"
                          name="date"
                          class="form-control" 
                          placeholder="वेळ"
                          
                          ></ion-input>
                         
                          <ion-textarea name="Program" [(ngModel)]="eventModel.Program" #Program="ngModel" [ngClass]="{'is-invalid': detailsForm.submitted && Program.invalid}" class="form-control mt-2" rows="6" required  placeholder="आजचा कार्यक्रम"></ion-textarea>
                          <div *ngIf="detailsForm.submitted && Program.invalid" class="invalid-feedback">
                            <div *ngIf="Program.errors.required">
                              आजचा कार्यक्रम टाइप करा
                            </div>
                          </div>
                        <div class="text-center">
                            <ion-button color="danger" type="reset">Cancel</ion-button>
                            <ion-button type="submit" color="success" >Submit</ion-button>
                        </div>
                    </ion-list>
                  </ion-accordion>
                </ion-accordion-group>
            </form>
          </div>            
        </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="9">
            <ion-grid class="header">
              <ion-row>
                <ion-col size-xs="6" size-sm="5">  
                  <ion-card-header>
                    <ion-card-title> दैनंदिन कार्यक्रम </ion-card-title>
                    <div class="headerLine"></div>
                  </ion-card-header>
                </ion-col>
                <ion-col size-xs="6" size-sm="7" class="ion-text-right">
                  <ion-button class="button-download" (click)="pdf(); downloadPDF()" color="danger"><ion-icon name="cloud-download-sharp"></ion-icon>PDF</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-card>
              
              <ion-card-content>
                <div class="horizontal-scroll">
                  <ion-grid>
                    <ion-row>
                      
                      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                        <div id="eventDetails">
                          <div class="pdfHeader">
                            <div class="logo">
                              <img src="/assets/img/sarkar_logo.jpg" alt="">
                            </div>
                            <div class="pdfTitle">
                              <p>
                                मा.ना.अमित शेवाळे, ------, ------ राज्य ,------ यांचा दैनंदिन कार्यक्रम
                              </p>
                            </div>
                            <div class="phone">
                              <p>
                                कार्यालयाचे दूरध्वनी क्रमांक <span> 020-48626593</span>
                              </p>
                            </div>
                            <div class="date">
                              <p>
                                18 मे 2021 ( मंगळवार )
                              </p>
                            </div>
                          </div>
                          <table>
                            <thead>
                              <tr>
                                <th>
                                  वेळ		
                                </th>
                                <th>
                                  आजचा कार्यक्रम
                                </th>
                                
                                <th id="element-to-hide" data-html2canvas-ignore="true">
                                  Action
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td> सकाळी 11 : ०० वा. </td>
                                <td>
                                  बी-6 शासकीय निवासस्थानापासून छत्रपती शिवाजी महाराज आंतरराष्ट्रीय विमानतळ मुंबईकडे (टर्मिनल - 2) प्रस्थान
                                </td>
                                
                                <td id="element-to-hide" data-html2canvas-ignore="true">
                                  <ion-icon name="pencil-sharp"></ion-icon>
                                  <ion-icon name="trash-sharp"></ion-icon>
                                </td>
                              </tr>
                              <tr>
                                <td> सकाळी ७:०० वा. </td>
                                <td>
                                  बी-6 शासकीय निवासस्थानापासून छत्रपती शिवाजी महाराज आंतरराष्ट्रीय विमानतळ मुंबईकडे (टर्मिनल - 2) प्रस्थान
                                </td>
                                
                                <td id="element-to-hide" data-html2canvas-ignore="true">
                                  <ion-icon name="pencil-sharp"></ion-icon>
                                  <ion-icon name="trash-sharp"></ion-icon>
                                </td>
                              </tr>
                              <tr>
                                <td> सकाळी ७:०० वा. </td>
                                <td>
                                  बी-6 शासकीय निवासस्थानापासून छत्रपती शिवाजी महाराज आंतरराष्ट्रीय विमानतळ मुंबईकडे (टर्मिनल - 2) प्रस्थान
                                </td>
                                
                                <td id="element-to-hide" data-html2canvas-ignore="true">
                                  <ion-icon name="pencil-sharp"></ion-icon>
                                  <ion-icon name="trash-sharp"></ion-icon>
                                </td>
                              </tr>
                              <tr>
                                <td> सकाळी ७:०० वा. </td>
                                <td>
                                  बी-6 शासकीय निवासस्थानापासून छत्रपती शिवाजी महाराज आंतरराष्ट्रीय विमानतळ मुंबईकडे (टर्मिनल - 2) प्रस्थान
                                </td>
                                
                                <td id="element-to-hide" data-html2canvas-ignore="true">
                                  <ion-icon name="pencil-sharp"></ion-icon>
                                  <ion-icon name="trash-sharp"></ion-icon>
                                </td>
                              </tr>
                              <tr>
                                <td> सकाळी ७:०० वा. </td>
                                <td>
                                  बी-6 शासकीय निवासस्थानापासून छत्रपती शिवाजी महाराज आंतरराष्ट्रीय विमानतळ मुंबईकडे (टर्मिनल - 2) प्रस्थान
                                </td>
                                
                                <td id="element-to-hide" data-html2canvas-ignore="true">
                                  <ion-icon name="pencil-sharp"></ion-icon>
                                  <ion-icon name="trash-sharp"></ion-icon>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <div class="pdfFooter">
                            <div class="note">
                              <ul>
                                <li> टीप  :</li>
                                <li>
                                   बी-6 शासकीय निवासस्थानापासून छत्रपती शिवाजी महाराज आंतरराष्ट्रीय विमानतळ मुंबईकडे (टर्मिनल - 2) प्रस्थान. बी-6 शासकीय निवासस्थानापासून छत्रपती शिवाजी महाराज आंतरराष्ट्रीय विमानतळ मुंबईकडे (टर्मिनल - 2) प्रस्थान
                                </li>
                              </ul>
                            </div>
                            <div class="conDetails">
                              <ul class="details">
                                <li> सागर मानाजी साळुंखे </li>
                                <li> 9158490455 </li>
                                <li> मुख्य विक्री व्यवस्थापक </li>
                              </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div class="note">
                              <ul>
                                <li> प्रति : </li>
                                <li>
                                   1. बी-6 शासकीय निवासस्थानापासून छत्रपती शिवाजी महाराज आंतरराष्ट्रीय विमानतळ मुंबईकडे (टर्मिनल - 2) प्रस्थान. <br>
                                   2. बी-6 शासकीय निवासस्थानापासून छत्रपती शिवाजी महाराज आंतरराष्ट्रीय विमानतळ मुंबईकडे (टर्मिनल - 2) प्रस्थान <br>
                                   3. बी-6 शासकीय निवासस्थानापासून छत्रपती शिवाजी महाराज आंतरराष्ट्रीय विमानतळ मुंबईकडे (टर्मिनल - 2) प्रस्थान <br>
                                   4. बी-6 शासकीय निवासस्थानापासून छत्रपती शिवाजी महाराज आंतरराष्ट्रीय विमानतळ मुंबईकडे (टर्मिनल - 2) प्रस्थान <br>
                                   5. बी-6 शासकीय निवासस्थानापासून छत्रपती शिवाजी महाराज आंतरराष्ट्रीय विमानतळ मुंबईकडे (टर्मिनल - 2) प्रस्थान <br>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
  
                        <div id="eventDetails1">
                          <div class="pdfHeader">
                            <div class="logo">
                              <img src="/assets/img/sarkar_logo.jpg" alt="">
                            </div>
                            <div class="pdfTitle text-center" style="width: 77%; margin: 10px auto;">
                              <p style="font-size: 14px; font-weight: 600; color: #111111; text-align: center; margin-bottom: 8px;">
                                मा.ना.राहुल चौधरी, मंत्री ------, ------ राज्य ,------ यांचा दैनंदिन कार्यक्रम
                              </p>
                            </div>
                            <div class="phone text-center" style="width: 80%; margin: 5px auto;">
                              <p style="font-size: 14px; font-weight: 600; color: #111111; text-align: center;">
                                कार्यालयाचे दूरध्वनी क्रमांक <span> 020-48626593 </span>
                              </p>
                            </div>
                            <div class="date">
                              <p style="font-size: 14px; font-weight: 600; color: #111111;">
                                18 मे 2021 ( मंगळवार )
                              </p>
                            </div>
                          </div>
                          <table style="width: 100%; border: solid 1px #555555; border-collapse: collapse;">
                            <thead style="width: 100%; border: solid 1px #555555; border-collapse: collapse">
                              <tr>
                                <th style="border: solid 1px #555555; border-collapse: collapse; color: #111111; font-size: 13px; font-weight: 600; padding: 5px 10px; width: 17%;">
                                  वेळ		
                                </th>
                                <th style="border: solid 1px #555555; border-collapse: collapse; color: #111111; font-size: 13px; font-weight: 600; padding: 5px 10px; width: 83%;">
                                  आजचा कार्यक्रम
                                </th>
                                
                                <th style="display: none" id="element-to-hide" data-html2canvas-ignore="true">
                                  Action
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td style="color: #111111; font-size: 13px; padding: 5px 10px; width: 17%; border: solid 1px #555555; border-collapse: collapse"> सकाळी 11 : ०० वा. </td>
                                <td style="color: #111111; font-size: 13px; padding: 5px 10px; width: 83%; border: solid 1px #555555; border-collapse: collapse">
                                  बी-6 शासकीय निवासस्थानापासून छत्रपती शिवाजी महाराज आंतरराष्ट्रीय विमानतळ मुंबईकडे (टर्मिनल - 2) प्रस्थान
                                </td>
                                
                                <td style="display: none" id="element-to-hide" data-html2canvas-ignore="true">
                                  <ion-button color="success" size="small"><ion-icon name="pencil-sharp"></ion-icon></ion-button>
                                  <ion-button color="danger" size="small" ><ion-icon name="trash-sharp"></ion-icon></ion-button>
                                </td>
                              </tr>
                              <tr>
                                <td style="color: #111111; font-size: 13px; padding: 5px 10px; width: 17%; border: solid 1px #555555; border-collapse: collapse"> सकाळी 11 : ०० वा. </td>
                                <td style="color: #111111; font-size: 13px; padding: 5px 10px; width: 83%; border: solid 1px #555555; border-collapse: collapse">
                                  बी-6 शासकीय निवासस्थानापासून छत्रपती शिवाजी महाराज आंतरराष्ट्रीय विमानतळ मुंबईकडे (टर्मिनल - 2) प्रस्थान
                                </td>
                                
                                <td style="display: none" id="element-to-hide" data-html2canvas-ignore="true">
                                  <ion-button color="success" size="small"><ion-icon name="pencil-sharp"></ion-icon></ion-button>
                                  <ion-button color="danger" size="small" ><ion-icon name="trash-sharp"></ion-icon></ion-button>
                                </td>
                              </tr>
                              <tr>
                                <td style="color: #111111; font-size: 13px; padding: 5px 10px; width: 17%; border: solid 1px #555555; border-collapse: collapse"> सकाळी 11 : ०० वा. </td>
                                <td style="color: #111111; font-size: 13px; padding: 5px 10px; width: 83%; border: solid 1px #555555; border-collapse: collapse">
                                  बी-6 शासकीय निवासस्थानापासून छत्रपती शिवाजी महाराज आंतरराष्ट्रीय विमानतळ मुंबईकडे (टर्मिनल - 2) प्रस्थान
                                </td>
                                
                                <td style="display: none" id="element-to-hide" data-html2canvas-ignore="true">
                                  <ion-button color="success" size="small"><ion-icon name="pencil-sharp"></ion-icon></ion-button>
                                  <ion-button color="danger" size="small" ><ion-icon name="trash-sharp"></ion-icon></ion-button>
                                </td>
                              </tr>
                              <tr>
                                <td style="color: #111111; font-size: 13px; padding: 5px 10px; width: 17%; border: solid 1px #555555; border-collapse: collapse"> सकाळी 11 : ०० वा. </td>
                                <td style="color: #111111; font-size: 13px; padding: 5px 10px; width: 83%; border: solid 1px #555555; border-collapse: collapse">
                                  बी-6 शासकीय निवासस्थानापासून छत्रपती शिवाजी महाराज आंतरराष्ट्रीय विमानतळ मुंबईकडे (टर्मिनल - 2) प्रस्थान
                                </td>
                                
                                <td style="display: none" id="element-to-hide" data-html2canvas-ignore="true">
                                  <ion-button color="success" size="small"><ion-icon name="pencil-sharp"></ion-icon></ion-button>
                                  <ion-button color="danger" size="small" ><ion-icon name="trash-sharp"></ion-icon></ion-button>
                                </td>
                              </tr>
                              <tr>
                                <td style="color: #111111; font-size: 13px; padding: 5px 10px; width: 17%; border: solid 1px #555555; border-collapse: collapse"> सकाळी 11 : ०० वा. </td>
                                <td style="color: #111111; font-size: 13px; padding: 5px 10px; width: 83%; border: solid 1px #555555; border-collapse: collapse">
                                  बी-6 शासकीय निवासस्थानापासून छत्रपती शिवाजी महाराज आंतरराष्ट्रीय विमानतळ मुंबईकडे (टर्मिनल - 2) प्रस्थान
                                </td>
                                
                                <td style="display: none" id="element-to-hide" data-html2canvas-ignore="true">
                                  <ion-button color="success" size="small"><ion-icon name="pencil-sharp"></ion-icon></ion-button>
                                  <ion-button color="danger" size="small" ><ion-icon name="trash-sharp"></ion-icon></ion-button>
                                </td>
                              </tr>
                              
                            </tbody>
                          </table>
  
                          <div class="pdfFooter">
                            <div class="note" style="width: 100%; margin-top: 5px;">
                              <ul style="list-style-type: none; margin-left: 0px; padding-left: 0px;">
                                <li style="font-size: 13px ;font-weight: 600; color: #111111; display: inline;"> टीप  :</li>
                                <li style="font-size: 13px ;font-weight: 600; color: #111111; display: inline;;">
                                   बी-6 शासकीय निवासस्थानापासून छत्रपती शिवाजी महाराज आंतरराष्ट्रीय विमानतळ मुंबईकडे (टर्मिनल - 2) प्रस्थान. बी-6 शासकीय निवासस्थानापासून छत्रपती शिवाजी महाराज आंतरराष्ट्रीय विमानतळ मुंबईकडे (टर्मिनल - 2) प्रस्थान
                                </li>
                              </ul>
                            </div>
                            <div class="conDetails" style="width: 100%;">
                              <div style="width: 100%; text-align: center;">
                                <ul class="details" style="list-style-type: none; float: right; align-items: center; margin-right: 3px; margin-top: 40px; padding-top: 40px; width: 200px">
                                  <li style="font-size: 13px; color: #111111"> सागर मानाजी साळुंखे </li>
                                  <li style="font-size: 13px; color: #111111"> 9158490455 </li>
                                  <li style="font-size: 13px; color: #111111"> मुख्य विक्री व्यवस्थापक </li>
                                </ul>
                              </div>
                            </div>
                            <div class="clearfix" style="clear: both;"></div>
                            <div class="note" style="width: 100%; margin-top: 10px;">
                              <ul style="list-style-type: none; margin-left: 0px; padding-left: 0px;">
                                <li style="font-size: 13px ;font-weight: 600; color: #111111; display: inline;"> प्रति : </li>
                                <li style="font-size: 13px ;font-weight: 600; color: #111111; display: inline;">
                                   1. बी-6 शासकीय निवासस्थानापासून छत्रपती शिवाजी महाराज आंतरराष्ट्रीय विमानतळ मुंबईकडे (टर्मिनल - 2) प्रस्थान. <br>
                                   2. बी-6 शासकीय निवासस्थानापासून छत्रपती शिवाजी महाराज आंतरराष्ट्रीय विमानतळ मुंबईकडे (टर्मिनल - 2) प्रस्थान <br>
                                   3. बी-6 शासकीय निवासस्थानापासून छत्रपती शिवाजी महाराज आंतरराष्ट्रीय विमानतळ मुंबईकडे (टर्मिनल - 2) प्रस्थान <br>
                                   4. बी-6 शासकीय निवासस्थानापासून छत्रपती शिवाजी महाराज आंतरराष्ट्रीय विमानतळ मुंबईकडे (टर्मिनल - 2) प्रस्थान <br>
                                   5. बी-6 शासकीय निवासस्थानापासून छत्रपती शिवाजी महाराज आंतरराष्ट्रीय विमानतळ मुंबईकडे (टर्मिनल - 2) प्रस्थान <br>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="3" class="web">
              <div class="d-flex">
                <ion-button size="medium" routerLink="/event/add-pdf-setting"><ion-icon name="add-outline"></ion-icon>  Setting</ion-button>
                <ion-button size="medium" routerLink="/event/edit-pdf-setting"><ion-icon name="pencil-outline"></ion-icon> Setting</ion-button>
              </div>
            <div class="form1">
              <form (ngSubmit)="detailsForm.form.valid && onSubmit(detailsForm)" #detailsForm="ngForm" novalidate>
                  <ion-accordion-group>
                    
                    <ion-accordion value="program">
                      <ion-item slot="header">
                        <ion-label>दैनंदिन कार्यक्रम</ion-label>
                      </ion-item>
        
                      <ion-list slot="content">
                          <ion-input 
                            value="{{ Time | date: 'hh:mm a' }}"
                            id="Time"
                            name="Time"
                            class="form-control"
                            placeholder="वेळ"
                            required
                            ></ion-input>
                            <ion-popover trigger="Time" size="cover">
                              <ng-template>
                                <ion-datetime
                                  presentation="time"
                                  [(ngModel)]="Time"
                                  name="Time"
                                  
                                ></ion-datetime>
                              </ng-template>
                            </ion-popover>
                            
                          <ion-textarea name="Program" [(ngModel)]="eventModel.Program" #Program="ngModel" [ngClass]="{'is-invalid': detailsForm.submitted && Program.invalid}" class="form-control mt-2" rows="8" required  placeholder="आजचा कार्यक्रम"></ion-textarea>
                          <div *ngIf="detailsForm.submitted && Program.invalid" class="invalid-feedback">
                            <div *ngIf="Program.errors.required">
                              आजचा कार्यक्रम टाइप करा
                            </div>
                          </div>
                          <div class="text-center">
                              <ion-button color="danger">Cancel</ion-button>
                              <ion-button type="submit" [disabled]="!detailsForm.form.valid">Submit</ion-button>
                          </div>
                      </ion-list>
                    </ion-accordion>
                  </ion-accordion-group>
              </form>
            </div>            
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  
</ion-content>
						