

<ion-content>
    <div class="main-content">
      <ion-grid class="header">
        <ion-row>
          <ion-col size-xs="12" size-sm="6">
            <ion-card-header>
              <ion-card-title>योजना </ion-card-title>
              <div class="headerLine"></div>
            </ion-card-header>
          </ion-col>
          <ion-col size-xs="12" size-sm="6" class="ion-text-right">
            <ion-button class="button-download" color="primary" routerLink="/yojna/add-yojna"><ion-icon name="add-circle-sharp"></ion-icon>Yojna</ion-button>
            <ion-button class="button-download" fill="outline" color="primary" ><ion-icon name="document-sharp"></ion-icon>import</ion-button>
            <ion-button class="button-download" color="primary" ><ion-icon name="refresh-circle-sharp"></ion-icon>Refresh</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  
      <ion-grid class="topForm">
        <form #myForm1="ngForm">
          <ion-row>
  
            <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="6" size-xs="12">
              <ion-label>  योजना     </ion-label>
                <ion-select name="Yojna" [(ngModel)]="Yojna" placeholder="Select" interface="popover" class="form-control">
                  <ion-select-option class="select_option" value="योजना 1"> योजना  1</ion-select-option>
                  <ion-select-option class="select_option" value="योजना 2"> योजना   2 </ion-select-option>
                </ion-select>
            </ion-col>

            
            <ion-col size-xl="3" size-lg="3" size-md="4" size-sm="6" size-xs="12">
                <ion-button class="searchBtn" type="submit" (click)="presentLoading()">Search</ion-button>
                <ion-button type="reset" (click)="resetForm()" class="searchBtn" color="danger">Clear</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-grid>
  
      <ion-card>
        
        <ion-card-content>
          <div class="headSection">
            <div class="search">
              <ion-searchbar ></ion-searchbar>
            </div>
            <ion-button class="button-download" color="success" (click)="exportExcel()">
              <ion-icon name="document-sharp"></ion-icon>Excel
            </ion-button>
          </div>
          <div class="horizontal-scroll">
            <table id="table16">
              <thead>
                <tr>
                  <th>
                    अ.क्र.							
                  </th>
                  <th>
                    योजना				
                  </th>
                  <th>
                    तपशील				
                  </th>
                  <th>
                    सद्यस्थिती			
                  </th>
                  
                  
                  <th id="element-to-hide" data-html2canvas-ignore="true">
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>talegoan</td>
                  <td>
                    ayushman bharat
                  </td>
                  
                  <td>
                    <a class="approved">चालु</a>
                  </td>
                  
                  <td id="element-to-hide" data-html2canvas-ignore="true">
                    <ion-button routerLink="/yojna/edit-yojna" color="success" size="small"><ion-icon name="pencil-sharp"></ion-icon></ion-button>
                    <ion-button color="danger" size="small" (click)="deleteYojna()"><ion-icon name="trash-sharp"></ion-icon></ion-button>
                  </td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>talegoan</td>
                    <td>
                      ayushman bharat
                    </td>
                    
                    <td>
                      <a class="rejected">बंद</a>
                    </td>
                    
                    <td id="element-to-hide" data-html2canvas-ignore="true">
                      <ion-button routerLink="/beneficiaries/edit-beneficiaries" color="success" size="small"><ion-icon name="pencil-sharp"></ion-icon></ion-button>
                      <ion-button color="danger" size="small" (click)="deleteYojna()"><ion-icon name="trash-sharp"></ion-icon></ion-button>
                    </td>
                  </tr>

              </tbody>
            </table>
            <pagination-controls (pageChange)="cp = $event"></pagination-controls>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
                          