

<ion-content>
    <ion-header class="android">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/home/mobile-dashboard"></ion-back-button>
        </ion-buttons>
        <ion-title> Complaint Book </ion-title>
        <ion-buttons slot="primary">
          <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <div class="main-content">
      
      <div class="web">
        <ion-grid class="header">
          <ion-row>
            <ion-col size-xs="12" size-sm="6">
              <ion-card-header>
                <ion-card-title>Complaint Book <span></span></ion-card-title>
                <div class="headerLine"></div>
              </ion-card-header>
            </ion-col>
            <!-- <ion-col size-xs="12" size-sm="6" class="ion-text-right">
              <ion-button class="button-download" color="primary" routerLink="/appointment/add-appointment"><ion-icon name="add-circle-sharp"></ion-icon>Add Appointment</ion-button>
              <ion-button class="button-download" fill="outline" routerLink="/appointment/today-appointment" color="primary" ><ion-icon name="refresh-circle-sharp"></ion-icon>Today's Appointments</ion-button>
            </ion-col> -->
          </ion-row>
        </ion-grid>
      </div>
  
      <ion-grid >
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="12">
            
              <ion-row *ngFor="let item of complaintCount">
                <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="6" >
                  <ion-list class="survey-list" routerLink="/complaint-book/all-complaints">
                      <ion-item lines="none">
                        <ion-label class="contact">
                            <i class="icofont icofont-search-document"></i>
                            <div>
                              <h3> All Complaints </h3>
                              <h4> {{item.totalCount}} </h4>
                            </div>
                        </ion-label>
                      </ion-item>
                  </ion-list>
                </ion-col>
  
                <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="6" >
                  <ion-list class="survey-list" routerLink="/complaint-book/add-complaint">
                      <ion-item lines="none">
                        <ion-label>
                          <div class="contact">
                            <i class="icofont icofont-ui-clock"></i>
                            <div>
                              <h3> Add Complaint </h3>
                              <h4> - </h4>
                            </div>
                          </div>
                        </ion-label>
                      </ion-item>
                  </ion-list>
                </ion-col>
  
                <!-- <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="6" >
                  <ion-list class="survey-list">
                      <ion-item lines="none">
                        <ion-label>
                          <div class="contact">
                            <i class="icofont icofont-contact-add"></i>
                            <div>
                              <h3> Today's  </h3>
                              <h4> {{item.todayCount}} </h4>
                            </div>
                          </div>
                        </ion-label>
                      </ion-item>
                  </ion-list>
                </ion-col> -->
        
                <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="6" >
                  <ion-list class="survey-list" routerLink="/complaint-book/resolved-complaint">
                    <ion-item lines="none">
                        <ion-label>
                          <div class="contact">
                            <i class="icofont icofont-ui-check"></i>
                            <div>
                              <h3> Resolved </h3>
                              <h4> {{item.resolved}} </h4>
                            </div>
                          </div>
                        </ion-label>
                      </ion-item>
                  </ion-list>
                </ion-col>
                <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="6" > 
                  <ion-list class="survey-list" routerLink="/complaint-book/pending-complaint">
                    <ion-item lines="none" >
                        <ion-label>
                          <div class="contact">
                            <i class="icofont icofont-ui-close"></i>
                            <div>
                              <h3> Pending </h3>
                              <h4> {{item.pending}} </h4>
                            </div>
                          </div>
                        </ion-label>
                      </ion-item>
                  </ion-list>
                </ion-col>
  
              </ion-row>
              
            </ion-col>
        </ion-row>
      </ion-grid>
  
    </div>
  </ion-content>
                          
