<ion-content>
    <ion-header class="android">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/home/mobile-dashboard"></ion-back-button>
        </ion-buttons>
        <ion-title> Society </ion-title>
        <ion-buttons slot="primary">
          <ion-button (click)="search()">
            <ion-icon name="search-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <div class="main-content">
      <ion-grid class="web">
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
            <ion-grid class="header">
              <ion-row>
                <ion-col size-xs="12" size-sm="6" class="webBack">
                  <div class="flex">
                    <ion-icon (click)="goBack()" name="arrow-back-sharp"></ion-icon>
                    <ion-card-header>
                      <ion-card-title>
                        <ion-text> Society , <span>Total - {{totalItems}}</span> </ion-text>
                      </ion-card-title>
                    </ion-card-header>
                  </div>
                </ion-col>
                <ion-col size-xs="12" size-sm="6" class="ion-text-right">
                  <ion-button class="button-download" routerLink="/society/add-society" color="primary">
                    Society <ion-icon name="add-sharp"></ion-icon> 
                  </ion-button>
                  
  
                  <!-- <ion-button class="button-download" fill="outline" color="success" (click)="exportexcel()">
                        <ion-icon name="document-sharp"></ion-icon>Excel
                      </ion-button>
                      <ion-button class="button-download" fill="outline" color="danger" (click)="downloadPDF()">
                        <ion-icon name="cloud-download-sharp"></ion-icon>PDF
                      </ion-button> -->
  
  
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-card>
              <ion-card-content>
                <div class="headSection">
                  <div class="search">
                    <ion-searchbar (keyup)="keyPress($event.target.value)" (change)="onSearchChange($event.target.value)" animated="true"></ion-searchbar>
                  </div>
                  <div class="btns">
                    <ion-button class="button-download" color="tertiary" (click)="exportExcel()" >
                      Excel 
                    </ion-button>
                    <ion-button class="button-download" color="tertiary" (click)="exportToCSV()" >
                      CSV 
                    </ion-button>
                  </div>
                </div>
                <div class="horizontal-scroll">
                  <table id="userAdminTable" #epltable class="table">
                    <thead>
                      <tr>
  
                        <th>
                          Sr.No.
                        </th>
                        <th>
                          Society Name
                        </th>
                        <th>Position</th>
                        <th>
                            Name
                        </th>
                        <th>
                            Mobile No.
                        </th>
                        <th>
                          Alt. Mobile No.
                        </th>
  
                        <th>
                            Address
                        </th>
                        <th>
                            PinCode
                        </th>
                        <th>
                            Ward No.
                        </th>
                        <th>
                          Taluka
                        </th>
                        <th>
                          District
                        </th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of getSocietyList | paginate: { itemsPerPage:NoofRow, currentPage: PageNo, totalItems:totalItems};let i=index">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.position}}</td>
                        <td>{{item.chairman}}</td>
                        <td>{{item.phoneNo}}</td>
                        <td>{{item.altPhoneNo}}</td>
                        <td>{{item.address}}</td>
                        <td>{{item.pinCode}}</td>
                        <td>{{item.wardNo}}</td>
                        <td>{{item.taluka}}</td>
                        <td>{{item.district}}</td>
                        <!-- <td>Katraj</td>
                        <td>1 year</td> -->
                        <td class="action">
                          <ion-icon (click)="EditSociety(item)" name="create-sharp"></ion-icon>
                          
                          <ion-icon (click)="deleteSociety(item.id)" class="delete" name="trash-bin-sharp"></ion-icon> 
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <pagination-controls (pageChange)="event($event)"></pagination-controls>
                  <div *ngIf="!getSocietyList || getSocietyList.length === 0 " class="text-center">
                    <p>No data available</p>
                  </div>
                  
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
  
        </ion-row>
      </ion-grid>

      <ion-grid class="android">
        <ion-searchbar *ngIf="isShow" (keyup)="keyPress($event.target.value)" (change)="onSearchChange($event.target.value)"></ion-searchbar>
        <ion-list *ngFor="let item of getSocietyList" (click)="societyDetails(item)">
          <ion-item-sliding>
            <ion-item-options side="end">
              <a (click)="EditSociety(item)">
                <ion-icon class="edit" name="pencil-sharp"></ion-icon>
              </a>
              <a>
                <ion-icon (click)="deleteSociety()" class="delete" name="trash-sharp"></ion-icon>
              </a>
            </ion-item-options>
            <ion-item  lines="none">
              
              <ion-label>
                <h3>{{item.name}}</h3>
                <div class="details">
                  <h4>{{item.chairman}}</h4>
                  <h4>{{item.phoneNo}}</h4>
                </div>
                <h4>{{item.address}}</h4>
              </ion-label>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
        <ion-list>
          <pagination-controls (pageChange)="event($event)"></pagination-controls>
        </ion-list>
        <div *ngIf="!getSocietyList || getSocietyList.length === 0 " class="text-center">
          <p>No data available</p>
        </div>
      </ion-grid>
  
    </div>
  </ion-content>
  
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" routerLink="/society/add-society">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>