

<ion-content>
    <ion-header class="android">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button color="primary" auto-hide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title> New Voter </ion-title>
        <ion-buttons slot="primary">
          <ion-button (click)="search()">
            <ion-icon name="search-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <div class="main-content">
      <div class="web">
        <ion-grid class="header">
          <ion-row>
            <ion-col size-xs="12" size-sm="6">
              <ion-card-header>
                <ion-card-title>New Voter <span>  </span></ion-card-title>
                <div class="headerLine"></div>
              </ion-card-header>
            </ion-col>
            <ion-col size-xs="12" size-sm="6" class="ion-text-right">
              <ion-button class="button-download" color="primary" routerLink="/new-voter/add-new-voter"><ion-icon name="add-circle-sharp"></ion-icon>New Voter</ion-button>
              <!-- <ion-button class="button-download" fill="outline" color="primary" ><ion-icon name="refresh-circle-sharp"></ion-icon>Refresh</ion-button> -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
  
      <!-- <ion-grid class="topForm">
        <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
          <ion-row>
            <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
              <ion-label>   Appointment Date   </ion-label>
              <ion-input value="{{ appoDate | date: 'yyyy-MM-dd' }}" id="appoDate" class="form-control" required>
              </ion-input>
  
              <ion-modal trigger="appoDate" size="cover">
                <ng-template>
                  <ion-datetime presentation="date" [(ngModel)]="appoDate" name="appoDate">
                    <span slot="title"> {{ year }} </span>
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-col>
            
            <ion-col size-xl="3" size-lg="3" size-md="4" size-sm="6" size-xs="12">
                <ion-button class="searchBtn" type="submit" (click)="presentLoading()" [disabled]="!f.form.valid">Search</ion-button>
                <ion-button type="reset" (click)="resetForm()" class="searchBtn" color="danger">Clear</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-grid> -->
  
      <ion-card>
        <ion-card-content>
          <div class="headSection">
            <div class="search">
              <ion-searchbar [(ngModel)]="searchWeb" animated="true"></ion-searchbar>
            </div>
            <ion-button class="button-download" color="success" (click)="downloadExcel()" ><ion-icon name="document-sharp"></ion-icon>Excel</ion-button>
          </div>
          <div class="horizontal-scroll">
            <table class="table" id="table13" #epltable>
              <thead>
                <tr>
                  <th>Sr.No.</th>
                  <th>
                    AC.No.		
                  </th>
                  <th>
                      Part No.
                  </th>
                  <th>Voter</th>
                  <th>
                    Name
                  </th>
                  <th>
                    Mobile No. 
                  </th>
                  <th>
                    Alt. Mobile No. 
                  </th>
                  
                  <th>
                    DoB					
                  </th>
                  <th>
                    House No.
                  </th>
                  <th>
                    Card No.
                  </th>
                  <th>Gender</th>
                  <th>Age</th>
                  <th>
                    Society Name
                  </th>
                  <th>Zone</th>
                  <th>Address</th>
                  <th>Modified Address</th>
                  <th>Area</th>
                  <th>Favour</th>
                  <th>Data Type</th>
                  <th>Remark</th>
                  <th>Reference</th>
                  <th>Position</th>
                  <th>Voting Card</th>
                  <th>Personal Relation</th>
                  <th id="element-to-hide" data-html2canvas-ignore="true">
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of getnewVoter | filter:searchWeb">
                  <td>{{item.id}}</td>
                  <td>{{item.assemblyNo}}</td>
                  <td>{{item.partNo}}</td>
                  <td></td>
                  <td>{{item.firstName}} {{item.middleName}} {{item.lastName}}</td>
                  <td>
                    {{item.mobileNo}}
                  </td>
                  <td>{{item.altMobileNo}}</td>
                  <td>{{item.dob}}</td>
                  <td>{{item.houseNo}}</td>
                  <td>{{item.epicNo}}</td>
                  <td>{{item.gender}}</td>
                  <td>{{item.age}}</td>
                  <td>{{item.societyName}}</td>
                  <td>{{item.zone}}</td>
                  <td>{{item.address}}</td>
                  <td>{{item.newAddress}}</td>
                  <td>{{item.area}}</td>
                  <td>{{item.favour}}</td>
                  <td></td>
                  <td>{{item.remark}}</td>
                  <td>{{item.referenceName}}</td>
                  <td>{{item.position}}</td>
                  <td>{{item.votingCard}}</td>
                  <td>{{item.personalRelation}}</td>
                  <td id="element-to-hide" data-html2canvas-ignore="true" class="action">
                    <ion-icon (click)="editNewVoter(item)" name="create-sharp"></ion-icon>
                    <ion-icon (click)="deleteNewVoter(item.id)" class="delete" name="trash-bin-sharp"></ion-icon> 
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="cp = $event"></pagination-controls>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
                          
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" routerLink="/new-voter/add-new-voter">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>