

<ion-content>
    <ion-header class="android">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button color="primary" defaultHref="/contact"></ion-back-button>
        </ion-buttons>
        <ion-title> Contact Details </ion-title>
      </ion-toolbar>
    </ion-header>
    <div class="main-content">
      <div class="banner">
        <div class="details">
          <ion-grid *ngFor="let item of getContacts" >
            <ion-row>
              <ion-col size-lg="3" size-md="3" size-sm="3" size-xs="5">
                <div class="profileImg">
                  <img src="/assets/img/user.jpg" alt="">
                </div>
              </ion-col>
              <ion-col size-lg="6" size-md="6" size-sm="5" size-xs="7">
                <div class="name">
                  <h2>  {{ item.fullName }} </h2>
                </div>
              </ion-col>
              <ion-col size-lg="3" size-md="3" size-sm="4" size-xs="12" class="ion-text-right">
                <ion-button class="text-capitalize" shape="round" routerLink="/contact/edit-contact">Edit</ion-button>
                <ion-button class="text-capitalize" shape="round" color="danger" (click)="deleteContact()">Delete</ion-button>
              </ion-col>
            </ion-row>
            <ion-row class="borderTop">
              <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
                <ion-grid>
                  <ion-row>
                    <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                      <ion-text> <strong> संपूर्ण नाव : </strong> </ion-text>
                    </ion-col>
                    
                    <ion-col size-lg="9" size-md="8" size-sm="8" size-xs="8">
                      <ion-text> {{ item.fullName }} </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                      <ion-text> <strong> गावाचे नाव : </strong> </ion-text>
                    </ion-col>
                    
                    <ion-col size-lg="9" size-md="8" size-sm="8" size-xs="8">
                      <ion-text> {{ item.vilageName }} </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                      <ion-text> <strong> वाढदिवस : </strong> </ion-text>
                    </ion-col>
                    
                    <ion-col size-lg="9" size-md="8" size-sm="8" size-xs="8">
                      <ion-text> {{ item.birthDate | date:'dd/MM/yyyy' }} </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                      <ion-text> <strong> वर्धापनदिन : </strong> </ion-text>
                    </ion-col>
                    
                    <ion-col size-lg="9" size-md="8" size-sm="8" size-xs="8">
                      <ion-text>  {{ item.anniversary | date:'dd/MM/yyyy' }}  </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                      <ion-text> <strong> मोबाइल क्र. : </strong> </ion-text>
                    </ion-col>
                    
                    <ion-col size-lg="9" size-md="8" size-sm="8" size-xs="8">
                      <ion-text> {{ item.mobileNo }}  </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                      <ion-text> <strong> पर्यायी मो. : </strong> </ion-text>
                    </ion-col>
                    
                    <ion-col size-lg="9" size-md="8" size-sm="8" size-xs="8">
                      <ion-text> {{ item.alternativeMobileNo }} </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                      <ion-text> <strong>जिल्हा : </strong> </ion-text>
                    </ion-col>
                    
                    <ion-col size-lg="9" size-lg="9" size-md="8" size-sm="8" size-xs="8">
                      <ion-text> {{ item.district }} </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                      <ion-text> <strong> तालुका : </strong> </ion-text>
                    </ion-col>
                    
                    <ion-col size-lg="9" size-lg="9" size-md="8" size-sm="8" size-xs="8">
                      <ion-text>  {{ item.taluka }}  </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                      <ion-text> <strong> पत्ता : </strong> </ion-text>
                    </ion-col>
                    
                    <ion-col size-lg="9"  size-lg="9" size-md="8" size-sm="8" size-xs="8">
                      <ion-text>  {{ item.address }} </ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
  </ion-content>