

<ion-content>
    <ion-card>
      
      <ion-card-content>
        <div class="horizontal-scroll">
          <table id="creditHistory" #epltable class="table">
            <thead>
              <tr>
                <th style="width: 20px !important;">
                  Date
                </th>
                <th>
                  Funds
                </th>
                <th>
                  Credit Type
                </th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                
                <td>13/06/2022</td>
                <td>Gudipadwa campaign</td>
                <td>MAHSRV</td>
                
              </tr>
              <tr>
                
                <td>13/06/2022</td>
                <td>Gudipadwa campaign</td>
                <td>MAHSRV</td>
                
              </tr>
              <tr>
                
                <td>13/06/2022</td>
                <td>Gudipadwa campaign</td>
                <td>MAHSRV</td>
                
              </tr>
              <tr>
                <td>13/06/2022</td>
                <td>Gudipadwa campaign</td>
                <td>MAHSRV</td>
              </tr>

            </tbody>
          </table>
        </div>
      </ion-card-content>
    </ion-card>
</ion-content>
