<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Add User</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/new-voter"></ion-back-button>
      </ion-buttons>
      <ion-title> New Voter </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid>
      <ion-row>
        <ion-text class="form-header pl-10">
          <ion-icon name="add-circle-outline" class="pr-1"></ion-icon>New Voter
        </ion-text>
      </ion-row>
      <form (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
        <ion-row>

          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
              <ion-label> Assembly No. </ion-label>
              <ion-input name="assemblyNo" [(ngModel)]="newVoterModal.assemblyNo" class="form-control"></ion-input>
            </ion-col>

            <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
              <ion-label> Part No. </ion-label>
              <ion-input name="partNo" [(ngModel)]="newVoterModal.partNo" class="form-control"></ion-input>
            </ion-col>


          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
            <ion-label>First Name <span>*</span> </ion-label>
            <ion-input name="firstName" [(ngModel)]="newVoterModal.firstName" (keypress)="onKeyPress($event)" class="text-capitalize form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
              <ion-label>Middle Name  </ion-label>
              <ion-input name="middleName" [(ngModel)]="newVoterModal.middleName" (keypress)="onKeyPress($event)" class="text-capitalize form-control"></ion-input>
            </ion-col>

            <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
              <ion-label>Last Name <span>*</span> </ion-label>
              <ion-input name="lastName" [(ngModel)]="newVoterModal.lastName" (keypress)="onKeyPress($event)" class="text-capitalize form-control"></ion-input>
            </ion-col>


          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
              <ion-label> Mobile No. </ion-label>
              <ion-input name="mobileNo" [(ngModel)]="newVoterModal.mobileNo" class="form-control" required></ion-input>
            </ion-col>
          
            <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
              <ion-label>Alt. Mobile No.  </ion-label>
              <ion-input name="altMobileNo" [(ngModel)]="newVoterModal.altMobileNo" class="form-control" required></ion-input>
            </ion-col>

            
          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
            <ion-label> DOB </ion-label>
            <ion-input 
              value="{{ dob | date: 'yyyy-MM-dd' }}" 
              id="dob" 
              name="dob" 
              [(ngModel)]="newVoterModal.dob"
              class="form-control" 
              required
            >
            </ion-input>

            <ion-modal trigger="dob" size="cover">
              <ng-template>
                <ion-datetime 
                  presentation="date" 
                  name="dob"
                  [(ngModel)]="dob"
                >
                  <span slot="title"> {{ year }} </span>
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>

          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
            <ion-label> House No. </ion-label>
            <ion-input name="houseNo" [(ngModel)]="newVoterModal.houseNo" class="form-control" required></ion-input>
          </ion-col>

          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
              <ion-label>EPIC No. </ion-label>
              <ion-input name="epicNo" [(ngModel)]="newVoterModal.epicNo" class="form-control" required></ion-input>
            </ion-col>

            <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
              <ion-label>Gender </ion-label>
              <ion-radio-group name="Gender" [(ngModel)]="newVoterModal.gender">
                  <div class="radioBtn" >
                    <div>
                      <ion-radio value="M" ></ion-radio>
                      <ion-label>Male</ion-label>
                    </div>
    
                    <div>
                      <ion-radio value="F" ></ion-radio>
                      <ion-label>Female</ion-label>
                    </div>
    
                    <!-- <div>
                      <ion-radio value="O" ></ion-radio>
                      <ion-label>Other</ion-label>
                    </div> -->
                  </div>
                </ion-radio-group>
            </ion-col>


            <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
              <ion-label> Age </ion-label>
              <ion-input name="age" [(ngModel)]="newVoterModal.age" class="form-control"></ion-input>
            </ion-col>

            <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
              <ion-label> Society Name </ion-label>
              <ion-input  name="societyName" [(ngModel)]="newVoterModal.societyName" class="form-control" ></ion-input>
            </ion-col>

            <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
              <ion-label> Zone </ion-label>
              <ion-input  name="zone"  [(ngModel)]="newVoterModal.zone"class="form-control" ></ion-input>
            </ion-col>

            <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
              <ion-label> Address </ion-label>
              <ion-input  name="address" [(ngModel)]="newVoterModal.address" class="form-control" ></ion-input>
            </ion-col>
            
            <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
              <ion-label> New Address </ion-label>
              <ion-input  name="newAddress" [(ngModel)]="newVoterModal.newAddress" class="form-control" ></ion-input>
            </ion-col>

            <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
              <ion-label> Area </ion-label>
              <ion-input  name="area" [(ngModel)]="newVoterModal.area" class="form-control" ></ion-input>
            </ion-col>

            <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
              <ion-label> Favour </ion-label>
              <ion-select name="favour" [(ngModel)]="newVoterModal.favour" placeholder="Select" class="form-control"
                interface="popover">
                <ion-select-option class="select_option" value="Green"> Green</ion-select-option>
                <ion-select-option class="select_option" value="Red"> Red</ion-select-option>
                <ion-select-option class="select_option" value="Yellow"> Yellow</ion-select-option>
              </ion-select>
            </ion-col>

            <!-- <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
              <ion-label> Data Type </ion-label>
              <ion-select name="category" placeholder="Select" class="form-control"
                interface="popover">
                <ion-select-option class="select_option" value="Annapurna"> Annapurna</ion-select-option>
                <ion-select-option class="select_option" value="Combined Data"> Combined Data</ion-select-option>
              </ion-select>
            </ion-col> -->

            <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
              <ion-label> Remark </ion-label>
              <ion-input  name="remark" [(ngModel)]="newVoterModal.remark" class="form-control" ></ion-input>
            </ion-col>

            <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
              <ion-label> Reference Name </ion-label>
              <ion-input  name="referenceName" [(ngModel)]="newVoterModal.referenceName" class="form-control" ></ion-input>
            </ion-col>

            <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
              <ion-label> Position </ion-label>
              <ion-input  name="position" [(ngModel)]="newVoterModal.position" class="form-control" ></ion-input>
            </ion-col>

            <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
              <ion-label> Voting Card </ion-label>
              <ion-input  name="votingCard" [(ngModel)]="newVoterModal.votingCard" class="form-control" ></ion-input>
            </ion-col>

            <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
              <ion-label> Personal Remark</ion-label>
              <ion-input name="personalRelation" [(ngModel)]="newVoterModal.personalRelation" class="form-control" ></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-xl="4" size-lg="12" size-md="12" size-sm="12" size-xs="12">
              <div class="ion-text-center">
                <ion-button type="reset" (click)="resetForm()" color="danger" size="medium">Clear</ion-button>
                <ion-button type="submit" size="medium" (click)="updateNewVoter()" [disabled]="!f.form.valid" >Update</ion-button>
                <ion-button routerLink="/new-voter" color="success" type="button" size="medium">Back To List
                </ion-button>
              </div>
            </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>