<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Add User</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-header class="android">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button color="primary" defaultHref="/contact"></ion-back-button>
        </ion-buttons>
        <ion-title> Import Contact </ion-title>
      </ion-toolbar>
    </ion-header>
    <div class="main-content">
      <ion-grid>
        <ion-row>
          <ion-text class="form-header">
            <ion-icon name="add-circle-sharp" class="pr-1"></ion-icon>Upload Contacts Data
          </ion-text>
        </ion-row>
        <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
          <ion-row>
            <ion-col  size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
              <ion-label>
                <span>
                  * To upload Contacts data, please download template file and fill data in exact format to get correct data. 
                </span>
              </ion-label>
            </ion-col>
            <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
              <ion-label>Template  File  </ion-label><br>
                <a href="assets/excel/mobile-matching.xlsx" download>
                  <ion-button> <i class="icofont icofont-download pr-2"></i> Download Template File</ion-button>
                </a>
            </ion-col>
            <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12" class="file">
              <ion-label> File </ion-label>
              <ion-input type="file" multiple="false" name="file" id="file"  class="form-control" required></ion-input>
                <!-- <div *ngIf="f.submitted && File.invalid" class="invalid-feedback">
                  <div *ngIf="File.errors.required">
                    File is required
                  </div>
                </div> -->
                
            </ion-col>
   
           
            <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
              <div class="ion-text-center">
                <ion-button type="reset" color="danger" size="medium" (click)="resetForm()">Clear</ion-button>
                <ion-button type="submit" size="medium" [disabled]="disabled">Upload</ion-button>
                <ion-button routerLink="/mobile-match" color="success" type="button" size="medium">Back To List</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </form>
      </ion-grid>
      
    </div>
  </ion-content>