<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Add User</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/contact"></ion-back-button>
      </ion-buttons>
      <ion-title> Edit Contact </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid>
      <ion-row>
        <ion-text class="form-header">
          <ion-icon name="add-circle-sharp" class="pr-1"></ion-icon>Edit Contact
        </ion-text>
      </ion-row>
      <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
        <ion-row>
          <!-- <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12" >
            <ion-label position="floating">  संपूर्ण नाव  <span>*</span> </ion-label>
              <ion-input name="fullName" [(ngModel)]="EditData.fullName" #fullName="ngModel" [ngClass]="{'is-invalid': f.submitted && fullName.invalid}" (keypress)="onKeyPress($event)" class="text-capitalize form-control" required></ion-input>
              <div *ngIf="f.submitted && fullName.invalid" class="invalid-feedback">
                <div *ngIf="fullName.errors.required">
                  संपूर्ण नाव टाइप करा
                </div>
              </div>
          </ion-col> -->

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12" >
            <ion-label position="floating">  Full Name  <span>*</span> </ion-label>
              <ion-input maxlength="30"  name="fullName" [(ngModel)]="EditData.fullName" #fullName="ngModel" (keypress)="onKeyPress($event)" class="text-capitalize form-control" required></ion-input>
          </ion-col>

          
          <!-- <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
            <ion-label position="floating"> गावाचे नाव <span>*</span> </ion-label>
              <ion-input name="vilageName" [(ngModel)]="EditData.vilageName" #vilageName="ngModel" [ngClass]="{'is-invalid': f.submitted && vilageName.invalid}" class="form-control" required ></ion-input>
              <div *ngIf="f.submitted && vilageName.invalid" class="invalid-feedback">
                <div *ngIf="vilageName.errors.required">
                  गावाचे नाव टाइप करा
                </div>
              </div>
          </ion-col> -->

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
            <ion-label position="floating"> Village Name </ion-label>
              <ion-input maxlength="30"  name="vilageName" [(ngModel)]="EditData.vilageName" (keypress)="onKeyPress($event)" #vilageName="ngModel" class="form-control" ></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="calendar">
            <ion-label>BirthDate </ion-label>
              <ion-input
                  value="{{ birthDate | date: 'yyyy-MM-dd' }}"
                  id="birthDate"
                  class="form-control"
                  name="birthDate"
                  [(ngModel)]="EditData.birthDate"
                  (keypress)="onKeyPress($event)"
                  (keypress)="keyPressNumbers($event)" 
                ></ion-input>
                <ion-modal trigger="birthDate" size="cover" [canDismiss]="canDismiss" 
                [backdropDismiss]="false" >
                  <ng-template>
                    <ion-datetime
                    max={{maxDate}}
                      presentation="date"
                      [(ngModel)]="birthDate"
                      name="birthDate"
                      show-default-buttons="true"
                    >
                    <div slot="title">{{ year }}</div>
                  </ion-datetime>
                  </ng-template>
                </ion-modal>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="calendar">
            <ion-label>Anniversary </ion-label>
            <ion-input
            value="{{ anniversary | date: 'yyyy-MM-dd' }}"
            id="anniversary"
            class="form-control"
            name="anniversary"
            [(ngModel)]="EditData.anniversary"
            (keypress)="onKeyPress($event)"
            (keypress)="keyPressNumbers($event)" 
          ></ion-input>
          <ion-modal trigger="anniversary" size="cover" [canDismiss]="canDismiss" 
          [backdropDismiss]="false" >
            <ng-template>
              <ion-datetime
              max={{maxDate}}
                presentation="date"
                [(ngModel)]="anniversary"
                name="anniDate"
                show-default-buttons="true"
              >
              <div slot="title">{{ year }}</div>
            </ion-datetime>
            </ng-template>
          </ion-modal>
          </ion-col>



          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
            <ion-label position="floating">  Mobile No. <span>*</span> </ion-label>
              <ion-input maxlength="12" minlength="10" (keypress)="keyPressNumbers($event)" name="mobileNo" [(ngModel)]="EditData.mobileNo" #mobileNo="ngModel" class="form-control"  required></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Alternate Mobile </ion-label>
              <ion-input maxlength="12" minlength="10" (keypress)="keyPressNumbers($event)" name="alternativeMobileNo" [(ngModel)]="EditData.alternativeMobileNo" #alternativeMobileNo="ngModel" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
            <ion-label>  District </ion-label>
              <ng-select
                placeholder="Please Select" 
                name="district" 
                [(ngModel)]="EditData.district" 
                #district="ngModel" 
                (change)="getTaluka(EditData.district)" 
                
              >
                <ng-option *ngFor="let item of districtList" [value]="item.dId">
                  {{ item.districtName  }}
                </ng-option>
              </ng-select>
          </ion-col>

          

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
            <ion-label>  Taluka </ion-label>
              <ng-select 
                placeholder="Please Select" 
                name="taluka" 
                [(ngModel)]="EditData.taluka" 
                #taluka="ngModel" 
                
              >
                <ng-option *ngFor="let item of talukaList" [value]="item.talukaName">
                  {{ item.talukaName}}
                </ng-option>
              </ng-select>
              
          </ion-col>


          <!-- <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <ion-label position="floating">  पत्ता <span>*</span>  </ion-label>
              <ion-textarea name="address" [(ngModel)]="EditData.address" #address="ngModel" [ngClass]="{'is-invalid': f.submitted && address.invalid}" rows="3" class="form-control" required></ion-textarea>
              <div *ngIf="f.submitted && address.invalid" class="invalid-feedback">
                <div *ngIf="address.errors.required">
                  पत्ता टाइप करा
                </div>
              </div>
          </ion-col>  -->

          <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <ion-label position="floating"> Address  </ion-label>
              <ion-textarea maxlength="160" name="address" [(ngModel)]="EditData.address" #address="ngModel" rows="3" class="form-control"></ion-textarea>
          </ion-col> 
          
          <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <div class="ion-text-center">
              <ion-button type="reset" color="danger" size="medium">Clear</ion-button>
              <ion-button  type="submit" size="medium" (click)="save()" [disabled]="!f.form.valid">Save</ion-button>
              <ion-button routerLink="/contact" color="success" type="button" size="medium">Back To List</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>