<ion-content>
  <div class="main-content">

      <ion-grid>
        <ion-row>
          <ion-col size-lg="3" size-md="6" size-sm="6" size-xs="12">
            <ion-item lines="none">
              <ion-avatar slot="end">
                <!-- <img src="assets/img/user.png" /> -->
                <ion-icon name="people-outline"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h2>Voter Data</h2>
                <h3>25896</h3>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size-lg="3" size-md="6" size-sm="6" size-xs="12">
            <ion-item lines="none">
              <ion-avatar slot="end">
                <!-- <img src="assets/img/user.png" /> -->
                <ion-icon name="man-outline"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h2>Male</h2>
                <h3>13784</h3>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size-lg="3" size-md="6" size-sm="6" size-xs="12">
            <ion-item lines="none">
              <ion-avatar slot="end">
                <!-- <img src="assets/img/user.png" /> -->
                <ion-icon name="woman-outline"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h2>Female</h2>
                <h3>12112</h3>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size-lg="3" size-md="6" size-sm="6" size-xs="12">
            <ion-item lines="none">
              <ion-avatar slot="end">
                <!-- <img src="assets/img/user.png" /> -->
                <ion-icon name="phone-portrait-outline"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h2>Matched Data</h2>
                <h3>13082</h3>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size-lg="3" size-md="6" size-sm="6" size-xs="12">
            <ion-item lines="none">
              <ion-avatar slot="end">
                <!-- <img src="assets/img/user.png" /> -->
                <ion-icon name="phone-portrait-outline"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h2>Mobile No. Count</h2>
                <h3>17900</h3>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size-lg="3" size-md="6" size-sm="6" size-xs="12">
            <ion-item lines="none">
              <ion-avatar slot="end">
                <!-- <img src="assets/img/user.png" /> -->
                <ion-icon name="clipboard-outline"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h2>Survey Done</h2>
                <h3>6</h3>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</ion-content>