table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  ion-grid { margin-top: 20px; }
  
  ion-item { box-shadow: 0 0 10px rgb(232 234 237 / 50%); }

  ion-label h3 { color: #f55e91 ; font-weight: 600; }

  ion-label h2 { color: #428bca; font-weight: 500; }

  ion-avatar ion-icon { background: #ecf3f9; padding: 10px; border-radius: 50%; font-size: 18px; }