

<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="primary" auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title> पत्रकार सूची </ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="search()">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid class="web header">
      <ion-row>
        <ion-col size-xs="12" size-sm="6">
          <ion-card-header>
            <ion-card-title>पत्रकार सूची <span> ( 1 ) </span></ion-card-title>
            <div class="headerLine"></div>
          </ion-card-header>
        </ion-col>
        <ion-col size-xs="12" size-sm="6" class="ion-text-right">
          <ion-button class="button-download" color="primary" routerLink="/journalist/add-journalist"><ion-icon name="add-circle-sharp"></ion-icon>Journalist</ion-button>
          <ion-button class="button-download" fill="outline" color="primary" ><ion-icon name="refresh-circle-sharp"></ion-icon>Refresh</ion-button>
          <!-- <ion-button class="button-download" fill="outline" color="danger" (click)="downloadPDF()"><ion-icon name="cloud-download-sharp"></ion-icon>PDF</ion-button> -->
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="topForm">
      <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
        <ion-row>
          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>  माध्यम  </ion-label>
              <ion-select name="Mode" [(ngModel)]="Mode" placeholder="Select" interface="popover" class="form-control" required>
                <ion-select-option class="select_option" value="वृत्तपत्र"> वृत्तपत्र</ion-select-option>
                <ion-select-option class="select_option" value=" वृत्तवाहिनी"> वृत्तवाहिनी</ion-select-option>
                <ion-select-option class="select_option" value=" साप्ताहिक"> साप्ताहिक</ion-select-option>
                <ion-select-option class="select_option" value=" मासिक"> मासिक</ion-select-option>
                <ion-select-option class="select_option" value=" युट्यूब वाहिनी"> युट्यूब वाहिनी</ion-select-option>
                <ion-select-option class="select_option" value=" बेव पोर्टल"> बेव पोर्टल</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>  माध्यमाचे नाव    </ion-label>
              <ion-select name="ModeName" [(ngModel)]="ModeName" placeholder="Select" interface="popover" class="form-control" >
                <ion-select-option class="select_option" value="v1"> माध्यमाचे नाव   1</ion-select-option>
                <ion-select-option class="select_option" value="v2"> माध्यमाचे नाव   2 </ion-select-option>
              </ion-select>
          </ion-col>
          
          
          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>    मोबाइल क्रमांक  </ion-label>
              <ion-input name="Mobile" [(ngModel)]="Mobile" class="form-control"></ion-input>
          </ion-col>
          <ion-col size-xl="3" size-lg="3" size-md="3" size-sm="6" size-xs="12">
              <ion-button class="searchBtn" type="submit" (click)="presentLoading()" [disabled]="!f.form.valid">Search</ion-button>
              <ion-button type="reset" (click)="resetForm()" class="searchBtn" color="danger">Clear</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>


    <ion-card>
      <ion-card-content>
        <div class="headSection">
          <div class="search">
            <ion-searchbar [(ngModel)]="searchWeb" animated="true"></ion-searchbar>
          </div>
          <ion-button class="button-download" color="success" (click)="exportExcel()">
            <ion-icon name="document-sharp"></ion-icon>Excel
          </ion-button>
        </div>
        <div class="horizontal-scroll">
          <table id="table11" #epltable>
            <thead>
              <tr>
                <th style="width: 40px;">
                  अ.क्र			
                </th>
                <th>
                  संपूर्ण नाव	
                </th>
                <th>
                  माध्यम	
                </th>
                <th>
                  माध्यमाचे नाव			
                </th>
                <th>
                  मोबाईल क्रमांक	
                </th>
                <th>
                  मोबाईल क्रमांक (व्हॉट्सअँप )	
                </th>
                
                <th id="element-to-hide" data-html2canvas-ignore="true">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>
                  <span>rahul gaikwad</span>
                </td>
                <td>TV</td>
                <td>Zee News</td>
                <td>9158490455</td>
                <td>9158490455</td>
                
                <td id="element-to-hide" data-html2canvas-ignore="true">
                  <ion-button routerLink="/journalist/edit-journalist" color="success" size="small"><ion-icon name="pencil-sharp"></ion-icon></ion-button>
                  <ion-button color="danger" size="small" (click)="deleteJournalist()"><ion-icon name="trash-sharp"></ion-icon></ion-button>
                </td>
              </tr>
              
            </tbody>
          </table>
          <pagination-controls (pageChange)="cp = $event"></pagination-controls>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
						
<ion-fab horizontal="end" vertical="bottom" slot="fixed" routerLink="/journalist/add-journalist">
  <ion-fab-button color="primary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>