

<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title> Appointments </ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="search()">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
  
    <div class="web">
      <ion-grid class="header">
        <ion-row>
          <ion-col size-xs="12" size-sm="6" class="webBack">
            <div class="flex">
                <ion-card-header>
                    <ion-card-title>
                      Appointments
                    </ion-card-title>
                    <div class="headerLine"></div>
                  </ion-card-header>
            </div>
        </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="12">
          
            <ion-row *ngFor="let item of apmCount">
              <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="6" >
                <ion-list class="survey-list" routerLink="/appointment/all-appointments">
                    <ion-item lines="none">
                      <ion-label class="contact">
                          
                          <div>
                            <h3> All Appointments </h3>
                            <h4> {{item.totalAppointment}} </h4>
                          </div>
                          <i class="icofont icofont-search-document"></i>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="6" >
                <ion-list class="survey-list" routerLink="/appointment/add-appointment">
                    <ion-item lines="none">
                      <ion-label>
                        <div class="contact">
                          
                          <div>
                            <h3>  Add Appointment </h3>
                            <h4> - </h4>
                          </div>
                          <i class="icofont icofont-ui-clock"></i>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="6" >
                <ion-list class="survey-list" routerLink="/appointment/today-appointment">
                    <ion-item lines="none">
                      <ion-label>
                        <!-- <img src="assets/img/contact-book.png" alt="" class="brightness"> -->
                        <div class="contact">
                          
                          <div>
                            <h3> Today's  </h3>
                            <h4> {{item.todayAppointment}} </h4>
                          </div>
                          <i class="icofont icofont-contact-add"></i>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>
      
              <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="6" >
                <ion-list class="survey-list" routerLink="/approved-appointment">
                  <ion-item lines="none">
                      <ion-label>
                        <div class="contact">
                          <!-- <img src="assets/img/cake.png" alt=""> -->
                          
                          <div>
                            <h3>  Approved </h3>
                            <h4> {{item.approved}} </h4>
                          </div>
                          <i class="icofont icofont-ui-check"></i>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>
              <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="6" > 
                <ion-list class="survey-list" routerLink="/approved-appointment/rejected">
                  <ion-item lines="none" >
                      <ion-label>
                        <!-- <img src="assets/img/anniversary.png" alt=""> -->
                        <div class="contact">
                          
                          <div>
                            <h3> Rejected </h3>
                            <h4> {{item.rejected}} </h4>
                          </div>
                          <i class="icofont icofont-ui-close"></i>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="6">
                <ion-list class="survey-list" routerLink="/appointment/appointment-byDate">
                  <ion-item lines="none">
                      <ion-label>
                        <!-- <img src="assets/img/anniversary.png" alt=""> -->
                        <div class="contact">
                          
                          <div>
                            <h3> Report by Date </h3>
                            <h4> - </h4>
                          </div>
                          <i class="icofont icofont-calendar"></i>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="6">
                <ion-list class="survey-list" routerLink="/appointment/appointment-adminwise">
                  <ion-item lines="none">
                      <ion-label>
                        <!-- <img src="assets/img/anniversary.png" alt=""> -->
                        <div class="contact">
                          
                          <div>
                            <h3>  Adminwise </h3>
                            <h4> - </h4>
                          </div>
                          <i class="icofont icofont-ui-user-group"></i>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <ion-grid class="android">
      <ion-searchbar *ngIf="isShow" [(ngModel)]="searchMob" animated="true"></ion-searchbar>
      <ion-list>
        <ion-item-sliding>
          <ion-item lines="none">
            <ion-label>
              <div class="firstLine">
                <h3 class="text-capitalize">
                  Sagar Manaji Salunkhe
                </h3>
              </div>
              <div class="details">
                <p> 9158490455 </p>
                <p> 2023-04-24 10AM</p>
              </div>
              <div class="Select">
                <select placeholder="Select" class="form-control-sm">
                  <option value="" selected>Select</option>
                  <option value="Approved">Approve</option>
                  <option value="Rejected">Reject</option>
                  <option value="Reschedule">Reschedule</option>
                </select>
              </div>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-grid> -->
  </div>
</ion-content>
						
<!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed" routerLink="/appointment/add-appointment">
  <ion-fab-button color="primary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab> -->