<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button (click)="goBack()" defaultHref=""></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title> {{'Lists' | translate}} </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid class="web header">
      <ion-row>
        <ion-col size-xs="12" size-sm="6">
          <ion-card-header>
            <ion-card-title class="header1">{{'Search' | translate}} </ion-card-title>
            <div class="headerLine"></div>
          </ion-card-header>
        </ion-col>
        <ion-col size-xs="12" size-sm="6" class="ion-text-right">
          <!-- <ion-button class="button-download" fill="outline" color="success" >
            <ion-icon name="document-sharp"></ion-icon>Excel
          </ion-button>
          <ion-button class="button-download" fill="outline" color="danger" >
            <ion-icon name="cloud-download-sharp"></ion-icon>PDF
          </ion-button>
           -->
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="web">
      <ion-row *ngFor="let item of voterCount">
        <ion-col size-xs="12" size-sm="12" size-md="12">
          
            <ion-row >
              <ion-col size-lg="2" size-md="4" size-sm="4" size-xs="6" >
                <ion-list class="survey-list" >
                    <ion-item lines="none">
                      <ion-label class="contact">
                          
                          <div>
                            <h3> Total Voters </h3>
                            <h4> {{item.totalVoter}} </h4>
                          </div>
                          <i class="icofont icofont-list"></i>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-lg="2" size-md="4" size-sm="4" size-xs="6" >
                <ion-list class="survey-list" routerLink="/voterdata-management/import-voter">
                    <ion-item lines="none">
                      <ion-label>
                        <div class="contact">
                          
                          <div>
                            <h3> Upload Voters </h3>
                            <h4> - </h4>
                          </div>
                          <i class="icofont icofont-ui-file"></i>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-lg="2" size-md="4" size-sm="4" size-xs="6" >
                <ion-list class="survey-list" routerLink="/list/modern-way">
                    <ion-item lines="none">
                      <ion-label>
                        <div class="contact">
                          <div>
                            <h3> {{'Advance Search' | translate}} </h3>
                            <h4> </h4>
                          </div>
                          <i class="icofont icofont-search-document"></i>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>
      
              <ion-col size-lg="2" size-md="4" size-sm="4" size-xs="6" >
                <ion-list class="survey-list" routerLink="/list/by-village">
                  <ion-item lines="none">
                      <ion-label>
                        <div class="contact">
                          <div>
                            <h3> {{'By Village' | translate}} </h3>
                            <h4> {{item.noOfVillage}} </h4>
                          </div>
                          <i class="icofont icofont-location-pin"></i>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-lg="2" size-md="4" size-sm="4" size-xs="6" > 
                <ion-list class="survey-list" routerLink="/list/by-address">
                  <ion-item lines="none" >
                      <ion-label>
                        <div class="contact">
                          <div>
                            <h3>  {{'By Address' | translate}} </h3>
                            <h4> {{item.addressCount}} </h4>
                          </div>
                          <i class="icofont icofont-location-pin"></i>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-lg="2" size-md="4" size-sm="4" size-xs="6" > 
                <ion-list class="survey-list" routerLink="/list/by-surname">
                  <ion-item lines="none" >
                      <ion-label>
                        <div class="contact">
                          <div>
                            <h3>  {{'By Surname' | translate}} </h3>
                            <h4> {{item.latNameCount}} </h4>
                          </div>
                          <i class="icofont icofont-businessman"></i>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-lg="2" size-md="4" size-sm="4" size-xs="6" > 
                <ion-list class="survey-list" routerLink="/list/by-cast">
                  <ion-item lines="none" >
                      <ion-label>
                        <div class="contact">
                          <div>
                            <h3> {{'By Caste' | translate}} </h3>
                            <h4> {{item.noOfCaste}} </h4>
                          </div>
                          <i class="icofont icofont-businessman"></i>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-lg="2" size-md="4" size-sm="4" size-xs="6" > 
                <ion-list class="survey-list" routerLink="/list/by-booth">
                  <ion-item lines="none" >
                      <ion-label>
                        <div class="contact">
                          <div>
                            <h3> {{'By Part No.' | translate}} </h3>
                            <h4> {{item.noOfPartNo}} </h4>
                          </div>
                          <i class="icofont icofont-location-pin"></i>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-lg="2" size-md="4" size-sm="4" size-xs="6" > 
                <ion-list class="survey-list" routerLink="/list/agewise-list">
                  <ion-item lines="none" >
                      <ion-label>
                        <div class="contact">
                          <div>
                            <h3> {{'By Age' | translate}} </h3>
                            <h4> </h4>
                          </div>
                          <i class="icofont icofont-ui-user-group"></i>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-lg="2" size-md="4" size-sm="4" size-xs="6" > 
                <ion-list class="survey-list" routerLink="/list/mobile-list">
                  <ion-item lines="none" >
                      <ion-label>
                        <div class="contact">
                          <div>
                            <h3>{{'Mobile No. List' | translate}} </h3>
                            <h4> {{item.mobileNoCount}} </h4>
                          </div>
                          <i class="icofont icofont-ui-contact-list"></i>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-lg="2" size-md="4" size-sm="4" size-xs="6" > 
                <ion-list class="survey-list" routerLink="/mobile-match/matched-List">
                  <ion-item lines="none" >
                      <ion-label>
                        <div class="contact">
                          <div>
                            <h3> Mobile  Match</h3>
                            <h4> {{item.totalMobileMatch}} </h4>
                          </div>
                          <i class="icofont icofont-smart-phone"></i>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-lg="2" size-md="4" size-sm="4" size-xs="6" > 
                <ion-list class="survey-list">
                  <ion-item lines="none" >
                      <ion-label>
                        <div class="contact">
                          <div>
                            <h3> Slip Report </h3>
                            <h4> </h4>
                          </div>
                          <i class="icofont icofont-print"></i>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-lg="2" size-md="4" size-sm="4" size-xs="6" > 
                <ion-list class="survey-list" routerLink="/list/voted-list">
                  <ion-item lines="none" >
                      <ion-label>
                        <div class="contact">
                          <div>
                            <h3> {{'Voted' | translate}} </h3>
                            <h4> {{item.votedCount}} </h4>
                          </div>
                          <i class="icofont icofont-thumbs-up"></i>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-lg="2" size-md="4" size-sm="4" size-xs="6" > 
                <ion-list class="survey-list" routerLink="/list/imp-voter">
                  <ion-item lines="none" >
                      <ion-label>
                        <div class="contact">
                          <div>
                            <h3> {{'Imp. Voters' | translate}} </h3>
                            <h4> {{item.starVoterCount}} </h4>
                          </div>
                          <i class="icofont icofont-star"></i>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-lg="2" size-md="4" size-sm="4" size-xs="6" > 
                <ion-list class="survey-list" routerLink="/list/by-color">
                  <ion-item lines="none" >
                      <ion-label>
                        <div class="contact">
                          <div>
                            <h3> {{'By Color' | translate}} </h3>
                            <h4> {{totalCount}} </h4>
                          </div>
                          <i class="icofont icofont-chart-pie-alt"></i>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-lg="2" size-md="4" size-sm="4" size-xs="6" > 
                <ion-list class="survey-list" routerLink="/list/by-death">
                  <ion-item lines="none" >
                      <ion-label>
                        <div class="contact">
                          <div>
                            <h3> {{'Dead' | translate}} </h3>
                            <h4> {{item.deathCount}} </h4>
                          </div>
                          <i class="icofont icofont-businessman"></i>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-lg="2" size-md="4" size-sm="4" size-xs="6" > 
                <ion-list class="survey-list" routerLink="/list/by-profession">
                  <ion-item lines="none" >
                      <ion-label>
                        <div class="contact">
                          <div>
                            <h3>  {{'By Occupation' | translate}} </h3>
                            <h4> {{item.noOfProfessional}} </h4>
                          </div>
                          <i class="icofont icofont-businessman"></i>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

              <ion-col size-lg="2" size-md="4" size-sm="4" size-xs="6" > 
                <ion-list class="survey-list" routerLink="/list/by-society">
                  <ion-item lines="none" >
                      <ion-label>
                        <div class="contact">
                          <div>
                            <h3> {{'By Society' | translate}} </h3>
                            <h4> {{item.noOfSociety}} </h4>
                          </div>
                          <i class="icofont icofont-building"></i>
                        </div>
                      </ion-label>
                    </ion-item>
                </ion-list>
              </ion-col>

            </ion-row>
            
          </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <ion-grid class="web">
      <ion-row>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced" >
            <ion-item lines="none" >
              <ion-label>
                <h3> Total Voters</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced" routerLink="/voterdata-management/import-voter">
            <ion-item lines="none" >
              <ion-label>
                <h3> Upload Voter</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced" routerLink="/list/modern-way">
            <ion-item lines="none" >
              <ion-label>
                <h3> {{'Advance Search' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced" routerLink="/list/by-village">
            <ion-item lines="none" >
              <ion-label>
                <h3> {{'By Village' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced" routerLink="/list/by-address">
            <ion-item lines="none" >
              <ion-label>
                <h3> {{'By Address' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced" routerLink="/list/by-surname">
            <ion-item lines="none" >
              <ion-label>
                <h3> {{'By Surname' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced" routerLink="/list/by-cast">
            <ion-item lines="none" >
              <ion-label>
                <h3> {{'By Caste' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced" routerLink="/list/by-booth">
            <ion-item lines="none" >
              <ion-label>
                <h3> {{'By Part No.' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced" routerLink="/list/agewise-list">
            <ion-item lines="none" >
              <ion-label>
                <h3> {{'By Age' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced" routerLink="/list/mobile-list">
            <ion-item lines="none" >
              <ion-label>
                <h3> {{'Mobile No. List' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced">
            <ion-item lines="none">
              <ion-label>
                <h3> {{'Slip Report' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced" routerLink="/list/voted-list">
            <ion-item lines="none">
              <ion-label>
                <h3> {{'Voted' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced" routerLink="/list/imp-voter">
            <ion-item lines="none">
              <ion-label>
                <h3> {{'Imp. Voters' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced" routerLink="/list/by-color">
            <ion-item lines="none">
              <ion-label>
                <h3>{{'By Color' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced" routerLink="/list/by-death">
            <ion-item lines="none">
              <ion-label>
                <h3> {{'Dead' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced" routerLink="/list/by-profession">
            <ion-item lines="none">
              <ion-label>
                <h3>  {{'By Occupation / Profession' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced" routerLink="/list/by-society">
            <ion-item lines="none">
              <ion-label>
                <h3>{{'By Society' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid> -->

    <ion-grid class="android lists">
      <ion-row>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced">
            <ion-item lines="none" routerLink="/list/modern-way">
              <ion-label>
                <!-- <i class="icofont icofont-search-job"></i> -->
                <h3> {{'Advance Search' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced">
            <ion-item lines="none" routerLink="/list/by-village">

              <ion-label>
                <!-- <i class="icofont icofont-location-pin"></i> -->
                <h3> {{'By Village' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced">
            <ion-item lines="none" routerLink="/list/by-address">
              <ion-label>
                <!-- <i class="icofont icofont-location-pin"></i> -->
                <h3> {{'By Address' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          
          <ion-list class="advanced">
            <ion-item lines="none" routerLink="/list/by-surname">
              <ion-label>
                <!-- <i class="icofont icofont-user-male"></i> -->
                <h3> {{'By Surname' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced">
            <ion-item lines="none" routerLink="/list/by-cast">
              <ion-label>
                <!-- <i class="icofont icofont-user-male"></i> -->
                <h3> {{'By Caste' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced">
            <ion-item lines="none" routerLink="/list/by-booth">
              <ion-label>
                <!-- <i class="icofont icofont-building-alt"></i> -->
                <h3> {{'By Part No.' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced">
            <ion-item lines="none" routerLink="/list/agewise-list">
              <ion-label>
                <!-- <i class="icofont icofont-user-male"></i> -->
                <h3> {{'By Age' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced">
            <ion-item lines="none" routerLink="/list/mobile-list">
              <ion-label>
                <!-- <i class="icofont icofont-smart-phone"></i> -->
                <h3> {{'Mobile No. List' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced" routerLink="/list/by-slip">
            <ion-item lines="none">
              <ion-label>
                <!-- <i class="icofont icofont-print"></i> -->
                <h3> {{'Slip Report' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced" routerLink="/list/voted-list">
            <ion-item lines="none">
              <ion-label>
                <!-- <i class="icofont icofont-user-male"></i> -->
                <h3> {{'Voted' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced" routerLink="/list/imp-voter">
            <ion-item lines="none">
              <ion-label>
                <!-- <i class="icofont icofont-star"></i> -->
                <h3> {{'Imp. Voters' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced" routerLink="/list/by-color">
            <ion-item lines="none">
              <ion-label>
                <!-- <i class="icofont icofont-star"></i> -->
                <h3>{{'By Color' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced" routerLink="/list/by-death">
            <ion-item lines="none">
              <ion-label>
                <!-- <i class="icofont icofont-star"></i> -->
                <h3> {{'Dead' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>

          <ion-list class="advanced" routerLink="/list/by-profession">
            <ion-item lines="none">
              <ion-label>
                <h3>  {{'By Occupation / Profession' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>

          <ion-list class="advanced" routerLink="/list/by-society">
            <ion-item lines="none">
              <ion-label>
                <h3> {{'By Society' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>

          <!-- <ion-list class="advanced" >
            <ion-item lines="none">
              <ion-label>
                <h3> By Occupation / Profession</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced" >
            <ion-item lines="none">
              <ion-label>
                <h3>By Education</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced" >
            <ion-item lines="none">
              <ion-label>
                <h3>By Zone</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced" >
            <ion-item lines="none">
              <ion-label>
                <h3>By Family</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced" >
            <ion-item lines="none">
              <ion-label>
                <h3>Only Mobile No.</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced" >
            <ion-item lines="none">
              <ion-label>
                <h3>By Society</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced" >
            <ion-item lines="none">
              <ion-label>
                <h3>By Religion</h3>
              </ion-label>
            </ion-item>
          </ion-list> -->
        </ion-col>


      </ion-row>
    </ion-grid>

  </div>
</ion-content>