<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button (click)="goBack()" defaultHref=""></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title> {{'Lists' | translate}} </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid class="web header">
      <ion-row>
        <ion-col size-xs="12" size-sm="6" >
          <ion-card-header>
            <ion-card-title class="header1">{{'Search' | translate}} </ion-card-title>
            <div class="headerLine"></div>
          </ion-card-header>

        </ion-col>
        <ion-col size-xs="12" size-sm="6" class="ion-text-right">
          <!-- <ion-button class="button-download" fill="outline" color="success" >
            <ion-icon name="document-sharp"></ion-icon>Excel
          </ion-button>
          <ion-button class="button-download" fill="outline" color="danger" >
            <ion-icon name="cloud-download-sharp"></ion-icon>PDF
          </ion-button>
           -->
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="web">
      <ion-row>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced">
            <ion-item lines="none" routerLink="/list/modern-way">
              <ion-label>
                <i class="icofont icofont-search-job"></i>
                <h3> {{'Advance Search' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced">
            <ion-item lines="none" routerLink="/list/by-village">

              <ion-label>
                <i class="icofont icofont-search-job"></i>
                <h3> {{'By Village' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced">
            <ion-item lines="none" routerLink="/list/by-address">
              <ion-label>
                <i class="icofont icofont-search-job"></i>
                <h3> {{'By Address' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced">
            <ion-item lines="none" routerLink="/list/by-surname">
              <ion-label>
                <i class="icofont icofont-search-job"></i>
                <h3> {{'By Lastname' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced">
            <ion-item lines="none" routerLink="/list/by-cast">
              <ion-label>
                <i class="icofont icofont-search-job"></i>
                <h3> {{'By Caste' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced">
            <ion-item lines="none" routerLink="/list/by-booth">
              <ion-label>
                <i class="icofont icofont-search-job"></i>
                <h3> {{'By Part No.' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced">
            <ion-item lines="none" routerLink="/list/agewise-list">
              <ion-label>
                <i class="icofont icofont-search-job"></i>
                <h3> {{'By Age' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced">
            <ion-item lines="none" routerLink="/list/mobile-list">
              <ion-label>
                <i class="icofont icofont-search-job"></i>
                <h3> {{'Mobile No. List' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced">
            <ion-item lines="none">
              <ion-label>
                <i class="icofont icofont-search-job"></i>
                <h3> {{'Slip Report' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced" routerLink="/list/voted-list">
            <ion-item lines="none">
              <ion-label>
                <i class="icofont icofont-search-job"></i>
                <h3> {{'Voted' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced" routerLink="/list/imp-voter">
            <ion-item lines="none">
              <ion-label>
                <i class="icofont icofont-search-job"></i>
                <h3> {{'Imp. Voters' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced" routerLink="/list/by-color">
            <ion-item lines="none">
              <ion-label>
                <i class="icofont icofont-search-job"></i>
                <h3>{{'By Color' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced" routerLink="/list/by-death">
            <ion-item lines="none">
              <ion-label>
                <i class="icofont icofont-search-job"></i>
                <h3> {{'Dead' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced" routerLink="/list/by-profession">
            <ion-item lines="none">
              <ion-label>
                <i class="icofont icofont-search-job"></i>
                <h3> By Occupation / Profession</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced" >
            <ion-item lines="none">
              <ion-label>
                <i class="icofont icofont-search-job"></i>
                <h3>By Education</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced" >
            <ion-item lines="none">
              <ion-label>
                <i class="icofont icofont-search-job"></i>
                <h3>By Zone</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced" >
            <ion-item lines="none">
              <ion-label>
                <i class="icofont icofont-search-job"></i>
                <h3>By Family</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced"  >
            <ion-item lines="none">
              <ion-label>
                <i class="icofont icofont-search-job"></i>
                <h3>Only Mobile No.</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced" routerLink="/list/by-society">
            <ion-item lines="none">
              <ion-label>
                <i class="icofont icofont-search-job"></i>
                <h3>By Society</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced" >
            <ion-item lines="none">
              <ion-label>
                <i class="icofont icofont-search-job"></i>
                <h3>By Religion</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="android">
      <ion-row>
        <ion-col size-xs="12" size-sm="4" size-md="3" size-lg="2">
          <ion-list class="advanced">
            <ion-item lines="none" routerLink="/list/modern-way">
              <ion-label>
                <!-- <i class="icofont icofont-search-job"></i> -->
                <h3> {{'Advance Search' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced">
            <ion-item lines="none" routerLink="/list/by-village">

              <ion-label>
                <!-- <i class="icofont icofont-location-pin"></i> -->
                <h3> {{'By Village' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced">
            <ion-item lines="none" routerLink="/list/by-address">
              <ion-label>
                <!-- <i class="icofont icofont-location-pin"></i> -->
                <h3> {{'By Address' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          
          <ion-list class="advanced">
            <ion-item lines="none" routerLink="/list/by-surname">
              <ion-label>
                <!-- <i class="icofont icofont-user-male"></i> -->
                <h3> {{'By Lastname' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced">
            <ion-item lines="none" routerLink="/list/by-cast">
              <ion-label>
                <!-- <i class="icofont icofont-user-male"></i> -->
                <h3> {{'By Caste' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced">
            <ion-item lines="none" routerLink="/list/by-booth">
              <ion-label>
                <!-- <i class="icofont icofont-building-alt"></i> -->
                <h3> {{'By Part No.' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced">
            <ion-item lines="none" routerLink="/list/agewise-list">
              <ion-label>
                <!-- <i class="icofont icofont-user-male"></i> -->
                <h3> {{'By Age' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced">
            <ion-item lines="none" routerLink="/list/mobile-list">
              <ion-label>
                <!-- <i class="icofont icofont-smart-phone"></i> -->
                <h3> {{'Mobile No. List' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced">
            <ion-item lines="none">
              <ion-label>
                <!-- <i class="icofont icofont-print"></i> -->
                <h3> {{'Slip Report' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced" routerLink="/list/voted-list">
            <ion-item lines="none">
              <ion-label>
                <!-- <i class="icofont icofont-user-male"></i> -->
                <h3> {{'Voted' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced" routerLink="/list/imp-voter">
            <ion-item lines="none">
              <ion-label>
                <!-- <i class="icofont icofont-star"></i> -->
                <h3> {{'Imp. Voters' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced" routerLink="/list/by-color">
            <ion-item lines="none">
              <ion-label>
                <!-- <i class="icofont icofont-star"></i> -->
                <h3>{{'By Color' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced" routerLink="/list/by-death">
            <ion-item lines="none">
              <ion-label>
                <!-- <i class="icofont icofont-star"></i> -->
                <h3> {{'Dead' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>

          <ion-list class="advanced" routerLink="/list/by-profession">
            <ion-item lines="none">
              <ion-label>
                <h3>  {{'By Occupation / Profession' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>

          <ion-list class="advanced" routerLink="/list/by-society">
            <ion-item lines="none">
              <ion-label>
                <h3> {{'By Society' | translate}}</h3>
              </ion-label>
            </ion-item>
          </ion-list>

          <!-- <ion-list class="advanced" >
            <ion-item lines="none">
              <ion-label>
                <h3> By Occupation / Profession</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced" >
            <ion-item lines="none">
              <ion-label>
                <h3>By Education</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced" >
            <ion-item lines="none">
              <ion-label>
                <h3>By Zone</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced" >
            <ion-item lines="none">
              <ion-label>
                <h3>By Family</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced" >
            <ion-item lines="none">
              <ion-label>
                <h3>Only Mobile No.</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced" >
            <ion-item lines="none">
              <ion-label>
                <h3>By Society</h3>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="advanced" >
            <ion-item lines="none">
              <ion-label>
                <h3>By Religion</h3>
              </ion-label>
            </ion-item>
          </ion-list> -->
        </ion-col>


      </ion-row>
    </ion-grid>

  </div>
</ion-content>