<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Add User</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="main-content">
    <div class="title">
      <ion-grid>
        <ion-row>
          <ion-col size-xl="10">
            <h2>
              <strong>SMS Campaign</strong>
            </h2>
          </ion-col>
          <ion-col size-xl="2">
            <ion-button>View Balance</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-grid>
      <form #myForm="ngForm">
        <ion-row>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Campaign Name </ion-label>
            <ion-item lines="none" >
              <ion-input [(ngModel)]="subject" name="subject" ></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Route </ion-label>
            <ion-item lines="none">
              <ion-select name="Route" [(ngModel)]="Route" placeholder="Select" [interfaceOptions]="RouteHeader">
                <ion-select-option value="Route 1"> Route 1</ion-select-option>
                <ion-select-option value="Route 2"> Route 2</ion-select-option>
                <ion-select-option value="Route 3"> Route 3</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Sender ID </ion-label>
            <ion-item lines="none">
              <ion-select name="SenderID" [(ngModel)]="SenderID" placeholder="Select" [interfaceOptions]="SenderIDHeader">
                <ion-select-option value="Sender ID 1"> Sender ID 1</ion-select-option>
                <ion-select-option value="Sender ID 2"> Sender ID 2</ion-select-option>
                <ion-select-option value="Sender ID 3"> Sender ID 3</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-radio-group allow-empty-selection value="anchovies" name="radio2" [(ngModel)]="radio2">
            
              <ion-item lines="none">
                <ion-label>Mobile Data</ion-label>
                <ion-radio slot="start" value="Mobile Data"></ion-radio>
              </ion-item>
  
              <ion-item lines="none">
                <ion-label>Voter Data </ion-label>
                <ion-radio slot="start" value="Voter Data "></ion-radio>
              </ion-item>
  
            </ion-radio-group>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label>Select MobileData Group </ion-label>
            <ion-item lines="none">
              <ion-select name="Group" [(ngModel)]="Group" placeholder="Select" [interfaceOptions]="GroupDHeader">
                <ion-select-option value="Group 1"> Group 1</ion-select-option>
                <ion-select-option value="Group 2"> Group 2</ion-select-option>
                <ion-select-option value="Group 3"> Group 3</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <div class="checkbox">
              <ion-checkbox size="small"></ion-checkbox>
              <ion-label class="pl-2">All Mobile Data </ion-label>
            </div>
          </ion-col>

          <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <ion-label> Enter Numbers (Extras Other than List Selected) <span> Count : 0 + 0 </span>   </ion-label>
            <p>(Note: Please Enter Numbers Separated by Commas or New line)</p>
            <ion-item lines="none">
              <ion-textarea name="Numbers" [(ngModel)]="Numbers" rows="2"></ion-textarea>
            </ion-item>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label>Select SMS Template </ion-label>
            <ion-item lines="none">
              <ion-select name="Template" [(ngModel)]="Template" placeholder="Please Select" [interfaceOptions]="TemplateHeader" >
                <ion-select-option value="Template 1"> Template 1</ion-select-option>
                <ion-select-option value="Template 2"> Template 2</ion-select-option>
                <ion-select-option value="Template 3"> Template 3</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <div class="checkbox">
              <ion-checkbox></ion-checkbox>
              <ion-label class="pl-2">Is Unicode</ion-label>
            </div>
          </ion-col>

          <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <ion-label> SMS Content  1 SMS (160) Characters left </ion-label>
            <ion-item lines="none">
              <ion-textarea name="Characters" [(ngModel)]="Characters" rows="2"></ion-textarea>
            </ion-item>
          </ion-col>
          
          <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <div class="ion-text-center">
              <ion-button type="reset" (click)="resetForm()" color="danger" size="medium">Clear</ion-button>
              <ion-button [disabled]="!myForm.form.valid"  type="submit" size="medium" (click)="presentLoading()">Send SMS</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>