

<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="primary" defaultHref="/home/mobile-dashboard"></ion-back-button>
      </ion-buttons>
      <ion-title> User Request </ion-title>
      <ion-buttons slot="primary">
        <ion-button>
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid class="web header">
      <ion-row>
        <ion-col>
          <ion-card-header>
            <ion-card-title>User Request <span> ( 1 ) </span></ion-card-title>
            <div class="headerLine"></div>
          </ion-card-header>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="topForm">
      <form #myForm1="ngForm">
        <ion-row>
          <ion-col size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>  Table Name  </ion-label>
              <ion-input name="tableName" [(ngModel)]="tableName" class="form-control"></ion-input>
          </ion-col>
          <ion-col size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>  Status  </ion-label>
              <ion-select name="Status" [(ngModel)]="Status" placeholder="Select" interface="popover" class="form-control"  required>
                <ion-select-option value="Pending" class="select_option"> Pending</ion-select-option>
                <ion-select-option value="Approved" class="select_option"> Approved</ion-select-option>
                <ion-select-option value="Rejected" class="select_option"> Rejected</ion-select-option>
              </ion-select>
          </ion-col>
          
          <ion-col size-lg="3" size-md="4" size-sm="6" size-xs="12">
              <ion-button class="searchBtn" type="submit" (click)="presentLoading()">Search</ion-button>
              <ion-button type="reset" (click)="resetForm()" class="searchBtn" color="danger">Clear</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>

    <ion-card>
      <ion-card-content>
        
        <div class="horizontal-scroll">
          <table class="table" id="table11" #epltable>
            <thead>
              <tr>
                <th>Sr. No.</th>
                <th >
                  Request Type				
                </th>
                <th>
                  Table Name		
                </th>
                <th>
                  DateTime		
                </th>
                <th id="element-to-hide" data-html2canvas-ignore="true">
                  Action
                </th>
                <th>
                  Status		
                </th>
                
                
                <th id="element-to-hide" data-html2canvas-ignore="true">
                  File
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Export </td>
                <td>
                  <span>बैठक नोंदी</span>
                </td>
                <td>11/1/2022 08:54:43 PM</td>
                <td id="element-to-hide" data-html2canvas-ignore="true">
                  <ion-select name="Status" [(ngModel)]="Status" placeholder="Select" interface="popover" class="form-control"  required>
                    <ion-select-option value="Approve" class="select_option"> Approve</ion-select-option>
                    <ion-select-option value="Rejecte" class="select_option"> Rejecte</ion-select-option>
                  </ion-select>
                </td>
                <td>
                  <a class="inprogress">Pending</a>
                </td>
                
                <td id="element-to-hide" data-html2canvas-ignore="true">
                  
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Export </td>
                <td>
                  <span>बैठक नोंदी</span>
                </td>
                <td>11/1/2022 08:54:43 PM</td>
                <td id="element-to-hide" data-html2canvas-ignore="true">
                  <ion-select name="Status" [(ngModel)]="Status" placeholder="Select" interface="popover" class="form-control"  required>
                    <ion-select-option value="Approve" class="select_option"> Approve</ion-select-option>
                    <ion-select-option value="Rejecte" class="select_option"> Rejecte</ion-select-option>
                  </ion-select>
                </td>
                <td>
                  <a class="approved">Approved</a>
                </td>
                
                <td id="element-to-hide" data-html2canvas-ignore="true">
                  <i class="icofont icofont-download-alt"></i>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>Export </td>
                <td>
                  <span>बैठक नोंदी</span>
                </td>
                <td>11/1/2022 08:54:43 PM</td>
                <td id="element-to-hide" data-html2canvas-ignore="true">
                  <ion-select name="Status" [(ngModel)]="Status" placeholder="Select" interface="popover" class="form-control"  required>
                    <ion-select-option value="Approve" class="select_option"> Approve</ion-select-option>
                    <ion-select-option value="Rejecte" class="select_option"> Rejecte</ion-select-option>
                  </ion-select>
                </td>
                <td>
                  <a class="rejected">Rejected</a>
                </td>
                
                <td id="element-to-hide" data-html2canvas-ignore="true">
                  
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
						