<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Add User</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button (click)="goBack()"></ion-back-button>
      </ion-buttons>
      <ion-title> Add Voter  </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid>
      <ion-row>
        <ion-text class="form-header pl-10">
          Add Voter 
        </ion-text>
      </ion-row>
      <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
        <ion-row>
          <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Assembly </ion-label>
              <ng-select name="District" [(ngModel)]="addVoterModal.Assembly" 
                  #Assembly="ngModel" placeholder="Select Assembly">
                    <ng-option *ngFor="let item of assemblyList" [value]="item.assemblyName">
                      {{item.assemblyNo}} {{item.assemblyName}}
                    </ng-option>
                </ng-select>
          </ion-col>

          <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Part No. <span>*</span></ion-label>
            <ion-input  maxlength="4" (keypress)="keyPressNumbers($event)" name="partNo" [(ngModel)]="addVoterModal.PartNo" class="form-control" required></ion-input>
              <!-- <ion-select type="number" name="partNo" [(ngModel)]="addVoterModal.PartNo" placeholder="Select" interface="popover" class="form-control">
                <ion-select-option class="select_option" value="Part No. 1"> Part No. 1</ion-select-option>
                <ion-select-option class="select_option" value="Part No. 2">Part No. 2</ion-select-option>
              </ion-select> -->
          </ion-col>

          <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Voter Sr. No. </ion-label>
            <ion-input maxlength="10" (keypress)="keyPressNumbers($event)" name="voterSrNo" [(ngModel)]="addVoterModal.voterSrNo" class="form-control"></ion-input>
              <!-- <ion-select type="number" name="partNo" [(ngModel)]="addVoterModal.PartNo" placeholder="Select" interface="popover" class="form-control">
                <ion-select-option class="select_option" value="Part No. 1"> Part No. 1</ion-select-option>
                <ion-select-option class="select_option" value="Part No. 2">Part No. 2</ion-select-option>
              </ion-select> -->
          </ion-col>

          <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label>Full Name <span>*</span> </ion-label>
              <ion-input maxlength="50" [(ngModel)]="addVoterModal.FullName" name="FullName" (keypress)="onKeyPress($event)" class="form-control text-capitalize" required></ion-input>
          </ion-col>

          <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> DOB  </ion-label>
            <ion-input
              value="{{ BirthDate | date: 'yyyy-MM-dd' }}"
              id="BirthDate"
              class="form-control"
              name="BirthDate"
              [(ngModel)]="addVoterModal.BirthDate"
              (keypress)="keyPressNumbers($event)"
              (keypress)="onKeyPress($event)"
            ></ion-input>
            
            <ion-modal trigger="BirthDate" size="cover" [canDismiss]="canDismiss" 
            [backdropDismiss]="false">
              <ng-template>
                <ion-datetime
                max={{maxDate}}
                  presentation="date"
                  [(ngModel)]="BirthDate"
                  name="BirthDate"
                  (click)="cal_Age()"
                  show-default-buttons="true"
                >
                <span slot="title"> {{ year }} </span>
              </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>

          <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Age </ion-label>
              <ion-input [(ngModel)]="addVoterModal.Age" name="Age" (keypress)="keyPressNumbers($event)" maxlength="3" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Gender </ion-label>
              <ng-select name="Gender" [(ngModel)]="addVoterModal.Gender"  placeholder="Select">
                <ng-option value="M">Male </ng-option>
                <ng-option value="F">Female </ng-option>
             </ng-select>
          </ion-col>

          <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> House No. </ion-label>
              <ion-input maxlength="6" [(ngModel)]="addVoterModal.HouseNo" name="House" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Voter ID. <span>*</span></ion-label>
              <ion-input (keypress)="omit_special_char($event)" maxlength="10" minlength="10" [(ngModel)]="addVoterModal.VotingCardNo" name="votingCard" class="form-control text-uppercase" required></ion-input>
          </ion-col>


          <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Mobile No. </ion-label>
              <ion-input [(ngModel)]="addVoterModal.MobileNo" name="Mobile" minlength="10" maxlength="12" (keypress)="keyPressNumbers($event)" class="form-control"></ion-input>
          </ion-col>

          

          <!-- <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Caste</ion-label>
              <ion-select name="Caste" [(ngModel)]="addVoterModal.Caste" placeholder="Select" interface="popover" class="form-control">
                <ion-select-option class="select_option" value="Baniya"> Baniya</ion-select-option>
                <ion-select-option class="select_option" value="Banjara"> Banjara</ion-select-option>
                <ion-select-option class="select_option" value="Bari"> Bari</ion-select-option>
                <ion-select-option class="select_option" value="Berad"> Berad</ion-select-option>
                <ion-select-option class="select_option" value="Bhoi"> Bhoi</ion-select-option>
                <ion-select-option class="select_option" value="Brahman"> Brahman</ion-select-option>
                <ion-select-option class="select_option" value="Buddha"> Buddha</ion-select-option>
                <ion-select-option class="select_option" value="Burud"> Burud</ion-select-option>
                <ion-select-option class="select_option" value="Chambhar"> Chambhar</ion-select-option>
                <ion-select-option class="select_option" value="Christian"> Christian</ion-select-option>
                <ion-select-option class="select_option" value="Dhangar"> Dhangar</ion-select-option>
                <ion-select-option class="select_option" value="Dhiwar"> Dhiwar</ion-select-option>
                <ion-select-option class="select_option" value="Dhobi"> Dhobi</ion-select-option>
                <ion-select-option class="select_option" value="Chambhar"> Chambhar</ion-select-option>
                <ion-select-option class="select_option" value="Dombari"> Dombari</ion-select-option>
                <ion-select-option class="select_option" value="Gandali"> Gandali</ion-select-option>
                <ion-select-option class="select_option" value="Gavali"> Gavali</ion-select-option>
                <ion-select-option class="select_option" value="Golkar"> Golkar</ion-select-option>
                <ion-select-option class="select_option" value="Gond"> Gond</ion-select-option>
                <ion-select-option class="select_option" value="Gondhali"> Gondhali</ion-select-option>
                <ion-select-option class="select_option" value="Gosavi"> Gosavi</ion-select-option>
                <ion-select-option class="select_option" value="Govind"> Govind</ion-select-option>
                <ion-select-option class="select_option" value="Gowari"> Gowari</ion-select-option>
                <ion-select-option class="select_option" value="Gujrati"> Gujrati</ion-select-option>
                <ion-select-option class="select_option" value="Gurav"> Gurav</ion-select-option>
                <ion-select-option class="select_option" value="Hanber"> Hanber</ion-select-option>
                <ion-select-option class="select_option" value="Holar"> Holar</ion-select-option>
                <ion-select-option class="select_option" value="Gujrati"> Gujrati</ion-select-option>
                <ion-select-option class="select_option" value="Holi"> Holi</ion-select-option>
                <ion-select-option class="select_option" value="Jain"> Jain</ion-select-option>
                <ion-select-option class="select_option" value="Kaikadi"> Kaikadi</ion-select-option>
                <ion-select-option class="select_option" value="Kalar"> Kalar</ion-select-option>
                <ion-select-option class="select_option" value="Karvi"> Karvi</ion-select-option>
                <ion-select-option class="select_option" value="Kohali"> Kohali</ion-select-option>
                <ion-select-option class="select_option" value="Kolam"> Kolam</ion-select-option>
                <ion-select-option class="select_option" value="Koli"> Koli</ion-select-option>
                <ion-select-option class="select_option" value="Konkani"> Konkani</ion-select-option>
                <ion-select-option class="select_option" value="Korku"> Korku</ion-select-option>
                <ion-select-option class="select_option" value="Koshti"> Koshti</ion-select-option>
                <ion-select-option class="select_option" value="Kunbi"> Kunbi</ion-select-option>
                <ion-select-option class="select_option" value="Laman"> Laman</ion-select-option>
                <ion-select-option class="select_option" value="Lingayat"> Lingayat</ion-select-option>
                <ion-select-option class="select_option" value="Koshti"> Koshti</ion-select-option>
                <ion-select-option class="select_option" value="Mali"> Mali</ion-select-option>
                <ion-select-option class="select_option" value="Maratha"> Maratha</ion-select-option>
                <ion-select-option class="select_option" value="Muslim"> Muslim</ion-select-option>
                <ion-select-option class="select_option" value="Other"> Other</ion-select-option>
                <ion-select-option class="select_option" value="Panchal"> Panchal</ion-select-option>
                <ion-select-option class="select_option" value="Pardeshi"> Pardeshi</ion-select-option>
                <ion-select-option class="select_option" value="Pardi"> Pardi</ion-select-option>
                <ion-select-option class="select_option" value="Parit"> Parit</ion-select-option>
                <ion-select-option class="select_option" value="Pathan"> Pathan</ion-select-option>
                <ion-select-option class="select_option" value="Pawar"> Pawar</ion-select-option>
                <ion-select-option class="select_option" value="Pinjara"> Pinjara</ion-select-option>
                <ion-select-option class="select_option" value="Powar"> Powar</ion-select-option>
                <ion-select-option class="select_option" value="Pradhan"> Pradhan</ion-select-option>
                <ion-select-option class="select_option" value="Rajastani"> Rajastani</ion-select-option>
                <ion-select-option class="select_option" value="Rajput"> Rajput</ion-select-option>
                <ion-select-option class="select_option" value="Ramoshi"> Ramoshi</ion-select-option>
                <ion-select-option class="select_option" value="Sayed"> Sayed</ion-select-option>
                <ion-select-option class="select_option" value="SC"> SC</ion-select-option>
                <ion-select-option class="select_option" value="Shetty"> Shetty</ion-select-option>
                <ion-select-option class="select_option" value="Sikaghar"> Sikaghar</ion-select-option>
                <ion-select-option class="select_option" value="Shimpi"> Shimpi</ion-select-option>
                <ion-select-option class="select_option" value="Sikh"> Sikh</ion-select-option>
                <ion-select-option class="select_option" value="Sindhi"> Sindhi</ion-select-option>
                <ion-select-option class="select_option" value="Sonar"> Sonar</ion-select-option>
                <ion-select-option class="select_option" value="ST"> ST</ion-select-option>
                <ion-select-option class="select_option" value="Sutar"> Sutar</ion-select-option>
                <ion-select-option class="select_option" value="Teli"> Teli</ion-select-option>
                <ion-select-option class="select_option" value="Valmiki"> Valmiki</ion-select-option>
                <ion-select-option class="select_option" value="Vani"> Vani</ion-select-option>
                <ion-select-option class="select_option" value="Wadar"> Wadar</ion-select-option>
                <ion-select-option class="select_option" value="Wadhi"> Wadhi</ion-select-option>
                <ion-select-option class="select_option" value="Wami"> Wami</ion-select-option>
                <ion-select-option class="select_option" value="Wanjari"> Wanjari</ion-select-option>
                <ion-select-option class="select_option" value="Wathi"> Wathi</ion-select-option>
              </ion-select>
          </ion-col> -->

          <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Caste </ion-label>
              <ng-select name="Caste"  [(ngModel)]="addVoterModal.Caste" (change)="selected($event)"
                   placeholder="Select Caste">
                    <ng-option *ngFor="let item of casteList" [value]="item.casteName">
                      {{ item.casteName }}
                    </ng-option>
                </ng-select>
          </ion-col>

          <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> District  </ion-label>
              <!-- <ion-select 
                idlDefault
                name="District" 
                [(ngModel)]="addVoterModal.DistrictId" 
                (ionChange)="getTaluka(addVoterModal.DistrictId)" 
                placeholder="Select"  
                class="form-control"
              >
                <ion-select-option class="select_option" *ngFor="let item of districtList" [value]="item.dId">
                  {{ item.districtName }}
                </ion-select-option>
              </ion-select> -->
              <ng-select name="District" [(ngModel)]="addVoterModal.DistrictId" 
                  (change)="getTaluka(addVoterModal.DistrictId)"
                  #District="ngModel" placeholder="Select District">
                    <ng-option *ngFor="let item of districtList" [value]="item.dId">
                      {{ item.districtName }}
                    </ng-option>
                </ng-select>
          </ion-col>

          
          <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Taluka  </ion-label>
              <!-- <ion-select
                idlDefault 
                name="Taluka" 
                [(ngModel)]="addVoterModal.Taluka" 
                placeholder="Select"  
                class="form-control"
              >
                <ion-select-option class="select_option" *ngFor="let item of talukaList" [value]="item.talukaName">
                  {{ item.talukaName }}
                </ion-select-option>
              </ion-select> -->
              <ng-select name="Taluka" [(ngModel)]="addVoterModal.Taluka" #Taluka="ngModel" placeholder="Select Taluka">
                <ng-option *ngFor="let item of talukaList" [value]="item.talukaName">
                  {{ item.talukaName }}
                </ng-option>
             </ng-select>
          </ion-col>

          

          <!-- <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Ward </ion-label>
              <ng-select name="Ward" [(ngModel)]="addVoterModal.Ward" #Ward="ngModel" placeholder="Select Ward">
                <ng-option *ngFor="let item of wardList" [value]="item.wardName">
                  {{item.wardName}}
                </ng-option>
             </ng-select>
          </ion-col> -->

          <!-- <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Booth </ion-label>
              <ng-select name="Booth" [(ngModel)]="addVoterModal.Booth" #Booth="ngModel" placeholder="Select Booth">
                <ng-option *ngFor="let item of boothList" [value]="item.boothName">
                  {{item.boothName}}
                </ng-option>
             </ng-select>
          </ion-col> -->

          <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Village </ion-label>
              <ion-input (keypress)="onKeyPress($event)" (keypress)="omit_special_char($event)" maxlength="30" [(ngModel)]="addVoterModal.Village" name="Village" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Pin Code </ion-label>
              <ion-input [(ngModel)]="addVoterModal.Pincode" name="pinCode" maxlength="6" (keypress)="keyPressNumbers($event)" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Address  </ion-label>
              <ion-input maxlength="160" [(ngModel)]="addVoterModal.Address" name="Address" class="form-control"></ion-input>
          </ion-col>

          <!-- <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Whatsapp No. </ion-label>
              <ion-input [(ngModel)]="Whatsapp" name="Whatsapp" maxlength="10" (keypress)="keyPressNumbers($event)" class="form-control"></ion-input>
          </ion-col> -->

          <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Email </ion-label>
              <ion-input type="email" maxlength="60" pattern="^[^ ]+@[^ ]+\.[a-z]{2,6}$" [(ngModel)]="addVoterModal.Email" name="Email" class="form-control"></ion-input>
          </ion-col>

          <!-- <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Marital Status </ion-label>
              <ion-select name="Marital" [(ngModel)]="Marital" placeholder="Select" interface="popover" class="form-control">
                <ion-select-option value="Married" class="select_option"> Married</ion-select-option>
                <ion-select-option value="Unmarried" class="select_option"> Unmarried</ion-select-option>
                <ion-select-option value="Divorced" class="select_option"> Divorced</ion-select-option>
              </ion-select>
          </ion-col> -->

          

          <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Is Family Head </ion-label>
              <ng-select name="FamilyHead" [(ngModel)]="addVoterModal.FamilyHead" placeholder="Select">
                    <ng-option value="Y">Yes </ng-option>
                    <ng-option value="N">No </ng-option>
                 </ng-select>
          </ion-col>

          <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Is Suspicious </ion-label>
              <ng-select name="Suspicious" [(ngModel)]="addVoterModal.IsSuspisious" placeholder="Select">
                <ng-option value="Y">Yes </ng-option>
                <ng-option value="N">No </ng-option>
             </ng-select>
          </ion-col>

          <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Is Out Station </ion-label>
              <ng-select name="Station" [(ngModel)]="addVoterModal.IsOutStation" placeholder="Select">
                <ng-option value="Y">Yes </ng-option>
                <ng-option value="N">No </ng-option>
             </ng-select>
          </ion-col>

          <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Is Alive </ion-label>
              <ng-select name="AliveDead" [(ngModel)]="addVoterModal.IsAlive"  placeholder="Select">
                <ng-option value="Y">Yes </ng-option>
                <ng-option value="N">No </ng-option>
             </ng-select>
          </ion-col>

          <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Occupation </ion-label>
            <ion-input (keypress)="onKeyPress($event)" maxlength="30" name="Occupation" [(ngModel)]="addVoterModal.Occupation" class="form-control"></ion-input>
              <!-- <ion-select name="Occupation" [(ngModel)]="addVoterModal.Occupation" placeholder="Select" class="form-control">
                <ion-select-option class="select_option" value="Job Person"> Job Person</ion-select-option>
                <ion-select-option class="select_option" value="Business"> Business</ion-select-option>
                <ion-select-option class="select_option" value="Engineer"> Engineer</ion-select-option>
                <ion-select-option class="select_option" value="Doctor"> Doctor</ion-select-option>
                <ion-select-option class="select_option" value="Housewife"> Housewife</ion-select-option>
                <ion-select-option class="select_option" value="Lawyer"> Lawyer</ion-select-option>
                <ion-select-option class="select_option" value="Other"> Other</ion-select-option>
              </ion-select> -->
          </ion-col>

          <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Karyakarta </ion-label>
            <ion-input (keypress)="onKeyPress($event)" maxlength="30" name="Karyakarta" [(ngModel)]="addVoterModal.PartyWorker" class="form-control"></ion-input>
              <!-- <ion-select name="Karyakarta" [(ngModel)]="addVoterModal.PartyWorker" placeholder="Select" interface="popover" class="form-control">
                <ion-select-option class="select_option" value="Karyakarta 1"> Karyakarta 1</ion-select-option>
                <ion-select-option class="select_option" value="Karyakarta 2"> Karyakarta 2</ion-select-option>
              </ion-select> -->
          </ion-col>

          <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Voting inclination</ion-label>
              <ng-select name="Inclination" [(ngModel)]="addVoterModal.VotingInclination" placeholder="Select">
                <ng-option value="Supporter">Supporter </ng-option>
                <ng-option value="Opponent">Opponent </ng-option>
                <ng-option value="Neutral">Neutral </ng-option>
                <ng-option value="Special">Special </ng-option>
             </ng-select>
          </ion-col>
          
          <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label>Political Party </ion-label>
              <ng-select name="Party" 
              [(ngModel)]="addVoterModal.PoliticalParty"  placeholder="Select">
                <ng-option value="BJP">BJP </ng-option>
                <ng-option value="NCP">NCP </ng-option>
                <ng-option value="Congress">Congress </ng-option>
                <ng-option value="Shivsena">Shivsena </ng-option>
                <ng-option value="RPI">RPI </ng-option>
                <ng-option value="RSP">RSP </ng-option>
                <ng-option value="BSP">BSP </ng-option>
                <ng-option value="Other">Other </ng-option>
             </ng-select>
          </ion-col>

          <!-- <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Created Date  </ion-label>
            <ion-input
              value="{{ CreatedDate | date: 'yyyy-MM-dd' }}"
              id="CreatedDate"
              class="form-control"
              name="CreatedDate"
              [(ngModel)]="addVoterModal.CreatedDate" 
              
            ></ion-input>
            
            <ion-modal trigger="CreatedDate" size="cover">
              <ng-template>
                <ion-datetime
                  presentation="date"
                  [(ngModel)]="CreatedDate"
                  name="CreatedDate"
                  
                >
                <span slot="title"> {{ year }} </span>
              </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col> -->
          
          <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <div class="ion-text-center">
              <ion-button type="reset" (click)="resetForm()" color="danger" size="medium">Clear</ion-button>
              <ion-button [disabled]="!f.form.valid"  type="submit" size="medium" (click)="addVoter()">Save</ion-button>
              <ion-button color="success" type="button" size="medium" (click)="goBack()">Back To List</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>