

<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="primary" defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>SMS Setting</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid>
      <ion-row>
        <ion-text class="form-header">
          <ion-icon name="add-circle-sharp" class="pr-1"></ion-icon>SMS Setting
        </ion-text>
      </ion-row>
      <form name="smsForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <ion-row>
          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12" >
            <ion-label>  URL </ion-label>
              <ion-input name="url" [(ngModel)]="smsModel.url" #url="ngModel" [ngClass]="{'is-invalid': f.submitted && url.invalid}" class="form-control"></ion-input>
              <div *ngIf="f.submitted && url.invalid" class="invalid-feedback">
                <div *ngIf="url.errors.required">
                   url is required
                </div>
              </div>
          </ion-col>

          
          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Username <span>*</span> </ion-label>
              <ion-input name="Username" [(ngModel)]="smsModel.Username" #Username="ngModel" [ngClass]="{'is-invalid': f.submitted && Username.invalid}" class="form-control" ></ion-input>
              <div *ngIf="f.submitted && Username.invalid" class="invalid-feedback">
                <div *ngIf="Username.errors.required">
                  Village is required
                </div>
              </div>
          </ion-col>


          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
            <ion-label>Password <span>*</span></ion-label>
            <ion-input [type]="ismyTextFieldType ? 'text' : 'password'" name="Password" [(ngModel)]="smsModel.Password" #Password="ngModel" [ngClass]="{'is-invalid': f.submitted && Password.invalid}" class="form-control"></ion-input>
            <div *ngIf="f.submitted && Password.invalid" class="invalid-feedback">
              <div *ngIf="Password.errors.required">
                Password is required
              </div>
            </div>
            <ion-icon (click)="togglemyPasswordFieldType()" [name]="ismyTextFieldType ? 'eye-off' : 'eye'">
            </ion-icon>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
            <ion-label> SenderID <span>*</span> </ion-label>
              <ion-input maxlength="10" (keypress)="keyPressNumbers($event)" name="SenderID" [(ngModel)]="smsModel.SenderID" #SenderID="ngModel" [ngClass]="{'is-invalid': f.submitted && SenderID.invalid}" class="form-control" ></ion-input>
              <div *ngIf="f.submitted && SenderID.invalid" class="invalid-feedback">
                <div *ngIf="SenderID.errors.required">
                  SenderID is required
                </div>
              </div>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
            <ion-label>  SMS Type <span>*</span></ion-label>
              <ion-select placeholder="Please Select" interface="popover" name="smsType" [(ngModel)]="smsModel.smsType" #smsType="ngModel" [ngClass]="{'is-invalid': f.submitted && smsType.invalid}" class="form-control">
                <ion-select-option value="0" class="select_option">0 </ion-select-option>
                <ion-select-option value="8" class="select_option">8  </ion-select-option>
              </ion-select>
              <div *ngIf="f.submitted && smsType.invalid" class="invalid-feedback">
                <div *ngIf="smsType.errors.required">
                  SmsType is required
                </div>
              </div>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
            <ion-label> TemplateID <span>*</span> </ion-label>
              <ion-input name="TemplateID" [(ngModel)]="smsModel.TemplateID" #TemplateID="ngModel" [ngClass]="{'is-invalid': f.submitted && TemplateID.invalid}" class="form-control" ></ion-input>
              <div *ngIf="f.submitted && TemplateID.invalid" class="invalid-feedback">
                <div *ngIf="TemplateID.errors.required">
                  TemplateID is required
                </div>
              </div>
          </ion-col>

          <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12" *ngFor="let template of templates;let i = index">
            <ion-label>  Template<span>*</span>  </ion-label>
              <ion-textarea name="Template_{{template.id}}" [(ngModel)]="template.Template" #Template="ngModel" [ngClass]="{'is-invalid': f.submitted && Template.invalid}" class="form-control" required></ion-textarea>
              <div *ngIf="f.submitted && Template.invalid" class="invalid-feedback">
                <div *ngIf="Template.errors.required">
                  Template is required
                </div>
              </div>
              <div class="d-flex labels">
                <ion-label (click)="addTemplate()"><strong> Add Template </strong></ion-label>
                <ion-label (click)="removeTemplate(i)"><strong> Remove Template </strong></ion-label>
              </div>
          </ion-col>


          <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <ion-label> Api  </ion-label>
              <ion-input name="Api" [(ngModel)]="smsModel.Api" #Api="ngModel" [ngClass]="{'is-invalid': f.submitted && Api.invalid}" class="form-control"></ion-input>
              <div *ngIf="f.submitted && Api.invalid" class="invalid-feedback">
                <div *ngIf="Api.errors.required">
                  Api is required
                </div>
              </div>
          </ion-col> 
          
          <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <div class="ion-text-center">
              <ion-button type="reset" color="danger" size="medium">Clear</ion-button>
              <ion-button type="submit" size="medium">Save</ion-button>
              <ion-button routerLink="/setting" color="success" type="button" size="medium">Back To List</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>