<ion-content>
    <ion-header class="android">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title> Reports </ion-title>
        <ion-buttons slot="primary">
          <ion-button (click)="search()">
            <ion-icon name="search-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <div class="main-content">
  
      <div class="web">
        <ion-grid class="header">
          <ion-row>
            <ion-col size-xs="12" size-sm="6">
              <div class="flex">
                <ion-icon (click)="goBack()" name="arrow-back-circle-sharp"></ion-icon>
                <ion-card-header>
                  <ion-card-title>Reports By Date, <span>Total - </span></ion-card-title>
                  <div class="headerLine"></div>
                </ion-card-header>
              </div>
            </ion-col>
            <!-- <ion-col size-xs="12" size-sm="6" class="ion-text-right">
                <ion-button class="button-download" color="primary" routerLink="/appointment/add-appointment"><ion-icon name="add-circle-sharp"></ion-icon>Add Appointment</ion-button>
                <ion-button class="button-download" fill="outline" routerLink="/appointment/today-appointment" color="primary" ><ion-icon name="refresh-circle-sharp"></ion-icon>Today's Appointments</ion-button>
              </ion-col> -->
          </ion-row>
        </ion-grid>
      </div>
  
  
      <ion-grid class="topForm">
        <form (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
          <ion-row>
            <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
                <ion-label> Status </ion-label>
                <ng-select name="status" [(ngModel)]="searchModal.Status"
                  placeholder="Select">
                  <ng-option value=""> All </ng-option>
                  <ng-option value="Completed"> Completed </ng-option>
                  <ng-option value="Pending"> Pending </ng-option>
                </ng-select>
              </ion-col>
            <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
              <ion-label> From Date <span>*</span> </ion-label>
              <ion-input value="{{ StartDate | date: 'yyyy-MM-dd' }}" id="StartDate" name="StartDate"
                [(ngModel)]="searchModal.StartDate" class="form-control" required>
              </ion-input>
              
  
              <ion-modal trigger="StartDate" size="cover" [canDismiss]="canDismiss" [backdropDismiss]="false">
                <ng-template>
                  <ion-datetime presentation="date" [(ngModel)]="StartDate" name="StartDate" show-default-buttons="true">
                    <span slot="title"> {{ year }} </span>
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-col>
  
            <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
              <ion-label> To Date </ion-label>
              <ion-input value="{{ EndDate | date: 'yyyy-MM-dd' }}" id="EndDate" name="EndDate"
              [(ngModel)]="searchModal.EndDate" class="form-control">
              </ion-input>
  
              <ion-modal trigger="EndDate" size="cover" [canDismiss]="canDismiss" [backdropDismiss]="false">
                <ng-template>
                  <ion-datetime presentation="date" [(ngModel)]="EndDate" name="EndDate" show-default-buttons="true">
                    <span slot="title"> {{ year }} </span>
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-col>
  
            
  
            <ion-col size-xl="3" size-lg="3" size-md="4" size-sm="6" size-xs="12" class="mt-1">
              <ion-button class="searchBtn" type="submit" [disabled]="!f.form.valid" (click)="datewiseLetter()">Search
              </ion-button>
              <ion-button type="reset" (click)="resetForm()" class="searchBtn" color="danger">Clear
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-grid>
  
      <ion-card class="web">
        <ion-card-content>
          <div class="headSection">
            <div class="search">
              <ion-searchbar animated="true"></ion-searchbar>
            </div>
            <div class="btns">
              <ion-button class="button-download" color="success" (click)="exportExcel()">
                <ion-icon name="document-sharp"></ion-icon>Excel
              </ion-button>
              <ion-button class="button-download" color="success" (click)="exportToCSV()">
                <ion-icon name="document-sharp"></ion-icon>CSV
              </ion-button>
            </div>
          </div>
          <div class="horizontal-scroll">
            <table id="userAdminTable" #epltable class="table">
                <thead>
                  <tr>

                    <th rowspan="2">
                      Sr.No.
                    </th>
                    <th rowspan="2">
                      Case No.
                    </th>
                    <th rowspan="2">
                       Name
                    </th>
                    <th rowspan="2">
                      Mobile
                    </th>
                    <th rowspan="2">
                      Subject
                    </th>

                    <th rowspan="2">
                      Refference
                    </th>
                    <th rowspan="2">
                      Village
                    </th>
                    <th rowspan="2">
                      Date
                    </th>
                    <th rowspan="2">
                        Status
                    </th>
                    <th colspan="5">
                      Work Done
                     </th>
                  </tr>
                  <tr>
                    <th>Completed</th>
                    <th>Pending</th>
                    <th>To Other Dept.</th>
                    <th>Department Name</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <tr *ngFor="let item of letterByDate | paginate:{ itemsPerPage:NoofRow, currentPage:PageNo,totalItems:totalItems} ">
                    <td>{{item.id}}</td>
                    <td>{{item.caseNo}}</td>
                    <td>{{item.letter_Request_Person}}</td>
                    <td>{{item.mobile_No}}</td>
                    <td>{{item.subject}}</td>
                    <td>{{item.refference_Name}}</td>
                    <td>{{item.village}}</td>
                    <td>{{item.letter_Submit_Date}}</td>
                    <td>
                      {{item.status}}
                    </td>
                    <td>
                      <input type="checkbox" disabled>
                    </td>
                    <td>
                      <input type="checkbox" disabled>
                   </td>
                   <td>
                    {{item.letter_Release_Date}}
                   </td>
                   <td>
                    {{item.department}}
                   </td>
                   <td class="view">
                    <ion-icon  name="eye-sharp" id="{{item.id}}" (click)="subLetter(item.id)"></ion-icon>
                  </td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="!letterByDate || letterByDate.length === 0" class="text-center">
                <p>No data available</p>
              </div>
              <pagination-controls (pageChange)="event($event)"></pagination-controls>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>