
<ion-content>
    <ion-header class="android">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/general-enquiry"></ion-back-button>
        </ion-buttons>
        <ion-title> Edit Enquiry </ion-title>
      </ion-toolbar>
    </ion-header>
    <div class="main-content">
      <ion-grid>
        <ion-row>
          <ion-text class="form-header">
            <ion-icon name="add-circle-outline" class="pr-1"></ion-icon>Edit Enquiry
          </ion-text>
        </ion-row>
        <form (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
          <ion-row>
            <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12">
                <div class="flex">
                  <ion-label> Type of Work <span>*</span> </ion-label>
                  <!-- <ion-icon id="work" name="add-outline"></ion-icon> -->
                </div>
                <ng-select 
                  name="Work" 
                  [(ngModel)]="enquiryModal.typeofWork"
                  placeholder="Select"
                  disabled
                  required
                  >
                  <ng-option *ngFor="let item of workList" [value]="item.workName"> 
                    {{item.workName}}
                  </ng-option>
               </ng-select>
               
              </ion-col>

              <ion-popover trigger="work" triggerAction="click" [canDismiss]="canDismiss" 
              [backdropDismiss]="false">
                <ng-template>
                    <form (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
                        <ion-grid>
                            <ion-row>
                                <ion-col size="12">
                                    <ion-input 
                                      maxlength="50" 
                                      name="work" 
                                      [(ngModel)]="workModal.WorkName"
                                      placeholder="Add Work" 
                                      class="form-control"
                                       required
                                       >
                                    </ion-input>
                                </ion-col>
                                <ion-col size="12" class="ion-text-center">
                                    <ion-button 
                                      color="danger" 
                                      size="small"
                                      type="reset"  
                                      (click)="DismissClick()">
                                        Cancel
                                    </ion-button>
                                    <ion-button 
                                      type="submit" 
                                      color="success" 
                                      size="small" 
                                      [disabled]="!f.form.valid"
                                      (click)="addWork();DismissClick()"
                                      >
                                        Submit
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </form>
                </ng-template>
            </ion-popover>

            <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12" *ngIf="this.enquiryModal.typeofWork == 'Aadhar Card'">
              <ion-label> Bill Book No. </ion-label>
                <ion-input (keypress)="omit_special_char($event)" maxlength="20" name="billBookNo" [(ngModel)]="enquiryModal.billBookNo" class="form-control"></ion-input>
            </ion-col>
  
            <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12"
             >
              <ion-label> Full Name   <span>*</span> </ion-label>
                <ion-input maxlength="50" name="fullName" [(ngModel)]="enquiryModal.fullName" (keypress)="onKeyPress($event)" class="form-control" required></ion-input>
            </ion-col>

            <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12" *ngIf="this.enquiryModal.typeofWork == 'RTE Form'">
                <ion-label> Full Name Parent  </ion-label>
                  <ion-input maxlength="50" name="FullNameParent" [(ngModel)]="enquiryModal.fullNameParent" (keypress)="onKeyPress($event)"  class="form-control"></ion-input>
              </ion-col>

              <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12" *ngIf="this.enquiryModal.typeofWork == 'RTE Form'">
                <ion-label> Full Name Student   </ion-label>
                  <ion-input maxlength="50" (keypress)="onKeyPress($event)"  [(ngModel)]="enquiryModal.fullNameStudent" name="FullNameStudent"  class="form-control"></ion-input>
              </ion-col>
  
            <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12">
              <ion-label position="floating"> Mobile No.  <span>*</span> </ion-label>
                <ion-input 
                  minlength="10" 
                  maxlength="12" 
                  placeholder="10 / 12 digit no."
                  (keypress)="keyPressNumbers($event)" 
                  name="MobileNo"  
                  class="form-control"
                  [(ngModel)]="enquiryModal.mobileNo"
                  required
                  >
                </ion-input>
            </ion-col>
           
            <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12">
              <ion-label> Alternate Mobile </ion-label>
                <ion-input 
                  name="AlternateMobile" 
                  minlength="10" 
                  maxlength="12"
                  placeholder="10 / 12 digit no." 
                  (keypress)="keyPressNumbers($event)" 
                  [(ngModel)]="enquiryModal.alternateMobile"   
                  class="form-control"
                  ></ion-input>
            </ion-col>
  
            <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12">
              <ion-label> Email  </ion-label>
                <ion-input 
                  name="email" 
                  class="form-control text-lowercase"
                  pattern="^[^ ]+@[^ ]+\.[a-z]{2,6}$"
                  [(ngModel)]="enquiryModal.email"
                  maxlength="50"  
                   ></ion-input>
            </ion-col>
  
            <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="calendar">
              <ion-label> BirthDate </ion-label>
              <ion-input
                value="{{ birthDate | date: 'yyyy-MM-dd' }}"
                id="birthDate"
                class="form-control"
                name="birthDate"
                (keypress)="onKeyPress($event)"
                (keypress)="keyPressNumbers($event)" 
                [(ngModel)]="enquiryModal.birthDate" 
              ></ion-input>
              
              <ion-modal trigger="birthDate" size="cover" [canDismiss]="canDismiss" 
              [backdropDismiss]="false" >
                <ng-template>
                  <ion-datetime
                    max={{maxDate}}
                    presentation="date"
                    [(ngModel)]="birthDate" 
                    name="birthDate"
                    show-default-buttons="true"
                  >
                  <span slot="title"> {{ year }} </span>
                </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-col>
  
            <!-- <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="calendar">
              <ion-label> Anniversary </ion-label>
                <ion-input
                value="{{ anniversary | date: 'yyyy-MM-dd' }}"
                id="anniversary"
                class="form-control"
                name="anniversary" 
                [(ngModel)]="enquiryModal.anniversary" 
                (keypress)="onKeyPress($event)"
                (keypress)="keyPressNumbers($event)" 
              ></ion-input>
              <ion-modal trigger="anniversary" size="cover" [canDismiss]="canDismiss" 
              [backdropDismiss]="false" >
                <ng-template>
                  <ion-datetime
                  max={{maxDate}}
                    presentation="date"
                    name="anniversary"
                    [(ngModel)]="anniversary" 
                    show-default-buttons="true"
                  >
                  <span slot="title"> {{ year }} </span>
                </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-col> -->
  
  
            <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12" >
              <ion-label> Gender <span>*</span> </ion-label>
              <ng-select name="Gender" [(ngModel)]="enquiryModal.gender" placeholder="Select" required>
                <ng-option value="M">Male </ng-option>
                <ng-option value="F">Female </ng-option>
                <ng-option value="O">Other </ng-option>
             </ng-select>
            </ion-col>
  
            
            
  
            <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12">
              <ion-label> Flat / House No.  </ion-label>
                <ion-input 
                  maxlength="8" 
                  name="flatHouse"  
                  class="form-control"
                  [(ngModel)]="enquiryModal.flat_HouseNo"
                  (keypress)="omit_special_char($event)"  
                  ></ion-input>
            </ion-col>
  
            <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12">
              <ion-label> Society / Building Name  </ion-label>
                <ion-input 
                  maxlength="50" 
                  name="SocietyBuilding"  
                  class="form-control"
                  [(ngModel)]="enquiryModal.society_BuildingName"
                  (keypress)="omit_special_char($event)"  
                   ></ion-input>
            </ion-col>
  
            <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12" >
              <ion-label> Landmark / Locality  </ion-label>
                <ion-input maxlength="50" name="Landmark" [(ngModel)]="enquiryModal.landmark_Locality" class="form-control" ></ion-input>
            </ion-col>
  
            <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12">
              <div class="flex">
                <ion-label> Area <span>*</span>  </ion-label>
                <ion-icon id="area" name="add-outline"></ion-icon>
              </div>
              <ng-select name="Area" [(ngModel)]="enquiryModal.area"  placeholder="Select">
                <ng-option 
                  *ngFor="let item of areaList" 
                  [value]="item.areaName"> 
                  {{item.areaName}}
                </ng-option>
             </ng-select>
            </ion-col>

            <ion-popover trigger="area" triggerAction="click" [canDismiss]="canDismiss" 
            [backdropDismiss]="false">
                <ng-template>
                    <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
                        <ion-grid>
                            <ion-row>
                                <ion-col size="12">
                                    <ion-input 
                                      maxlength="50" 
                                      name="Area" 
                                      placeholder="Add Area" 
                                      class="form-control"
                                      [(ngModel)]="areaModal.AreaName"
                                       required
                                       >
                                    </ion-input>
                                </ion-col>
                                <ion-col size="12" class="ion-text-center">
                                    <ion-button 
                                      color="danger" 
                                      size="small"
                                      type="reset"  
                                      (click)="DismissClick()">
                                        Cancel
                                    </ion-button>
                                    <ion-button 
                                      type="submit" 
                                      color="success" 
                                      size="small" 
                                      (click)="addArea();DismissClick()"
                                      [disabled]="!f.form.valid">
                                        Submit
                                    </ion-button>
            
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </form>
                </ng-template>
            </ion-popover>

            
  
            <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12"
            *ngIf="this.enquiryModal.typeofWork == 'Smart Aadhar Card' "
            >
              <ion-label> Aaddhar Card Number  </ion-label>
                <ion-input 
                  name="Aaddhar" 
                  class="form-control"
                  minlength="12"
                  maxlength="12"
                  placeholder="12 digit no."
                  [(ngModel)]="enquiryModal.aaddharCardNumber"
                  (keypress)="keyPressNumbers($event)" 
                   ></ion-input>
            </ion-col>
  
            <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12"
            *ngIf="this.enquiryModal.typeofWork == 'Pan card'"
            >
              <ion-label> Acknowledgement Number</ion-label>
                <ion-input 
                  name="acnNumber"  
                  class="form-control"
                  maxlength="12"
                  minlength="12"
                  placeholder="12 digit number"
                  [(ngModel)]="enquiryModal.acknowledgementNumber"
                  (keypress)="keyPressNumbers($event)"
                   ></ion-input>
            </ion-col>
  
            <!-- <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="calendar">
              <ion-label> Submit Date </ion-label>
                <ion-input
                value="{{ submitDate | date: 'yyyy-MM-dd' }}"
                id="submitDate"
                class="form-control"
                name="submitDate" 
                [(ngModel)]="enquiryModal.SubmitDate"
                (keypress)="onKeyPress($event)"
                (keypress)="keyPressNumbers($event)" 
              ></ion-input>
              <ion-modal trigger="submitDate" size="cover" [canDismiss]="canDismiss" 
              [backdropDismiss]="false" >
                <ng-template>
                  <ion-datetime
                    max={{maxDate}}
                    [(ngModel)]="SubmitDate"
                    presentation="date"
                    name="submitDate"
                    show-default-buttons="true"
                  >
                  <span slot="title"> {{ year }} </span>
                </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-col> -->

            <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="calendar"
            *ngIf="this.enquiryModal.typeofWork == 'RTE Form' 
            || this.enquiryModal.typeofWork == 'Pandharpur Yatra'"
            >
                <ion-label> Year </ion-label>
                  <ion-input
                  value="{{ year | date: 'YYYY' }}"
                  id="year"
                  class="form-control"
                  name="year" 
                  [(ngModel)]="enquiryModal.year"
                  (keypress)="onKeyPress($event)"
                  (keypress)="keyPressNumbers($event)" 
                ></ion-input>
                <ion-modal trigger="year" size="cover" [canDismiss]="canDismiss" 
                [backdropDismiss]="false" >
                  <ng-template>
                    <ion-datetime
                      presentation="year"
                      name="year"
                      [(ngModel)]="year"
                      show-default-buttons="true"
                    >
                    <span slot="title"> {{ year }} </span>
                  </ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-col>
  
              <!-- <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12"
              *ngIf="this.enquiryModal.typeofWork == 'RTE Form' 
              || this.enquiryModal.typeofWork == 'Pandharpur Yatra'"
              >
                <ion-label> Year </ion-label>
                  <ion-input 
                    name="Year"
                    placeholder="2000"  
                    class="form-control"
                    [(ngModel)]="enquiryModal.year"
                    maxlength="4"
                     ></ion-input>
              </ion-col> -->

              <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12"
              *ngIf="this.enquiryModal.typeofWork == 'Voting Form'" 
              >
                <ion-label> Reference Id </ion-label>
                  <ion-input 
                    name="ReferenceId"  
                    class="form-control"
                    (keypress)="omit_special_char($event)"
                    [(ngModel)]="enquiryModal.referenceId"
                    maxlength="12"
                     ></ion-input>
              </ion-col>

            <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12"
            *ngIf="this.enquiryModal.typeofWork == 'Voting Form' 
            || this.enquiryModal.typeofWork == 'QRT Team' 
            || this.enquiryModal.typeofWork == 'Pandharpur Yatra'
            || this.enquiryModal.typeofWork == 'Ambulance' " 
            >
              <ion-label> Reference Name </ion-label>
                <ion-input 
                  name="Reference"  
                  class="form-control"
                  [(ngModel)]="enquiryModal.reference"
                  (keypress)="onKeyPress($event)"
                  maxlength="50"
                   ></ion-input>
            </ion-col>
  
            <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12">
              <div class="flex">
                <ion-label> Type of Form  </ion-label>
                <ion-icon id="form" name="add-outline"></ion-icon>
              </div>
              <ng-select name="form" [(ngModel)]="enquiryModal.typeofForm" placeholder="Select">
                <ng-option *ngFor="let item of formsList" [value]="item.formName">
                  {{item.formName}}
                </ng-option>
             </ng-select>
            </ion-col>

            <ion-popover trigger="form" triggerAction="click" [canDismiss]="canDismiss" 
            [backdropDismiss]="false">
                <ng-template>
                    <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
                        <ion-grid>
                            <ion-row>
                                <ion-col size="12">
                                    <ion-input 
                                      maxlength="50" 
                                      name="form" 
                                      placeholder="Add Form" 
                                      class="form-control"
                                      [(ngModel)]="formsModal.FormName"
                                      required
                                       >
                                    </ion-input>
                                </ion-col>
                                <ion-col size="12" class="ion-text-center">
                                    <ion-button 
                                      color="danger" 
                                      size="small"
                                      type="reset"  
                                      (click)="DismissClick()">
                                        Cancel
                                    </ion-button>
                                    <ion-button 
                                      type="submit" 
                                      color="success" 
                                      size="small" 
                                      [disabled]="!f.form.valid"
                                      (click)="addForm();DismissClick()"
                                      >
                                        Submit
                                    </ion-button>
            
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </form>
                </ng-template>
            </ion-popover>
  
            <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12"
            *ngIf="this.enquiryModal.typeofWork == 'Voting Form' || this.enquiryModal.typeofWork == 'Smart Voting Card'"
            >
              <ion-label> Epic No. </ion-label>
                <ion-input 
                  name="Epic"  
                  class="form-control"
                  maxlength="10"
                  [(ngModel)]="enquiryModal.epicNo"
                  (keypress)="omit_special_char($event)"  
                   ></ion-input>
            </ion-col>
  
            <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12">
              <div class="flex">
                <ion-label> Type of Complaints  </ion-label>
                <ion-icon id="complaints" name="add-outline"></ion-icon>
              </div>
              <ng-select name="Complaints" [(ngModel)]="enquiryModal.typeofComplaints" placeholder="Select">
                <ng-option *ngFor="let item of complaintList" [value]="item.complaintName"> 
                  {{item.complaintName}}
                </ng-option>
             </ng-select>
            </ion-col>

            <ion-popover trigger="complaints" triggerAction="click">
              <ng-template>
                  <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
                      <ion-grid>
                          <ion-row>
                              <ion-col size="12">
                                  <ion-input 
                                    maxlength="50" 
                                    (keypress)="omit_special_char($event)"
                                    name="Complaint" 
                                    placeholder="Add Complaint" 
                                    class="form-control"
                                    [(ngModel)]="complaintModal.ComplaintName" 
                                    required
                                    >
                                  </ion-input>
                              </ion-col>
                              <ion-col size="12" class="ion-text-center">
                                  <ion-button 
                                    color="danger" 
                                    size="small"
                                    type="reset" 
                                    (click)="DismissClick()">
                                      Cancel
                                  </ion-button>
                                  <ion-button 
                                    type="submit" 
                                    color="success" 
                                    size="small" 
                                    (click)="addComplaint();DismissClick()"
                                    [disabled]="!f.form.valid"
                                    >
                                      Submit
                                  </ion-button>
          
                              </ion-col>
                          </ion-row>
                      </ion-grid>
                  </form>
              </ng-template>
          </ion-popover>
  
            <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12">
              <ion-label> Name of Person Entering Data  </ion-label>
                <ion-input 
                  name="Person" 
                  class="form-control"
                  [(ngModel)]="enquiryModal.personEnteringData"
                  (keypress)="onKeyPress($event)"
                  maxlength="50"
                   ></ion-input>
            </ion-col>
  
            
            <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
              <div class="ion-text-center">
                <ion-button type="reset" (click)="resetForm()" color="danger" size="medium">Clear</ion-button>
                <ion-button  type="submit" size="medium" (click)="editEnquiry()" [disabled]="!f.form.valid">Update</ion-button>
                <ion-button routerLink="/general-enquiry" color="success" type="button" size="medium">Back To List</ion-button>
              </div>
            </ion-col>
            
          </ion-row>
        </form>
      </ion-grid>
    </div>
  </ion-content>
  
  