<ion-content>
  <div class="main-content">
    <ion-card>
      
      <!-- <ion-grid class="topForm">
        <form name="KaryakartaForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <ion-row>

            <ion-col size-lg="6" size-md="6" size-sm="6" size-xs="12">
              <ion-label>    Mobile Number  </ion-label>
              <div>
                <ion-input color="danger" #autofocus name="Mobile" maxlength="10"  [(ngModel)]="letterModel.Mobile" #Mobile="ngModel" [ngClass]="{'is-invalid': f.submitted && Mobile.invalid}" required></ion-input>
                <div *ngIf="f.submitted && Mobile.invalid" class="invalid-feedback">
                  <div *ngIf="Mobile.errors.required">
                    Mobile is required
                  </div>
                </div>
              </div>
            </ion-col>

            <ion-col size-lg="6" size-md="6" size-sm="6" size-xs="12">
              <ion-label>  Email ID </ion-label>
              <div>
                <ion-input name="Email" maxlength="10"  [(ngModel)]="letterModel.Email" #Email="ngModel" [ngClass]="{'is-invalid': f.submitted && Email.invalid}" required></ion-input>
                <div *ngIf="f.submitted && Email.invalid" class="invalid-feedback">
                  <div *ngIf="Email.errors.required">
                    Email is required
                  </div>
                </div>
              </div>
            </ion-col>

            <ion-col size-lg="6" size-md="6" size-sm="6" size-xs="12">
              <ion-label>    Upload Logo  </ion-label>
              <div>
                <ngx-dropzone (change)="onSelect($event)" name="File" [(ngModel)]="letterModel.files" required>
                  <ngx-dropzone-label>Drop your file here!</ngx-dropzone-label>
                  <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                  </ngx-dropzone-preview>
                </ngx-dropzone>
              </div>
            </ion-col>

            <ion-col size-lg="6" size-md="6" size-sm="6" size-xs="12">
              <ion-label> Address  </ion-label>
              <div>
                <ion-textarea rows="6" name="Address" [(ngModel)]="letterModel.Address" #Address="ngModel" [ngClass]="{'is-invalid': f.submitted && Address.invalid}" required></ion-textarea>
                <div *ngIf="f.submitted && Address.invalid" class="invalid-feedback">
                  <div *ngIf="Address.errors.required">
                    Address is required
                  </div>
                </div>
              </div>
            </ion-col>

            <ion-col size-lg="12" size-md="6" size-sm="6" size-xs="12">
              <ion-label> Description  </ion-label>
              <div>
                <ion-textarea rows="6" name="Description" [(ngModel)]="letterModel.Description" #Description="ngModel" [ngClass]="{'is-invalid': f.submitted && Description.invalid}" required></ion-textarea>
                <div *ngIf="f.submitted && Description.invalid" class="invalid-feedback">
                  <div *ngIf="Description.errors.required">
                    Description is required
                  </div>
                </div>
              </div>
            </ion-col>

            
            
            <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12" class="ion-text-center">
                <ion-button shape="round" type="submit" >Submit</ion-button>
                <ion-button shape="round" type="reset" color="danger">Clear</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-grid> -->
      
      
      <!-- <ion-card-content>
        <div class="horizontal-scroll">
          
          <table id="table6" #epltable>
            
          </table>
          
        </div>
      </ion-card-content> -->
    </ion-card>

    <ion-card class="letter">
      <ion-grid class="header">
        <ion-row>
          <ion-col size-xs="12" size-sm="5">  
            <ion-card-header>
              <ion-card-title>Letterhead </ion-card-title>
            </ion-card-header>
          </ion-col>
          <ion-col size-xs="12" size-sm="7" class="ion-text-right">
            <ion-button class="button-download" routerLink="edit-letterhead" fill="outline" color="success"><ion-icon name="pencil-sharp"></ion-icon>Edit</ion-button>
            <ion-button class="button-download" (click)="pdf()" fill="outline" color="danger"><ion-icon name="cloud-download-sharp"></ion-icon>PDF</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="letterhead" id="table6" >
        <div class="title">
          <div class="logo">
            <img src="/assets/img/letter-logo.png" alt="">
          </div>
          <div class="conDetails">
            <ul>
              <li>
                <div class="details">
                  <a style="padding-left: 102px;">+91 8600202690</a>
                  <img src="/assets/img/telephone-call.png" alt="">
                </div>
              </li>
              <div class="clearfix"> </div>
              <li>
                <div class="details">
                  <a>sagarmanajisalunkhe200@gmail.com</a>
                  <img src="/assets/img/send.png" alt="">
                </div>
              </li>
              <div class="clearfix"> </div>
              <li>
                <div class="details">
                  <a>
                    Office No. 39, C Wing,
                    4th floor, K.K. Market,
                    Balaji Nagar, Pune 411 037 Maharashtra.
                  </a>
                  <img src="/assets/img/send.png" alt="">
                </div>
              </li>
              <div class="clearfix"> </div>
            </ul>
          </div>
        </div>
        <!-- <div class="description">
          <a>
            <textarea (keyup)="autoGrowTextZone($event)" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."></textarea>
          </a>
        </div> -->
        <div class="description">
          <a>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </a>
        </div>
        <div class="description">
          <a>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </a>
        </div>
      </div>
    </ion-card>
    <ion-card>
      <iframe src="https://onedrive.live.com/embed?cid=087F8655B1E898A9&amp;resid=87F8655B1E898A9%21106&amp;authkey=AHA0KeEja_P8tm0&amp;em=2" width="100%" height="400px" frameborder="0">.</iframe>
    </ion-card>
  </div>
</ion-content>
						