

<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="primary" defaultHref="/contact"></ion-back-button>
      </ion-buttons>
      <ion-title> Add Contact </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid>
      <ion-row>
        <ion-text class="form-header">
          <ion-icon name="add-circle-outline" class="pr-1"></ion-icon>Add Contact
        </ion-text>
      </ion-row>
      <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
        <ion-row>
          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12" >
            <ion-label position="floating"> Full Name   <span>*</span> </ion-label>
              <ion-input name="FullName" [(ngModel)]="contactModal.FullName" #FullName="ngModel" [ngClass]="{'is-invalid': f.submitted && FullName.invalid}" (keypress)="onKeyPress($event)" class="text-capitalize form-control" required></ion-input>
              <div *ngIf="f.submitted && FullName.invalid" class="invalid-feedback">
                <div *ngIf="FullName.errors.required">
                  Please enter full name
                </div>
              </div>
          </ion-col>

          
          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
            <ion-label position="floating"> Village Name  <span>*</span> </ion-label>
              <ion-input name="VilageName" [(ngModel)]="contactModal.VilageName" #VilageName="ngModel" [ngClass]="{'is-invalid': f.submitted && VilageName.invalid}" class="text-capitalize form-control" required ></ion-input>
              <div *ngIf="f.submitted && VilageName.invalid" class="invalid-feedback">
                <div *ngIf="VilageName.errors.required">
                  Please enter village name
                </div>
              </div>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="calendar">
            <ion-label> BirthDate <span>*</span> </ion-label>
            <ion-input
              value="{{ BirthDate | date: 'yyyy-MM-dd' }}"
              id="BirthDate"
              class="form-control"
              name="BirthDate" 
              [(ngModel)]="contactModal.BirthDate"
              required
            ></ion-input>
            
            <ion-modal trigger="BirthDate" size="cover">
              <ng-template>
                <ion-datetime
                  max={{maxDate}}
                  presentation="date"
                  [(ngModel)]="BirthDate"
                  name="BirthDate"
                >
                <span slot="title"> {{ year }} </span>
              </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="calendar">
            <ion-label> Anniversary </ion-label>
              <ion-input
              value="{{ Anniversary | date: 'yyyy-MM-dd' }}"
              id="Anniversary"
              class="form-control"
              name="Anniversary" 
              [(ngModel)]="contactModal.Anniversary"
            ></ion-input>
            <ion-modal trigger="Anniversary" size="cover">
              <ng-template>
                <ion-datetime
                  max={{maxDate}}
                  presentation="date"
                  [(ngModel)]="Anniversary"
                  name="Anniversary"
                >
                <span slot="title"> {{ year }} </span>
              </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>


          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
            <ion-label position="floating"> Mobile No.  <span>*</span> </ion-label>
              <ion-input 
                minlength="10" 
                maxlength="10" 
                (keypress)="keyPressNumbers($event)" 
                name="MobileNo" 
                [(ngModel)]="contactModal.MobileNo" 
                #MobileNo="ngModel" 
                [ngClass]="{'is-invalid': f.submitted && MobileNo.invalid}" 
                class="form-control"
                required
                >
              </ion-input>
              <div *ngIf="f.submitted && MobileNo.invalid" class="invalid-feedback">
                <div *ngIf="MobileNo.errors.required">
                  Please enter mobile number
                </div>
                <div *ngIf="MobileNo.errors.minlength">
                  Please enter valid mobile number
                </div>
              </div>
          </ion-col>
         
          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
            <ion-label position="floating"> Alternate Mobile </ion-label>
              <ion-input maxlength="10" (keypress)="keyPressNumbers($event)" name="AlternativeMobileNo" [(ngModel)]="contactModal.AlternativeMobileNo" class="form-control" ></ion-input>
          </ion-col>

          <!-- <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
            <ion-label> District  <span>*</span></ion-label>
              <ion-select 
                idlDefault
                placeholder="Please Select" 
                name="District" 
                [(ngModel)]="contactModal.DistrictId" 
                (ionChange)="getTaluka(contactModal.DistrictId)"
                #District="ngModel" 
                [ngClass]="{'is-invalid': f.submitted && District.invalid}" 
                class="form-control"
                required
              >
                
                <ion-select-option class="select_option" *ngFor="let item of districtList" [value]="item.dId">
                  {{ item.districtName }}
                </ion-select-option>
              </ion-select>
              <div *ngIf="f.submitted && District.invalid" class="invalid-feedback">
                <div *ngIf="District.errors.required">
                  Please select district
                </div>
              </div>
          </ion-col> -->

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12" >
            <ion-label>District</ion-label>
            <ng-select name="District" [(ngModel)]="contactModal.DistrictId" 
            (change)="getTaluka(contactModal.DistrictId)"
            #District="ngModel" placeholder="Select District">
              <ng-option *ngFor="let item of districtList" [value]="item.dId">
                {{ item.districtName }}
              </ng-option>
           </ng-select>
           <div *ngIf="f.submitted && District.invalid" class="invalid-feedback">
            <div *ngIf="District.errors.required">
              Please select district
            </div>
          </div>
          </ion-col>

          

          <!-- <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
            <ion-label>  Taluka <span>*</span></ion-label>
              <ion-select
                interface="popover"
                placeholder="Please Select"  
                name="Taluka" 
                [(ngModel)]="contactModal.Taluka" 
                #Taluka="ngModel" 
                [ngClass]="{'is-invalid': f.submitted && Taluka.invalid}"
                class="form-control" 
                required
               >
                <ion-select-option class="select_option" *ngFor="let item of talukaList" [value]="item.talukaName">
                  {{item.talukaName}}
                </ion-select-option>
              </ion-select>
              <div *ngIf="f.submitted && Taluka.invalid" class="invalid-feedback">
                <div *ngIf="Taluka.errors.required">
                  Please select taluka
                </div>
              </div>
          </ion-col> -->

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
            <ion-label>Taluka</ion-label>
            <ng-select 
              name="Taluka" 
              [(ngModel)]="contactModal.Taluka" 
              #Taluka="ngModel"  
              placeholder="Select Taluka"
            >
              <ng-option 
                class="select_option"
                *ngFor="let item of talukaList" 
                [value]="item.talukaName"
              >
                {{ item.talukaName }}
              </ng-option>
           </ng-select>
           <div *ngIf="f.submitted && Taluka.invalid" class="invalid-feedback">
            <div *ngIf="Taluka.errors.required">
              Please select taluka
            </div>
          </div>
          </ion-col>

          

          <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <ion-label position="floating"> Address  <span>*</span>  </ion-label>
              <ion-textarea name="Address" [(ngModel)]="contactModal.Address" #Address="ngModel" [ngClass]="{'is-invalid': f.submitted && Address.invalid}" class="form-control" rows="3" required ></ion-textarea>
              <div *ngIf="f.submitted && Address.invalid" class="invalid-feedback">
                <div *ngIf="Address.errors.required">
                  Please enter address
                </div>
              </div>
          </ion-col> 
          
          <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <div class="ion-text-center">
              <ion-button type="reset" (click)="resetForm()" color="danger" size="medium">Clear</ion-button>
              <ion-button  type="submit" size="medium" (click)="addContact()" [disabled]="!f.form.valid" >Save</ion-button>
              <ion-button routerLink="/contact" color="success" type="button" size="medium">Back To List</ion-button>
            </div>
          </ion-col>
          
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>

