

<ion-content>
  <div class="main-content">
    <div class="banner">
      <div class="details">
        <ion-grid>
          <ion-row>
            <ion-col size-lg="3" size-md="3" size-sm="3" size-xs="5">
              <div class="profileImg">
                <img src="/assets/img/user.jpg" alt="">
              </div>
            </ion-col>
            <ion-col size-lg="6" size-md="6" size-sm="5" size-xs="7">
              <div class="name">
                <h2>Sagar Salunkhe</h2>
                <h3>Admin</h3>
              </div>
            </ion-col>
            <ion-col size-lg="3" size-md="3" size-sm="4" size-xs="12" class="ion-text-right">
              <ion-button class="text-capitalize" shape="round" routerLink="/user/edit-user">Edit</ion-button>
              <ion-button class="text-capitalize" shape="round" color="danger">Delete</ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="borderTop">
            <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
              <ion-grid>
                <ion-row>
                  <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                    <ion-text> <strong> Name : </strong> </ion-text>
                  </ion-col>
                  
                  <ion-col size-lg="9" size-md="8" size-sm="8" size-xs="8">
                    <ion-text> Sagar Salunkhe </ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                    <ion-text> <strong> Role : </strong> </ion-text>
                  </ion-col>
                  
                  <ion-col size-lg="9" size-md="8" size-sm="8" size-xs="8">
                    <ion-text> Admin </ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                    <ion-text> <strong> UserID : </strong> </ion-text>
                  </ion-col>
                  
                  <ion-col size-lg="9" size-md="8" size-sm="8" size-xs="8">
                    <ion-text> 9158490455 </ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                    <ion-text> <strong> Password : </strong> </ion-text>
                  </ion-col>
                  
                  <ion-col size-lg="9" size-md="8" size-sm="8" size-xs="8">
                    <ion-text> Sagar@123 </ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                    <ion-text> <strong> Email : </strong> </ion-text>
                  </ion-col>
                  
                  <ion-col size-lg="9" size-md="8" size-sm="8" size-xs="8">
                    <ion-text> sagarsalunkhe@gmail.com </ion-text>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12"> 
              <ion-grid>
                
                <ion-row>
                  <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                    <ion-text> <strong> State : </strong> </ion-text>
                  </ion-col>
                  
                  <ion-col size-lg="9" size-md="8" size-sm="8" size-xs="8">
                    <ion-text> Maharashtra </ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                    <ion-text> <strong> Assembly : </strong> </ion-text>
                  </ion-col>
                  
                  <ion-col size-lg="9" size-lg="9" size-md="8" size-sm="8" size-xs="8">
                    <ion-text> Hadapsar Assembly </ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                    <ion-text> <strong> Booth : </strong> </ion-text>
                  </ion-col>
                  
                  <ion-col size-lg="9" size-lg="9" size-md="8" size-sm="8" size-xs="8">
                    <ion-text></ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                    <ion-text> <strong> Candidate : </strong> </ion-text>
                  </ion-col>
                  
                  <ion-col size-lg="9"  size-lg="9" size-md="8" size-sm="8" size-xs="8">
                    <ion-text></ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                    <ion-text> <strong> Quote : </strong> </ion-text>
                  </ion-col>
                  
                  <ion-col size-lg="9" size-lg="9" size-md="8" size-sm="8" size-xs="8">
                    <ion-text></ion-text>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    
  </div>
</ion-content>