

<ion-content>
  <div class="main-content">
    <ion-card>
      <ion-grid class="header">
        <ion-row>
          <ion-col>
            <ion-card-header>
              <ion-card-title>Mobiledata Group </ion-card-title>
            </ion-card-header>
          </ion-col>
          <ion-col class="ion-text-right">
            <ion-button class="button-download" fill="outline" color="primary" routerLink="/mobiledata-group/upload-mobiledata-group"><ion-icon name="add-sharp"></ion-icon>Upload</ion-button>
            <ion-button class="button-download" fill="outline" color="success" (click)="downloadExcel()"><ion-icon name="document-sharp"></ion-icon>Excel</ion-button>
            <ion-button class="button-download" fill="outline" color="danger" (click)="downloadPDF()"><ion-icon name="cloud-download-sharp"></ion-icon>PDF</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="topForm">
        <form #myForm1="ngForm">
          <ion-row>        
            <ion-col size-lg="4" size-md="4" size-sm="6" size-xs="12">
              <ion-label> Group Name</ion-label>
              <ion-item lines="none">
                <ion-input name="GroupName" [(ngModel)]="GroupName"></ion-input>
              </ion-item>
            </ion-col>
            
            <ion-col size-lg="2" size-md="4" size-sm="6" size-xs="12">
                <ion-button shape="round" class="mt-5" type="submit">Save</ion-button>
                <ion-button shape="round" type="reset" (click)="resetForm()" class="mt-5" color="danger">Clear</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-grid>
      <ion-card-content>
        <table id="table33" #epltable>
          <thead>
            <tr>
              <th style="width: 40px;">
                अ.क्र.		
              </th>
              <th>
                Mobiledata Group
              </th>
              
              <th id="element-to-hide" data-html2canvas-ignore="true">
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>rahul gaikwad</td>
              <td id="element-to-hide" data-html2canvas-ignore="true">
                <ion-button color="danger" size="small" (click)="deleteMdataGroup()"><ion-icon name="trash-sharp"></ion-icon></ion-button>
              </td>
            </tr>
            
          </tbody>
        </table>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
						