<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Add User</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="main-content">
    <ion-grid>
      <ion-row>
        <ion-text class="form-header pl-10">
          <ion-icon name="pencil-sharp" class="pr-1"></ion-icon>पत्रकार सूची
        </ion-text>
      </ion-row>
      <form #myForm="ngForm">
        <ion-row>
          <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="6" size-xs="12">
            <ion-label> संपूर्ण नाव  <span>*</span> </ion-label>
              <ion-input [(ngModel)]="subject" name="subject" (keypress)="onKeyPress($event)" class="text-capitalize form-control" required ></ion-input>
          </ion-col>
          <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="6" size-xs="12">
            <ion-label>   जन्मदिनांक </ion-label>
            <ion-input value="{{ BirthDate | date: 'yyyy-MM-dd' }}" id="BirthDate" class="form-control" required>
            </ion-input>

            <ion-modal trigger="BirthDate" size="cover">
              <ng-template>
                <ion-datetime presentation="date" [(ngModel)]="BirthDate" name="BirthDate">
                  <span slot="title"> {{ year }} </span>
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>

          <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <ion-label position="floating"> संपूर्ण पत्ता  </ion-label>
              <ion-textarea rows="2" class="form-control"></ion-textarea>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="6" size-xs="12">
            <ion-label>  मोबाइल क्रमांक <span>*</span> </ion-label>
              <ion-input name="mobile" [(ngModel)]="mobile" maxlength="10" (keypress)="keyPressNumbers($event)" class="form-control" required></ion-input>
          </ion-col>
          <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="6" size-xs="12">
            <ion-label> मोबाइल क्रमांक (व्हॉट्सअँप ) <span>*</span>  </ion-label>
              <ion-input name="whatsapp" [(ngModel)]="whatsapp" maxlength="10" (keypress)="keyPressNumbers($event)" class="form-control" required></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="6" size-xs="12">
            <ion-label>   ईमेल   </ion-label>
              <ion-input type="email" class="form-control"></ion-input>
          </ion-col>
          
          <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="6" size-xs="12">
            <ion-label>     माध्यम  <span>*</span></ion-label>
              <ion-select placeholder="Select" interface="popover" name="mode" [(ngModel)]="mode" class="form-control" required>
                <ion-select-option class="select_option" value="वृत्तपत्र"> वृत्तपत्र</ion-select-option>
                <ion-select-option class="select_option" value=" वृत्तवाहिनी"> वृत्तवाहिनी</ion-select-option>
                <ion-select-option class="select_option" value=" साप्ताहिक"> साप्ताहिक</ion-select-option>
                <ion-select-option class="select_option" value=" मासिक"> मासिक</ion-select-option>
                <ion-select-option class="select_option" value=" युट्यूब वाहिनी"> युट्यूब वाहिनी</ion-select-option>
                <ion-select-option class="select_option" value=" वेब पोर्टल"> वेब पोर्टल</ion-select-option>
              </ion-select>
          </ion-col>
          <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="6" size-xs="12">
            <ion-label>   माध्यमाचे नाव  <span>*</span></ion-label>
              <ion-select placeholder="Select" interface="popover" required name="modeType" [(ngModel)]="modeType" class="form-control" required>
                <ion-select-option class="select_option" value="v1"> माध्यमाचे नाव   1</ion-select-option>
                <ion-select-option class="select_option" value="v2"> माध्यमाचे नाव   2 </ion-select-option>
              </ion-select>
          </ion-col>
          <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="6" size-xs="12">
            <ion-label>Verified  </ion-label>
            <ion-radio-group allow-empty-selection value="anchovies" name="radio" [(ngModel)]="radio">
              <div class="radio">
                <ion-item lines="none">
                  <ion-radio slot="start" value="हो"></ion-radio>
                  <ion-label>हो</ion-label>
                </ion-item>
    
                <ion-item lines="none">
                  <ion-radio slot="start" value="नाही"></ion-radio>
                  <ion-label>नाही </ion-label>
                </ion-item>
              </div>
            </ion-radio-group>
          </ion-col>
          
          <ion-col size-lg="12" size-md="12" size-sm="6" size-xs="12">
            <div class="ion-text-center">
              <ion-button type="reset" (click)="resetForm()" color="danger" size="medium">Clear</ion-button>
              <ion-button [disabled]="!myForm.form.valid"  type="submit" size="medium">Save</ion-button>
              <ion-button routerLink="/journalist" color="success" type="button" size="medium">Back To List</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>