

<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="primary" auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title> Daily News </ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="search()">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid class="web header">
      <ion-row>
        <ion-col size-xs="12" size-sm="6">
          <ion-card-header>
            <ion-card-title>Daily News, Total - {{totalItems}}</ion-card-title>
            <div class="headerLine"></div>
          </ion-card-header>
        </ion-col>
        <ion-col size-xs="12" size-sm="6" class="ion-text-right">
          <ion-button class="button-download" routerLink="/daily-news/add-daily-news" color="primary">
            News <ion-icon name="add-sharp"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <ion-grid class="topForm">
      <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
        <ion-row>
          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>  माध्यम  </ion-label>
              <ion-select name="Mode" [(ngModel)]="Mode" placeholder="Select" interface="popover" class="form-control" required>
                <ion-select-option class="select_option" value="वृत्तपत्र"> वृत्तपत्र</ion-select-option>
                <ion-select-option class="select_option" value=" वृत्तवाहिनी"> वृत्तवाहिनी</ion-select-option>
                <ion-select-option class="select_option" value=" साप्ताहिक"> साप्ताहिक</ion-select-option>
                <ion-select-option class="select_option" value=" मासिक"> मासिक</ion-select-option>
                <ion-select-option class="select_option" value=" युट्यूब वाहिनी"> युट्यूब वाहिनी</ion-select-option>
                <ion-select-option class="select_option" value=" बेव पोर्टल"> बेव पोर्टल</ion-select-option>
              </ion-select>
          </ion-col>

          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>  माध्यमाचे नाव    </ion-label>
              <ion-select name="ModeName" [(ngModel)]="ModeName" placeholder="Select" class="form-control" interface="popover">
                <ion-select-option value="v1" class="select_option" > माध्यमाचे नाव   1</ion-select-option>
                <ion-select-option value="v2" class="select_option" > माध्यमाचे नाव   2 </ion-select-option>
              </ion-select>
          </ion-col>
          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>   पत्रकार    </ion-label>
              <ion-input name="Journalist" [(ngModel)]="Journalist" class="form-control"></ion-input>
          </ion-col>
          
          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>दिनांक </ion-label>
            <ion-input 
              value="{{ BirthDate | date: 'yyyy-MM-dd' }}" 
              id="BirthDate" 
              class="form-control" 
              required>
            </ion-input>

            <ion-modal trigger="BirthDate" size="cover">
              <ng-template>
                <ion-datetime 
                  presentation="date" 
                  [(ngModel)]="BirthDate" 
                  name="BirthDate">
                  <span slot="title"> {{ year }} </span>
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>
          <ion-col size-xl="2" size-lg="3" size-md="4" size-sm="6" size-xs="12">
            <div class="checkbox">
              <ion-checkbox name="Against" [(ngModel)]="Against"></ion-checkbox>
              <ion-label>  विरोधात  </ion-label>
            </div>
            <div class="checkbox ml-3">
              <ion-checkbox name="Other" [(ngModel)]="Other" ></ion-checkbox>
              <ion-label>  इतर  </ion-label>
            </div>
          </ion-col>
          
          <ion-col size-xl="2" size-lg="3" size-md="4" size-sm="6" size-xs="12">
              <ion-button class="searchBtn" type="submit" [disabled]="!f.form.valid">Search</ion-button>
              <ion-button type="reset" class="searchBtn" color="danger">Clear</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid> -->

    <ion-card>
      <ion-card-content>
        <div class="headSection">
          <div class="search">
            <ion-searchbar (keyup)="keyPress($event.target.value)" (change)="onSearchChange($event.target.value)" animated="true"></ion-searchbar>
          </div>
          <!-- <ion-button class="button-download" color="success" (click)="exportExcel()">
            <ion-icon name="document-sharp"></ion-icon>Excel
          </ion-button> -->
        </div>
        <div class="horizontal-scroll">
          <table id="table10" #epltable class="table">
            <thead>
              <tr>
                
                <th style="width: 40px;">
                  Sr.No.				
                </th>
                <th>
                  Date		
                </th>
                <th>
                  Subject	
                </th>
                <th>
                  Medium				
                </th>
                <th>
                  Medium Name		
                </th>
                <th>
                  Reporter	
                </th>
                <th>
                  File
                </th>
                <th>Link</th>
                <th>Favour</th>
                <th id="element-to-hide" data-html2canvas-ignore="true">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of newsList | paginate: { itemsPerPage: NoofRow,currentPage:PageNo ,totalItems:totalItems }; let i=index">
                <td>{{item.id}}</td>
                <td>{{item.date}}</td>
                <td>
                  {{item.subject}}
                </td>
                <td>{{item.medium}}</td>
                <td>{{item.nameMedium}}</td>
                <td>{{item.jounalist}}</td>
                <td class="file">
                  <i (click)="downloadFile($event)" id={{item.id}} class="icofont icofont-cloud-download"></i>
                </td>
                <td>
                  <div>
                    <a href="{{item.newsLink}}" target="_blank">Link</a>
                  </div>
                </td>
                <td>{{item.inFavour}}</td>
                <td class="action" id="element-to-hide" data-html2canvas-ignore="true">
                  <ion-icon name="create-sharp" (click)="editNews(item)"></ion-icon>
                  <ion-icon (click)="deleteNews(item.id)" class="delete" name="trash-bin-sharp"></ion-icon> 
                </td>
              </tr>
              
            </tbody>
          </table>
          <pagination-controls (pageChange)="event($event)"></pagination-controls>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
						

<ion-fab horizontal="end" vertical="bottom" slot="fixed" routerLink="/daily-news/add-daily-news">
  <ion-fab-button color="primary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>