

<ion-content>
    <ion-header class="android">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/superadmin"></ion-back-button>
        </ion-buttons>
        <ion-title> Details </ion-title>
      </ion-toolbar>
    </ion-header>
    <div class="main-content">
      <div class="banner">
        <div class="details">
          <ion-grid *ngIf="getAllAdmin">
            <ion-row>
              <ion-col size-lg="3" size-md="3" size-sm="3" size-xs="5">
                <div class="profileImg">
                  <img src="/assets/img/user.jpg" alt="">
                </div>
              </ion-col>
              <ion-col size-lg="6" size-md="6" size-sm="5" size-xs="7">
                <div class="name">
                  <h2>{{getAllAdmin.name}}</h2>
                  <h3>{{getAllAdmin.roleName}}</h3>
                </div>
              </ion-col>
              <ion-col size-lg="3" size-md="3" size-sm="4" size-xs="12" class="ion-text-right">
                <ion-button class="text-capitalize" color="success" (click)="EditSA(item)">Edit</ion-button>
                <ion-button class="text-capitalize" color="danger" (click)="deleteUser()">Delete</ion-button>
              </ion-col>
            </ion-row>
            <ion-row class="borderTop">
              <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
                <ion-grid>
                  <ion-row>
                    <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                      <ion-text> <strong> Name : </strong> </ion-text>
                    </ion-col>
                    
                    <ion-col size-lg="9" size-md="8" size-sm="8" size-xs="8">
                      <ion-text> {{getAllAdmin.name}} </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                      <ion-text> <strong> Role : </strong> </ion-text>
                    </ion-col>
                    
                    <ion-col size-lg="9" size-md="8" size-sm="8" size-xs="8">
                      <ion-text> {{getAllAdmin.roleName}} </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                      <ion-text> <strong> Username : </strong> </ion-text>
                    </ion-col>
                    
                    <ion-col size-lg="9" size-md="8" size-sm="8" size-xs="8">
                      <ion-text> {{getAllAdmin.mobile_Id}}  </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                      <ion-text> <strong> Password : </strong> </ion-text>
                    </ion-col>
                    
                    <ion-col size-lg="9" size-md="8" size-sm="8" size-xs="8">
                      <ion-text> {{getAllAdmin.password}}  </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                      <ion-text> <strong> Email : </strong> </ion-text>
                    </ion-col>
                    
                    <ion-col size-lg="9" size-md="8" size-sm="8" size-xs="8">
                      <ion-text> {{getAllAdmin.email}} </ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
              <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12"> 
                <ion-grid>
                  
                  <ion-row>
                    <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                      <ion-text> <strong> State : </strong> </ion-text>
                    </ion-col>
                    
                    <ion-col size-lg="9" size-md="8" size-sm="8" size-xs="8">
                      <ion-text> {{getAllAdmin.state}}  </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                      <ion-text> <strong> District : </strong> </ion-text>
                    </ion-col>
                    
                    <ion-col size-lg="9" size-md="8" size-sm="8" size-xs="8">
                      <ion-text> {{getAllAdmin.district}}  </ion-text>
                    </ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                      <ion-text> <strong> Assembly : </strong> </ion-text>
                    </ion-col>
                    
                    <ion-col size-lg="9" size-lg="9" size-md="8" size-sm="8" size-xs="8">
                      <ion-text>{{getAllAdmin.assemblyName}} </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                      <ion-text> <strong> Taluka : </strong> </ion-text>
                    </ion-col>
                    
                    <ion-col size-lg="9" size-md="8" size-sm="8" size-xs="8">
                      <ion-text> {{getAllAdmin.taluka}}  </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                      <ion-text> <strong> Village : </strong> </ion-text>
                    </ion-col>
                    
                    <ion-col size-lg="9" size-md="8" size-sm="8" size-xs="8">
                      <ion-text> {{getAllAdmin.village}}  </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                      <ion-text> <strong> Booth : </strong> </ion-text>
                    </ion-col>
                    
                    <ion-col size-lg="9" size-lg="9" size-md="8" size-sm="8" size-xs="8">
                      <ion-text> {{getAllAdmin.booth}} </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size-lg="3" size-md="4" size-sm="4" size-xs="4" class="leftSide">
                      <ion-text> <strong> Validity : </strong> </ion-text>
                    </ion-col>
                    
                    <ion-col size-lg="9" size-lg="9" size-md="8" size-sm="8" size-xs="8">
                      <ion-text> {{getAllAdmin.validity}} yr</ion-text>
                    </ion-col>
                  </ion-row>
                  
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
  
      
    </div>
  </ion-content>