

<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="primary" defaultHref="/daily-news"></ion-back-button>
      </ion-buttons>
      <ion-title>Daily News </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid>
      <ion-row>
        <ion-text class="form-header pl-10">
          <ion-icon name="add-circle-outline" class="pr-1"></ion-icon>Daily News 
        </ion-text>
      </ion-row>
      <form #myForm="ngForm">
        <ion-row>
          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Date <span>*</span></ion-label>
            <ion-input 
              name="date" 
              [(ngModel)]="dailynews.date" 
              value="{{ date | date: 'yyyy-MM-dd' }}" 
              id="date" 
              class="form-control" 
              required
              (keypress)="onKeyPress($event)"
                  (keypress)="keyPressNumbers($event)" 
              >
            </ion-input>

            <ion-modal trigger="date" size="cover" [canDismiss]="canDismiss" 
            [backdropDismiss]="false">
              <ng-template>
                <ion-datetime 
                  presentation="date" 
                  [(ngModel)]="date" 
                  name="date"
                  show-default-buttons="true"
                  >
                  <span slot="title"> {{ year }} </span>
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>
          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Subject  <span>*</span> </ion-label>
              <ion-input maxlength="50" [(ngModel)]="dailynews.subject" name="Subject" class="form-control" required></ion-input>
          </ion-col>
          <!-- <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label>   Medium  <span>*</span></ion-label>
              <ion-select placeholder="Select" interface="popover" name="mode" [(ngModel)]="mode" class="form-control" required>
                <ion-select-option class="select_option" value="वृत्तपत्र"> वृत्तपत्र</ion-select-option>
                <ion-select-option class="select_option" value=" वृत्तवाहिनी"> वृत्तवाहिनी</ion-select-option>
                <ion-select-option class="select_option" value=" साप्ताहिक"> साप्ताहिक</ion-select-option>
                <ion-select-option class="select_option" value=" मासिक"> मासिक</ion-select-option>
                <ion-select-option class="select_option" value=" युट्यूब वाहिनी"> युट्यूब वाहिनी</ion-select-option>
                <ion-select-option class="select_option" value=" वेब पोर्टल"> वेब पोर्टल</ion-select-option>
              </ion-select>
          </ion-col> -->

          <!-- <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label>   Medium Name  <span>*</span></ion-label>
              <ion-select placeholder="Select" interface="popover" required name="modeType" [(ngModel)]="modeType" class="form-control">
                <ion-select-option class="select_option" value="v1"> माध्यमाचे नाव   1</ion-select-option>
                <ion-select-option class="select_option" value="v2"> माध्यमाचे नाव   2 </ion-select-option>
              </ion-select>
          </ion-col> -->
          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label>   Medium  </ion-label>
              <select placeholder="Select"  name="modeType"  class="form-control" [(ngModel)]="dailynews.medium" (change)="type($event)" >
                <option value="">Select</option>
                <option value="News Paper">News Paper</option>
                <option value="Tv">Tv</option>
                <option value="Social Media">Social Media</option>
              </select>
          </ion-col>
          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label position="floating"> Medium Name    </ion-label>
              <ion-input maxlength="50" [(ngModel)]="dailynews.nameMedium" name="NameMedium" class="form-control"></ion-input>
          </ion-col>
          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label>   Reporter  </ion-label>
            <ion-input (keypress)="onKeyPress($event)" maxlength="50" [(ngModel)]="dailynews.jounalist" name="Jounalist" class="form-control"></ion-input>
          </ion-col>
          
          <ion-col size-xl="6" size-lg="12" size-md="12" size-sm="12" size-xs="12" class="file">
            <div class="flex">
              <ion-label> File <span>( image, video, pdf )</span>  </ion-label>
              <ion-label> Size - <span> {{fileSize}} </span> </ion-label>
            </div>
              <input type="file" #file name="file" [(ngModel)]="dailynews.file" (change)="onFileSelected($event)"  class="form-control" value="this.dailynews.fileName">
              <div class="progress-container" *ngIf="uploading">
                <div class="progress-bar" [style.width.%]="progress">{{ progress }}%</div>
              </div>
          </ion-col>
          
          
          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label position="floating"> URL    </ion-label>
              <ion-input 
              [(ngModel)]="dailynews.newsLink" 
              name="NewsLink" 
              class="form-control"
              pattern="[Hh][Tt][Tt][Pp][Ss]?:\/\/(?:(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)(?:\.(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)*(?:\.(?:[a-zA-Z\u00a1-\uffff]{2,}))(?::\d{2,5})?(?:\/[^\s]*)?"
              ></ion-input>
          </ion-col>

          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label position="floating"> In Favour</ion-label>
            <ion-radio-group name="Gender" [(ngModel)]="dailynews.inFavour">
              <div class="radioBtn">
                <div>
                  <ion-radio value="Y"></ion-radio>
                  <ion-label> Yes </ion-label>
                </div>
          
                <div>
                  <ion-radio value="N"></ion-radio>
                  <ion-label> No </ion-label>
                </div>
          
                <div>
                  <ion-radio value="O"></ion-radio>
                  <ion-label> Other </ion-label>
                </div>
                
              </div>
            </ion-radio-group>
          </ion-col>

          
          <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <div class="ion-text-center">
              <ion-button type="reset" (click)="resetForm()" color="danger" size="medium">Clear</ion-button>
              <ion-button [disabled]="!myForm.form.valid"  type="submit" size="medium" (click)="save()">Update</ion-button>
              <ion-button routerLink="/daily-news" color="success" type="button" size="medium">Back To List</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>