<ion-content>
    <ion-header class="android">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/home/mobile-dashboard"></ion-back-button>
        </ion-buttons>
        <ion-title> Letter Tracking </ion-title>
        <ion-buttons slot="primary">
          <ion-button (click)="search()">
            <ion-icon name="search-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <div class="main-content">
      <ion-grid class="web">
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
            <ion-grid class="header">
              <ion-row>
                <ion-col size-xs="12" size-sm="6">
                  <div class="flex">
                    <ion-icon (click)="goBack()" name="arrow-back-circle-sharp"></ion-icon>
                    <ion-card-header>
                      <ion-card-title>
                        <ion-text> Letter Tracking , Total - <span>{{totalItems}}</span> </ion-text>
                      </ion-card-title>
                    </ion-card-header>
                  </div>
                </ion-col>
                <ion-col size-xs="12" size-sm="6" class="ion-text-right">
                  <ion-button class="button-download" routerLink="/letter-tracking/add-letter" color="primary">
                    <ion-icon name="add-circle-sharp"></ion-icon>Add Letter
                  </ion-button>
  
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-card>
              <ion-card-content>
                <div class="headSection">
                  <div class="search">
                    <ion-searchbar (keypress)="omit_special_char($event)" (keyup)="keyPress($event.target.value)" (change)="onSearchChange($event.target.value)"  animated="true"></ion-searchbar>
                  </div>
                  <div class="btns">
                    <ion-button class="button-download" color="success" (click)="exportExcel()" ><ion-icon name="document-sharp"></ion-icon>Excel</ion-button>
                    <ion-button class="button-download" color="success" (click)="exportToCSV()" ><ion-icon name="document-sharp"></ion-icon>CSV</ion-button>
                  </div>
                </div>
                <div class="horizontal-scroll">
                  <table id="userAdminTable" #epltable class="table">
                    <thead>
                      <tr>
  
                        <th>
                          Sr.No.
                        </th>
                        <th>
                          Case No.
                        </th>
                        <th>
                           Name
                        </th>
                        <th>
                          Mobile
                        </th>
                        <th>
                          Subject
                        </th>
  
                        <th>
                          Refference
                        </th>
                        <th>
                          Village
                        </th>
                        <th>
                          Taluka
                        </th>
                        <th>
                          District
                        </th>
                        <th>
                          Date
                        </th>
                        <th>
                          File
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                          Added By
                        </th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of allLetters | paginate:{ itemsPerPage:NoofRow, currentPage:PageNo,totalItems:totalItems} ">
                        <td>{{item.id}}</td>
                        <td>{{item.caseNo}}</td>
                        <td>{{item.letter_Request_Person}}</td>
                        <td>{{item.mobile_No}}</td>
                        <td>{{item.subject}}</td>
                        <td>{{item.refference_Name}}</td>
                        <td>{{item.village}}</td>
                        <td>{{item.taluka}}</td>
                        <td>{{item.district}}</td>
                        <td>{{item.letter_Submit_Date}}</td>
                        <td class="file">
                          <ion-icon name="cloud-download-sharp" (click)="downloadFile($event)" id="{{item.id}}">

                          </ion-icon></td>
                        <td>
                            <ion-badge color="primary" id="{{item.id}}" (click)="subLetter(item.id)"  routerLink="/letter-tracking/sub-letter">Status</ion-badge>
                        </td>
                        <td>{{item.userName}}</td>
                        <td class="action">
                          <ion-icon  name="create-sharp" (click)="editLetter(item)"></ion-icon>
                          <ion-icon class="delete" name="trash-bin-sharp" (click)="deleteLetter(item.id)"></ion-icon> 
                        </td>
                      </tr>

                      
                    </tbody>
                  </table>
                  <div *ngIf="!allLetters || allLetters.length === 0" class="text-center">
                    <p>No data available</p>
                  </div>
                  <pagination-controls (pageChange)="event($event)"></pagination-controls>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
  
        </ion-row>
      </ion-grid>
  
  
    </div>
  </ion-content>
  
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" routerLink="/superadmin/add-superadmin">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>