<ion-content>
    <ion-header class="android">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/home/mobile-dashboard"></ion-back-button>
        </ion-buttons>
        <ion-title> Letter Tracking </ion-title>
        <ion-buttons slot="primary">
          <ion-button (click)="search()">
            <ion-icon name="search-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <div class="main-content">
      <ion-grid class="web">
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
            <ion-grid class="header">
              <ion-row>
                <ion-col size-xs="12" size-sm="6">
                  <div class="flex">
                    <ion-icon (click)="goBack()" name="arrow-back-circle-sharp"></ion-icon>
                    <ion-card-header>
                      <ion-card-title>
                        <ion-text> Letter Tracking </ion-text>
                      </ion-card-title>
                    </ion-card-header>
                  </div>
                </ion-col>
                <ion-col size-xs="12" size-sm="6" class="ion-text-right">
                  <ion-button class="button-download" routerLink="/letter-tracking/add-letter" color="primary">
                    <ion-icon name="add-circle-sharp"></ion-icon>Add Letter
                  </ion-button>
  
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-card>
              <ion-card-content>
                <div class="search">
                  <ion-searchbar [(ngModel)]="searchWeb" animated="true"></ion-searchbar>
                </div>
                <div class="horizontal-scroll">
                  <table id="userAdminTable" #epltable class="table">
                    <thead>
                      <tr>
  
                        <th>
                          Sr.No.
                        </th>
                        <th>
                          Case No.
                        </th>
                        <th>
                           Name
                        </th>
                        <th>
                          Mobile
                        </th>
                        <th>
                          Subject
                        </th>
  
                        <th>
                          Refference
                        </th>
                        <th>
                          Village
                        </th>
                        <th>
                          Taluka
                        </th>
                        <th>
                          District
                        </th>
                        <th>
                          Date
                        </th>
                        <th>
                          File
                        </th>
                        <th>
                            Status
                        </th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                      <tr>
                        <td>1</td>
                        <td>123</td>
                        <td>Sagar Salunkhe</td>
                        <td>9158490455</td>
                        <td>Meeting</td>
                        <td>Rahul Choudhary</td>
                        <td>Kondhwa Bk</td>
                        <td>Pune</td>
                        <td>Pune</td>
                        <td>2023-04-15 08:47 AM</td>
                        <td class="file"><ion-icon name="cloud-download-sharp"></ion-icon></td>
                        <td>
                            <ion-badge color="primary">Status</ion-badge>
                        </td>
                        <td class="action">
                          <ion-icon  name="create-sharp" routerLink="/letter-tracking/edit-letter"></ion-icon>
                          <ion-icon class="delete" name="trash-bin-sharp" (click)="deleteLetter()"></ion-icon> 
                        </td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>123</td>
                        <td>Sagar Salunkhe</td>
                        <td>9158490455</td>
                        <td>Meeting</td>
                        <td>Rahul Choudhary</td>
                        <td>Kondhwa Bk</td>
                        <td>Pune</td>
                        <td>Pune</td>
                        <td>2023-04-15 08:47 AM</td>
                        <td class="file"><ion-icon name="cloud-download-sharp"></ion-icon></td>
                        <td> 
                            <ion-badge color="primary">Status</ion-badge>
                        </td>
                        <td class="action">
                          <ion-icon  name="create-sharp" routerLink="/letter-tracking/edit-letter"></ion-icon>
                          <ion-icon  class="delete" name="trash-bin-sharp"></ion-icon> 
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <pagination-controls (pageChange)="event($event)"></pagination-controls>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
  
        </ion-row>
      </ion-grid>
  
  
    </div>
  </ion-content>
  
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" routerLink="/superadmin/add-superadmin">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>