ion-grid { width: 95%; margin-top: 10px; background: #FFF; padding: 5px; box-shadow: 0 0 10px rgb(232 234 237 / 50%); }

@media screen and (min-width:768px) and (max-width:1240px) {
    ion-grid { width: 99%; }
}

@media screen and (min-width:1241px) {
    ion-grid { width: 95%; }
}

ion-item ion-label { font-size: 13px !important; }

ion-radio-group ion-item { --background: none !important; border: none !important; }

.radio ion-label { margin-left: 10px !important; }

.pl-10 { padding-left: 5px; }

ion-label span {  color: #F00 !important; font-weight: 500;}

.title ion-grid { padding: 10px 20px !important; }

ion-col p { margin-bottom: 1px !important; color: #8b8989; }

.pl-4 { padding-left: 5px; }

ion-item {
    --padding-start: 3px;
    --inner-padding-end: 22px;
}

ion-textarea {  margin-top: 0px; }

@media screen and (max-width:576px) {
    .survey { display: none; }
}

ion-modal {
    --width: 290px;
  --border-radius: 8px;
  --height: auto !important;
 }

 .flex {
     display: flex;
     justify-content: space-between;
 }

 .flex h6 {
    color: #ff5656;
    font-weight: 600;
 }

 .flex ion-icon {
    font-size: 25px;
    color: #F00;
}
 