<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <!-- <ion-back-button (click)="goBack()" auto-hide="false"></ion-back-button> -->
        <ion-back-button defaultHref="/voterdata-management/voterby-user"></ion-back-button>
      </ion-buttons>
      <ion-title> Details </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-content" *ngIf="VoterListByUser">
    <ion-grid class="userContact">
      <ion-row class="mt-2">
        <ion-col class="star">
          <form (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
            <input type="image"
            name="star" 
            src="{{ showStar ? 'assets/img/star.png' : 'assets/img/star1.png'}}" 
            width="32" height="32"
            [(ngModel)]="starUpdare.YesNo"
            (click)="toggleStar()"
          >
          </form>
        </ion-col>
        <ion-col>
          <a (click)="ShareWhatsapp()">
            <img src="/assets/img/sharing.png" alt="">
          </a>
          <!-- <a href="https://api.whatsapp.com/send?phone={{ VoterListByUser.mobileNo }}" (click)="ShareWhatsapp()">
            <img src="/assets/img/sharing.png" alt="">
          </a> -->
        </ion-col>
        <ion-col>
          <a>
            <img src="/assets/img/phone-call.png" alt="">
          </a>
        </ion-col>

        <!-- <ion-col>
          <a href="https://wa.me/+918390755001">
            <img src="/assets/img/whatsapp.png" alt="">
            <ion-label>Whatsapp</ion-label>
          </a>
        </ion-col> -->
        <ion-col (click)="printSlip()">
          <img src="/assets/img/printer.png" alt="">
        </ion-col>
        
        <ion-col>
          <img src="{{ showVote ? 'assets/img/positive-vote.png' : 'assets/img/manual-voting.png'}}" 
          type="button" (click)="toggleVote()" alt="">
        </ion-col>

        <ion-col>
          <img src="/assets/img/clipboard.png" routerLink="/survey" alt="">
        </ion-col>

        <ion-col id="click-trigger">
          <div class="emptyDiv" [ngStyle]="{'background-color': bgColor}"></div>
        </ion-col>
        
      </ion-row>
    </ion-grid>
    <ion-popover trigger="click-trigger" triggerAction="click" class="color">
      <ng-template>
        <ion-content>
          <ion-list>
            <form (ngSubmit)="f.form.valid && OnSubmit()" #f="ngForm" novalidate>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-item lines="none" class="supporter" (click)="DismissClick();supporter()">
                      <ion-label class="Supporter" name="Supporter" [(ngModel)]="colorUpdate.Colour">Supporter</ion-label>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item lines="none" class="opposition" (click)="DismissClick();opposition()">
                      <ion-label class="Opposition" name="Opposition" [(ngModel)]="colorUpdate.Colour">Opposition</ion-label>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item lines="none" class="doubtful" (click)="DismissClick();doubtful()">
                      <ion-label class="Doubtful" name="Doubtful" [(ngModel)]="colorUpdate.Colour">Doubtful</ion-label>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item lines="none" class="other" (click)="DismissClick();other()">
                      <ion-label class="Other" name="Other" [(ngModel)]="colorUpdate.Colour">Other</ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>

    <ion-grid >
      <ion-row class="header mt-2 mb-2">
        <ion-col class="ion-text-center">
          <ion-label>
            Assembly : {{ VoterListByUser.assemblyNo }} {{ VoterListByUser.assembly }} 
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label>Name</ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="8">
          <ion-label>{{VoterListByUser.fullName}} </ion-label>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label>यादिभाग</ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="8">
          <ion-label>160</ion-label>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label>Village</ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="8">
          <ion-label> {{VoterListByUser.village}}</ion-label>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label>अ.क्र.</ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="8">
          <ion-label>1</ion-label>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label>Age</ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="8">
          <ion-label>{{VoterListByUser.age}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label>Gender</ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="8">
          <ion-label> {{VoterListByUser.gender}}</ion-label>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label>Cast</ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="8">
          <ion-label> {{getAllVoter.caste}}</ion-label>
        </ion-col>
      </ion-row> -->
      <!-- <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label>व्यवसाय</ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="8">
          <ion-label></ion-label>
        </ion-col>
      </ion-row> -->
      
      <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label> Voter ID </ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="8">
          <ion-label> {{VoterListByUser.votingCardNo}} </ion-label> 
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label>
            Address
          </ion-label>
          <div>
            <ion-icon name="create-outline" id="address"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="8">
          <ion-label class="address">
            {{VoterListByUser.address}}
          </ion-label> 
        </ion-col>
        
      </ion-row>

      <ion-modal #modal trigger="address">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Edit Address</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="closeModal()" [strong]="true">
                  <ion-icon name="close-sharp"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content>
              <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
              <ion-grid>
                <ion-row>
                  <ion-col size="12">
                    <div>
                      <ion-textarea rows="2" name="Address" [(ngModel)]="adrsUpdate.Address" class="form-control" required></ion-textarea>
                    </div>
                  </ion-col>
                  <ion-col size="12">
                      <ion-button type="submit" color="success" size="medium" (click)="saveAddress()" [disabled]="!f.form.valid">Submit</ion-button>
                      <ion-button type="reset" color="danger" size="medium" (click)="closeModal()">Cancel</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
           
          </ion-content>
        </ng-template>
      </ion-modal>

      

      <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label>Part No.</ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="8">
          <ion-label> {{VoterListByUser.partNo}} </ion-label> 
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label>Sr. No.</ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="8">
          <ion-label> </ion-label> 
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label>
             Mobile 
            </ion-label>
            <div>
              <ion-icon name="add-circle-outline" id="mobile" ></ion-icon>
            </div>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="7" >
          <ion-label> {{VoterListByUser.mobileNo}} </ion-label> 
        </ion-col>
        
      </ion-row>

      <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label> 
            Alt. No. 
          </ion-label>
          <div>
            <ion-icon name="add-circle-outline" id="altMobile" ></ion-icon>
          </div>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="7" >
          <ion-label> {{VoterListByUser.alternateMobileNo}}  </ion-label> 
        </ion-col>
        
      </ion-row>


      <ion-modal trigger="mobile" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Enter Mobile No.</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="closeModal()" [strong]="true">
                  <ion-icon name="close-sharp"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
              <ion-grid>
                <ion-row>
                  <ion-col size="12">
                      <div>
                        <ion-input 
                          maxlength="10" 
                          minlength="10" 
                          name="Mobile" 
                          [(ngModel)]="mobUpdate.Mobile" 
                          (keypress)="keyPressNumbers($event)" 
                          class="form-control" 
                          required
                        >
                        </ion-input>
                      </div>
                  </ion-col>
                  <ion-col size="12">
                      <ion-button type="submit" color="success" size="medium" (click)="saveMobile()" [disabled]="!f.form.valid">Submit</ion-button>
                      <ion-button type="reset" color="danger" size="medium" (click)="closeModal()">Cancel</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-content>
        </ng-template>
      </ion-modal>

      <ion-modal #modal trigger="altMobile" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Alt. Mobile No.</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="closeModal()" [strong]="true">
                  <ion-icon name="close-sharp"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
              <ion-grid>
                <ion-row>
                  <ion-col size="12">
                    <div>
                      <ion-input maxlength="10" minlength="10" name="altMobile" [(ngModel)]="altmobUpdate.AlternateMobileNo" (keypress)="keyPressNumbers($event)" class="form-control"  required></ion-input>
                    </div>
                  </ion-col>
                  <ion-col size="12">
                      <ion-button type="submit" color="success" size="medium" (click)="saveAltMobile()" [disabled]="!f.form.valid">Submit</ion-button>
                      <ion-button type="reset" color="danger" size="medium" (click)="closeModal()">Cancel</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
            
          </ion-content>
        </ng-template>
      </ion-modal>

      <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label>Dead</ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="8">
          <ion-label> 
            <ion-radio-group>
              <div class="radioBtn">
                <ion-radio name="dead" value="No" ></ion-radio>
                  <ion-label>No</ion-label>
                  <ion-radio name="dead" value="Yes" ></ion-radio>
                  <ion-label>Yes</ion-label>
              </div>
            </ion-radio-group>
          </ion-label> 
        </ion-col>
      </ion-row>

      <!-- <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label> पॅन कार्ड </ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="8">
          <ion-label> KSBBS4187H </ion-label> 
        </ion-col>
      </ion-row> -->
      <!-- <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label> आधार कार्ड </ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="8">
          <ion-label> 1234 5678 9012 </ion-label> 
        </ion-col>
      </ion-row> -->
      

      

      <!-- <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label> व्हॉट्सॲप </ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="7">
          <ion-label> 9158490455 </ion-label> 
        </ion-col>
        <ion-col size-xs="1" >
          <ion-icon name="add-circle-sharp" (click)="addwapp()"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let wapp of wapps">
        <ion-col class="title" size-xs="3">
          <ion-label> </ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="7">
          <ion-input maxlength="10"></ion-input>
        </ion-col>
        <ion-col size-xs="1" class="remove">
          <ion-icon name="remove-circle-sharp" (click)="removewapp()"></ion-icon>
        </ion-col>
      </ion-row> -->

      <!-- <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label> ईमेल </ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="7">
          <ion-label>  </ion-label> 
        </ion-col>
        <ion-col size-xs="1">
          <ion-icon name="add-circle-sharp" (click)="addEmail()"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let email of emails">
        <ion-col class="title" size-xs="3">
          <ion-label>  </ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="7">
          <ion-input type="email"></ion-input>
        </ion-col>
        <ion-col size-xs="1" class="remove">
          <ion-icon name="remove-circle-sharp" (click)="removeEmail()"></ion-icon>
        </ion-col>
      </ion-row> -->


      <!-- <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label>मतदान केंद्र</ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="8">
          <ion-label> 
             
          </ion-label> 
        </ion-col>
      </ion-row> -->

      
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="family(VoterListByUser.id)">Family</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="printSlip()">Print</ion-button>
        </ion-col>
        <ion-col>
          <ion-button>WP-Slip</ion-button>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col>
          <ion-button>Family Name</ion-button>
        </ion-col>
        <ion-col>
          <ion-button >Print</ion-button>
        </ion-col>
        <ion-col>
          <ion-button >WP-Slip</ion-button>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col>
          <ion-button size="full" (click)="sameAddressVoter(VoterListByUser.id)">Voter on Same Address</ion-button>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col>
          <ion-button size="full" (click)="sameBoothVoter(VoterListByUser.id)">Voter on Same Booth</ion-button>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col>
          <ion-button size="full" routerLink="/survey">Survey</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div #slipDesign id="slipDesign">
      <div class="body" *ngIf="VoterListByUser">
        <!-- <img myImg src="/assets/img/111.jpeg" alt=""> -->
        <ion-img style="width: 200px;" [src]="ImagePath"></ion-img>
        <div class="text-center" #myDiv id="myDiv">
          <h6>
            Assembly : {{ VoterListByUser.assemblyNo }} {{ VoterListByUser.assembly }}
          </h6>
        </div>
        <div class="name">
          <table >
            <tr #tr1>
              <th> Part No. </th>
              <th> : </th>
              <td> {{VoterListByUser.partNo}} </td>
            </tr>
            <tr #tr2>
              <th> Name </th>
              <th> : </th>
              <td> {{VoterListByUser.fullName}}</td>
            </tr>
            <tr #tr3>
              <th> Age </th>
              <th> : </th>
              <td> {{VoterListByUser.age}} </td>
            </tr>
            <tr #tr4>
              <th> Gender </th>
              <th> : </th>
              <td> {{VoterListByUser.gender}} </td>
            </tr>
            <tr #tr5>
              <th> Voter ID  </th>
              <th> : </th>
              <td> {{VoterListByUser.votingCardNo}} </td>
            </tr>
            <tr #tr6>
              <th> Address </th>
              <th> : </th>
              <td> {{VoterListByUser.address}} </td>
            </tr>
            <tr #tr7>
              <th> Village </th>
              <th> : </th>
              <td> {{VoterListByUser.village}} </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="8" style="height: 200px;">
          <ion-img style="height: 200px;" [src]="imgurl"></ion-img>
        </ion-col>
        <ion-col size="4">
            <ion-text>{{text}}</ion-text>
        </ion-col>  
      </ion-row>
      <ion-row class="ion-align-items-center">

        <ion-col size="2">
            <ion-button color="success" (click)="ShareWhatsapp1()"><ion-icon name="logo-whatsapp"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>  
  </div>
</ion-content>

<!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed" routerLink="/voterdata-management/edit-voterdata">
  <ion-fab-button color="success">
    <ion-icon name="pencil-sharp"></ion-icon>
  </ion-fab-button>
</ion-fab> -->
