<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <!-- <ion-back-button (click)="goBack()" auto-hide="false"></ion-back-button> -->
        <ion-back-button defaultHref="/voterdata-management/voterby-user"></ion-back-button>
      </ion-buttons>
      <ion-title> {{'Voter Details' | translate}} </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-content" *ngIf="VoterListByUser">
    <ion-grid class="userContact">
      <ion-row class="mt-2">
        <ion-col class="star">
          <form (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
            <input type="image" name="star" src="{{ showStar ? 'assets/img/star1.png' : 'assets/img/star.png'}}"
              width="32" height="32" [(ngModel)]="starUpdare.YesNo" (click)="toggleStar()">
          </form>
        </ion-col>
        <ion-col>
          <a (click)="ShareWhatsapp()">
            <img src="/assets/img/sharing.png" alt="">
          </a>
          <!-- <a href="https://api.whatsapp.com/send?phone={{ VoterListByUser.mobileNo }}" (click)="ShareWhatsapp()">
            <img src="/assets/img/sharing.png" alt="">
          </a> -->
        </ion-col>


        <!-- <ion-col>
          <a href="https://wa.me/+918390755001">
            <img src="/assets/img/whatsapp.png" alt="">
            <ion-label>Whatsapp</ion-label>
          </a>
        </ion-col> -->
        <ion-col (click)="printSlip()">
          <img src="/assets/img/printer.png" alt="">
        </ion-col>

        <ion-col>
          <form (ngSubmit)="vote.form.valid" #vote="ngForm" novalidate>
            <img name="voteStatus" src="{{ showVote ? 'assets/img/manual-voting.png' : 'assets/img/positive-vote.png'}}"
              type="button" [(ngModel)]="voteStatusUpdate.YesNo" (click)="toggleVote()" alt="">
          </form>
          <!-- <img src="{{ showVote ? 'assets/img/positive-vote.png' : 'assets/img/manual-voting.png'}}" 
          type="button" (click)="toggleVote()" alt=""> -->
        </ion-col>

        <ion-col>
          <img src="/assets/img/clipboard.png" routerLink="/survey" alt="">
        </ion-col>

        <ion-col id="click-trigger">
          <div class="emptyDiv" [ngStyle]="{'background-color': bgColor}"></div>
        </ion-col>

      </ion-row>
    </ion-grid>
    <ion-popover trigger="click-trigger" triggerAction="click" class="color">
      <ng-template>
        <ion-content>
          <ion-list>
            <form (ngSubmit)="f.form.valid && OnSubmit()" #f="ngForm" novalidate>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-item lines="none" class="supporter" (click)="DismissClick();supporter()">
                      <ion-label class="Supporter" name="Supporter" [(ngModel)]="colorUpdate.Colour">
                        {{'Supporter' | translate}}
                      </ion-label>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item lines="none" class="opposition" (click)="DismissClick();opposition()">
                      <ion-label class="Opposition" name="Opposition" [(ngModel)]="colorUpdate.Colour">
                        {{'Opposition' | translate}}
                      </ion-label>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item lines="none" class="doubtful" (click)="DismissClick();doubtful()">
                      <ion-label class="Doubtful" name="Doubtful" [(ngModel)]="colorUpdate.Colour">
                        {{'Doubtful' | translate}}
                      </ion-label>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item lines="none" class="other" (click)="DismissClick();other()">
                      <ion-label class="Other" name="Other" [(ngModel)]="colorUpdate.Colour">
                        {{'Other' | translate}}
                      </ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>

    <ion-grid>
      <ion-row class="header mt-2 mb-2">
        <ion-col class="ion-text-center">
          <ion-label>
            <!-- Assembly : {{assemblyName1}} -->
            {{'Assembly' | translate}} : {{assemblyName1}}
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="title rightText" size-xs="4">
          <ion-label class="dash"> - </ion-label>
          <ion-label> {{'Name' | translate}}</ion-label>
        </ion-col>
       
        <ion-col size-xs="8">
          <ion-label>{{VoterListByUser.fullName}} </ion-label>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label>यादिभाग</ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="8">
          <ion-label>160</ion-label>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col class="title" size-xs="4">
          <ion-label class="dash"> - </ion-label>
          <ion-label> {{'Village' | translate}}</ion-label>
        </ion-col>
        <ion-col size-xs="8">
          <ion-label> {{VoterListByUser.village}}</ion-label>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label>अ.क्र.</ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="8">
          <ion-label>1</ion-label>
        </ion-col>
      </ion-row> -->

      <ion-row class="ageGender">
        <ion-col class="title" size-xs="4">
          <ion-label class="dash"> - </ion-label>
          <ion-label>{{'Age' | translate}}</ion-label>
        </ion-col>
        <ion-col size-xs="8">
          <ion-label>{{VoterListByUser.age}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="title" size-xs="4">
          <ion-label class="dash"> - </ion-label>
          <ion-label> {{'Gender' | translate}}</ion-label>
        </ion-col>
        <ion-col size-xs="8">
          <ion-label> {{VoterListByUser.gender}}</ion-label>
        </ion-col>
      </ion-row>
      <!-- <div class="photo">
        <img src="/assets/img/user.jpg" alt="">
      </div> -->
      <!-- <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label>Cast</ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="8">
          <ion-label> {{getAllVoter.caste}}</ion-label>
        </ion-col>
      </ion-row> -->
      <!-- <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label>व्यवसाय</ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="8">
          <ion-label></ion-label>
        </ion-col>
      </ion-row> -->

      <ion-row>
        <ion-col class="title" size-xs="4">
          <ion-label class="dash"> - </ion-label>
          <ion-label> {{'Voter ID' | translate}} </ion-label>
        </ion-col>
        <ion-col size-xs="8">
          <ion-label> {{VoterListByUser.votingCardNo}} </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="title" size-xs="4">
          <ion-label class="dash"> - </ion-label>
          <ion-label>
            {{'Address' | translate}}
          </ion-label>
          
        </ion-col>
        <ion-col size-xs="8">
          <div class="newFlex">
            <ion-icon name="create-sharp" id="address"></ion-icon>
            <ion-label class="address">
              {{VoterListByUser.address}}
            </ion-label>
          </div>
          
        </ion-col>

      </ion-row>

      <ion-modal #modal trigger="address" (willDismiss)="onWillDismiss($event)" [backdropDismiss]="false" >
        <ng-template>
          <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <ion-grid>
              <ion-row>
                <ion-col size="12" class="ion-text-center">
                  <h5>Edit Address</h5>
                </ion-col>
                
                <ion-col size="12">
                  <div>
                    <ion-textarea maxlength="160" rows="4" name="Address" [(ngModel)]="adrsUpdate.Address" class="form-control"
                      required></ion-textarea>
                  </div>
                </ion-col>
                <ion-col size="12" class="ion-text-center">
                  <ion-button color="danger" size="medium" (click)="closeModal()">
                    {{'Cancel' | translate}}
                  </ion-button>
                  <ion-button type="submit" color="success" size="medium" (click)="saveAddress()"
                    [disabled]="!f.form.valid">
                    {{'Submit' | translate}}
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </ng-template>
      </ion-modal>



      <ion-row>
        <ion-col class="title" size-xs="4">
          <ion-label class="dash"> - </ion-label>
          <ion-label> {{'Part No.' | translate}}</ion-label>
        </ion-col>
        <ion-col size-xs="8">
          <ion-label> {{VoterListByUser.partNo}} </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="title" size-xs="4">
          <ion-label class="dash"> - </ion-label>
          <ion-label>{{'Sr. No.' | translate}}</ion-label>
        </ion-col>
        <ion-col size-xs="8">
          <ion-label> {{VoterListByUser.srNo}} </ion-label>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col class="title" size-xs="4">
          <ion-label class="dash"> - </ion-label>
          <ion-label>
            {{'Mobile' | translate}}
          </ion-label>
          
        </ion-col>

        <ion-col size-xs="8">
          <div class="newFlex">
            <ion-icon name="add-circle-outline" id="mobile" expand="block"></ion-icon>
            <ion-label> {{VoterListByUser.mobileNo}} </ion-label>
          </div>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col class="title" size-xs="4">
          <ion-label class="dash"> - </ion-label>
          <ion-label>
            {{'Alt. No.' | translate}}
          </ion-label>
          
        </ion-col>
        <ion-col size-xs="8">
          <div class="newFlex"> 
            <ion-icon name="add-circle-outline" id="altMobile"></ion-icon>
            <ion-label> {{VoterListByUser.alternateMobileNo}} </ion-label>
          </div>
          
        </ion-col>

      </ion-row>

      <ion-row style="display: none;">
        <ion-col class="title" size-xs="3">
          <ion-label>
            Alt. No.
          </ion-label>
          <div>
            <ion-icon name="add-circle-outline" id="altMobile"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="7">
          <ion-label> {{VoterListByUser.votingInclination}} </ion-label>
        </ion-col>

      </ion-row>

      <ion-modal trigger="mobile" (willDismiss)="onWillDismiss($event)" [backdropDismiss]="false">
        <ng-template>
          <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <ion-grid>
              <ion-row>
                <ion-col size="12" class="ion-text-center">
                  <h5>Add Mob. No.</h5>
                </ion-col>
                <ion-col size="12">
                  <div>
                    <ion-input maxlength="12" minlength="10" name="Mobile" [(ngModel)]="mobUpdate.Mobile"
                      (keypress)="keyPressNumbers($event)" class="form-control" required>
                    </ion-input>
                  </div>
                </ion-col>
                <ion-col size="12" class="ion-text-center">
                  <ion-button color="danger" size="medium" (click)="closeModal()">
                    {{'Cancel' | translate}}
                  </ion-button>
                  <ion-button type="submit" color="success" size="medium" (click)="saveMobile()"
                    [disabled]="!f.form.valid">
                    {{'Submit' | translate}}
                  </ion-button>
                  
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>

        </ng-template>
      </ion-modal>


      <ion-modal #modal trigger="altMobile" (willDismiss)="onWillDismiss($event)" [backdropDismiss]="false">
        <ng-template>
          <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <ion-grid>
              <ion-row>
                <ion-col size="12" class="ion-text-center">
                  <h5>Add Alt. Mobile No.</h5>
                </ion-col>
                <ion-col size="12">
                  <div>
                    <ion-input maxlength="12" minlength="10" name="altMobile"
                      [(ngModel)]="altmobUpdate.AlternateMobileNo" (keypress)="keyPressNumbers($event)"
                      class="form-control"></ion-input>
                  </div>
                </ion-col>
                <ion-col size="12" class="ion-text-center">
                  <ion-button color="danger" size="medium" (click)="closeModal()">
                    {{'Cancel' | translate}}
                  </ion-button>
                  <ion-button type="submit" color="success" size="medium" (click)="saveAltMobile()" [disabled]="!f.form.valid">
                    {{'Submit' | translate}}
                  </ion-button>
                  
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>

        </ng-template>
      </ion-modal>


      <ion-row>
        <ion-col class="title" size-xs="4">
          <ion-label class="dash"> - </ion-label>
          <ion-label> {{'Alive' | translate}}</ion-label>
        </ion-col>
        <ion-col size-xs="8">
          <div>
            <ion-label>
              <ion-radio-group name="isAlive" [(ngModel)]="VoterListByUser.isAlive">
                <div class="radioBtn">
                  <ion-icon name="add-circle-outline" id="deadAlive"></ion-icon>
                  <ion-radio [value]="0" disabled></ion-radio>
                  <ion-label>No</ion-label>
                  <ion-radio [value]="1" disabled></ion-radio>
                  <ion-label>Yes</ion-label>
                </div>
              </ion-radio-group>
            </ion-label>
          </div>
          
        </ion-col>
      </ion-row>


      <ion-modal #modal trigger="deadAlive" (willDismiss)="onWillDismiss($event)" [backdropDismiss]="false">
        <ng-template>
          <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <ion-grid>
              <ion-row>
                <ion-col size="12" class="ion-text-center">
                  <h5>Alive</h5>
                </ion-col>
                <ion-col size="4">
                  <ion-label>Is Alive ?</ion-label>
                </ion-col>
                <ion-col size="8">

                  <div class="aliveRadioBtn">
                    <ion-radio-group name="deadAlive" [(ngModel)]="deadAlive.YesNo">
                      <div class="radioBtn">
                        <ion-radio value="N"></ion-radio>
                        <ion-label> {{'No' | translate}}</ion-label>
                        <ion-radio value="Y"></ion-radio>
                        <ion-label>{{'Yes' | translate}}</ion-label>
                      </div>
                    </ion-radio-group>
                  </div>
                </ion-col>
                <ion-col size="12" class="ion-text-center">
                  <ion-button color="danger" size="medium" (click)="closeModal()">
                    {{'Cancel' | translate}}
                  </ion-button>
                  <ion-button type="submit" color="success" size="medium" (click)="aliveDead()"
                    [disabled]="!f.form.valid">
                    {{'Submit' | translate}}
                  </ion-button>
                  
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>

        </ng-template>
      </ion-modal>

      <ion-row>
        <ion-col class="title" size-xs="4">
          <ion-label class="dash"> - </ion-label>
          <ion-label> DOB </ion-label>
        </ion-col>
       
        <ion-col size-xs="8">
          <div class="newFlex">
            <ion-icon name="add-circle-outline" id="dob"></ion-icon>
            <ion-label> {{VoterListByUser.birthDate}} </ion-label>
          </div>
          
        </ion-col>
      </ion-row>

      <!-- <div class="dob">
        <ion-modal trigger="dob">
          <ion-input></ion-input>
          <ng-template>
            <ion-datetime
              presentation="date"
              name="dob"
              [(ngModel)]="BirthdateUpdate.Birthdate"
            >
            <span slot="title"> {{ year }} </span>
          </ion-datetime>
          <ion-col size="12" class="ion-text-center">
            <ion-button type="submit" color="success" size="small" (click)="saveBirthdate()">
               {{'Submit' | translate}}
            </ion-button>
            <ion-button type="reset" color="danger" size="small" (click)="closeModal()">
               {{'Clear' | translate}}
            </ion-button>
        </ion-col>
          </ng-template>
        </ion-modal>
      </div> -->

      <ion-modal 
        #modal trigger="dob" 
        [canDismiss]="canDismiss" 
        [backdropDismiss]="false" 
         
      >
        <ng-template>
          <div>
            <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
              <ion-grid>
                <ion-row>
                  <ion-col class="ion-text-center">
                    <h5>Add Birthdate</h5>
                  </ion-col>
                  <ion-col size="12">
                    <ion-list>
                      <ion-input value="{{ Birthdate | date: 'yyyy-MM-dd' }}" id="Birthdate" class="form-control"
                        name="Birthdate" [(ngModel)]="BirthdateUpdate.ColoumnValue"></ion-input>
                      <ion-modal trigger="Birthdate" size="cover">
                        <ng-template>
                          <ion-datetime max={{maxDate}} presentation="date" [(ngModel)]="Birthdate" name="Birthdate" show-default-buttons="true">
                            <span slot="title"> {{ year }} </span>
                          </ion-datetime>
                        </ng-template>
                      </ion-modal>
                    </ion-list>
                  </ion-col>
                  <ion-col size="12" class="ion-text-center">
                    <ion-button color="danger" size="medium" (click)="closeModal()">
                      {{'Cancel' | translate}}
                    </ion-button>
                    <ion-button type="submit" color="success" size="medium" (click)="saveBirthdate()">
                      {{'Submit' | translate}}
                    </ion-button>
                    
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </div>

        </ng-template>
      </ion-modal>

      <ion-row>
        <ion-col class="title" size-xs="4">
          <ion-label class="dash"> - </ion-label>
          <ion-label> Caste </ion-label>
        </ion-col>
        <ion-col size-xs="8">
          <div class="newFlex">
            <ion-icon name="add-circle-outline" id="cast"></ion-icon>
            <ion-label> {{VoterListByUser.caste}} </ion-label>
          </div>
        </ion-col>
      </ion-row>


      <ion-modal #modal trigger="cast" (willDismiss)="onWillDismiss($event)" [backdropDismiss]="false" >
        <ng-template>
          <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <ion-grid>
              <ion-row>
                <ion-col class="ion-text-center">
                  <h5>Add Caste</h5>
                </ion-col>
                <ion-col size="12">
                  <ion-list>
                    <ion-select 
                      name="Caste"
                      placeholder="Select Cast" 
                      class="form-control"
                      [(ngModel)]="CasteUpdate.ColoumnValue" 
                      (change)="AllCasts(CasteUpdate.ColoumnValue)"
                      >
                      <ion-select-option 
                      *ngFor="let item of casteList" 
                      [value]="item.casteName"
                      >{{item.casteName}}
                    </ion-select-option>
                    </ion-select>
                  </ion-list>
                </ion-col>
                <ion-col size="12" class="ion-text-center">
                  <ion-button color="danger" size="medium" (click)="closeModal()">
                    {{'Cancel' | translate}}
                  </ion-button>
                  <ion-button type="submit" color="success" size="medium" (click)="saveCaste()">
                    {{'Submit' | translate}}
                  </ion-button>
                  
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </ng-template>
      </ion-modal>

      <ion-row>
        <ion-col class="title" size-xs="4">
          <ion-label class="dash"> - </ion-label>
          <ion-label> Profession </ion-label>
        </ion-col>
        <ion-col size-xs="8">
          <div class="newFlex">
            <ion-icon name="add-circle-outline" id="profession"></ion-icon>
            <ion-label class="text-capitalize"> {{VoterListByUser.occupation}} </ion-label>
          </div>
          
        </ion-col>
      </ion-row>

      <ion-modal #modal trigger="profession" [canDismiss]="canDismiss"  [backdropDismiss]="false">
        <ng-template>
          <div>
            <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
              <ion-grid>
                <ion-row>
                  <ion-col class="ion-text-center">
                    <h5>Add Profession</h5>
                  </ion-col>
                  <ion-col size="12">
                    <ion-list>
                      <ion-input maxlength="30" (keypress)="onKeyPress($event)" name="profession" [(ngModel)]="professionUpdate.ColoumnValue" class="form-control text-capitalize">
                      </ion-input>
                    </ion-list>
                  </ion-col>
                  <ion-col size="12" class="ion-text-center">
                    <ion-button color="danger" size="medium" (click)="closeModal()">
                      {{'Cancel' | translate}}
                    </ion-button>
                    <ion-button type="submit" color="success" size="medium" (click)="saveProfession()">
                      {{'Submit' | translate}}
                    </ion-button>
                    
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </div>

        </ng-template>
      </ion-modal>


      <!-- <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label> पॅन कार्ड </ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="8">
          <ion-label> KSBBS4187H </ion-label> 
        </ion-col>
      </ion-row> -->
      <!-- <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label> आधार कार्ड </ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="8">
          <ion-label> 1234 5678 9012 </ion-label> 
        </ion-col>
      </ion-row> -->




      <!-- <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label> व्हॉट्सॲप </ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="7">
          <ion-label> 9158490455 </ion-label> 
        </ion-col>
        <ion-col size-xs="1" >
          <ion-icon name="add-circle-outline" (click)="addwapp()"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let wapp of wapps">
        <ion-col class="title" size-xs="3">
          <ion-label> </ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="7">
          <ion-input maxlength="10"></ion-input>
        </ion-col>
        <ion-col size-xs="1" class="remove">
          <ion-icon name="remove-circle-sharp" (click)="removewapp()"></ion-icon>
        </ion-col>
      </ion-row> -->

      <!-- <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label> ईमेल </ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="7">
          <ion-label>  </ion-label> 
        </ion-col>
        <ion-col size-xs="1">
          <ion-icon name="add-circle-outline" (click)="addEmail()"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let email of emails">
        <ion-col class="title" size-xs="3">
          <ion-label>  </ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="7">
          <ion-input type="email"></ion-input>
        </ion-col>
        <ion-col size-xs="1" class="remove">
          <ion-icon name="remove-circle-sharp" (click)="removeEmail()"></ion-icon>
        </ion-col>
      </ion-row> -->


      <!-- <ion-row>
        <ion-col class="title" size-xs="3">
          <ion-label>मतदान केंद्र</ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="1">
          :
        </ion-col>
        <ion-col size-xs="8">
          <ion-label> 
             
          </ion-label> 
        </ion-col>
      </ion-row> -->


    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size-xs="6">
          <ion-button size="block" (click)="family(VoterListByUser.id)"> {{'Family' | translate}}</ion-button>
        </ion-col>
        <ion-col size-xs="3">
          <ion-button size="block" (click)="printSlip()"> {{'Print' | translate}}</ion-button>
        </ion-col>
        <ion-col size-xs="3">
          <ion-button size="block" (click)="ShareWhatsapp1()">WP-Slip</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-xs="6">
          <ion-button size="block">Family By Name</ion-button>
        </ion-col>
        <ion-col size-xs="3">
          <ion-button size="block"> {{'Print' | translate}}</ion-button>
        </ion-col>
        <ion-col size-xs="3">
          <ion-button size="block">Text SMS</ion-button>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col>
          <ion-button>Family Name</ion-button>
        </ion-col>
        <ion-col>
          <ion-button >Print</ion-button>
        </ion-col>
        <ion-col>
          <ion-button >WP-Slip</ion-button>
        </ion-col>
      </ion-row> -->
      <ion-row class="ion-text-center">
        <ion-col>
          <ion-button size="block" (click)="sameAddressVoter(VoterListByUser.id)">
            {{'Voter on Same Address' | translate}}
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col>
          <ion-button size="block" (click)="sameBoothVoter()">Voter on Same Booth</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col>
          <ion-button size="block" routerLink="/survey"> {{'Survey' | translate}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div #slipDesign id="slipDesign">
      <div class="body" *ngIf="VoterListByUser">
        <!-- <img myImg src="/assets/img/111.jpeg" alt=""> -->
        <ion-img style="width: 200px;" [src]="ImagePath"></ion-img>
        <div class="text-center" #myDiv id="myDiv">
          <h6>
            {{'Assembly' | translate}} : {{ VoterListByUser.assemblyNo }} {{ VoterListByUser.assembly }}
          </h6>
        </div>
        <div class="name">
          <table>
            <tr #tr1>
              <th> {{'Part No.' | translate}} </th>
              <th> : </th>
              <td> {{VoterListByUser.partNo}} </td>
            </tr>
            <tr #tr2>
              <th> {{'Name' | translate}} </th>
              <th> : </th>
              <td> {{VoterListByUser.fullName}}</td>
            </tr>
            <tr #tr3>
              <th> {{'Age' | translate}} </th>
              <th> : </th>
              <td> {{VoterListByUser.age}} </td>
            </tr>
            <tr #tr4>
              <th> {{'Gender' | translate}} </th>
              <th> : </th>
              <td> {{VoterListByUser.gender}} </td>
            </tr>
            <tr #tr5>
              <th> {{'Voter ID' | translate}} </th>
              <th> : </th>
              <td> {{VoterListByUser.votingCardNo}} </td>
            </tr>
            <tr #tr6>
              <th> {{'Address' | translate}} </th>
              <th> : </th>
              <td> {{VoterListByUser.address}} </td>
            </tr>
            <tr #tr7>
              <th> {{'Village' | translate}} </th>
              <th> : </th>
              <td> {{VoterListByUser.village}} </td>
            </tr>
          </table>
        </div>
      </div>
    </div>


    <!-- <ion-grid style="display: none;"> -->
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="8" style="height: 200px;">
          <ion-img style="height: 200px;" [src]="imgurl"></ion-img>
        </ion-col>
        <ion-col size="4">
          <ion-text>{{text}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">

        <ion-col size="2">
          <ion-button color="success" (click)="ShareWhatsapp1()">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>


  </div>
</ion-content>

<!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed" routerLink="/voterdata-management/edit-voterdata">
  <ion-fab-button color="success">
    <ion-icon name="pencil-sharp"></ion-icon>
  </ion-fab-button>
</ion-fab> -->