

<ion-content>
  <div class="main-content">
    <ion-grid class="header">
      <ion-row>
        <ion-col>
          <ion-card-header>
            <ion-card-title>Family List <span>( 21 )</span></ion-card-title>
            <div class="headerLine"></div>
          </ion-card-header>
        </ion-col>
        <ion-col class="ion-text-right">
          <ion-button color="success" (click)="exportexcel()"><ion-icon name="document-sharp"></ion-icon>Excel</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card>
      <ion-card-content>
        <div class="horizontal-scroll">
          <table class="table" id="table22" #epltable>
            <thead>
              <tr>
                <th style="width: 40px;">
                  Booth No.		
                </th>
                <th>
                  Booth Name	
                </th>
                <th>
                  Voter Count <span>(25896)</span>	
                </th>
                <th>
                  Family Count <span>(203)	</span>			
                </th>
                <th>
                  Voter Assign to Family	 <span>(975)	</span>	
                </th>
                <th>
                  Non-family Voters 	<span>(24921)	</span>	
                </th>
                
                
                <th id="element-to-hide" data-html2canvas-ignore="true">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>334	</td>
                <td>
                  जिल्हा परिषद शाळा, खडकवासला, उत्तरमुखी पूर्वेकडून खोली क्र.1
                </td>
                <td>1408	</td>
                <td>203</td>
                <td>973</td>
                <td>435	</td>
                <td id="element-to-hide" data-html2canvas-ignore="true" class="text-center">
                  <ion-button routerLink="/family-list/view-family" color="success" size="small"><ion-icon name="eye-sharp"></ion-icon></ion-button>
                </td>
              </tr>
              <tr>
                <td>334	</td>
                <td>
                  जिल्हा परिषद शाळा, खडकवासला, उत्तरमुखी पूर्वेकडून खोली क्र.2	
                </td>
                <td>1408	</td>
                <td>203</td>
                <td>973</td>
                <td>435	</td>
                <td id="element-to-hide" data-html2canvas-ignore="true" class="text-center">
                  <ion-button routerLink="/family-list/view-family" color="success" size="small"><ion-icon name="eye-sharp"></ion-icon></ion-button>
                </td>
              </tr>
              <tr>
                <td>334	</td>
                <td>
                  जिल्हा परिषद शाळा, खडकवासला, उत्तरमुखी पूर्वेकडून खोली क्र.3
                </td>
                <td>1408	</td>
                <td>203</td>
                <td>973</td>
                <td>435	</td>
                <td id="element-to-hide" data-html2canvas-ignore="true" class="text-center">
                  <ion-button routerLink="/family-list/view-family" color="success" size="small"><ion-icon name="eye-sharp"></ion-icon></ion-button>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div> 
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
						