

<ion-content>
  <div class="main-content">
    <ion-grid class="header">
      <ion-row>
        <ion-col>
          <ion-card-header>
            <ion-card-title>Surname Report List Details</ion-card-title>
          </ion-card-header>
        </ion-col>
        <ion-col class="ion-text-right">
          <ion-button color="primary"><ion-icon name="document-sharp"></ion-icon>Assign</ion-button>
          <ion-button class="button-outline" fill="outline" color="success" (click)="downloadExcel()"><ion-icon name="document-sharp"></ion-icon>Excel</ion-button>
          
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="topForm">
      <form #myForm1="ngForm">
        <ion-row>

          <ion-col size-lg="2" size-md="3" size-sm="6" size-xs="12">
            <div class="checkbox">
              <ion-label>   आडनाव :  <span>   आचवले  </span>  </ion-label>
            </div>
          </ion-col>
          
          <ion-col size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>   Caste    </ion-label>
              <ion-select name="Caste" [(ngModel)]="Caste" placeholder="Select" interface="popover" class="form-control" required>
                <ion-select-option class="select_option" value="Caste 1"> Caste 1</ion-select-option>
                <ion-select-option class="select_option" value=" Caste 2"> Caste 2</ion-select-option>
              </ion-select>
          </ion-col>
          
          
          <ion-col size-lg="3" size-md="4" size-sm="6" size-xs="12">
              <ion-button class="mt-4" type="submit" (click)="presentLoading()">Search</ion-button>
              <!-- <ion-button shape="round" type="reset" (click)="resetForm()" class="mt-5" color="danger">Clear</ion-button> -->
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>

    <ion-card>
      <ion-card-content>
        
        <table id="table25" #epltable>
          <thead>
            <tr>
              <th>
                 Booth No.
              </th>
              <th>
                Sr.No.
              </th>
              <th>
                Name
              </th>
              <th>
                Age
              </th>
              <th>
                Gender	
              </th>
              <th>
                Voting Card No.
              </th>
              <th>
                Booth Name
              </th>
              <th>
                House
              </th>
              <th>
                Caste
              </th>
              
              <th id="element-to-hide" data-html2canvas-ignore="true">
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>367	 </td>
              <td>656		</td>
              <td>
                <span>ऋतुजा आचवले		</span>
              </td>
              <td>	22	</td>
              <td>		F	</td>
              <td>
                UVP9689555	
              </td>
              <td>जिल्हा परिषद प्राथमिक शाळा, किरकटवाडी उत्तरमुखी पूर्वेकडून खोली क्र. 6	</td>
              <td>	</td>
              <td>Baniya</td>
              <td id="element-to-hide" data-html2canvas-ignore="true" class="text-center">
                <ion-button routerLink="/voterdata-management/edit-voterdata" color="success" size="small"><ion-icon name="pencil-sharp"></ion-icon></ion-button>
              </td>
            </tr>
            
          </tbody>
        </table>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
						