<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Add User</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="primary" defaultHref="/booth-coordinator"></ion-back-button>
      </ion-buttons>
      <ion-title> बूथ समन्वयक </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid>
      <ion-row>
        <ion-text class="form-header pl-10">
          <ion-icon name="add-circle-outline" class="pr-1"></ion-icon>बूथ समन्वयक
        </ion-text>
      </ion-row>
      <form #myForm="ngForm">
        <ion-row>
          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label>  एरिया नाव <span>*</span></ion-label>
              <ion-select name="Area" placeholder="Please Select" [(ngModel)]="Area" interface="popover" class="form-control" required>
                <ion-select-option class="select_option" value="एरिया 1">एरिया 1 </ion-select-option>
                <ion-select-option class="select_option" value="एरिया 2">एरिया 2  </ion-select-option>
              </ion-select>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> विधानसभा बूथ क्रमांक <span>*</span></ion-label>
              <ion-select placeholder="Please Select" [(ngModel)]="Assembly" name="Assembly" interface="popover" class="form-control" required>
                <ion-select-option class="select_option" value="विधानसभा 1">विधानसभा 1</ion-select-option>
                <ion-select-option class="select_option" value="विधानसभा 2">विधानसभा 2</ion-select-option>
              </ion-select>
          </ion-col>

          
          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label>  मुख्य समन्वयक <span>*</span>  </ion-label>
              <ion-input name="MainCoordinator" [(ngModel)]="MainCoordinator" class="form-control" required></ion-input>
          </ion-col>
          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label>  मुख्य समन्वयक मो. क्रमांक <span>*</span>   </ion-label>
              <ion-input type="text" maxlength="10" name="MainCoordinatorMobile" [(ngModel)]="MainCoordinatorMobile" (keypress)="numberOnly($event)" class="form-control" required></ion-input>
          </ion-col>
          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label>   मुख्य समन्वयक (व्हॉट्सअँप ) <span>*</span>   </ion-label>
              <ion-input name="MainCoordinatorWhatsapp" [(ngModel)]="MainCoordinatorWhatsapp" maxlength="10" (keypress)="numberOnly($event)" class="form-control" required></ion-input>
          </ion-col>
          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label>   मुख्य समन्वयक - Facebook    </ion-label>
              <ion-input name="MainCoordinatorFacebook" [(ngModel)]="MainCoordinatorFacebook" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label>  सह समन्वयक १  </ion-label>
              <ion-input name="AsstCoordinator1" [(ngModel)]="AsstCoordinator1" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> सह समन्वयक १ मो. क्रमांक     </ion-label>
              <ion-input name="AsstCoordinatorMobile1" [(ngModel)]="AsstCoordinatorMobile1" maxlength="10" (keypress)="numberOnly($event)" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label>    सह समन्वयक १ (व्हॉट्सअँप )   </ion-label>
              <ion-input name="AsstCoordinatorWhatsapp1" [(ngModel)]="AsstCoordinatorWhatsapp1" maxlength="10" (keypress)="numberOnly($event)" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label>   सह समन्वयक १ - Facebook    </ion-label>
              <ion-input name="AsstCoordinatorFacebook1" [(ngModel)]="AsstCoordinatorFacebook1" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label>  सह समन्वयक 2  </ion-label>
              <ion-input name="AsstCoordinator2" [(ngModel)]="AsstCoordinator2" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> सह समन्वयक 2 मो. क्रमांक     </ion-label>
              <ion-input name="AsstCoordinatorMobile2" [(ngModel)]="AsstCoordinatorMobile2" maxlength="10" (keypress)="numberOnly($event)" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label>    सह समन्वयक 2 (व्हॉट्सअँप )   </ion-label>
              <ion-input name="AsstCoordinatorWhatsapp2" [(ngModel)]="AsstCoordinatorWhatsapp2" maxlength="10" (keypress)="numberOnly($event)" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label>   सह समन्वयक 2 - Facebook    </ion-label>
              <ion-input name="AsstCoordinatorFacebook2" [(ngModel)]="AsstCoordinatorFacebook2" class="form-control"></ion-input>
          </ion-col>
          
          
          <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="6" size-xs="12">
            <ion-label>    शेरा </ion-label>
              <ion-textarea name="Remark" [(ngModel)]="Remark" rows="2" class="form-control"></ion-textarea>
          </ion-col>
          
          <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <div class="ion-text-center">
              <ion-button type="reset" (click)="resetForm()" color="danger" size="medium">Clear</ion-button>
              <ion-button [disabled]="!myForm.form.valid"  type="submit" size="medium">  Save</ion-button>
              <ion-button routerLink="/booth-coordinator" color="success" type="button" size="medium">Back To List</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>