

<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="primary" defaultHref="/govt-rules"></ion-back-button>
      </ion-buttons>
      <ion-title> शासन निर्णय </ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="search()">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid>
      <ion-row>
        <ion-text class="form-header pl-10">
          <ion-icon name="add-circle-outline" class="pr-1"></ion-icon>शासन निर्णय
        </ion-text>
      </ion-row>
      <form #myForm="ngForm">
        <ion-row>
          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>   प्रकार  <span>*</span> </ion-label>
                  <ion-select name="type" [(ngModel)]="type" placeholder="Select" interface="popover" class="form-control" required>
                    <ion-select-option class="select_option" value="शासन निर्णय - केंद्र"> शासन निर्णय - केंद्र</ion-select-option>
                    <ion-select-option class="select_option" value=" शासन निर्णय - राज्य"> शासन निर्णय - राज्य</ion-select-option>
                    <ion-select-option class="select_option" value=" मंत्रिमंडळ निर्णय"> मंत्रिमंडळ निर्णय</ion-select-option>
                    <ion-select-option class="select_option" value=" शासन निर्णय-स्था.स्व / जिल्हाधिकारी / इतर"> शासन निर्णय-स्था.स्व / जिल्हाधिकारी / इतर</ion-select-option>
                  </ion-select>
          </ion-col>

          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>   जी.आर. दिनांक<span>*</span> </ion-label>
            <ion-input value="{{ BirthDate | date: 'yyyy-MM-dd' }}" id="BirthDate" class="form-control" required>
            </ion-input>

            <ion-modal trigger="BirthDate" size="cover">
              <ng-template>
                <ion-datetime presentation="date" [(ngModel)]="BirthDate" name="BirthDate">
                  <span slot="title"> {{ year }} </span>
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>

          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>  सांकेतांक क्रमांक  <span>*</span> </ion-label>
              <ion-input [(ngModel)]="serielNumber" name="serielNumber" class="form-control" required ></ion-input>
          </ion-col>

          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>  शीर्षक    <span>*</span> </ion-label>
              <ion-input [(ngModel)]="subject" name="subject" class="form-control" required ></ion-input>
          </ion-col>

          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>  संबंधित विभाग    </ion-label>
                  <ion-select name="department" [(ngModel)]="department" placeholder="Select" interface="popover" class="form-control">
                    <ion-select-option class="select_option" value="विभाग 1"> विभाग 1</ion-select-option>
                    <ion-select-option class="select_option" value="विभाग 2"> विभाग 2 </ion-select-option>
                  </ion-select>
          </ion-col>

          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12" class="file">
            <ion-label>  संबंधित कागदपत्रे   </ion-label>
            <input type="file" class="form-control"/>
          </ion-col>

          <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="6" size-xs="12">
            <ion-label>  शेरा   </ion-label>
                  <ion-textarea rows="2" name="message" [(ngModel)]="message" class="form-control"></ion-textarea>
          </ion-col>
              
          <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <div class="ion-text-center">
              <ion-button type="reset" (click)="resetForm()" color="danger" size="medium">Clear</ion-button>
              <ion-button [disabled]="!myForm.form.valid"  type="submit" size="medium">Save</ion-button>
              <ion-button routerLink="/govt-rules" color="success" type="button" size="medium">Back To List</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>