<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Add User</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="main-content">
    <ion-grid>
      <ion-row>
        <ion-text class="form-header pl-10">
          <ion-icon name="add-circle-outline" class="pr-1"></ion-icon>दैनंदिन कार्यक्रम
        </ion-text>
      </ion-row>
      <form name="routineForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <ion-row>
          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label>  कार्यक्रम  <span>*</span> </ion-label>
              <ion-input name="Program" [(ngModel)]="routineModel.Program" #Program="ngModel" [ngClass]="{'is-invalid': f.submitted && Program.invalid}"  class="form-control" required></ion-input>
              <div *ngIf="f.submitted && Program.invalid" class="invalid-feedback">
                <div *ngIf="Program.errors.required">
                  कार्यक्रम टाइप करा
                </div>
              </div>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label>  कार्यक्रमाचे स्वरूप <span>*</span></ion-label>
              <ion-select placeholder="Please Select" name="Type" [(ngModel)]="routineModel.Type" #Type="ngModel" [ngClass]="{'is-invalid': f.submitted && Type.invalid}" interface="popover" class="form-control" required>
                
                <ion-select-option value="विवाह/साखरपुडा">विवाह/साखरपुडा </ion-select-option>
                <ion-select-option value="सदिच्छा भेट/कौटुंबिक कार्यक्रम ">सदिच्छा भेट/कौटुंबिक कार्यक्रम  </ion-select-option>
                <ion-select-option value="दशक्रिया / सांत्वनपर भेट">दशक्रिया / सांत्वनपर भेट </ion-select-option>
                <ion-select-option value="भूमिपूजन/लोकार्पण">भूमिपूजन/लोकार्पण </ion-select-option>
                <ion-select-option value="उदघाटन/शुभारंभ ">उदघाटन/शुभारंभ </ion-select-option>
                <ion-select-option value="शासकीय बैठक - तालुकास्तर">शासकीय बैठक - तालुकास्तर</ion-select-option>
                <ion-select-option value="शासकीय बैठक - जिल्हास्तर">शासकीय बैठक - जिल्हास्तर</ion-select-option>
                <ion-select-option value="शासकीय बैठक - मंत्रालय">शासकीय बैठक - मंत्रालय</ion-select-option>
                <ion-select-option value="इतर बैठक">इतर बैठक</ion-select-option>
                <ion-select-option value="पक्ष बैठक/सभा/कार्यक्रम ">पक्ष बैठक/सभा/कार्यक्रम </ion-select-option>
              </ion-select>
              <div *ngIf="f.submitted && Type.invalid" class="invalid-feedback">
                <div *ngIf="Type.errors.required">
                  कार्यक्रमाचे स्वरूप प्रकार निवडा
                </div>
              </div>
            
          </ion-col>
          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label>  द्वारा /निमंत्रक  </ion-label>
              <ion-input (keypress)="onKeyPress($event)" class="form-control"></ion-input>
          </ion-col>
          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> द्वारा /निमंत्रक मोबाइल क्रमांक   </ion-label>
              <ion-input name="Mobile" [(ngModel)]="routineModel.Mobile" #Mobile="ngModel" [ngClass]="{'is-invalid': f.submitted && Mobile.invalid}" required minlength="10" maxlength="10" class="form-control" (keypress)="keyPressNumbers($event)"></ion-input>
              <div *ngIf="f.submitted && Mobile.invalid" class="invalid-feedback">
                <div *ngIf="Mobile.errors.required">
                  मोबाइल क्रमांक टाइप करा
                </div>
                <div *ngIf="Mobile.errors.minlength">
                  योग्य मोबाइल क्रमांक टाइप करा
                </div>
              </div>
          </ion-col>
          
          
          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label>  कार्यक्रमाचे ठिकाण <span>*</span></ion-label>
              <ion-input name="Place" [(ngModel)]="routineModel.Place" #Place="ngModel" [ngClass]="{'is-invalid': f.submitted && Place.invalid}" class="form-control" required></ion-input>
              <div *ngIf="f.submitted && Place.invalid" class="invalid-feedback">
                <div *ngIf="Place.errors.required">
                  कार्यक्रमाचे ठिकाण टाइप करा
                </div>
              </div>
          </ion-col>
          <ion-col size-xl="4" size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <ion-label>कार्यक्रम/ निमंत्रण पत्रिका </ion-label>
              <!-- <input type="file"> -->
              <ion-input type="file" name="File" [(ngModel)]="routineModel.File" #File="ngModel" class="form-control"></ion-input>
          </ion-col>
          <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <ion-label> कार्यक्रम पत्ता <span>*</span></ion-label>

              <ion-textarea name="address" [(ngModel)]="address" rows="4" required></ion-textarea>
          </ion-col>
          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label>कार्यक्रम दिनांक <span>*</span></ion-label>
              <ion-input
                value="{{ progDate | date: 'dd/MM/yyyy' }}"
                id="progDate"
                class="form-control"
                name="progDate"
                
              ></ion-input>
              <ion-modal trigger="progDate" size="cover">
                <ng-template>
                  <ion-datetime
                    presentation="date"
                    [(ngModel)]="progDate"
                    name="progDate"
                  >
                  <div slot="title">{{ year }}</div>
                </ion-datetime>
                </ng-template>
              </ion-modal>
          </ion-col>
          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label>कार्यक्रम वेळ <span>*</span></ion-label>
            <ion-input type="time" name="Time" [(ngModel)]="routineModel.Time" #Time="ngModel" [ngClass]="{'is-invalid': f.submitted && Time.invalid}" required class="form-control"></ion-input>
              <div *ngIf="f.submitted && Time.invalid" class="invalid-feedback">
                <div *ngIf="Time.errors.required">
                  कार्यक्रम वेळ निवडा
                </div>
              </div>
          </ion-col>
          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
              <ion-radio-group allow-empty-selection value="anchovies" name="radio" [(ngModel)]="radio" required>
                
                <ion-label> कार्यक्रमाचा SMS स्केड्यूल करायचा आहे <span>*</span></ion-label>
                
                <ion-item lines="none">
                  <ion-label>हो</ion-label>
                  <ion-radio slot="start" value="हो"></ion-radio>
                </ion-item>
    
                <ion-item lines="none">
                  <ion-label>नाही </ion-label>
                  <ion-radio slot="start" value="नाही"></ion-radio>
                </ion-item>
    
              </ion-radio-group>
          </ion-col>

          <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <div class="ion-text-center">
              <ion-button type="reset" (click)="resetForm()" color="danger" size="medium">Clear</ion-button>
              <ion-button  type="submit" size="medium">  Save</ion-button>
              <ion-button routerLink="/daily-routine" color="success" type="button" size="medium">Back To List</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>