ion-toolbar ion-button {
    --padding-top: 12px;
    --padding-end: 6px;
    --padding-bottom: 12px;
    --padding-start: 6px;
    --border-radius: 0% !important;
    width: 80px; 
   
}

.title {
    background-color: #F00;
    width: 100% !important;
    margin: 0 auto !important;
}

@media screen and (max-width:576px) {
    ion-toolbar .mobileView {
        display: block;
    }
    ion-toolbar .websiteView {
        display: none;
    }
    
}
