

table { margin-top: 10px; }

td ion-icon { cursor: pointer; font-size: 12px; font-weight: 600;  }

table ion-button { --padding-start: 0.4em !important; --padding-end: 0.4em !important; }

table td:last-child { padding: 0.25rem 0.1rem !important; width: 58px !important; }

.file { font-size: 20px !important; color: #3880ff !important; font-weight: 600;}

@media screen and (max-width:1200px) {
    table { width: 900px; }
  }

  ion-modal {
    --width: 290px;
  --border-radius: 8px;
 }

 .headSection {
  display: flex;
  justify-content: space-between;
}

.search { width: 250px; }



    .firstLine {
      display: flex;
      justify-content: space-between;
  }

  @media screen and (max-width: 576px){
    .android ion-list {
      box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
      border: 1px solid #e6ebf1;
      border-radius: 0.625rem;
  }
}

.userList p span { color: #228bd2; }

// .android {
//   display: none;
// }

.address {
  width: 250px;
}

.boothName {
  width: 200px;
}

.firstLine ion-icon {
  font-size: 19px;
}

.whatsapp {
  color: #FFF;
  background: #25D366;
  border-radius: 50%;
  padding: 5px;
}

.print {
  color: #FFF;
  background: #228bd2;
  border-radius: 50%;
  padding: 5px;
}

.topForm {
  background: #FFF;
}

.details {
  display: flex;
  justify-content: space-between;
}

ion-list {
  margin-top: 2px;
}

ion-label {
  margin: 2px 0px !important;
}

.noData {
  padding: 20%;
  background: #FFF;
}

 .noData img {
  width: 125px !important;
 }

//  .radioBtn {
//   display: flex;
// justify-content: space-between;
// }
@media screen and (max-width:576px){
  .main-content {
      background: url('/assets/img/img-5.jpg');
      background-position: center;
      background-size: cover;
      width: 100%;
      background-repeat: no-repeat;
      height: -webkit-fill-available;
  }
  .android {  display: block; }
  .web { display: none; }
}

@media screen and (min-width:577px){
  
  .android {  display: none; }
  .web { display: block; }
}

.table tr th:nth-child(10){
  width: 200px !important;
  display: block;
}

.table tr td:nth-child(10){
  max-width: 200px !important;
  display: block;
}


.table tr th:nth-child(2){
  width: 200px !important;
}

.table tr td:nth-child(2){
  width: 200px !important;
}

.table tr th:nth-child(4){
  width: 200px !important;
}

.table tr td:nth-child(4){
  width: 200px !important;
}

.table ion-icon {
  cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

@media screen and (max-width:576px) {
  .hideMob {
    display: none;
  }
}

.search h5 {
  color: #48484a;
  font-weight: 600;
  font-size: 16px;
}