

<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button (click)="goBack()" defaultHref=""></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>  {{'Advance Search' | translate}} </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">

    <ion-grid class="topForm">
      <ion-row>
        <ion-col size-xs="12" size-sm="6">
          <ion-card-header>
            <ion-card-title> {{'Advance Search' | translate}}</ion-card-title>
            <div class="headerLine"></div>
          </ion-card-header>
        </ion-col>
        <ion-col class="ion-text-right hideMob">
          <ion-button class="button-download" color="primary"
            routerLink="/voterdata-management/add-voter">
            <ion-icon name="add-circle-sharp"></ion-icon>Voter
          </ion-button>
          <ion-button class="button-download" routerLink="/voterdata-management/import-voter" fill="outline"
            color="primary">
            <ion-icon name="document-sharp"></ion-icon>Import
          </ion-button>
        </ion-col>
      </ion-row>
      <form (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
        <ion-row>
          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>     {{'Last Name' | translate}}    </ion-label>
              <ion-input (keypress)="onKeyPress($event)" name="LastName" [(ngModel)]="searchModal.LastName" (change)="trimInput()" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>     {{'First Name' | translate}}    </ion-label>
              <ion-input (keypress)="onKeyPress($event)" name="FirstName" [(ngModel)]="searchModal.FirstName" (change)="trimInput()" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>    {{'Father / Husbands Name' | translate}}    </ion-label>
              <ion-input (keypress)="onKeyPress($event)" name="MiddleName" [(ngModel)]="searchModal.MiddleName" (change)="trimInput()" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>    {{'Voting Card' | translate}}   </ion-label>
              <ion-input (keypress)="omit_special_char($event)"  name="VotingCardNo" [(ngModel)]="searchModal.VotingCardNo" (change)="trimInput()" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>   From Age   </ion-label>
              <ion-input (keypress)="keyPressNumbers($event)"  maxlength="3" name="FromAge" [(ngModel)]="searchModal.FromAge" (change)="trimInput()" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>   To Age  </ion-label>
              <ion-input (keypress)="keyPressNumbers($event)"  maxlength="3" name="ToAge" [(ngModel)]="searchModal.ToAge" (change)="trimInput()" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>   {{'Gender' | translate}}  </ion-label>
            <ion-radio-group name="Gender" [(ngModel)]="searchModal.Gender">
              <div class="radioBtn" >
                <div>
                  <ion-radio value="M" ></ion-radio>
                  <ion-label> {{'Male' | translate}}</ion-label>
                </div>

                <div>
                  <ion-radio value="F" ></ion-radio>
                  <ion-label> {{'Female' | translate}}</ion-label>
                </div>

                <!-- <div>
                  <ion-radio value="O" ></ion-radio>
                  <ion-label>Other</ion-label>
                </div> -->
              </div>
            </ion-radio-group>
          </ion-col>

          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>    {{'Part No.' | translate}} </ion-label>
              <ion-input (keypress)="keyPressNumbers($event)" maxlength="5" name="PartNo" [(ngModel)]="searchModal.PartNo" (change)="trimInput()" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>     {{'Mobile' | translate}}   </ion-label>
              <ion-input (keypress)="keyPressNumbers($event)" maxlength="12" minlength="10" name="MobileNo" [(ngModel)]="searchModal.MobileNo" (change)="trimInput()" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>    {{'Village' | translate}} </ion-label>
              <ion-input (keypress)="onKeyPress($event)"  maxlength="30" name="Village" [(ngModel)]="searchModal.Village" (change)="trimInput()" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>    {{'House No.' | translate}} </ion-label>
              <ion-input maxlength="6" name="HouseNo" [(ngModel)]="searchModal.HouseNo" (change)="trimInput()" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="4" size-xs="12">
            <ion-label> {{'Caste' | translate}} </ion-label>
            <ng-select name="Caste" placeholder="Select Caste" [(ngModel)]="searchModal.Caste">
              <ng-option *ngFor="let item of casteList" [value]="item.casteName">
                {{item.casteName}}
              </ng-option>
            </ng-select>
          </ion-col>

          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="4" size-xs="12">
            <ion-label> Occupation / Profession</ion-label>
            <ion-input (keypress)="onKeyPress($event)" maxlength="30" name="Profession" [(ngModel)]="searchModal.Occupation" (change)="trimInput()" class="form-control" ></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="4" size-xs="12">
            <ion-label> Education </ion-label>
            <ion-input (keypress)="omit_special_char($event)" maxlength="30" name="Education" [(ngModel)]="searchModal.Education" (change)="trimInput()" class="form-control" ></ion-input>
          </ion-col>

          <!-- <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="4" size-xs="12">
            <ion-label> Zone </ion-label>
            <ion-input name="Zone" class="form-control" ></ion-input>
          </ion-col> -->

          <!-- <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="4" size-xs="12">
            <ion-label> Only Mobile No. </ion-label>
            <ion-input name="onlyMobile" class="form-control" ></ion-input>
          </ion-col> -->

          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="4" size-xs="12">
            <ion-label> Society </ion-label>
            <ion-input (keypress)="omit_special_char($event)" maxlength="30" name="Society" [(ngModel)]="searchModal.Society" (change)="trimInput()" class="form-control" ></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="4" size-xs="12">
            <ion-label> Religion </ion-label>
            <ion-input (keypress)="onKeyPress($event)"  maxlength="30" name="Religion" [(ngModel)]="searchModal.Religion" (change)="trimInput()"  class="form-control" ></ion-input>
          </ion-col>
          
          <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
              <div class="text-center">
                <ion-button class="searchBtn" type="submit" (click)="voterListBySearch()"> {{'Search' | translate}}</ion-button>
                <ion-button type="reset" (click)="resetForm()" class="searchBtn" color="danger"> {{'Clear' | translate}}</ion-button>
              </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>

    <ion-card class="web" *ngIf="isShow">
      <ion-card-content>
        <div class="headSection">
          <div class="search">
            <h5>Total - {{totalItems}}</h5>
          </div>
          <div>
            
          </div>
          <ion-button class="button-download" color="success" (click)="exportExcel()">
            <ion-icon name="document-sharp"></ion-icon>Excel
          </ion-button>
        </div>
        <div class="horizontal-scroll">
          <table id="table10" #epltable class="table">
            <thead>
              <tr>
                <th>Sr.No.</th>
                    <th>Name</th>
                    <th>Part No.</th>
                    <th>Booth Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>House</th>
                    <th>Voting Card No.</th>
                    <th>Village</th>
                    <th>Address</th>
                    <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of searchList| paginate: { itemsPerPage:NoofRow, currentPage: PageNo, totalItems:totalItems }">
                <td>{{item.id}}</td>
                <td class="text-capitalize">{{item.fullName}}</td>
                <td>{{item.partNo}}</td>
                <td>{{item.booth}}</td>
                <td>{{item.age}}</td>
                <td>{{item.gender}}</td>
                <td>{{item.houseNo}}</td>
                <td>{{item.votingCardNo}}</td>
                <td>{{item.village}}</td>
                <td>{{item.address}}</td>
                <td>
                  <ion-icon name="create-sharp" (click)="EditVoter(item)"></ion-icon>
                </td>
              </tr>
              
            </tbody>
          </table>
          <pagination-controls (pageChange)="event($event)"></pagination-controls>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-grid class="android userList">
      <ion-list>
        <ion-item lines="none">
           {{'Total' | translate}} : {{totalItems}}
        </ion-item>
      </ion-list>
    <ion-list *ngFor="let item of searchList | paginate: { itemsPerPage:NoofRow, currentPage: PageNo, totalItems:totalItems } " (click)="voterDetails(item)">
      <ion-item lines="none">
        <!-- <ion-avatar slot="start">
          <ion-icon name="person-sharp"></ion-icon>
        </ion-avatar> -->
        <ion-label>
          <div class="firstLine">
            <h3>{{item.fullName}}</h3>
          </div>
          <div class="details">
            <p>   {{'Part No.' | translate}} : <span> {{item.partNo}} </span> </p>
            <p>   {{'Age' | translate}} : <span> {{item.age}} </span> </p>
            <p>  {{'Gender' | translate}} : <span> {{item.gender}} </span></p>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <pagination-controls (pageChange)="event($event)"></pagination-controls>
    </ion-list>
    <div *ngIf="!searchList || searchList.length === 0" class="text-center mt-1 noData">
      <img src="assets/img/question.png" />
      <p> {{'No data available' | translate}}</p>
      <ion-button fill="outline" routerLink="/home/mobile-dashboard">Go Home</ion-button>
    </div>
  </ion-grid>
  </div>
</ion-content>
						