

<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>  {{'Advance Search' | translate}} </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid class="web">
      <ion-row>
        <ion-col size-xs="12" size-sm="6">
          <ion-card-header>
            <ion-card-title> {{'Advance Search' | translate}}</ion-card-title>
            <div class="headerLine"></div>
          </ion-card-header>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="topForm">
      <form (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
        <ion-row>
          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>     {{'Last Name' | translate}}    </ion-label>
              <ion-input name="LastName" [(ngModel)]="searchModal.LastName" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>     {{'First Name' | translate}}    </ion-label>
              <ion-input name="FirstName" [(ngModel)]="searchModal.FirstName" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>    {{'Father / Husbands Name' | translate}}    </ion-label>
              <ion-input name="MiddleName" [(ngModel)]="searchModal.MiddleName" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>    {{'Voting Card' | translate}}   </ion-label>
              <ion-input name="VotingCardNo" [(ngModel)]="searchModal.VotingCardNo" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>   From Age   </ion-label>
              <ion-input type="number" name="FromAge" [(ngModel)]="searchModal.FromAge" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>   To Age  </ion-label>
              <ion-input type="number" name="ToAge" [(ngModel)]="searchModal.ToAge" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>   {{'Gender' | translate}}  </ion-label>
            <ion-radio-group name="Gender" [(ngModel)]="searchModal.Gender">
              <div class="radioBtn" >
                <div>
                  <ion-radio value="M" ></ion-radio>
                  <ion-label> {{'Male' | translate}}</ion-label>
                </div>

                <div>
                  <ion-radio value="F" ></ion-radio>
                  <ion-label> {{'Female' | translate}}</ion-label>
                </div>

                <!-- <div>
                  <ion-radio value="O" ></ion-radio>
                  <ion-label>Other</ion-label>
                </div> -->
              </div>
            </ion-radio-group>
          </ion-col>

          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>    {{'Part No.' | translate}} </ion-label>
              <ion-input name="PartNo" [(ngModel)]="searchModal.PartNo" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>     {{'Mobile' | translate}}   </ion-label>
              <ion-input name="MobileNo" [(ngModel)]="searchModal.MobileNo" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>    {{'Village' | translate}} </ion-label>
              <ion-input name="Village" [(ngModel)]="searchModal.Village" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>    {{'House No.' | translate}} </ion-label>
              <ion-input name="HouseNo" [(ngModel)]="searchModal.HouseNo" class="form-control"></ion-input>
          </ion-col>
          
          <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
              <div class="text-center">
                <ion-button class="searchBtn" type="submit" (click)="voterListBySearch()"> {{'Search' | translate}}</ion-button>
                <ion-button type="reset" (click)="resetForm()" class="searchBtn" color="danger"> {{'Clear' | translate}}</ion-button>
              </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>

    <ion-card class="web">
      <ion-card-content>
        <div class="headSection">
          <div class="search">
            <ion-searchbar [(ngModel)]="searchWeb" animated="true"></ion-searchbar>
          </div>
          <ion-button class="button-download" color="success" (click)="exportExcel()">
            <ion-icon name="document-sharp"></ion-icon>Excel
          </ion-button>
        </div>
        <div class="horizontal-scroll">
          <table id="table10" #epltable>
            <thead>
              <tr>
                
                <th>
                  Sr.No.				
                </th>
                <th>
                  Name				
                </th>
                <th>
                  Booth No.			
                </th>
                <th class="boothName">
                  Booth Name
                </th>
                
                <th>
                  Age				
                </th>
                <th>
                  Gender	
                </th>
                <th>
                  House
                </th>
                <th>
                  Voting Card	
                </th>
                <th>
                  Mobile No.
                </th>
                <th class="address">
                  Address
                </th>
                
                <th id="element-to-hide" data-html2canvas-ignore="true">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                
                <td>1</td>
                <td>
                  Sagar Salunkhe
                </td>
                <td>44</td>
                <td boothName>Kondhwa bk.</td>
                <td>28</td>
                <td>Male</td>
                <td>11</td>
                <td>121123123</td>
                <td>9579743709</td>
                <td class="address">
                  17 D SARVANT QTR 18 N D A KHADAKWASALA PUNE PUNE PUNE PUNE MAHARASHTRA 411024
                </td>
                
                <td id="element-to-hide" data-html2canvas-ignore="true">
                  <ion-button routerLink="/daily-news/edit-daily-news" color="success" size="small"><ion-icon name="pencil-sharp"></ion-icon></ion-button>
                  <ion-button color="danger" size="small" ><ion-icon name="trash-sharp"></ion-icon></ion-button>
                </td>
              </tr>
              
            </tbody>
          </table>
          
        </div>
      </ion-card-content>
    </ion-card>

    <ion-grid class="android userList">
      <ion-searchbar *ngIf="isShow"></ion-searchbar>
      <ion-list>
        <ion-item lines="none">
           {{'Total' | translate}} : {{searchList.length}}
        </ion-item>
      </ion-list>
    <ion-list *ngFor="let item of searchList" (click)="voterDetails(item)">
      <ion-item lines="none">
        <!-- <ion-avatar slot="start">
          <ion-icon name="person-sharp"></ion-icon>
        </ion-avatar> -->
        <ion-label>
          <div class="firstLine">
            <h3>{{item.fullName}}</h3>
          </div>
          <div class="details">
            <p>   {{'Part No.' | translate}} : <span> {{item.partNo}} </span> </p>
            <p>   {{'Age' | translate}} : <span> {{item.age}} </span> </p>
            <p>  {{'Gender' | translate}} : <span> {{item.gender}} </span></p>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
    <div *ngIf="!searchList || searchList.length === 0" class="text-center mt-1 noData">
      <img src="assets/img/question.png" />
      <p> {{'No data available' | translate}}</p>
      <ion-button fill="outline" routerLink="/home/mobile-dashboard">Go Home</ion-button>
    </div>
  </ion-grid>
  </div>
</ion-content>
						