<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Add User</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="primary" defaultHref="/appointment"></ion-back-button>
      </ion-buttons>
      <ion-title> लाभार्थी </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid>
      <ion-row>
        <ion-text class="form-header pl-10">
          <ion-icon name="add-circle-outline" class="pr-1"></ion-icon>लाभार्थी
        </ion-text>
      </ion-row>
      <form #myForm="ngForm">
        <ion-row>
          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>  योजना <span>*</span> </ion-label>
              <ion-select name="Yojna" [(ngModel)]="Yojna" placeholder="Select" interface="popover" class="form-control" required>
                <ion-select-option class="select_option" value="योजना 1"> योजना  1</ion-select-option>
                <ion-select-option class="select_option" value="योजना 2"> योजना   2 </ion-select-option>
              </ion-select>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>   लाभार्थी नाव   <span>*</span> </ion-label>
              <ion-input [(ngModel)]="Name" name="Name" (keypress)="onKeyPress($event)" class="text-capitalize form-control" required ></ion-input>
          </ion-col>
          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>  जन्म दिनांक  </ion-label>
            <ion-input value="{{ BirthDate | date: 'yyyy-MM-dd' }}" id="BirthDate" class="form-control" required>
            </ion-input>

            <ion-modal trigger="BirthDate" size="cover">
              <ng-template>
                <ion-datetime presentation="date" [(ngModel)]="BirthDate" name="BirthDate">
                  <span slot="title"> {{ year }} </span>
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>
          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>  एरिया  <span>*</span> </ion-label>
              <ion-select name="Area" [(ngModel)]="Area" placeholder="Select" interface="popover" class="form-control" required>
                <ion-select-option class="select_option" value="एरिया 1"> एरिया 1</ion-select-option>
                <ion-select-option class="select_option" value=" एरिया 2"> एरिया 2</ion-select-option>
                
              </ion-select>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>  व्यवसाय   <span>*</span> </ion-label>
              <ion-select name="Occupation" [(ngModel)]="Occupation" placeholder="Select" interface="popover" class="form-control" required>
                <ion-select-option class="select_option" value="विद्यार्थी"> विद्यार्थी</ion-select-option>
                <ion-select-option class="select_option" value="शेतकरी"> शेतकरी</ion-select-option>
                <ion-select-option class="select_option" value="स्वयंरोजगार/व्यवसाय"> स्वयंरोजगार/व्यवसाय</ion-select-option>
                <ion-select-option class="select_option" value="नोकरी"> नोकरी</ion-select-option>
                <ion-select-option class="select_option" value="इतर"> इतर</ion-select-option>
              </ion-select>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>    मोबाइल क्रमांक  <span>*</span> </ion-label>
              <ion-input [(ngModel)]="Mobile" name="Mobile" maxlength="10" (keypress)="keyPressNumbers($event)" class="form-control" required ></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>    मोबाइल क्रमांक (व्हॉट्सअँप  </ion-label>
              <ion-input [(ngModel)]="Wmobile" name="Wmobile" maxlength="10" (keypress)="keyPressNumbers($event)" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>  सद्यस्थिती    <span>*</span> </ion-label>
              <ion-select name="Status" [(ngModel)]="Status" placeholder="Select" interface="popover" class="form-control" required>
                <ion-select-option class="select_option" value="मंजूर"> मंजूर</ion-select-option>
                <ion-select-option class="select_option" value="नामंजूर"> नामंजूर</ion-select-option>
                <ion-select-option class="select_option" value="प्रगतीत"> प्रगतीत</ion-select-option>
              </ion-select>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>  द्वारा नाव   <span>*</span> </ion-label>
              <ion-input [(ngModel)]="NameBy" name="NameBy" (keypress)="onKeyPress($event)" class="text-capitalize form-control" required ></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>    द्वारा मोबाइल  </ion-label>
              <ion-input [(ngModel)]="MobileBy" name="MobileBy" maxlength="10" (keypress)="keyPressNumbers($event)" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label> अनुदान रक्कम    </ion-label>
              <ion-input [(ngModel)]="Gammount" name="Gammount" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label> संबंधित पत्रे   </ion-label>
            <ion-input type="text" class="form-control"></ion-input>
          </ion-col>
          
          <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <div class="ion-text-center">
              <ion-button type="reset" (click)="resetForm()" color="danger" size="medium">Clear</ion-button>
              <ion-button [disabled]="!myForm.form.valid"  type="submit" size="medium">Save</ion-button>
              <ion-button routerLink="/beneficiaries" color="success" type="button" size="medium">Back To List</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>