

<ion-content>
    <ion-header class="android">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button color="primary" defaultHref="/user"></ion-back-button>
        </ion-buttons>
        <ion-title> Add Assembly </ion-title>
      </ion-toolbar>
    </ion-header>
    <div class="main-content">
      <ion-grid class="grid-bg">
        <ion-row>
          <ion-text class="form-header pl-10">
            <ion-icon name="add-circle-outline" class="pr-1"></ion-icon>Add Assembly
          </ion-text>
        </ion-row>
        <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
          <ion-row>
            <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
              <ion-grid class="leftDiv">
                
                <ion-row>
                  <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
                    <ion-label>  State  <span>*</span> </ion-label>
                    <!-- <ion-input name="State" [(ngModel)]="asemblyModal.State" #State="ngModel" class="form-control"></ion-input> -->
                      <ion-select name="State" [(ngModel)]="asemblyModal.State" #State="ngModel" placeholder="Select" class="form-control" required>
                        <ion-select-option class="select_option" value="Maharashtra"> Maharashtra</ion-select-option>
                      </ion-select>
                  </ion-col>

                  <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
                    <ion-label>  Assembly Number   </ion-label>
                      <ion-input type="number" name="AssemblyNo" [(ngModel)]="asemblyModal.AssemblyNo" #AssemblyNo="ngModel" class="form-control"></ion-input>
                  </ion-col>

                  <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
                    <ion-label>Assembly Name</ion-label>
                      <ion-textarea name="AssemblyName" [(ngModel)]="asemblyModal.AssemblyName" #AssemblyName="ngModel" required class="form-control" rows="4"></ion-textarea>
                      <!-- <div *ngIf="f.submitted && Name.invalid" class="invalid-feedback">
                        <div *ngIf="Name.errors.required">
                            Assembly name is required.
                        </div>
                      </div> -->
                  </ion-col>
  
                  <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
                    <div class="ion-text-center">
                      <ion-button type="reset" color="danger" size="medium" (click)="resetForm()">Clear</ion-button>
                      <ion-button type="submit" size="medium" (click)="addAssembly()" [disabled]="!f.form.valid">Save</ion-button>
                      <ion-button routerLink="/assembly" color="success" type="button" size="medium">Back To List</ion-button>
                    </div>
                  </ion-col>
                </ion-row>
  
              </ion-grid>
            </ion-col>
            
          </ion-row>
        </form>
      </ion-grid>
    </div>
  </ion-content>