
.header { width: 100%; }

table { margin-top: 10px; }

ion-label span {  color: #F00 !important; font-weight: 500;}

td ion-icon { cursor: pointer; font-size: 18px; color: #3880ff !important; font-weight: 600;  }

table td:last-child { padding: 0.25rem 0.1rem !important; width: 58px !important; }

.file { font-size: 20px !important; color: #3880ff !important; font-weight: 600;}

/* ion-modal {
    --width: 290px;
  --border-radius: 8px;
  --height: auto !important;
 } */


.headSection {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width:576px){
    .web {
      display: none;
    }
  }

  .table ion-button {
    font-size: 12px !important;
}

.horizontal-scroll {
    overflow: scroll;
}

.table {
    width: 1800px;
}
