

<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="primary" defaultHref="/document-repository"></ion-back-button>
      </ion-buttons>
      <ion-title> डॉक्युमेंट रेपोसिटोरी </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid>
      <ion-row>
        <ion-text class="form-header pl-10">
          <ion-icon name="add-circle-outline" class="pr-1"></ion-icon>डॉक्युमेंट रेपोसिटोरी
        </ion-text>
      </ion-row>
      <form #myForm="ngForm">
        <ion-row>
          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>  प्रकार  <span>*</span> </ion-label>
              <ion-select name="Type" [(ngModel)]="Type" placeholder="Select" interface="popover" class="form-control" required>
                <ion-select-option class="select_option" value="बातमी / लेख"> बातमी / लेख</ion-select-option>
                <ion-select-option class="select_option" value="न्यायालय निकाल"> न्यायालय निकाल </ion-select-option>
                <ion-select-option class="select_option" value="न्यायालय याचिका"> न्यायालय याचिका</ion-select-option>
                <ion-select-option class="select_option" value="संदर्भ साहित्य"> संदर्भ साहित्य </ion-select-option>
                <ion-select-option class="select_option" value="इतर"> इतर</ion-select-option>
              </ion-select>
          </ion-col>

          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label> दिनांक   </ion-label>
            <ion-input value="{{ BirthDate | date: 'yyyy-MM-dd' }}" id="BirthDate" class="form-control" required>
            </ion-input>

            <ion-modal trigger="BirthDate" size="cover">
              <ng-template>
                <ion-datetime presentation="date" [(ngModel)]="BirthDate" name="BirthDate">
                  <span slot="title"> {{ year }} </span>
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>

          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>   शीर्षक   <span>*</span> </ion-label>
              <ion-input [(ngModel)]="Title" name="Title" class="form-control" required ></ion-input>
          </ion-col>
          
          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>  संबंधित विभाग  <span>*</span> </ion-label>
              <ion-select name="Department" [(ngModel)]="Department" placeholder="Select"  interface="popover" class="form-control" required>
                <ion-select-option class="select_option" value="विभाग 1"> विभाग 1</ion-select-option>
                <ion-select-option class="select_option" value=" विभाग 2"> विभाग 2</ion-select-option>
                
              </ion-select>
          </ion-col>

          <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="6" size-xs="12" class="file">
            <ion-label>  संबंधित कागदपत्रे  <span>*</span> </ion-label>
              <input type="file" class="form-control"/>
          </ion-col>

          <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <ion-label> शेरा  </ion-label>
              <ion-textarea name="Shera" [(ngModel)]="Shera" rows="2" class="form-control"> </ion-textarea>
          </ion-col>
         
          <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <div class="ion-text-center">
              <ion-button type="reset" (click)="resetForm()" color="danger" size="medium">Clear</ion-button>
              <ion-button [disabled]="!myForm.form.valid"  type="submit" size="medium">Save</ion-button>
              <ion-button routerLink="/document-repository" color="success" type="button" size="medium">Back To List</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>