<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Add User</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="primary" defaultHref="/appointment"></ion-back-button>
      </ion-buttons>
      <ion-title> वैयक्तिक नोंदी </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid>
      <ion-row>
        <ion-text class="form-header pl-10">
          <ion-icon name="add-circle-outline" class="pr-1"></ion-icon>वैयक्तिक नोंदी
        </ion-text>
      </ion-row>
      <form #myForm="ngForm">
        <ion-row>
          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>  दिनांक<span>*</span> </ion-label>
            <ion-input value="{{ Date | date: 'yyyy-MM-dd' }}" id="Date" class="form-control" required>
            </ion-input>

            <ion-modal trigger="Date" size="cover">
              <ng-template>
                <ion-datetime presentation="date" [(ngModel)]="Date" name="Date">
                  <span slot="title"> {{ year }} </span>
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>
          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label> विषय   <span>*</span> </ion-label>
              <ion-input [(ngModel)]="subject" name="subject" class="form-control" required ></ion-input>
          </ion-col>
          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label> प्राधान्य  <span>*</span></ion-label>
                  <ion-select name="priority" [(ngModel)]="priority" placeholder="Select" interface="popover" class="form-control" required>
                    <ion-select-option class="select_option" value="सामान्य"> सामान्य</ion-select-option>
                    <ion-select-option class="select_option" value=" महत्वाचे"> महत्वाचे</ion-select-option>
                    <ion-select-option class="select_option" value=" अतिमहत्त्वाचे"> अतिमहत्त्वाचे</ion-select-option>
                    
                  </ion-select>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>   सद्यस्थिती   </ion-label>
              <ion-select name="status" placeholder="Select" interface="popover" class="form-control">
                <ion-select-option class="select_option" value="प्रगतीत"> प्रगतीत</ion-select-option>
                <ion-select-option class="select_option" value="पूर्ण"> पूर्ण </ion-select-option>
                <ion-select-option class="select_option" value="अपूर्ण"> अपूर्ण </ion-select-option>
              </ion-select>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <div class="checkbox">
              <ion-checkbox></ion-checkbox>
              <ion-label>  जबाबदारी स्वतः    </ion-label> 
            </div>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label> जबाबदारी नियुक्त </ion-label>
              <ion-input name="responsibilityAssigned" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label> निर्धारीत काळ  </ion-label>
            <ion-input value="{{ ExpDate | date: 'yyyy-MM-dd' }}" id="ExpDate" class="form-control" required>
            </ion-input>

            <ion-modal trigger="ExpDate" size="cover">
              <ng-template>
                <ion-datetime presentation="date" [(ngModel)]="ExpDate" name="ExpDate">
                  <span slot="title"> {{ year }} </span>
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>  अपेक्षित पूर्ण होण्याची तारीख  </ion-label>
            <ion-input value="{{ compDate | date: 'yyyy-MM-dd' }}" id="compDate" class="form-control" required>
            </ion-input>

            <ion-modal trigger="compDate" size="cover">
              <ng-template>
                <ion-datetime presentation="date" [(ngModel)]="compDate" name="compDate">
                  <span slot="title"> {{ year }} </span>
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>
          
          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <div class="checkbox">
              <ion-checkbox></ion-checkbox>
              <ion-label> सेट रिमाइंडर  </ion-label> 
            </div>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>   रिमाइंडर वारंवारता </ion-label>
              <ion-select name="rFrequenct" placeholder="Select" interface="popover" class="form-control">
                <ion-select-option class="select_option" value="दैनंदिन"> दैनंदिन</ion-select-option>
                <ion-select-option class="select_option" value="साप्ताहिक"> साप्ताहिक </ion-select-option>
                <ion-select-option class="select_option" value="पंधरवडा"> पंधरवडा </ion-select-option>
                <ion-select-option class="select_option" value="मासिक"> मासिक </ion-select-option>
              </ion-select>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12" class="file">
            <ion-label>  संबंधित कागदपत्रे   </ion-label>
              <input type="file" class="form-control"/>
          </ion-col>

          

          <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <ion-label>  शेरा   </ion-label>
                  <ion-textarea rows="2" name="message" class="form-control"></ion-textarea>
          </ion-col>
          
          
          <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <div class="ion-text-center">
              <ion-button type="reset" (click)="resetForm()" color="danger" size="medium">Clear</ion-button>
              <ion-button [disabled]="!myForm.form.valid"  type="submit" size="medium">Save</ion-button>
              <ion-button routerLink="/personal-records" color="success" type="button" size="medium">Back To List</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>