<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/superadmin"></ion-back-button>
      </ion-buttons>
      <ion-title> Edit User </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid class="grid-bg">
      <ion-row>
        <ion-text class="form-header pl-10">
          <ion-icon name="add-circle-outline" class="pr-1"></ion-icon>Edit User
        </ion-text>
      </ion-row>
      <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
        <ion-row>
          <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <ion-grid class="leftDiv">

              <ion-row>
                <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
                  <ion-label>Name <span>*</span></ion-label>
                  <ion-input maxlength="50" name="name" [(ngModel)]="editData.name" #name="ngModel"
                    class="text-capitalize form-control" required></ion-input>
                  <!-- <div *ngIf="f.submitted && Name.invalid" class="invalid-feedback">
                      <div *ngIf="Name.errors.required">
                        Name is required
                      </div>
                    </div> -->
                </ion-col>

                <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
                  <ion-label>User Role <span>*</span></ion-label>
                  <ng-select name="roleId" [(ngModel)]="editData.roleName"  interface="popover" required
                    placeholder="Select User Role">
                    <ng-option value="Superadmin" *ngIf="isSA">Superadmin </ng-option>
                    <ng-option value="Admin" *ngIf="isA">Admin </ng-option>
                    <ng-option value="Volunteer" *ngIf="isV">Volunteer </ng-option>
                    <ng-option value="Society" *ngIf="isSoc">Society </ng-option>
                    <ng-option value="Member" *ngIf="isM">Member </ng-option>
                  </ng-select>
                  <!-- <div *ngIf="f.submitted && Role.invalid" class="invalid-feedback">
                                            <div *ngIf="Role.errors.required">
                                              Role is required
                                            </div>
                                          </div> -->
                </ion-col>

                <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
                  <ion-label>UserID / Mob. no. <span>*</span></ion-label>
                  <ion-input name="contact" [(ngModel)]="editData.contact" required maxlength="12"
                  minlength="10"
                    (keypress)="keyPressNumbers($event)" class="form-control">
                  </ion-input>
                  <!-- <div *ngIf="f.submitted && userID.invalid" class="invalid-feedback">
                          <div *ngIf="userID.errors.required">
                            userID is required
                          </div>
                        </div> -->
                </ion-col>

                <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
                  <div class="form-outline">
                    <ion-label>Password <span>*</span></ion-label>
                    <ion-input minlength="3" maxlength="30" [type]="ismyTextFieldType ? 'text' : 'password' " name="password"
                      [(ngModel)]="editData.password" required class="form-control"></ion-input>
                    <!-- <div *ngIf="f.submitted && Password.invalid" class="invalid-feedback">
                        <div *ngIf="Password.errors.required">
                          Password is required
                        </div>
                      </div> -->
                    <ion-icon (click)="togglemyPasswordFieldType()" [name]="ismyTextFieldType ? 'eye-off' : 'eye'">
                    </ion-icon>
                  </div>
                </ion-col>

                <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
                  <ion-label>Email</ion-label>
                  <ion-input 
                    type="email" 
                    name="Email" 
                    [(ngModel)]="editData.email"
                    maxlength="60"
                    pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
                    class="form-control"></ion-input>
                    <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                      <div *ngIf="Email.errors.pattern">
                        Invalid email
                      </div>
                    </div>
                </ion-col>

                <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12" *ngIf="editData.roleName == 'Superadmin'">
                  <ion-label>State</ion-label>
                  <ng-select name="state" [(ngModel)]="editData.state" interface="popover" placeholder="Select State">
                    <ng-option value="Maharashtra">Maharashtra </ng-option>
                  </ng-select>
                </ion-col>

                <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12" *ngIf="editData.roleName == 'Superadmin'">
                  <ion-label>Assign Data</ion-label>
                  <ng-select name="assign" [(ngModel)]="editData.assign" #assign="ngModel" 
                  placeholder="Assign Data">
                    <ng-option value="District">District </ng-option>
                    <ng-option value="Assembly">Assembly </ng-option>
                    <ng-option value="Village">Village </ng-option>
                 </ng-select>
                </ion-col>

                <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12" *ngIf="editData.assign == 'District' || 'Assembly' && editData.roleName == 'Superadmin'">
                  <ion-label>District</ion-label>
                  <ng-select name="district" [(ngModel)]="editData.district"
                    (change)="getTaluka(editData.district)">
                    <ng-option *ngFor="let item of districtList" [value]="item.dId">
                      {{ item.districtName }}
                    </ng-option>
                  </ng-select>
                </ion-col>

                <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12" *ngIf="editData.assign == 'Assembly' ">
                  <ion-label>Assembly</ion-label>
                  <ng-select name="assemblyName" [(ngModel)]="editData.assemblyName" placeholder="Select Assembly">
                    <ng-option *ngFor="let item of assemblyList" [value]="item.assemblyName + item.assemblyNo">
                      {{item.assemblyNo}} {{item.assemblyName}}
                    </ng-option>
                  </ng-select>
                </ion-col>



                <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12" *ngIf="editData.assign == 'Village'">
                  <ion-label> Taluka </ion-label>
                  <ng-select name="taluka" [(ngModel)]="editData.taluka" (change)="getVillage(editData.taluka)">
                    <ng-option *ngFor="let item of talukaList" [value]="item.talukaName">
                      {{ item.talukaName }}
                    </ng-option>
                  </ng-select>
                </ion-col>

                <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12" *ngIf="editData.assign == 'Village'">
                  <ion-label> Village </ion-label>
                  <ng-select placeholder="Please Select" name="village" [(ngModel)]="editData.village">
                    <ng-option *ngFor="let item of villageList" [value]="item.villageName">
                      {{item.villageName}}
                    </ng-option>
                  </ng-select>
                </ion-col>


                <!-- <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
                    <ion-label>Village</ion-label>
                    <ion-input name="Village" required class="text-capitalize form-control"></ion-input>
                  </ion-col> -->

                <!-- <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
                      <ion-label>Booth</ion-label>
                        <ion-select multiple="true" name="Booth" [(ngModel)]="addMAmodal.Booth" interface="popover" placeholder="Select Booth" class="form-control">
                          <ion-select-option value="Booth 1">Booth 1 </ion-select-option>
                          <ion-select-option value="Booth 2">Booth 2 </ion-select-option>
                        </ion-select>
                    </ion-col> -->

                <!-- <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="12" size-xs="12">
                      <ion-label>Candidate</ion-label>
                        <ion-input name="Candidate" [(ngModel)]="addMAmodal.Candidate" class="form-control"></ion-input>
                    </ion-col> -->

                <!-- <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
                      <ion-label>Quote</ion-label>
                        <ion-textarea name="Quote" [(ngModel)]="Quote" class="form-control" rows="3"></ion-textarea>
                    </ion-col> -->

                <!-- <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="file">
                      <ion-label>image 1</ion-label>
                        <ion-input type="file" class="form-control"></ion-input>
                    </ion-col>
    
                    <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="file">
                      <ion-label>image 2</ion-label>
                        <ion-input type="file" class="form-control"></ion-input>
                    </ion-col>
    
                    <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="file">
                      <ion-label>image 3</ion-label>
                        <ion-input type="file" class="form-control"></ion-input>
                    </ion-col> -->


                <!-- <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
                      <ion-label>Banner Image 1</ion-label>
                      <ion-item lines="none">
                        <input type="file">
                      </ion-item>
                    </ion-col> -->

                    <ion-col size-xl="2" size-lg="2" size-md="4" size-sm="6" size-xs="6" *ngIf="editData.roleName == 'Superadmin'">
                      <ion-label> Is Active </ion-label>
                      <ion-radio-group name="msgType" [(ngModel)]="editData.isActive">
                        <div class="radioBtn">
                          <div>
                            <ion-radio value="Y"></ion-radio>
                            <ion-label>Yes </ion-label>
                          </div>
                    
                          <div>
                            <ion-radio value="N"></ion-radio>
                            <ion-label>No </ion-label>
                          </div>
                    
                        </div>
                      </ion-radio-group>
                    </ion-col>

                <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
                  <div class="ion-text-center">
                    <ion-button type="reset" color="danger" size="medium" (click)="resetForm()">Clear</ion-button>
                    <ion-button type="submit" size="medium" (click)="editAdmin()" [disabled]="!f.form.valid">Update
                      User</ion-button>
                    <ion-button (click)="goBack()" color="success" type="button" size="medium">Back To List
                    </ion-button>
                  </div>
                </ion-col>
              </ion-row>

            </ion-grid>
          </ion-col>

          <!-- <table>
                  <thead>
                    <tr>
                      <th>Tasks Allowed </th>
                      <th>Create</th>
                      <th>Delete </th>
                      <th>Export</th>
                      <th>Send SMS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Superadmin</td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>Admin</td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>User</td>
                      <td>
                        <ion-checkbox disabled></ion-checkbox>
                      </td>
                      <td>
                        <ion-checkbox disabled></ion-checkbox>
                      </td>
                      <td>
                        <ion-checkbox disabled></ion-checkbox>
                      </td>
                      <td>
                        <ion-checkbox disabled></ion-checkbox>
                      </td>
                    </tr>
                  </tbody>
                </table> -->
          <!-- <table>
                  <thead>
                    <tr>
                      <th>Tasks Allowed </th>
                      <th>Superadmin</th>
                      <th>Admin </th>
                      <th>User</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Create Superadmin</td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>Delete Superadmin</td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                    </tr>
                    
                    <tr>
                      <td>Create Admin</td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>Delete Admin</td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                    </tr>
                    
                    <tr>
                      <td>Create User</td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>Delete User</td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>Export Data</td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>Send SMS</td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                      <td>
                        <ion-checkbox></ion-checkbox>
                      </td>
                    </tr>
                  </tbody>
                </table> -->

        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>