<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Add User</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/survey"></ion-back-button>
      </ion-buttons>
      <ion-title>Edit Survey</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid>
      <ion-row class="form-header">
        <ion-col size-lg="2" size-md="4" size-sm="4" size-xs="12">
          <ion-text class="pl-10">
            <ion-icon name="add-circle-outline" class="pr-1"></ion-icon> Survey 
          </ion-text>
        </ion-col>
        <ion-col size-lg="10" size-md="8" size-sm="8" size-xs="12">
          <ion-text class="pl-10">
             Village Name : <span> ANCHALVADI </span> 
          </ion-text>
        </ion-col>
      </ion-row>
      <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate >
        <ion-row>
          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label> House No. </ion-label>
              <ion-input [(ngModel)]="EditData.houseNo" name="House" maxlength="10" (keypress)="keyPressNumbers($event)" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Name </ion-label>
              <ion-input name="fullName" [(ngModel)]="EditData.fullName" #fullName="ngModel" [ngClass]="{'is-invalid': f.submitted && fullName.invalid}" (keypress)="onKeyPress($event)" class="text-capitalize" class="form-control" required></ion-input>
              <div *ngIf="f.submitted && fullName.invalid" class="invalid-feedback">
                <div *ngIf="fullName.errors.required">
                  Name is required
                </div>
              </div>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Gender </ion-label>
            <ion-radio-group name="Gender" [(ngModel)]="EditData.gender">
              <div class="radio">
                  <ion-item lines="none">
                    <ion-radio value="M"></ion-radio>
                    <ion-label>Male</ion-label>
                  </ion-item>
               
                  <ion-item lines="none">
                    <ion-radio value="F"></ion-radio>
                    <ion-label>Female</ion-label>
                 </ion-item>
              
                  <ion-item lines="none">
                    <ion-radio value="O"></ion-radio>
                    <ion-label>Other</ion-label>
                 </ion-item>
                </div>
              </ion-radio-group>
              <!-- <ion-select name="Gender" [(ngModel)]="Gender" placeholder="Select" [interfaceOptions]="GenderHeader" class="form-control">
                <ion-select-option value="Male"> Male</ion-select-option>
                <ion-select-option value="Female"> Female</ion-select-option>
              </ion-select> -->
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>  DOB </ion-label>
             <ion-input
              value="{{ date | date : 'dd/MM/yyyy'}}"
              id="date"
              name="date"
              class="form-control"
              [(ngModel)]="EditData.birthDate"
             ></ion-input>
             <ion-modal trigger="date" size="cover">
               <ng-template>
                 <ion-datetime
                  presentation="date"
                  [(ngModel)]="birthDate"
                  name="date"
                  (click)="CalculateAge()"
                 >
                 <div slot="title">{{ year }}</div>
                </ion-datetime>
               </ng-template>
             </ion-modal>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Age </ion-label>
              <ion-input [(ngModel)]="EditData.age" name="Age" maxlength="3" (keypress)="keyPressNumbers($event)" readonly class="form-control">
              </ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Mobile No. </ion-label>
              <ion-input [(ngModel)]="EditData.mobileNo" name="Mobile" maxlength="10" (keypress)="keyPressNumbers($event)" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <ion-label> Address   </ion-label>
              <ion-textarea name="Address" [(ngModel)]="EditData.address" rows="3" class="form-control"></ion-textarea>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Family Members </ion-label>
              <ion-input [(ngModel)]="Family" name="Family" (keypress)="onKeyPress($event)" class="text-capitalize" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6">
            <ion-label>Disability</ion-label>
            <ion-radio-group>
              <div class="radio">
                  <ion-item lines="none">
                    <ion-radio value="Yes"></ion-radio>
                    <ion-label>Yes</ion-label>
                  </ion-item>
               
                  <ion-item lines="none">
                    <ion-radio value="No"></ion-radio>
                      <ion-label>No</ion-label>
                 </ion-item>
                </div>
              </ion-radio-group>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Education </ion-label>
              <ion-input [(ngModel)]="Education" name="Education" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Occupation </ion-label>
              <ng-select [(ngModel)]="EditData.occupation" name="Occupation"  placeholder="Select Caste">
                <ng-option *ngFor="let item of allProfession" [value]="item.professionName">
                  {{ item.professionName }}
                </ng-option>
             </ng-select>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label>Alt. Mobile No. </ion-label>
              <ion-input [(ngModel)]="EditData.alternateMobileNo" name="AltMobile" maxlength="10" (keypress)="keyPressNumbers($event)" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Caste</ion-label>
            <ng-select name="Caste" [(ngModel)]="EditData.caste"  placeholder="Select Caste">
              <ng-option *ngFor="let item of AllCasts" [value]="item.casteName">
                {{ item.casteName }}
              </ng-option>
           </ng-select>
          </ion-col>

          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> Extra Information   </ion-label>
              <ion-textarea name="Info" [(ngModel)]="Info" rows="3" class="form-control"></ion-textarea>
          </ion-col>

          <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-label> What works are left in your area ?   </ion-label>
              <ion-textarea name="WorkLeft" [(ngModel)]="WorkLeft" rows="3" class="form-control"></ion-textarea>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6">
            <ion-label>  Right now you are happy with the service ?</ion-label>
            <ion-radio-group>
              <div class="radio">
                  <ion-item lines="none">
                    <ion-radio value="Yes"></ion-radio>
                      <ion-label>Yes</ion-label>
                  </ion-item>
               
                  <ion-item lines="none">
                    <ion-radio value="No"></ion-radio>
                      <ion-label>No</ion-label>
                 </ion-item>
                </div>
              </ion-radio-group>
          </ion-col>
          </ion-row>

          <!-- <ion-row>
            <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
              <div class="flex">
                <h6>Member Details Form</h6>
                <ion-icon name="add-circle-outline" (click)="addMember()"></ion-icon>
              </div>
            </ion-col>
          </ion-row> -->
            
          <!-- <ion-row *ngIf="isShow">
            <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
              <ion-label> Name </ion-label>
                <ion-input name="Name" class="text-capitalize form-control" required></ion-input>
            </ion-col>
  
            <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
              <ion-label> Education </ion-label>
                <ion-input name="Education" class="text-capitalize form-control"></ion-input>
            </ion-col>
  
            <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
              <ion-label> Age </ion-label>
                <ion-input name="Age" class="form-control"></ion-input>
            </ion-col>
  
            <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
              <ion-label> Mobile </ion-label>
                <ion-input name="Mobile" class="form-control"></ion-input>
            </ion-col>
  
            <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12">
              <ion-label> Gender </ion-label>
              <ion-radio-group>
                <div class="radio">
                    <ion-item lines="none">
                      <ion-radio value="male"></ion-radio>
                      <ion-label>Male</ion-label>
                    </ion-item>
                 
                    <ion-item lines="none">
                      <ion-radio value="female"></ion-radio>
                      <ion-label>Female</ion-label>
                   </ion-item>
                
                    <ion-item lines="none">
                      <ion-radio value="other"></ion-radio>
                      <ion-label>Other</ion-label>
                   </ion-item>
                  </div>
                </ion-radio-group>
            </ion-col>
            
          </ion-row> -->
          <ion-row>
            <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
              <div class="ion-text-center">
                <ion-button type="reset" (click)="resetForm()" color="danger" size="medium">Clear</ion-button>
                <ion-button type="submit" size="medium" (click)="presentLoading()" (click)="addSurvey()">Save</ion-button>
                <ion-button routerLink="/survey" color="success" type="button" size="medium">Back To List</ion-button>
              </div>
            </ion-col>
          </ion-row>
          
      </form>
    </ion-grid>
  </div>
</ion-content>