

<ion-content>
  <div class="main-content">
    <ion-card>
      <ion-grid class="header">
        <ion-row>
          <ion-col>
            <ion-card-header>
              <ion-card-title>Assign MobileData Group <span> ( 1 )  </span> </ion-card-title>
            </ion-card-header>
          </ion-col>
          <ion-col class="ion-text-right">
            <ion-button class="button-download" fill="outline" color="success" (click)="downloadExcel()"><ion-icon name="document-sharp"></ion-icon>Excel</ion-button>
            <ion-button class="button-download" fill="outline" color="danger" (click)="downloadPDF()"><ion-icon name="cloud-download-sharp"></ion-icon>PDF</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="topForm">
        <form #myForm1="ngForm">
          <ion-row>
            
            <ion-col size-lg="3" size-md="3" size-sm="6" size-xs="12">
              <ion-label>  Mobile Group <span> ( 0 ) </span>  </ion-label>
              <ion-item lines="none">
                <ion-select name="MobileGroup" [(ngModel)]="MobileGroup" placeholder="Select Group" multiple="true" [interfaceOptions]="MobileGroupHeader"  required>
                  <ion-select-option value="Group 1"> Group 1</ion-select-option>
                  <ion-select-option value="Group 2"> Group 2</ion-select-option>
                  <ion-select-option value="Group 3"> Group 3</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>

            <ion-col size-lg="3" size-md="3" size-sm="6" size-xs="12">
              <ion-label>   Pin Code    </ion-label>
              <ion-item lines="none">
                <ion-input name="PinCode" [(ngModel)]="PinCode" (keypress)="numberOnly($event)" maxlength="6"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size-lg="3" size-md="3" size-sm="6" size-xs="12">
              <ion-label>  Name  </ion-label>
              <ion-item lines="none">
                <ion-input name="Name" [(ngModel)]="Name" (keypress)="onKeyPress($event)" class="text-capitalize"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size-lg="3" size-md="3" size-sm="6" size-xs="12">
              <ion-label>  Mobile No.  </ion-label>
              <ion-item lines="none">
                <ion-input name="Mobile" [(ngModel)]="Mobile" (keypress)="numberOnly($event)" maxlength="10"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size-lg="3" size-md="3" size-sm="6" size-xs="12">
              <ion-label>  Address  </ion-label>
              <ion-item lines="none">
                <ion-textarea name="Address" [(ngModel)]="Address" rows="2"></ion-textarea>
              </ion-item>
            </ion-col>

            <ion-col size-lg="3" size-md="3" size-sm="6" size-xs="12">
              <ion-label> Exclude Address  </ion-label>
              <ion-item lines="none">
                <ion-textarea name="ExAddress" [(ngModel)]="ExAddress" rows="2"></ion-textarea>
              </ion-item>
            </ion-col>

            <ion-col size-lg="3" size-md="3" size-sm="6" size-xs="12">
              <div class="checkbox">
                <ion-checkbox></ion-checkbox>
                <ion-label> Exact Match address  </ion-label>
              </div>
            </ion-col>
            
            <ion-col size-lg="2" size-md="3" size-sm="6" size-xs="12">
              
            </ion-col>
            
            
            
            <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
              <div class="ion-text-center">
                <ion-button shape="round" class="mt-5" type="submit" (click)="presentLoading()">Search</ion-button>
                <ion-button shape="round" color="success" class="mt-5" type="submit">Save</ion-button>
                <ion-button shape="round" type="reset" (click)="resetForm()" class="mt-5" color="danger">Clear</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </form>
      </ion-grid>
      <ion-card-content>
        
        <table id="table37" #epltable>
          <thead>
            <tr>
              <th style="width: 40px;">
                Sr.No.		
              </th>
              <th>
                Name
              </th>
              <th>
                Phone No.	
              </th>
              <th>
                Address					
              </th>
              <th>
                Pincode
              </th>
              
              
              <th id="element-to-hide" data-html2canvas-ignore="true">
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Sagar Salunkhe</td>
              <td>9158490455</td>
              <td>Pune</td>
              <td>411048</td>
              
              <td id="element-to-hide" data-html2canvas-ignore="true">
                <ion-button color="danger" size="small" (click)="deleteAmobiledata()"><ion-icon name="trash-sharp"></ion-icon></ion-button>
              </td>
            </tr>
            
          </tbody>
        </table>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
						