

<ion-content>
    <ion-header class="android">
      <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon (click)="goBack()" name="arrow-back-sharp" class="backBtn"></ion-icon>
        </ion-buttons>
        <ion-title class="ion-text-center"> Complaint Book, {{totalItems}} </ion-title>
        <ion-buttons slot="primary">
          <ion-button (click)="search()">
            <ion-icon name="search-outline"></ion-icon>
          </ion-button>
          <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>

      </ion-toolbar>
    </ion-header>
    <div class="main-content">

      <div class="web">
        <ion-grid class="header">
          <ion-row>
            <ion-col size-xs="12" size-sm="6">
                <div class="flex">
                    <ion-icon (click)="goBack()" name="arrow-back-circle-sharp"></ion-icon>
                    <ion-card-header>
                        <ion-card-title>Complaint Book, <span> Total - {{totalItems}}</span></ion-card-title>
                        <div class="headerLine"></div>
                    </ion-card-header>
                </div>
            </ion-col>
            <ion-col size-xs="12" size-sm="6" class="ion-text-right">
              <ion-button class="button-download" color="primary" routerLink="/complaint-book/add-complaint"><ion-icon name="add-circle-sharp"></ion-icon>Add Complaint</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>



      <ion-card class="web">
        <ion-card-content>
          <div class="headSection">
            <div class="search">
              <ion-searchbar (keypress)="omit_special_char($event)" (keyup)="keyPress($event.target.value)" (change)="onSearchChange($event.target.value)"  animated="true"></ion-searchbar>
            </div>
            <div class="btns">
              <ion-button class="button-download" color="danger" (click)="exportPDF()" ><ion-icon name="document-sharp"></ion-icon>PDF</ion-button>
              <ion-button class="button-download" color="success" (click)="exportExcel()" ><ion-icon name="document-sharp"></ion-icon>Excel</ion-button>
              <ion-button class="button-download" color="success" (click)="exportToCSV()" ><ion-icon name="document-sharp"></ion-icon>CSV</ion-button>
            </div>
          </div>
          <div>
            <table class="table" id="table13" #epltable>
              <thead>
                  <tr>
                      <th>Sr.No.</th>
                      <th>Subject</th>
                      <th>From Date</th>
                      <th>To Date</th>
                      <th>Details</th>
                      <th>Remark</th>
                      <th>File</th>
                      <th>Added By</th>
                      <th>Status</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of allComplaints | paginate: { itemsPerPage:NoofRow, currentPage: PageNo, totalItems:totalItems }; let i = index">
                      <td>{{item.id}}</td>
                      <td>{{item.subject}}</td>
                      <td>{{item.fromDate}}</td>
                      <td>{{item.toDate}}</td>
                      <td>{{item.details}}</td>
                      <td>{{item.remark}}</td>
                      <td class="file">
                        <!-- <img [src]="imageUrl" alt=""> -->
                        <i *ngIf="!isShowFile" (click)="downloadFile($event)" id={{item.id}} class="icofont icofont-cloud-download"></i>
                      </td>
                      <td>{{item.userName}} </td>
                      <td>
                        <select placeholder="Select" class="form-control" [(ngModel)]="complaintStatusModal.Status" (change)="changeStatus($event)" id={{item.id}} >
                          <option value="" selected>Select</option>
                          <option value="Resolved">Resolved</option>
                          <option value="Pending">Pending</option>
                        </select>
                      </td>
                      <td class="action">
                        <ion-icon name="create-sharp" (click)="editCmplaint(item)"></ion-icon>
                        <ion-icon (click)="deleteCom(item.id)" class="delete" name="trash-bin-sharp"></ion-icon>
                      </td>
                  </tr>
              </tbody>
            </table>
            <div *ngIf="!allComplaints || allComplaints.length === 0" class="noData ion-text-center">
              <p> No data available </p>
          </div>
            <pagination-controls (pageChange)="event($event)"></pagination-controls>

          </div>
        </ion-card-content>
      </ion-card>

      <!-- <ion-grid class="android">
        <ion-searchbar *ngIf="isShow" [(ngModel)]="searchMob" animated="true"></ion-searchbar>
        <ion-list>
          <ion-item-sliding *ngFor="let item of getApmList | filter:searchMob">
            <ion-item lines="full">
              <ion-avatar slot="start">
                <img src="assets/img/profile.png" />
              </ion-avatar>
              <ion-label>
                <div class="nameDate">
                  <h3 class="text-capitalize"> {{item.firstName}} {{item.middleName}} {{item.lastName}} </h3>
                  <h4 class="date"> {{item.appointmentDate}}</h4>
                </div>
                <h4> {{item.phoneNo}} </h4>
              </ion-label>
            </ion-item>
          </ion-item-sliding>
          <div *ngIf="!getApmList || getApmList.length === 0" class="text-center noData">
            <img src="assets/img/question.png" />
            <p>No data available</p>
            <ion-button fill="outline" routerLink="/home/mobile-dashboard">Go Home</ion-button>
          </div>
        </ion-list>
      </ion-grid> -->
      <ion-grid class="android">
        <ion-searchbar *ngIf="isShow" (keyup)="keyPress($event.target.value)" (change)="onSearchChange($event.target.value)" animated="true"></ion-searchbar>
        <ion-list  *ngFor="let item of allComplaints">
          <ion-item-sliding>
            <ion-item lines="none">
              <ion-label>
                <div class="firstLine">
                  <div class="namewithSelect">
                    <h3 class="text-capitalize">
                      {{item.userName}}
                    </h3>
                    <select placeholder="Select" class="form-control-sm" [(ngModel)]="complaintStatusModal.Status"
                      (change)="changeStatus($event)" id={{item.id}}>
                      <option value="" selected>Select</option>
                      <option value="Resolved">Resolved</option>
                      <option value="Pending">Pending</option>
                    </select>
                  </div>
                </div>
                <div class="firstLine">
                    <p>Subject : {{item.subject}}</p>
                  </div>

                <div class="details">
                  <p>From : {{item.fromDate}}</p>
                  <p>To : {{item.toDate}} </p>
                </div>
                <div class="firstLine">
                  <p>Details : {{item.details}}</p>
                </div>
                <div class="firstLine">
                  <p>Remark : {{item.remark}}</p>
                </div>
              </ion-label>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
        <div *ngIf="!allComplaints || allComplaints.length === 0" class="text-center noData">
          <img src="assets/img/question.png" />
          <p>No data available</p>
          <ion-button fill="outline" routerLink="/home/mobile-dashboard">Go Home</ion-button>
        </div>
        <ion-list>
          <pagination-controls (pageChange)="event($event)"></pagination-controls>
        </ion-list>
      </ion-grid>
    </div>
  </ion-content>

  <!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed" routerLink="/appointment/add-appointment">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->