

<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="primary" auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>इतर डिरेक्टरी </ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="search()">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid class="web header">
      <ion-row>
        <ion-col size-xs="12" size-sm="6">
          <ion-card-header>
            <ion-card-title>इतर डिरेक्टरी <span> ( 1 ) </span></ion-card-title>
            <div class="headerLine"></div>
          </ion-card-header>
        </ion-col>
        <ion-col size-xs="12" size-sm="6" class="ion-text-right">
          <ion-button class="button-download" routerLink="/other-directory/add-other-directory" color="primary"><ion-icon name="add-circle-sharp"></ion-icon>Directory</ion-button>
          <ion-button class="button-download" routerLink="/other-directory/import-other-directory" fill="outline" color="primary"><ion-icon name="document-sharp"></ion-icon>Import</ion-button>
          <ion-button class="button-download" color="primary"><ion-icon name="refresh-circle-sharp"></ion-icon>Refresh</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="topForm">
      <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
        <ion-row>
          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>    पदभार   </ion-label>
              <ion-input name="Postload" [(ngModel)]="Postload" class="form-control" required></ion-input>
          </ion-col>
          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>     पदनाम   </ion-label>
              <ion-select name="Designation" [(ngModel)]="Designation" placeholder="Select" interface="popover" class="form-control">
                <ion-select-option class="select_option" value="f">पदनाम 1</ion-select-option>
                <ion-select-option class="select_option" value="m">पदनाम 2</ion-select-option>
              </ion-select>
          </ion-col>
          
          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>  गावाचे नाव   </ion-label>
              <ion-select name="Village" [(ngModel)]="Village" placeholder="Select" interface="popover" class="form-control">
                <ion-select-option class="select_option" value="v1"> गावाचे नाव  1</ion-select-option>
                <ion-select-option class="select_option" value="v2"> गावाचे नाव  2 </ion-select-option>
              </ion-select>
          </ion-col>
          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>    मोबाइल क्रमांक    </ion-label>
              <ion-input name="Mobile" [(ngModel)]="Mobile"  maxlength="10" (keypress)="keyPressNumbers($event)" class="form-control"></ion-input>
          </ion-col>
          <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
            <ion-label>    मोबाइल क्रमांक  (व्हॉट्सअँप)   </ion-label>
              <ion-input name="Wmobile" [(ngModel)]="Wmobile" maxlength="10" (keypress)="keyPressNumbers($event)" class="form-control"></ion-input>
          </ion-col>
          
          <ion-col size-xl="2" size-lg="3" size-md="4" size-sm="6" size-xs="12">
              <ion-button class="searchBtn" type="submit" (click)="presentLoading()" [disabled]="!f.form.valid">Search</ion-button>
              <ion-button type="reset" (click)="resetForm()" class="searchBtn" color="danger">Clear</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>

    <ion-card>
      
      <ion-card-content>
        <div class="headSection">
          <div class="search">
            <ion-searchbar [(ngModel)]="searchWeb" animated="true"></ion-searchbar>
          </div>
          <ion-button class="button-download" color="success" (click)="downloadExcel()" ><ion-icon name="document-sharp"></ion-icon>Excel</ion-button>
        </div>
        <div class="horizontal-scroll">
        <table id="table8" #epltable>
          <thead>
            <tr>
              <th style="width: 40px;">
                अ.क्र.				
              </th>
              <th>
                पदनाम		
              </th>
              <th>
                पदभार			
              </th>
              <th>
                नाव			
              </th>
              <th>
                गावाचे नाव		
              </th>
              <th>
                मोबाइल क्रमांक
              </th>
              
              <th id="element-to-hide" data-html2canvas-ignore="true">
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>developer</td>
              <td>IT</td>
              <td>rahul gaikwad</td>
              <td>Katraj</td>
              <td>9158490455</td>
              
              <td id="element-to-hide" data-html2canvas-ignore="true">
                <ion-button routerLink="/other-directory/edit-other-directory" color="success" size="small"><ion-icon name="pencil-sharp"></ion-icon></ion-button>
                <ion-button color="danger" size="small" (click)="deleteOther()"><ion-icon name="trash-sharp"></ion-icon></ion-button>
              </td>
            </tr>
            
          </tbody>
        </table>
        <pagination-controls (pageChange)="cp = $event"></pagination-controls>
      </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
						
<ion-fab horizontal="end" vertical="bottom" slot="fixed" routerLink="/other-directory/add-other-directory">
  <ion-fab-button color="primary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>