<ion-content>
    <ion-header class="android">
      <ion-toolbar>
        <ion-buttons slot="start">
          <!-- <ion-back-button (click)="goBack()" auto-hide="false"></ion-back-button> -->
          <ion-back-button defaultHref="/voterdata-management/voterby-user"></ion-back-button>
        </ion-buttons>
        <ion-title> {{'Society Details' | translate}} </ion-title>
      </ion-toolbar>
    </ion-header>
    <div class="main-content" *ngIf="societyDetails">
   
      <ion-grid>
        <ion-row>
          <ion-col class="title" size-xs="3">
            <ion-label> Name </ion-label>
          </ion-col>
          <ion-col class="ion-text-center" size-xs="1">
            :
          </ion-col>
          <ion-col size-xs="8">
            <ion-label>{{societyDetails.name}} </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
  </ion-content>
  
