<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Add User</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>Whatsapp Setting</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid>
      <ion-row>
        <ion-text class="form-header">
          <ion-icon name="add-circle-sharp" class="pr-1"></ion-icon>Whatsapp Setting
        </ion-text>
      </ion-row>
      <form name="smsForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <ion-row>
          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="8">
            <ion-radio-group name="msgType" [(ngModel)]="whatsappSetting.msgType">
              <div class="radioBtn">
                <div>
                  <ion-radio value="Birthday"></ion-radio>
                  <ion-label>Birthday </ion-label>
                </div>
          
                <div>
                  <ion-radio value="Anniversary"></ion-radio>
                  <ion-label>Anniversary </ion-label>
                </div>
          
              </div>
            </ion-radio-group>
          </ion-col>

          <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12" >
            <ion-label> URL <span>*</span> </ion-label>
              <ion-input name="url" [(ngModel)]="whatsappSetting.url" #url="ngModel" [ngClass]="{'is-invalid': f.submitted && url.invalid}" class="form-control">
                <!-- https://app.imsscall.in/api/send.php -->
              </ion-input>
              <div *ngIf="f.submitted && url.invalid" class="invalid-feedback">
                <div *ngIf="url.errors.required">
                   url is required
                </div>
              </div>
          </ion-col>

          <!-- <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12" >
            <ion-label> Mobile No. <span>*</span></ion-label>
              <ion-input name="number" placeholder="911234567890" [(ngModel)]="whatsappSetting.number" #number="ngModel" [ngClass]="{'is-invalid': f.submitted && number.invalid}" class="form-control">
              </ion-input>
              <div *ngIf="f.submitted && number.invalid" class="invalid-feedback">
                <div *ngIf="number.errors.required">
                   url is required
                </div>
              </div>
          </ion-col> -->

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12" >
            <ion-label> Type <span>*</span></ion-label>
            <ng-select 
            name="mtype" 
            [(ngModel)]="whatsappSetting.mtype" 
            #Taluka="ngModel"  
            placeholder="Select Type"
          >
            <ng-option class="select_option" value="Text">Text</ng-option>
            <ng-option class="select_option" value="Media">Media</ng-option>
         </ng-select>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12" *ngIf="whatsappSetting.mtype == 'Media' && whatsappSetting.msgType =='Birthday'">
            <ion-label>Birthday Media URL <span>*</span> </ion-label>
              <ion-input name="bithDayMediaurl" [(ngModel)]="whatsappSetting.bithDayMediaurl" #bithDayMediaurl="ngModel" [ngClass]="{'is-invalid': f.submitted && bithDayMediaurl.invalid}" class="form-control"></ion-input>
              <div *ngIf="f.submitted && bithDayMediaurl.invalid" class="invalid-feedback">
                <div *ngIf="bithDayMediaurl.errors.required">
                  Media url is required
                </div>
              </div>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12" *ngIf="whatsappSetting.mtype == 'Media' && whatsappSetting.msgType =='Anniversary'">
            <ion-label>Anniversary Media URL <span>*</span> </ion-label>
              <ion-input name="anniverDayMediaurl" [(ngModel)]="whatsappSetting.anniverDayMediaurl" #anniverDayMediaurl="ngModel" [ngClass]="{'is-invalid': f.submitted && anniverDayMediaurl.invalid}" class="form-control"></ion-input>
              <div *ngIf="f.submitted && anniverDayMediaurl.invalid" class="invalid-feedback">
                <div *ngIf="anniverDayMediaurl.errors.required">
                  Media url is required
                </div>
              </div>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12" *ngIf="whatsappSetting.mtype == 'Media' && whatsappSetting.msgType =='Birthday'">
            <ion-label>Birthday File Name <span>*</span></ion-label>
              <ion-input name="bithDayFileName" [(ngModel)]="whatsappSetting.bithDayFileName" #bithDayFileName="ngModel" [ngClass]="{'is-invalid': f.submitted && bithDayFileName.invalid}" class="form-control"></ion-input>
              <div *ngIf="f.submitted && bithDayFileName.invalid" class="invalid-feedback">
                <div *ngIf="bithDayFileName.errors.required">
                  Filename is required
                </div>
              </div>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12" *ngIf="whatsappSetting.mtype == 'Media' && whatsappSetting.msgType =='Anniversary'">
            <ion-label>Anniversary File Name <span>*</span></ion-label>
              <ion-input name="anniverDayFileName" [(ngModel)]="whatsappSetting.anniverDayFileName" #anniverDayFileName="ngModel" [ngClass]="{'is-invalid': f.submitted && anniverDayFileName.invalid}" class="form-control"></ion-input>
              <div *ngIf="f.submitted && anniverDayFileName.invalid" class="invalid-feedback">
                <div *ngIf="anniverDayFileName.errors.required">
                  Filename is required
                </div>
              </div>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12" >
            <ion-label> Instance Id <span>*</span> </ion-label>
              <ion-input name="instance_id" [(ngModel)]="whatsappSetting.instance_id" #instance_id="ngModel" [ngClass]="{'is-invalid': f.submitted && instance_id.invalid}" class="form-control"></ion-input>
              <div *ngIf="f.submitted && instance_id.invalid" class="invalid-feedback">
                <div *ngIf="instance_id.errors.required">
                  InstanceId is required
                </div>
              </div>
          </ion-col>

          <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12" >
            <ion-label> Access Token <span>*</span></ion-label>
              <ion-input name="access_token" [(ngModel)]="whatsappSetting.access_token" #access_token="ngModel" [ngClass]="{'is-invalid': f.submitted && access_token.invalid}" class="form-control"></ion-input>
              <div *ngIf="f.submitted && access_token.invalid" class="invalid-feedback">
                <div *ngIf="access_token.errors.required">
                  Access token is required
                </div>
              </div>
          </ion-col>
         
          <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12" *ngIf="whatsappSetting.msgType =='Birthday'">
            <div class="d-flex labels"> 
              <ion-label>Birthday  Message <span>*</span>  </ion-label>
            </div>
              <ion-textarea name="birthDMessage" [(ngModel)]="whatsappSetting.birthDMessage" #birthDMessage="ngModel" [ngClass]="{'is-invalid': f.submitted && birthDMessage.invalid}" class="form-control text-style" rows="3"></ion-textarea>
              <div *ngIf="f.submitted && birthDMessage.invalid" class="invalid-feedback">
                <div *ngIf="birthDMessage.errors.required">
                  Message is required
                </div>
              </div>
          </ion-col>

          <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12" *ngIf="whatsappSetting.msgType =='Anniversary'">
            <div class="d-flex labels"> 
              <ion-label>Anniversary  Message <span>*</span>  </ion-label>
            </div>
              <ion-textarea name="anniverDMessage" [(ngModel)]="whatsappSetting.anniverDMessage" #anniverDMessage="ngModel" [ngClass]="{'is-invalid': f.submitted && anniverDMessage.invalid}" class="form-control text-style" rows="3"></ion-textarea>
              <div *ngIf="f.submitted && anniverDMessage.invalid" class="invalid-feedback">
                <div *ngIf="anniverDMessage.errors.required">
                  Message is required
                </div>
              </div>
          </ion-col>
          
          <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <div class="ion-text-center">
              <ion-button type="reset" (click)="resetForm()" color="danger" size="medium">Clear</ion-button>
              <ion-button  type="submit" size="medium" (click)="whastappSetting()">Add Whatsapp Setting</ion-button>
              <!-- <ion-button routerLink="/setting" color="success" type="button" size="medium">Back To List</ion-button> -->
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>