
<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>  {{'By Age' | translate}}, {{'Total' | translate}}  - {{ageList.length}}  </ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="search()">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="main-content">
    <ion-grid class="header">
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
          <ion-grid class="web">
            <ion-row>
              <ion-col size-xs="12" size-sm="6">
                <ion-card-header>
                  <ion-card-title class="header1">By Age    </ion-card-title>
                  <div class="headerLine"></div>
                </ion-card-header>
                
              </ion-col>
              <ion-col size-xs="12" size-sm="6" class="ion-text-right">
                <!-- <ion-button class="button-download" fill="outline" color="success" >
                  <ion-icon name="document-sharp"></ion-icon>Excel
                </ion-button>
                <ion-button class="button-download" fill="outline" color="danger" >
                  <ion-icon name="cloud-download-sharp"></ion-icon>PDF
                </ion-button>
                 -->
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <form (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
              <ion-row>
      
                <ion-col size-lg="2" size-md="3" size-sm="6" size-xs="6">
                  <ion-label> From Age </ion-label>
                  <ion-input type="number" name="age1" [(ngModel)]="ageModal.age1" class="form-control" required></ion-input>
                </ion-col>
      
                <ion-col size-lg="2" size-md="3" size-sm="6" size-xs="6">
                  <ion-label> To Age </ion-label>
                  <ion-input type="number" name="age2" [(ngModel)]="ageModal.age2" class="form-control" required></ion-input>
                </ion-col>
      
                <ion-col size-lg="3" size-md="4" size-sm="6" size-xs="12">
                  <ion-label>  {{'Gender' | translate}} </ion-label>
                  <ion-radio-group name="Gender" [(ngModel)]="ageModal.gender">
                    <div class="radioBtn" >
                      <div>
                        <ion-radio value="M" ></ion-radio>
                        <ion-label>  {{'Male' | translate}}</ion-label>
                      </div>
      
                      <div>
                        <ion-radio value="F" ></ion-radio>
                        <ion-label>   {{'Female' | translate}}</ion-label>
                      </div>
      
                      <!-- <div>
                        <ion-radio value="O" ></ion-radio>
                        <ion-label>Other</ion-label>
                      </div> -->
                    </div>
                  </ion-radio-group>
                </ion-col>

                
      
                <ion-col size-lg="3" size-md="4" size-sm="6" size-xs="12">
                  <ion-button class="searchBtn" type="submit" (click)="agewiseSearch()" [disabled]="!f.form.valid">
                    {{'Search' | translate}}
                  </ion-button>
                  <ion-button type="reset" class="searchBtn" color="danger"> {{'Clear' | translate}}</ion-button>
                </ion-col>
              </ion-row>
            </form>
          </ion-grid>

          
          <ion-card *ngIf="!isShow">
            <ion-card-content>
              <div class="headSection">
                <div class="search">
                  <ion-searchbar animated="true"></ion-searchbar>
                </div>
                <ion-button class="button-download" color="success" >
                  <ion-icon name="document-sharp"></ion-icon>Excel
                </ion-button>
              </div>
              <div class="horizontal-scroll">
                <table id="villageTable" #epltable class="table">
                  <thead>
                    <tr>
                      <th>Sr.No.</th>
                      <th>Name</th>
                      <th>Booth Name</th>
                      <th>Age</th>
                      <th>Gender</th>
                      <th>House</th>
                      <th>Voting Card No.</th>
                      <th>Village</th>
                      <th>Address</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of ageList | paginate: {itemsPerPage:100, currentPage: PageNo, totalItems:totalItems } | filter:searchMob" (click)="voterDetails(item)">
                      <td>{{item.id}}</td>
                      <td class="text-capitalize">{{item.fullName}}</td>
                      <td>{{item.booth}}</td>
                      <td>{{item.age}}</td>
                      <td>{{item.gender}}</td>
                      <td>{{item.houseNo}}</td>
                      <td>{{item.votingCardNo}}</td>
                      <td>{{item.village}}</td>
                      <td>{{item.address}}</td>
                    </tr>
                  </tbody>
                </table>
                <div *ngIf="!ageList || ageList.length === 0" class="text-center">
                  <img src="assets/img/question.png" />
                  <p> {{'No data available' | translate}}</p>
                  <ion-button fill="outline" routerLink="/home/mobile-dashboard">Go Home</ion-button>
                </div>
                <pagination-controls (pageChange)="event($event)"></pagination-controls>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-grid class="android userList">
      <ion-searchbar [(ngModel)]="searchMob" animated="true" *ngIf="isShow"></ion-searchbar>
      <ion-list *ngFor="let item of ageList | paginate: {itemsPerPage:100,  currentPage: PageNo, totalItems:totalItems } | filter:searchMob" (click)="voterDetails(item)">
        <ion-item lines="none" >
          <!-- <ion-avatar slot="start">
            <ion-icon name="person-sharp"></ion-icon>
          </ion-avatar> -->
          <ion-label>
            <div class="firstLine">
              <h3>{{item.fullName}}</h3>
            </div>
            <div class="details">
              <p> {{'Part No.' | translate}} : <span> {{item.partNo}} </span></p>
              <p>  {{'Age' | translate}} : <span> {{item.age}} </span> </p>
              <p> {{'Gender' | translate}} : <span> {{item.gender}} </span></p>
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <pagination-controls (pageChange)="event($event)"></pagination-controls>
      </ion-list>
      <div *ngIf="!ageList || ageList.length === 0" class="text-center noData">
        <img src="assets/img/question.png" />
        <p> {{'No data available' | translate}}</p>
        <ion-button fill="outline" routerLink="/home/mobile-dashboard">Go Home</ion-button>
      </div>
    </ion-grid>
  </div>
</ion-content>


