<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Add User</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/appointment"></ion-back-button>
      </ion-buttons>
      <ion-title>Edit Appointment </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid>
      <ion-row>
        <ion-text class="form-header pl-10">
          <ion-icon name="add-circle-outline" class="pr-1"></ion-icon>Edit Appointment
        </ion-text>
      </ion-row>
      <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate >
        <ion-row>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> First Name <span>*</span> </ion-label>
            <ion-input maxlength="20" name="FirstName" [(ngModel)]="appointments.firstName" (keypress)="onKeyPress($event)" class="text-capitalize form-control" required></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Middle Name  </ion-label>
            <ion-input maxlength="20" name="MiddleName" [(ngModel)]="appointments.middleName" (keypress)="onKeyPress($event)" class="text-capitalize form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Last Name <span>*</span> </ion-label>
            <ion-input maxlength="20" name="LastName" [(ngModel)]="appointments.lastName" (keypress)="onKeyPress($event)" class="text-capitalize form-control" required></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> BirthDate </ion-label>
            <ion-input 
              value="{{ birthDate | date: 'yyyy-MM-dd' }}" 
              [(ngModel)]="appointments.birthDate" 
              id="birthDate" 
              name="birthDate" 
              class="form-control" 
              (keypress)="onKeyPress($event)"
              (keypress)="keyPressNumbers($event)" 
            >
            </ion-input>

            <ion-modal trigger="birthDate" size="cover" [canDismiss]="canDismiss" 
            [backdropDismiss]="false" >
              <ng-template>
                <ion-datetime 
                max={{maxDate}}
                  presentation="date" 
                  [(ngModel)]="birthDate" 
                  name="birthDate"
                  show-default-buttons="true"
                >
                  <span slot="title"> {{ year }} </span>
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Mobile No. <span>*</span> </ion-label>
            <ion-input 
              name="PhoneNo" 
              [(ngModel)]="appointments.phoneNo" 
              class="form-control"
              minlength="10" 
              maxlength="12" 
              (keypress)="keyPressNumbers($event)"  
              required
            ></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Appointment Date<span>*</span> </ion-label>
            <ion-input 
              value="{{ appointmentDate | date: 'yyyy-MM-dd hh:mm a' }}" 
              [(ngModel)]="appointments.appointmentDate" 
              id="appointmentDate" 
              name="appointmentDate" 
              class="form-control"
              (keypress)="onKeyPress($event)"
              (keypress)="keyPressNumbers($event)" 
              required
              
            >
            </ion-input>

            <ion-modal trigger="appointmentDate" size="cover" [canDismiss]="canDismiss" 
            [backdropDismiss]="false" >
              <ng-template>
                <ion-datetime  
                min={{minDate}}
                show-default-buttons="true"
                  [(ngModel)]="appointmentDate" 
                  name="appointmentDate">
                  <span slot="title"> {{ year }} </span>
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Select Category </ion-label>
            <ion-select name="category" [(ngModel)]="appointments.category" placeholder="Select" class="form-control"
              interface="popover">
              <ion-select-option class="select_option" value="VIP"> VIP</ion-select-option>
              <ion-select-option class="select_option" value="VVIP"> VVIP</ion-select-option>
              <ion-select-option class="select_option" value="General"> General</ion-select-option>
              <ion-select-option class="select_option" value="Official"> Official </ion-select-option>
            </ion-select>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Select Work </ion-label>
            <ion-select  name="Work" [(ngModel)]="appointments.work" placeholder="Select" class="form-control" interface="popover">
              <ion-select-option class="select_option" value="Aadhar Card"> Aadhar Card</ion-select-option>
              <ion-select-option class="select_option" value="Pan Card"> Pan Card</ion-select-option>
              <ion-select-option class="select_option" value="Voting Card"> Voting Card</ion-select-option>
              <ion-select-option class="select_option" value="Ration Card"> Ration Card </ion-select-option>
              <ion-select-option class="select_option" value="Electricity Issue"> Electricity Issue </ion-select-option>
              <ion-select-option class="select_option" value="Water Issue"> Water Issue </ion-select-option>
              <ion-select-option class="select_option" value="Road Issue"> Road Issue </ion-select-option>
              <ion-select-option class="select_option" value="Other"> Other </ion-select-option>
            </ion-select>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12" *ngIf="appointments.work == 'other'">
            <ion-label> Other </ion-label>
            <ion-input maxlength="50" name="Other" [(ngModel)]="appointments.other" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Select District </ion-label>
            <ng-select name="District" [(ngModel)]="appointments.district" 
            (change)="getTaluka(appointments.district)"
            #District="ngModel" placeholder="Select District">
              <ng-option *ngFor="let item of districtList" [value]="item.dId">
                {{ item.districtName }}
              </ng-option>
           </ng-select>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Select Taluka </ion-label>
            <ng-select 
              name="Taluka" 
              [(ngModel)]="appointments.taluka" 
              #Taluka="ngModel"  
              placeholder="Select Taluka"
            >
              <ng-option 
                class="select_option"
                *ngFor="let item of talukaList" 
                [value]="item.talukaName"
              >
                {{ item.talukaName }}
              </ng-option>
           </ng-select>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Flat / House No. </ion-label>
            <ion-input maxlength="7" name="HouseNo" [(ngModel)]="appointments.houseNo" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Society / Building Name </ion-label>
            <ion-input (keypress)="omit_special_char($event)" maxlength="30" name="Soc_BldgName" [(ngModel)]="appointments.soc_BldgName" class="form-control text-capitalize" ></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="2" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Ward No. </ion-label>
            <ion-input (keypress)="omit_special_char($event)"  maxlength="6" name="wardNo" [(ngModel)]="appointments.wardNo" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="2" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Pincode </ion-label>
            <ion-input (keypress)="keyPressNumbers($event)"  name="Pincode" minlength="6" maxlength="6" [(ngModel)]="appointments.pinCode" class="form-control" ></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> City / Village </ion-label>
            <ion-input maxlength="30" name="Society" [(ngModel)]="appointments.city_Village" class="form-control" ></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> File </ion-label>
            <input type="file" name="file" (change)="onFileSelected($event)" class="form-control">
          </ion-col>
          
          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Remark </ion-label>
            <ion-textarea maxlength="100" rows="2" name="Remark" [(ngModel)]="appointments.remark" class="form-control" ></ion-textarea>
          </ion-col>


          <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <div class="ion-text-center">
              <ion-button type="reset" (click)="resetForm()" color="danger" size="medium">Clear</ion-button>
              <ion-button type="submit" size="medium" (click)="save()">Update</ion-button>
              <ion-button routerLink="/appointment" color="success" type="button" size="medium">Back To List
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>