.send-sms { width: 100%; background: #FFF !important; height: 400px; overflow: hidden;  }

h2 { color: #4e7db4; padding-left: 10px; font-weight: 500; }

h3 { color: #ff5151;  }

h4 { color: #7a7a7a; }

.sc-ion-input-md-h {
    --padding-top: 4px !important;
    --padding-bottom: 4px !important;
}

/* .flex ion-icon {
  font-size: 25px;
  margin-right: 10px;
  color: #3c7ff9;
} */

ion-card-title { font-weight: 600; color: #1a3353; }

.header { border-bottom: solid 1px #dee2e6; width: 100% !important; }

ion-label span {  color: #F00 !important; font-weight: 500;}

table { margin-top: 10px; }

/* td ion-icon { 
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    background: #f1f2f2;
    padding: 6px;
    border-radius: 20px;
    margin-left: 3px;
 } */

table ion-button { --padding-start: 0.4em !important; --padding-end: 0.4em !important; }

.file { font-size: 20px !important; color: #3880ff !important; font-weight: 600;}

#slide-nav{
    position: absolute;
    right: 0px;
    top: 138px;
    width: 350px;
    background-color: #f6f3ea;
    z-index: 999;
    box-shadow: 0px 9px 24px -9px rgb(0 0 0 / 51%);
    border: 1px solid #e1d1a1;
  }

  .flex {
    display: flex;
  }

  .search { width: 250px; }

  .close { color: #1c1a1a !important; padding: 4px 5px; background: #e1e1e1 !important; cursor: pointer; }

  ion-card { margin-inline: 1px; margin-top: 1px; width: 100%; margin: 0 auto; }

  @media screen and (max-width:576px){
    ion-card-title {
        font-size: 14px;
    }
    ion-button { font-size: 12px;}
    table th,td  { font-size: 13px !important; }
    .dataTables_paginate a { font-size: 12px !important; }
    
  }

  ion-col {
    padding-inline-start: var(--ion-grid-column-padding-xs, var(--ion-grid-column-padding, 4px));
      padding-inline-end: var(--ion-grid-column-padding-xs, var(--ion-grid-column-padding, 4px));
  }

  h4 { margin-bottom: 1px; font-size: 14px !important; }

  ion-avatar img { width: 40px; }

  @media screen and (max-width:576px){
    .web { display: none; }
    .android { display: block !important; }
    .android ion-list { 
      padding-top: 0px;
      box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
      border: 1px solid #e6ebf1;
      border-radius: 0.625rem;
      margin-top: 3px;
     }
    .header1 {
      color: #f03d9e !important;
       width: 86% !important; 
       float: left; 
      font-size: 17px !important;
    } 

    .header2 {
      width: 63% !important;
      text-align: right;
      font-size: 17px !important;
      display: none;
    }

    .header3 {
      text-align: right;
      font-size: 17px !important;
      width: 10% !important;
    }

   
  }

  @media screen and (max-width:1200px) {
    table { width: 1100px; }
  }

  @media screen and (min-width:576px){
    /* .android { display: none; } */
  }

  .header2 {
    width: 40%;
    text-align: right;
    font-size: 20px;
  }

  .header3 {
    width: 40%;
    text-align: right;
    font-size: 20px;
  }

  .header1 {
    color: #f03d9e !important;
    width: 60%;
    float: left;
    font-size: 20px;
}

table ion-button  {
    font-size: 11px;
}

/* .details {
  display: flex;
  justify-content: space-between;
} */

ion-item-options ion-icon {
  font-size: 23px;
  font-weight: 500;
}

.action ion-icon {
  font-size: 20px;
  color: #3c7ff9;
  cursor: pointer;
}

.action .delete {
  font-size: 19px;
  color: #ff4646;
  cursor: pointer;
}

td a {
  cursor: pointer;
  color: #3774e3;
  text-decoration: underline;
}

ion-title {
  /* padding-inline: 5px; */
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #1a3353 !important;
}

ion-buttons ion-button {
  color: #FFF;
  background-color: #f24859;
}

/* .table thead tr th:nth-child(11) {
  width: 100px !important;
 }

 .table tbody tr td:nth-child(11) {
  width: 100px !important;
 } */

 .PartAssigned {
   max-width: 150px !important;
 }

 .status {
     background: #daddfd;
     padding: 3px;
     font-size: 13px;
     font-weight: 600;
 }

 .file {
     font-size: 20px;
     color: #F00;
 }

 ion-modal {
    --width: 500px;
    --border-radius: 8px;
  }

  /* ion-modal {
    --width: 290px;
    --border-radius: 8px;
  } */


  table td ion-button {
    font-size: 10px !important;
  }

  table th:nth-child(8){
    max-width: 200px;
  }

  table td:nth-child(8){
    max-width: 200px;
  }