<ion-content>
    <ion-header class="android">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/home/mobile-dashboard"></ion-back-button>
            </ion-buttons>
            <ion-title> Subletter </ion-title>
            <ion-buttons slot="primary">
                <ion-button (click)="search()">
                    <ion-icon name="search-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <div class="main-content">
        <ion-grid class="web">
            <ion-row>
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                    <ion-grid class="header">
                        <ion-row>
                            <ion-col size-xs="12" size-sm="6">
                                <div class="flex">

                                    <ion-icon (click)="goBack()" name="arrow-back-circle-sharp"></ion-icon>
                                    <ion-card-header>
                                        <ion-card-title>
                                            <ion-text> Subletter </ion-text>
                                        </ion-card-title>
                                    </ion-card-header>
                                </div>
                            </ion-col>
                            <ion-col size-xs="12" size-sm="6" class="ion-text-right">

                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <ion-card>
                        <ion-card-content>
                            <div class="search">
                                <ion-searchbar [(ngModel)]="searchWeb" animated="true"></ion-searchbar>
                            </div>
                            <div class="horizontal-scroll">
                                <table id="userAdminTable" #epltable class="table">
                                    <thead>
                                        <tr role="row">
                                            <th colspan="9" rowspan="1">Work Done</th>
                                            <th rowspan="2" colspan="1">Action</th>
                                        </tr>
                                        <tr role="row">
                                            <th rowspan="1" colspan="1">Sr. No</th>
                                            <th rowspan="1" colspan="1">Complete</th>
                                            <th rowspan="1" colspan="1">Pending</th>
                                            <th rowspan="1" colspan="1">To other departments</th>
                                            <th rowspan="1" colspan="1">Department Name</th>
                                            <th rowspan="1" colspan="1">No.</th>
                                            <th rowspan="1" colspan="1">Office Name</th>
                                            <th rowspan="1" colspan="1">Remark</th>
                                            <th rowspan="1" colspan="1">File</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                <input type="checkbox">
                                            </td>
                                            <td>
                                                <input type="checkbox">
                                            </td>
                                            <td>
                                                28/09/2021
                                            </td>
                                            <td>
                                                Electricity Office                                           
                                            </td>
                                            <td>
                                                123                                          
                                            </td>
                                            <td>
                                                Pune                                            
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0)">
                                                    <i class="fas fa-cloud-download-alt"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <ion-button size="small"  (click)="family()">Add</ion-button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>
                                                <input type="checkbox">
                                            </td>
                                            <td>
                                                <input type="checkbox">
                                            </td>
                                            <td>
                                                28/09/2021
                                            </td>
                                            <td>
                                                Electricity Office                                           
                                            </td>
                                            <td>
                                                123                                          
                                            </td>
                                            <td>
                                                Pune                                            
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0)">
                                                    <i class="fas fa-cloud-download-alt"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <ion-button size="small" (click)="family()">Add</ion-button>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>

                            </div>
                        </ion-card-content>
                    </ion-card>
                </ion-col>

            </ion-row>
        </ion-grid>

        <ion-modal [isOpen]="isModalOpen" [backdropDismiss]="false">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>Add Subletter Details</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="closeFamily()">
                      <ion-icon name="close-sharp"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <form (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
                  <ion-row>
                    <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="6" size-xs="12">
                        <ion-label>Status</ion-label>
                    </ion-col>
                    <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="6" size-xs="12">
                        <ion-label class="pr-2">Completed</ion-label>
                        <input type="checkbox">
                    </ion-col>
                    <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="6" size-xs="12">
                        <ion-label class="pr-2">Pending</ion-label>
                        <input type="checkbox">
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
                      <ion-label> Letter No. <span>*</span> </ion-label>
                      <ion-input name="letterNo" class="form-control" required></ion-input>
                    </ion-col>

                    <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
                        <ion-label> Letter Release Date <span>*</span> </ion-label>
                        <ion-input name="releaseDate" class="form-control"></ion-input>
                      </ion-col>
      
                    <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
                      <ion-label> Office  </ion-label>
                      <select placholder="Select Office" class="form-control">
                          <option value="">-Select Office-</option>
                          <option value=""> Office 1</option>
                          <option value=""> Office 2</option>
                      </select>
                    </ion-col>

                    <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
                        <ion-label> Department  </ion-label>
                        <select placholder="Select Department" class="form-control">
                            <option value="">-Select Department-</option>
                            <option value=""> Department 1</option>
                            <option value=""> Department 2</option>
                        </select>
                      </ion-col>
      
                   
      
                    <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
                      <ion-label>Remark </ion-label>
                      <ion-textarea name="address" class="form-control" required rows="2"></ion-textarea>
                    </ion-col>

                    <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
                        <ion-label> File </ion-label>
                        <input type="file" name="file"  class="form-control" >
                      </ion-col>
      
                    <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
                      <div class="ion-text-center">
                        <ion-button type="reset" (click)="resetForm()" color="danger" size="medium">Clear</ion-button>
                        <ion-button type="submit" size="medium" >Save</ion-button>
                      </div>
                    </ion-col>
                        
              </ion-row>
              </form>
              </ion-content>
            </ng-template>
          </ion-modal>

    </div>
</ion-content>

<ion-fab horizontal="end" vertical="bottom" slot="fixed" routerLink="/superadmin/add-superadmin">
    <ion-fab-button color="primary">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>