

<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="primary" defaultHref="/event"></ion-back-button>
      </ion-buttons>
      <ion-title> Add Event </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid>
      <ion-row>
        <ion-text class="form-header">
          <ion-icon name="add-circle-sharp" class="pr-1"></ion-icon>Event
        </ion-text>
      </ion-row>
      <form (ngSubmit)="eventForm.form.valid && onSubmit(eventForm)" #eventForm="ngForm" novalidate>
        <ion-row>
          <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12" >
            <ion-label position="floating"> आजचा कार्यक्रम  <span>*</span> </ion-label>
              <ion-textarea name="event" [(ngModel)]="eventModel.event" #event="ngModel" [ngClass]="{'is-invalid' : eventForm.submitted && event.invalid}" rows="4" class="form-control" required></ion-textarea>
              <div *ngIf="eventForm.submitted && event.invalid" class="invalid-feedback">
                <div *ngIf="event.errors.required">
                  आजचा कार्यक्रम टाइप करा
                </div>
              </div>
          </ion-col>

          <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12" class="calendar">
            <ion-label> दिनांक </ion-label>
            <ion-input
                value="{{ date | date: 'dd/MM/yyyy' }}"
                id="date"
                class="form-control"
                name="date"
                required
              ></ion-input>
              <ion-modal trigger="date" size="cover">
                <ng-template>
                  <ion-datetime
                    presentation="date"
                    [(ngModel)]="date"
                    name="date"
                  >
                  <div slot="title"> {{ year }} </div>
                </ion-datetime>
                </ng-template>
              </ion-modal>
          </ion-col>
          
          <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <div class="ion-text-center">
              <ion-button type="reset" (click)="resetForm()" color="danger" size="medium">Clear</ion-button>
              <ion-button type="submit" size="medium" [disabled]="!eventForm.form.valid">Save</ion-button>
              <ion-button routerLink="/event" color="success" type="button" size="medium">Back To List</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>