<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title> Enquiry <span> </span> </ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="search()">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <!-- <ion-searchbar></ion-searchbar> -->
    <ion-grid class="web">
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
          <ion-grid class="header">
            <ion-row>
              <ion-col size-xs="12" size-sm="6">
                <ion-card-header>
                  <ion-card-title>
                    Enquiry, <span> Total - {{totalItems}} </span>
                  </ion-card-title>
                  <div class="headerLine"></div>
                </ion-card-header>
              </ion-col>
              <ion-col size-xs="12" size-sm="6" class="ion-text-right">
                <ion-button class="button-download" routerLink="/general-enquiry/add-enquiry" color="primary">
                  Enquiry <ion-icon name="add-sharp"></ion-icon>
                </ion-button>
                <ion-button class="button-download" routerLink="/general-enquiry/datewise-enquiry" color="primary">
                  Report <ion-icon name="add-sharp"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid class="topForm">
            <form (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
              <ion-row>

                <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="4" size-xs="12">
                  <ion-label> Type of Work </ion-label>
                  <ng-select name="TypeofWork" [(ngModel)]="searchModal.TypeofWork" (change)="trimInput()" #TypeofWork="ngModel" placeholder="Select">
                    <ng-option *ngFor="let item of workList" [value]="item.workName">
                      <!-- <ion-icon (click)="deleteEnq(item.id)" class="delete" name="trash-bin-sharp"></ion-icon> {{item.workName}}  -->
                      {{item.workName}}
                    </ng-option>
                  </ng-select>
                </ion-col>

                <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="4" size-xs="12">
                  <ion-label> Name </ion-label>
                  <ion-input maxlength="50" name="FullName" (keypress)="onKeyPress($event)"  (input)="onKeyPress($event)"
                    [(ngModel)]="searchModal.FullName" (change)="trimInput()" class="form-control" required></ion-input>
                </ion-col>

                <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="4" size-xs="12">
                  <ion-label> Mobile </ion-label>
                  <ion-input minlength="10" maxlength="12" name="MobileNo" [(ngModel)]="searchModal.MobileNo"
                  (keypress)="keyPressNumbers($event)"  (change)="trimInput()"
                    class="form-control"></ion-input>
                </ion-col>

                <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="4" size-xs="12">
                  <ion-label> Society </ion-label>
                  <ion-input maxlength="50" [(ngModel)]="searchModal.Society_BuildingName" (change)="trimInput()" name="Society_BuildingName"
                  (keypress)="omit_special_char($event)"
                    class="form-control"></ion-input>
                </ion-col>

                <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="4" size-xs="12">
                  <ion-label> Area </ion-label>
                  <ng-select name="Area" placeholder="Select" [(ngModel)]="searchModal.Area">
                    <ng-option *ngFor="let item of areaList" [value]="item.areaName">
                      {{item.areaName}}
                    </ng-option>
                  </ng-select>
                </ion-col>

                <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="4" size-xs="12">
                  <ion-label>Aadhar Card No. </ion-label>
                  <ion-input name="AaddharCardNumber" maxlength="12" minlength="12"
                  (keypress)="keyPressNumbers($event)" (change)="trimInput()"
                    [(ngModel)]="searchModal.AaddharCardNumber" class="form-control" placeholder="12 digit no."></ion-input>
                </ion-col>



                <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="4" size-xs="12">
                  <ion-label> Reference Name </ion-label>
                  <ion-input maxlength="50" name="Reference" (keypress)="onKeyPress($event)"
                    [(ngModel)]="searchModal.Reference" (change)="trimInput()" class="form-control"></ion-input>
                </ion-col>

                <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="4" size-xs="12">
                  <ion-label> Type of Form </ion-label>
                  <ng-select name="TypeofForm" placeholder="Select" [(ngModel)]="searchModal.TypeofForm">
                    <ng-option *ngFor="let item of formsList" [value]="item.formName">
                      {{item.formName}}
                    </ng-option>
                  </ng-select>
                </ion-col>

                <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="6" size-xs="12">
                  <ion-label> Type of Complaint </ion-label>
                  <ng-select name="TypeofComplaints" placeholder="Select" [(ngModel)]="searchModal.TypeofComplaints">
                    <ng-option *ngFor="let item of complaintList" [value]="item.complaintName">
                      {{item.complaintName}}
                    </ng-option>
                  </ng-select>
                </ion-col>

                <ion-col size-xl="2" size-lg="3" size-md="3" size-sm="4" size-xs="12">
                  <ion-label> Person Entering Data </ion-label>
                  <ion-input name="PersonEnteringData" class="form-control" maxlength="50" (keypress)="onKeyPress($event)"
                    [(ngModel)]="searchModal.PersonEnteringData" (change)="trimInput()"></ion-input>
                </ion-col>

                <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
                  <div class="text-center">
                    <ion-button class="searchBtn" type="submit" (click)="searchData()">Search</ion-button>
                    <ion-button type="reset" (click)="resetForm()" class="searchBtn" color="danger">Clear
                    </ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </form>
          </ion-grid>

          <ion-card>
            <ion-card-content *ngIf="isE">
              <div class="headSection">
                <div class="search">
                  <!-- <ion-searchbar (keyup)="keyPress($event.target.value)" (change)="onSearchChange($event.target.value)" animated="true"></ion-searchbar> -->
                </div>
                <div class="btns">
                  <ion-button class="button-download" color="tertiary" (click)="exportExcel()">
                    Excel 
                  </ion-button>
                  <ion-button class="button-download" color="tertiary" (click)="exportToCSV()" id="export">
                    CSV 
                  </ion-button>
                </div>

              </div>
              <div class="horizontal-scroll">
                <table id="contactTable" class="table">
                  <thead>
                    <tr>
                      <th>
                        Sr.No.
                      </th>
                      <th>
                        Work
                      </th>
                      <th>
                        Name
                      </th>
                      <th>
                        Gender
                      </th>
                      <th>
                        Mobile No.
                      </th>
                      <th>
                        Alt. Mob. No.
                      </th>
                      <th>
                        BirthDate
                      </th>

                      <th>
                        Email
                      </th>
                      <th>
                        BillBook No.
                      </th>
                      <th>
                        Society / Building Name
                      </th>
                      <th>
                        Flat / House No.
                      </th>
                      <th>
                        Acknowledgement No.
                      </th>
                      <th>
                        Type of Form
                      </th>
                      <th>
                        Type of Complaint
                      </th>
                      <th>
                        Landmark / Locality
                      </th>
                      <th>
                        Epic No.
                      </th>
                      <th>
                        Aadhar Card No.
                      </th>
                      <th>
                        FullName Student
                      </th>
                      <th>
                        FullName Parent
                      </th>
                      <th>
                        Area
                      </th>
                      <th>
                        Year
                      </th>
                      <th>
                        Reference
                      </th>
                      <th>
                        Reference Id
                      </th>
                      <th>
                        Created By
                      </th>

                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let item of enquiryList | paginate: { itemsPerPage: NoofRow,currentPage:PageNo ,totalItems:totalItems }; let i=index">
                      <td>{{item.id}} </td>
                      <td>{{item.typeofWork}} </td>
                      <td> {{item.fullName}} </td>
                      <td>{{item.gender}}</td>
                      <td> {{item.mobileNo}} </td>
                      <td>{{item.alternateMobile}} </td>
                      <td> {{item.birthDate}} </td>
                      <td>{{item.email}}</td>
                      <td> {{item.billBookNo}} </td>
                      <td> {{item.society_BuildingName}} </td>
                      <td>{{item.flat_HouseNo}}</td>
                      <td> {{item.acknowledgementNumber}} </td>
                      <td>{{item.typeofForm}}</td>
                      <td>{{item.typeofComplaints}}</td>
                      <td>{{item.landmark_Locality}}</td>
                      <td>{{item.epicNo}}</td>
                      <td>{{item.aaddharCardNumber}}</td>
                      <td>{{item.fullNameStudent}}</td>
                      <td>{{item.fullNameParent}}</td>
                      <td>{{item.area}}</td>
                      <td>{{item.year}}</td>
                      <td>{{item.reference}}</td>
                      <td>{{item.referenceId}}</td>
                      <td>{{item.personEnteringData}}</td>

                      <td class="action">
                        <ion-icon (click)="editEnq(item)" routerLink="/general-enquiry/edit-enquiry"
                          name="create-sharp"></ion-icon>
                        <ion-icon (click)="deleteEnq(item.id)" class="delete" name="trash-bin-sharp"></ion-icon>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div *ngIf="!enquiryList || enquiryList.length === 0" class="ion-text-center">
                  <p>No data</p>
                </div>
                <pagination-controls (pageChange)="event($event)"></pagination-controls>
              </div>
            </ion-card-content>

            <ion-card-content *ngIf="isShowEnq">
              <div class="headSection">
                <div class="search">
                  <!-- <ion-searchbar (keyup)="keyPress($event.target.value)" (change)="onSearchChange($event.target.value)" animated="true"></ion-searchbar> -->
                </div>
                <div class="btns">
                  <ion-button class="button-download" color="tertiary" (click)="searchedExcel()">
                    Excel
                  </ion-button>
                  <ion-button class="button-download" color="tertiary" (click)="searchedToCSV()" id="export">
                    CSV
                  </ion-button>
                </div>

              </div>
              <div class="horizontal-scroll">
                <table id="contactTable" class="table">
                  <thead>
                    <tr>
                      <th>
                        Sr.No.
                      </th>
                      <th>
                        Work
                      </th>
                      <th>
                        Name
                      </th>
                      <th>
                        Gender
                      </th>
                      <th>
                        Mobile No.
                      </th>
                      <th>
                        Alt. Mob. No.
                      </th>
                      <th>
                        BirthDate
                      </th>

                      <th>
                        Email
                      </th>
                      <th>
                        BillBook No.
                      </th>
                      <th>
                        Society / Building Name
                      </th>
                      <th>
                        Flat / House No.
                      </th>
                      <th>
                        Acknowledgement No.
                      </th>
                      <th>
                        Type of Form
                      </th>
                      <th>
                        Type of Complaint
                      </th>
                      <th>
                        Landmark / Locality
                      </th>
                      <th>
                        Epic No.
                      </th>
                      <th>
                        Aadhar Card No.
                      </th>
                      <th>
                        FullName Student
                      </th>
                      <th>
                        FullName Parent
                      </th>
                      <th>
                        Area
                      </th>
                      <th>
                        Year
                      </th>
                      <th>
                        Reference
                      </th>
                      <th>
                        Reference Id
                      </th>
                      <th>
                        Created By
                      </th>

                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let item of searchEnqList | paginate: { itemsPerPage: NoofRow,currentPage:PageNo ,totalItems:totalItems }; let i=index">
                      <td>{{item.id}} </td>
                      <td>{{item.typeofWork}} </td>
                      <td> {{item.fullName}} </td>
                      <td>{{item.gender}}</td>
                      <td> {{item.mobileNo}} </td>
                      <td>{{item.alternateMobile}} </td>
                      <td> {{item.birthDate}} </td>
                      <td>{{item.email}}</td>
                      <td> {{item.billBookNo}} </td>
                      <td> {{item.society_BuildingName}} </td>
                      <td>{{item.flat_HouseNo}}</td>
                      <td> {{item.acknowledgementNumber}} </td>
                      <td>{{item.typeofForm}}</td>
                      <td>{{item.typeofComplaints}}</td>
                      <td>{{item.landmark_Locality}}</td>
                      <td>{{item.epicNo}}</td>
                      <td>{{item.aaddharCardNumber}}</td>
                      <td>{{item.fullNameStudent}}</td>
                      <td>{{item.fullNameParent}}</td>
                      <td>{{item.area}}</td>
                      <td>{{item.year}}</td>
                      <td>{{item.reference}}</td>
                      <td>{{item.referenceId}}</td>
                      <td>{{item.personEnteringData}}</td>

                      <td class="action">
                        <ion-icon (click)="editEnq(item)" routerLink="/general-enquiry/edit-enquiry"
                          name="create-sharp"></ion-icon>
                        <ion-icon (click)="deleteEnq(item.id)" class="delete" name="trash-bin-sharp"></ion-icon>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div *ngIf="!searchEnqList || searchEnqList.length === 0" class="ion-text-center">
                  <p>No data</p>
                </div>
                <pagination-controls (pageChange)="event($event)"></pagination-controls>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>


  </div>
</ion-content>

<ion-fab horizontal="end" vertical="bottom" slot="fixed" routerLink="/general-enquiry/add-enquiry">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>