ion-grid { width: 95%; margin-top: 10px; background: #FFF; box-shadow: 0 0 10px rgb(232 234 237 / 50%);
}

@media screen and (min-width:768px) {
ion-grid { width: 75%; }
}

ion-item { --background: #fafafa; border: solid 1px #cccccc; }

ion-radio-group ion-item { --background: none !important; border: none !important; }

.pl-10 { padding-left: 10px; }

ion-grid form { padding: 5px; }

ion-label span {  color: #F00 !important; font-weight: 500;}

ion-modal {
--width: 290px;
--border-radius: 8px;
--height: auto !important;
}


.flex {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}
