<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Add User</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/appointment"></ion-back-button>
      </ion-buttons>
      <ion-title> Appointments </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid>
      <ion-row>
        <ion-text class="form-header pl-10">
          <ion-icon name="add-circle-outline" class="pr-1"></ion-icon>Appointments
        </ion-text>
      </ion-row>
      <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate >
        <ion-row>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> First Name <span>*</span> </ion-label>
            <ion-input maxlength="20" name="FirstName" [(ngModel)]="appointments.FirstName" (change)="trimInput()" (keypress)="onKeyPress($event)" class="form-control" required></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Middle Name  </ion-label>
            <ion-input maxlength="20" name="MiddleName" [(ngModel)]="appointments.MiddleName" (change)="trimInput()"  (keypress)="onKeyPress($event)" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Last Name <span>*</span> </ion-label>
            <ion-input maxlength="20" name="LastName" [(ngModel)]="appointments.LastName" (change)="trimInput()"  (keypress)="onKeyPress($event)" class="form-control" required></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> BirthDate </ion-label>
            <ion-input 
              value="{{ BirthDate | date: 'yyyy-MM-dd' }}" 
              [(ngModel)]="appointments.BirthDate" 
              id="BirthDate" 
              name="BirthDate" 
              class="form-control" 
              (keypress)="onKeyPress($event)"
              (keypress)="keyPressNumbers($event)" 
            >
            </ion-input>

            <ion-modal trigger="BirthDate" size="cover" [canDismiss]="canDismiss" 
            [backdropDismiss]="false" >
              <ng-template>
                <ion-datetime 
                  max={{maxDate}}
                  presentation="date" 
                  [(ngModel)]="BirthDate" 
                  name="BirthDate"
                  show-default-buttons="true"
                >
                  <span slot="title"> {{ year }} </span>
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Mobile No. <span>*</span> </ion-label>
            <ion-input 
              name="PhoneNo" 
              [(ngModel)]="appointments.PhoneNo" 
              class="form-control"
              minlength="10" 
              maxlength="12" 
              (keypress)="keyPressNumbers($event)"  
              required
            ></ion-input>
          </ion-col>

          <!-- value="{{ AppointmentDate | date: 'yyyy-MM-dd hh:mm a' }}"  -->
          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Appointment Date <span>*</span> </ion-label>
            <ion-input 
              value="{{ AppointmentDate | date: 'yyyy-MM-dd hh:mm a' }}"
              [(ngModel)]="appointments.AppointmentDate" 
              id="AppointmentDate" 
              name="AppointmentDate" 
              class="form-control"
              (keypress)="onKeyPress($event)"
              (keypress)="keyPressNumbers($event)" 
              required
            >
            </ion-input>

            <ion-modal trigger="AppointmentDate" size="cover" [canDismiss]="canDismiss" 
            [backdropDismiss]="false" >
              <ng-template>
                <ion-datetime 
                  min="{{minDate}}"
                  [(ngModel)]="AppointmentDate" 
                  show-default-buttons="true"
                  name="AppointmentDate">
                  <span slot="title"> {{ year }} </span>
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>

          
          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Select Category </ion-label>
            <ng-select name="category" [(ngModel)]="appointments.Category"  placeholder="Select">
              <ng-option value="VIP">VIP </ng-option>
              <ng-option value="VVIP">VVIP </ng-option>
              <ng-option value="General">General </ng-option>
              <ng-option value="Official">Official </ng-option>
           </ng-select>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Select Work </ion-label>
            <!-- <ion-select  name="Work" [(ngModel)]="appointments.Work" placeholder="Select" class="form-control" interface="popover">
              <ion-select-option class="select_option" value="Aadhar Card"> Aadhar Card</ion-select-option>
              <ion-select-option class="select_option" value="Pan Card"> Pan Card</ion-select-option>
              <ion-select-option class="select_option" value="Voting Card"> Voting Card</ion-select-option>
              <ion-select-option class="select_option" value="Ration Card"> Ration Card </ion-select-option>
              <ion-select-option class="select_option" value="Electricity Issue"> Electricity Issue </ion-select-option>
              <ion-select-option class="select_option" value="Water Issue"> Water Issue </ion-select-option>
              <ion-select-option class="select_option" value="Road Issue"> Road Issue </ion-select-option>
              <ion-select-option class="select_option" value="Other"> Other </ion-select-option>
            </ion-select> -->
            <ng-select name="Work" [(ngModel)]="appointments.Work"  placeholder="Select">
              <ng-option value="Aadhar Card">Aadhar Card </ng-option>
              <ng-option value="Pan Card">Pan Card </ng-option>
              <ng-option value="Voting Card">Voting Card </ng-option>
              <ng-option value="Ration Card">Ration Card </ng-option>
              <ng-option value="Electricity Issue">Electricity Issue </ng-option>
              <ng-option value="Water Issue">Water Issue </ng-option>
              <ng-option value="Road Issue">Road Issue </ng-option>
              <ng-option value="Other">Other </ng-option>
           </ng-select>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12" *ngIf="appointments.Work == 'Other'">
            <ion-label> Other </ion-label>
            <ion-input maxlength="50"  name="Other" [(ngModel)]="appointments.Other" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Select District </ion-label>
            <ng-select name="District" [(ngModel)]="appointments.DistrictId" 
            (change)="getTaluka(appointments.DistrictId)"
            #District="ngModel" placeholder="Select District">
              <ng-option *ngFor="let item of districtList" [value]="item.dId">
                {{ item.districtName }}
              </ng-option>
           </ng-select>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Select Taluka </ion-label>
            <ng-select 
              name="Taluka" 
              [(ngModel)]="appointments.Taluka" 
              #Taluka="ngModel"  
              placeholder="Select Taluka"
            >
              <ng-option 
                class="select_option"
                *ngFor="let item of talukaList" 
                [value]="item.talukaName"
              >
                {{ item.talukaName }}
              </ng-option>
           </ng-select>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Flat / House No. </ion-label>
            <ion-input maxlength="7" name="HouseNo" [(ngModel)]="appointments.HouseNo" (change)="trimInput()" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Society / Building Name </ion-label>
            <ion-input (keypress)="omit_special_char($event)" maxlength="30" name="Soc_BldgName"  (change)="trimInput()" [(ngModel)]="appointments.Soc_BldgName" class="form-control" ></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="2" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Ward No. </ion-label>
            <ion-input (keypress)="omit_special_char($event)" maxlength="6" name="wardNo" [(ngModel)]="appointments.WardNo" (change)="trimInput()" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="2" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Pincode </ion-label>
            <ion-input name="Pincode" maxlength="6" [(ngModel)]="appointments.PinCode" (change)="trimInput()" class="form-control" ></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> City / Village </ion-label>
            <ion-input (keypress)="onKeyPress($event)" maxlength="30" name="Society" [(ngModel)]="appointments.City_Village" (change)="trimInput()" class="form-control" ></ion-input>
          </ion-col>

          <!-- <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> File </ion-label>
            <input type="file" name="file" (change)="onFileSelected($event)" class="form-control">
          </ion-col> -->
          
          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Remark </ion-label>
            <ion-textarea maxlength="100" rows="2" name="Remark" [(ngModel)]="appointments.Remark" (change)="trimInput()" class="form-control" ></ion-textarea>
          </ion-col>

          

          <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <div class="ion-text-center">
              <ion-button type="reset" (click)="resetForm()" color="danger" size="medium">Clear</ion-button>
              <ion-button [disabled]="!f.form.valid" type="submit" size="medium" (click)="addAppointment()">Save</ion-button>
              <ion-button routerLink="/appointment" color="success" type="button" size="medium">Back To List
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>