<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Add User</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/appointment"></ion-back-button>
      </ion-buttons>
      <ion-title> Appointments </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <ion-grid>
      <ion-row>
        <ion-text class="form-header pl-10">
          <ion-icon name="add-circle-outline" class="pr-1"></ion-icon>Appointments
        </ion-text>
      </ion-row>
      <form #myForm="ngForm">
        <ion-row>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> First Name <span>*</span> </ion-label>
            <ion-input name="firstName" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Middle Name </ion-label>
            <ion-input name="MiddleName" class="form-control" ></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Last Name <span>*</span> </ion-label>
            <ion-input  name="lastName" class="form-control" ></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> DOB </ion-label>
            <ion-input value="{{ dob | date: 'yyyy-MM-dd' }}" id="dob" name="dob" class="form-control" >
            </ion-input>

            <ion-modal trigger="dob" size="cover">
              <ng-template>
                <ion-datetime presentation="date" name="dob">
                  <span slot="title"> {{ year }} </span>
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Phone No. <span>*</span> </ion-label>
            <ion-input  name="phone" class="form-control" ></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Appointment Date<span>*</span> </ion-label>
            <ion-input value="{{ appoDate | date: 'yyyy-MM-dd' }}" id="appoDate" name="appoDate" class="form-control"
              >
            </ion-input>

            <ion-modal trigger="appoDate" size="cover">
              <ng-template>
                <ion-datetime presentation="date"  name="appoDate">
                  <span slot="title"> {{ year }} </span>
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Select Category </ion-label>
            <ion-select name="category" placeholder="Select" class="form-control"
              interface="popover">
              <ion-select-option class="select_option" value="VIP"> VIP</ion-select-option>
              <ion-select-option class="select_option" value="VVIP"> VVIP</ion-select-option>
              <ion-select-option class="select_option" value="General"> General</ion-select-option>
              <ion-select-option class="select_option" value="Official"> Official </ion-select-option>
            </ion-select>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Select Work </ion-label>
            <ion-select name="Work"  placeholder="Select" class="form-control" interface="popover">
              <ion-select-option class="select_option" value="Aadhar Card"> Aadhar Card</ion-select-option>
              <ion-select-option class="select_option" value="Pan Card"> Pan Card</ion-select-option>
              <ion-select-option class="select_option" value="Voting Card"> Voting Card</ion-select-option>
              <ion-select-option class="select_option" value="Ration Card"> Ration Card </ion-select-option>
              <ion-select-option class="select_option" value="Electricity Issue"> Electricity Issue </ion-select-option>
              <ion-select-option class="select_option" value="Water Issue"> Water Issue </ion-select-option>
              <ion-select-option class="select_option" value="Road Issue"> Road Issue </ion-select-option>
              <ion-select-option class="select_option" value="Other"> Other </ion-select-option>
            </ion-select>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Other </ion-label>
            <ion-input  name="Other" class="form-control" ></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Flat / House No. </ion-label>
            <ion-input  name="flat" class="form-control" ></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Society / Building Name </ion-label>
            <ion-input  name="society" class="form-control" ></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> City / Village </ion-label>
            <ion-input  name="Village" class="form-control" ></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="2" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Ward No. </ion-label>
            <ion-input  name="ward" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="2" size-lg="2" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Pincode </ion-label>
            <ion-input  name="pincode" class="form-control"></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> District </ion-label>
            <ng-select name="District" 
               placeholder="Select District">
              <ng-option >
                
              </ng-option>
            </ng-select>
            <!-- <div *ngIf="f.submitted && District.invalid" class="invalid-feedback">
              <div *ngIf="District.errors.required">
                Please select district
              </div>
            </div> -->
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Taluka </ion-label>
            <ng-select name="Taluka"  placeholder="Select Taluka">
              <ng-option class="select_option" >
                
              </ng-option>
            </ng-select>
            <!-- <div *ngIf="f.submitted && Taluka.invalid" class="invalid-feedback">
              <div *ngIf="Taluka.errors.required">
                Please select taluka
              </div>
            </div> -->
          </ion-col>

          

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> Remark </ion-label>
            <ion-input  name="remark" class="form-control" ></ion-input>
          </ion-col>

          <ion-col size-xl="4" size-lg="4" size-md="6" size-sm="6" size-xs="12">
            <ion-label> File </ion-label>
            <ion-input type="file"  name="file" class="form-control" ></ion-input>
          </ion-col>

          <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <div class="ion-text-center">
              <ion-button type="reset" (click)="resetForm()" color="danger" size="medium">Clear</ion-button>
              <ion-button [disabled]="!myForm.form.valid" type="submit" size="medium">Save</ion-button>
              <ion-button routerLink="/appointment" color="success" type="button" size="medium">Back To List
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>