<ion-content>
  <ion-header class="android">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button  auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title> Contacts </ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="search()">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <!-- <ion-searchbar></ion-searchbar> -->
    <ion-grid class="web">
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
          <ion-grid class="header">
            <ion-row>
              <ion-col size-xs="12" size-sm="6">
                <ion-card-header>
                  <ion-card-title>
                     Contacts <span>  </span>
                  </ion-card-title>
                  <div class="headerLine"></div>
                </ion-card-header>
              </ion-col>
              <ion-col size-xs="12" size-sm="6" class="ion-text-right">
                <ion-button class="button-download" routerLink="/contact/add-contact" color="primary">
                  <ion-icon name="add-circle-sharp"></ion-icon>Contact
                </ion-button>
                <ion-button class="button-download" routerLink="/contact/import-contact" 
                  color="primary" fill="outline">
                  <ion-icon name="add-circle-sharp"></ion-icon>Import
                </ion-button>
                <ion-button class="button-download" (click)="refresh()" color="primary">
                  <ion-icon name="refresh-circle-sharp"></ion-icon>Refresh
                </ion-button>
                <!-- <ion-button class="button-download" color="danger" (click)="downloadPDF()">
                  <ion-icon name="cloud-download-sharp"></ion-icon>PDF
                </ion-button> -->
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-card>
            <ion-card-content>
              <div class="headSection">
                <div class="search">
                  <ion-searchbar [(ngModel)]="searchWeb" animated="true"></ion-searchbar>
                </div>
                <div class="btns">
                  <ion-button class="button-download" color="success" (click)="exportExcel()">
                    <ion-icon name="document-sharp"></ion-icon>Excel
                  </ion-button>
                  <ion-button class="button-download" color="success" (click)="exportToCSV()" id="export">
                    <ion-icon name="document-sharp"></ion-icon>CSV
                  </ion-button>
                </div>
                
              </div>
              <div class="horizontal-scroll">
                <table id="contactTable" class="table">
                  <thead>
                    <tr>
                      <th style="width: 20px !important;">
                        अ.क्र.
                      </th>
                      <th>
                        संपूर्ण नाव
                      </th>
                      <th>
                        गावाचे नाव
                      </th>
                      <th>
                        वाढदिवस
                      </th>
                      <th>
                        लग्नाचा वाढदिवस
                      </th>
                      <th>
                        मोबाइल
                      </th>
                      <th>
                        पर्यायी मोबाइल
                      </th>
                      <th>
                        पत्ता
                      </th>
                      <th>
                        तालुका
                      </th>
                      <th>
                        जिल्हा
                      </th>
                      <th>Action</th>
                    </tr>
                    <!-- <tr>

                      <th style="width: 20px !important;">
                        Sr.No.
                      </th>
                      <th>
                        Full Name
                      </th>
                      <th>
                        Village
                      </th>
                      <th>
                        Birthdate
                      </th>
                      <th>
                        Anniversary Date
                      </th>
                      <th>
                        Mobile
                      </th>
                      <th>
                        Alt. Mobile
                      </th>
                      <th>
                        Address
                      </th>
                      <th>
                        Taluka
                      </th>
                      <th>
                        District
                      </th>
                    </tr> -->
                  </thead>
                  <tbody>
                    <!-- <tr *ngFor="let item of getContacts | filter:searchWeb | paginate: { itemsPerPage: 10, currentPage: cp  }; let i=index"> -->
                      <tr *ngFor="let item of getContacts | filter:searchWeb | paginate: { itemsPerPage: 10, currentPage: PageNo  }; let i=index" >
                      <td> {{ item.id  }} </td>
                      <td class="text-capitalize"> {{ item.fullName }} </td>
                      <td class="text-capitalize"> {{ item.vilageName }} </td>
                      <!-- <td> {{ item.birthDate | date:'yyyy-MM-dd' }} </td> -->
                      <td> {{ item.birthDate }} </td>
                      <td> {{ item.anniversary }} </td>
                      <!-- <td> {{ item.anniversary | date:'yyyy-MM-dd' }} </td> -->
                      <td> {{ item.mobileNo }} </td>
                      <td> {{ item.alternativeMobileNo }} </td>
                      <td> {{ item.address }} </td>
                      <td> {{ item.taluka }} </td>
                      <td> {{ item.district }} </td>
                      <td class="action">
                        <ion-icon name="create-sharp" (click)="EditContact(item)"  ></ion-icon>
                        <ion-icon (click)="deleteCon(item.id)" class="delete" name="trash-bin-sharp"></ion-icon> 
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div *ngIf="!getContacts || getContacts.length === 0">
                  <p>No data</p>
                </div>
                <pagination-controls (pageChange)="event($event)"></pagination-controls>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid class="android">
      <ion-searchbar *ngIf="isShow" [(ngModel)]="searchMob" animated="true"></ion-searchbar>
      <ion-list>
        <!-- <ion-item  routerLink="/voterdata-management/voter-details"> -->
        <ion-item-sliding *ngFor="let item of getContacts | filter:searchMob">
          <ion-item-options side="end">
            <!-- routerLink="/user/edit-user" -->
            <a>
              <ion-icon class="edit" name="pencil-sharp"></ion-icon>
            </a>
            <a href="tel:+91{{ item.mobileNo }}">
              <ion-icon class="call" name="call-sharp"></ion-icon>
            </a>
            <a href="sms://+91{{ item.mobileNo }}">
              <ion-icon class="message" name="mail-sharp"></ion-icon>
            </a>
            <a href="https://wa.me/+91{{ item.mobileNo }}" target="_blank">
              <ion-icon class="whatsapp" name="logo-whatsapp"></ion-icon>
            </a>
          </ion-item-options>

          <!-- <ion-item routerLink="/contact/contact-details"> -->
            <!-- (click)="conDetails(item.id)" -->
          <ion-item lines="full">
            <ion-avatar slot="start">
              <img src="assets/img/profile.png" />
            </ion-avatar>
            <ion-label>
              <div class="nameDate">
                <h3 class="text-capitalize"> {{ item.fullName }} </h3>
                <h4 class="date"> {{ item.birthDate }} </h4>
              </div>
              <h4> {{ item.address }} </h4>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
        <div *ngIf="!getContacts || getContacts.length === 0" class="text-center noData">
          <img src="assets/img/question.png" />
          <p>No data available</p>
          <ion-button fill="outline" routerLink="/home/mobile-dashboard">Go Home</ion-button>
        </div>

      </ion-list>
    </ion-grid>
  </div>
</ion-content>

<ion-fab horizontal="end" vertical="bottom" slot="fixed" routerLink="/contact/add-contact">
  <ion-fab-button color="primary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

