<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-content">
    
  </div>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inclination-report">
      <ion-label>Inclination Summary</ion-label>
      <ion-icon name="gift-sharp"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="caste-report">
      <ion-label>Caste Summary </ion-label>
      <ion-icon name="build-sharp"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="occupation-report">
      <ion-label>Occupation Summary   </ion-label>
      <ion-icon name="folder-open-sharp"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="voter-report">
      <ion-label>Voter Summary  </ion-label>
      <ion-icon name="folder-open-sharp"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

