<ion-content>
    <ion-header class="android">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title> {{'By Color' | translate}} </ion-title>
        <ion-buttons slot="primary">
          
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <div class="main-content">
      <!-- <ion-searchbar></ion-searchbar> -->
      <ion-grid class="web">
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
            <ion-grid class="header">
              <ion-row>
                <ion-col size-xs="12" size-sm="6">
                  <ion-card-header>
                    <ion-card-title class="header1"> {{'By Color' | translate}} <span>  </span> </ion-card-title>
                    <div class="headerLine"></div>
                  </ion-card-header>
  
                </ion-col>
                <ion-col size-xs="12" size-sm="6" class="ion-text-right">
                  <!-- <ion-button class="button-download" fill="outline" color="success" >
                    <ion-icon name="document-sharp"></ion-icon>Excel
                  </ion-button>
                  <ion-button class="button-download" fill="outline" color="danger" >
                    <ion-icon name="cloud-download-sharp"></ion-icon>PDF
                  </ion-button>
                   -->
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-card>
              <ion-card-content>
                <div class="headSection">
                  <div class="search">
                    
                  </div>
                  
                </div>
                <div *ngFor="let item of colorList">
                  <ion-list>
                      <ion-item lines="none" class="ion-text-center" (click)="supporter()">
                          <ion-label>
                              <h3>
                                   {{'Supporter' | translate}}
                              </h3>
                              <h4>  {{'Total' | translate}} : <span> {{item.supporter}} </span> </h4>
                          </ion-label>
                      </ion-item>
                  </ion-list>
                  <ion-list>
                      <ion-item lines="none" class="ion-text-center" (click)="opposition()">
                          <ion-label>
                              <h3>
                                   {{'Opposite' | translate}}
                              </h3>
                              <h4> {{'Total' | translate}} : <span> {{item.opposition}} </span> </h4>
                          </ion-label>
                      </ion-item>
                  </ion-list>
                  <ion-list >
                      <ion-item lines="none" class="ion-text-center" (click)="doubtful()">
                          <ion-label>
                              <h3>
                                   {{'Doubtful' | translate}}
                              </h3>
                              <h4> {{'Total' | translate}} : <span> {{item.doubtful}} </span> </h4>
                          </ion-label>
                      </ion-item>
                  </ion-list>
                  <ion-list >
                      <ion-item lines="none" class="ion-text-center" (click)="other()">
                          <ion-label>
                              <h3>
                                   {{'Other' | translate}}
                              </h3>
                              <h4> {{'Total' | translate}} : <span> {{item.other}} </span> </h4>
                          </ion-label>
                      </ion-item>
                  </ion-list>
              </div>
              </ion-card-content>
  
            </ion-card>
          </ion-col>
  
        </ion-row>
      </ion-grid>
  
      <ion-grid class="android">
        <div *ngFor="let item of colorList">
            <ion-list>
                <ion-item lines="none" class="ion-text-center" (click)="supporter()">
                    <ion-label>
                        <h3>
                             {{'Supporter' | translate}}
                        </h3>
                        <h4>  {{'Total' | translate}} : <span> {{item.supporter}} </span> </h4>
                    </ion-label>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item lines="none" class="ion-text-center" (click)="opposition()">
                    <ion-label>
                        <h3>
                             {{'Opposite' | translate}}
                        </h3>
                        <h4> {{'Total' | translate}} : <span> {{item.opposition}} </span> </h4>
                    </ion-label>
                </ion-item>
            </ion-list>
            <ion-list >
                <ion-item lines="none" class="ion-text-center" (click)="doubtful()">
                    <ion-label>
                        <h3>
                             {{'Doubtful' | translate}}
                        </h3>
                        <h4> {{'Total' | translate}} : <span> {{item.doubtful}} </span> </h4>
                    </ion-label>
                </ion-item>
            </ion-list>
            <ion-list >
                <ion-item lines="none" class="ion-text-center" (click)="other()">
                    <ion-label>
                        <h3>
                             {{'Other' | translate}}
                        </h3>
                        <h4> {{'Total' | translate}} : <span> {{item.other}} </span> </h4>
                    </ion-label>
                </ion-item>
            </ion-list>
        </div>
      </ion-grid>
    </div>
  </ion-content>